### IO tools (text, CSV, HDF5, …)
The pandas I/O API is a set of top level reader functions accessed like pandas.read_csv() that generally return a pandas object. The corresponding writer functions are object methods that are accessed like DataFrame.to_csv(). Below is a table containing available readers and writers.

### CSV & text files
The workhorse function for reading text files (a.k.a. flat files) is read_csv(). See the cookbook for some advanced strategies.

In [1]:
from io import StringIO
import pandas as pd
import numpy as np

In [2]:
data = ('col1,col2,col3\n''a,b,1\n''a,b,2\n''c,d,3')

In [3]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [4]:
pd.read_csv(StringIO(data), usecols= lambda x: x.upper() in ['COL1', 'COL2'])

  col1 col2
0    a    b
1    a    b
2    c    d

In [5]:
pd.read_csv(StringIO(data), usecols=['col1', 'col3'])

  col1  col3
0    a     1
1    a     2
2    c     3

In [6]:
pd.read_csv(StringIO(data), skiprows= lambda x: x%2 !=0)

  col1 col2  col3
0    a    b     2

In [7]:
pd.read_csv(StringIO(data), skiprows=[0])

   a  b  1
0  a  b  2
1  c  d  3

In [8]:
pd.read_csv(StringIO(data), skiprows=[1,2])

  col1 col2  col3
0    c    d     3

In [9]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [10]:
pd.read_csv(StringIO(data), header=None)

      0     1     2
0  col1  col2  col3
1     a     b     1
2     a     b     2
3     c     d     3

In [11]:
df = pd.read_csv(StringIO(data), dtype=object)
df

  col1 col2 col3
0    a    b    1
1    a    b    2
2    c    d    3

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      object
 1   col2    3 non-null      object
 2   col3    3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [13]:
df = pd.read_csv(StringIO(data), dtype={'col3':np.int64})
df

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      object
 1   col2    3 non-null      object
 2   col3    3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [15]:
data1 = ('col1,col2,col3,col4\n''1,2,3,4\n''5,6,7,8\n''9,10,11')

In [16]:
df = pd.read_csv(StringIO(data1), dtype={'col1':object, 'col2':np.float64, 'col3': 'Int64'})
df

  col1  col2  col3  col4
0    1   2.0     3   4.0
1    5   6.0     7   8.0
2    9  10.0    11   NaN

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      object
 1   col2    3 non-null      float64
 2   col3    3 non-null      Int64
 3   col4    2 non-null      float64
dtypes: Int64(1), float64(2), object(1)
memory usage: 227.0+ bytes

Fortunately, pandas offers more than one way to ensure that your column(s) contain only one dtype. If you’re unfamiliar with these concepts, you can see here to learn more about dtypes, and here to learn more about object conversion in pandas.

For instance, you can use the converters argument of read_csv():

In [18]:
df = pd.read_csv(StringIO(data1), converters={'col1': str})
df

  col1  col2  col3  col4
0    1     2     3   4.0
1    5     6     7   8.0
2    9    10    11   NaN

In [19]:
df.dtypes

col1     object
col2      int64
col3      int64
col4    float64
dtype: object

In [20]:
df = pd.read_csv(StringIO(data1), converters={'col1': str, 'col2': np.float64})
df

  col1  col2  col3  col4
0    1   2.0     3   4.0
1    5   6.0     7   8.0
2    9  10.0    11   NaN

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      object
 1   col2    3 non-null      float64
 2   col3    3 non-null      int64
 3   col4    2 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 224.0+ bytes

In [22]:
df['col1'].apply(type).value_counts()

<class 'str'>    3
Name: col1, dtype: int64

Or you can use the to_numeric() function to coerce the dtypes after reading in the data,

In [23]:
data1 = ('col1,col2,col3,col4\n''1,2,3,4\n''A,6,7,8\n''9,10,11')
df = pd.read_csv(StringIO(data1))
df

  col1  col2  col3  col4
0    1     2     3   4.0
1    A     6     7   8.0
2    9    10    11   NaN

In [24]:
df['col1'] = pd.to_numeric(df['col1']) # will get error if we dont specify error while conversion if contain text
df

ValueError: Unable to parse string "A" at position 1

In [25]:
df = pd.read_csv(StringIO(data1))
df['col1'] = pd.to_numeric(df['col1'], errors='coerce')
df

   col1  col2  col3  col4
0   1.0     2     3   4.0
1   NaN     6     7   8.0
2   9.0    10    11   NaN

In [26]:
df.col1.apply(type).value_counts()

<class 'float'>    3
Name: col1, dtype: int64

### Specifying categorical dtype
Categorical columns can be parsed directly by specifying dtype='category' or dtype=CategoricalDtype(categories, ordered).

In [27]:
data2 = ('col1,col2,col3\n''a,b,1\n''a,b,2\n''c,d,3')

In [28]:
pd.read_csv(StringIO(data2)).dtypes

col1    object
col2    object
col3     int64
dtype: object

In [29]:
pd.read_csv(StringIO(data2), dtype='category').dtypes

col1    category
col2    category
col3    category
dtype: object

In [30]:
df2 = pd.read_csv(StringIO(data2), dtype={'col1': 'category'})
df2.dtypes

col1    category
col2      object
col3       int64
dtype: object

In [31]:
df2

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

Specifying dtype='category' will result in an unordered Categorical whose categories are the unique values observed in the data. For more control on the categories and order, create a CategoricalDtype ahead of time, and pass that for that column’s dtype.

In [32]:
from pandas.api.types import CategoricalDtype

types = CategoricalDtype(['d','c','b','a'], ordered=True)
df = pd.read_csv(StringIO(data2), dtype={'col1': types})
df

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [33]:
df.dtypes

col1    category
col2      object
col3       int64
dtype: object

When using dtype=CategoricalDtype, “unexpected” values outside of dtype.categories are treated as missing values.

In [34]:
data2

'col1,col2,col3\na,b,1\na,b,2\nc,d,3'

In [35]:
type1 = CategoricalDtype(['a','b','d'], ordered=True)

pd.read_csv(StringIO(data2), dtype={'col1':type1}).col1

0      a
1      a
2    NaN
Name: col1, dtype: category
Categories (3, object): [a < b < d]

In [36]:
type1 = CategoricalDtype(['a','b','d'], ordered=False)

pd.read_csv(StringIO(data2), dtype={'col1':type1}).col1

0      a
1      a
2    NaN
Name: col1, dtype: category
Categories (3, object): [a, b, d]

In [37]:
df = pd.read_csv(StringIO(data2), dtype='category')
df

  col1 col2 col3
0    a    b    1
1    a    b    2
2    c    d    3

In [38]:
df['col1']

0    a
1    a
2    c
Name: col1, dtype: category
Categories (2, object): [a, c]

In [39]:
df['col3'].cat.categories = pd.to_numeric(df['col3'].cat.categories)
df.col3

0    1
1    2
2    3
Name: col3, dtype: category
Categories (3, int64): [1, 2, 3]

### Naming and using columns
Handling column names
A file may or may not have a header row. pandas assumes the first row should be used as the column names:

In [40]:
data = ('a,b,c\n''1,2,3\n''4,5,6\n''7,8,9')
df = pd.read_csv(StringIO(data))
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

By specifying the names argument in conjunction with header you can indicate other names to use and whether or not to throw away the header row (if any):

In [41]:
df = pd.read_csv(StringIO(data), header=0, names=['Neil', 'Shivani', 'Anisha'])
df

   Neil  Shivani  Anisha
0     1        2       3
1     4        5       6
2     7        8       9

In [42]:
df = pd.read_csv(StringIO(data), names=['Neil', 'Shivani', 'Anisha'], header=None)
df

  Neil Shivani Anisha
0    a       b      c
1    1       2      3
2    4       5      6
3    7       8      9

In [43]:
df = pd.read_csv(StringIO(data), names=['Neil', 'Shivani', 'Anisha'], header=1)
df

   Neil  Shivani  Anisha
0     4        5       6
1     7        8       9

### Duplicate names parsing
If the file or header contains duplicate names, pandas will by default distinguish between them so as to prevent overwriting data

In [44]:
data = ('a,b,a\n''0,1,2\n''3,4,5')
df = pd.read_csv(StringIO(data))
df

   a  b  a.1
0  0  1    2
1  3  4    5

There is no more duplicate data because mangle_dupe_cols=True by default, which modifies a series of duplicate columns ‘X’, …, ‘X’ to become ‘X’, ‘X.1’, …, ‘X.N’. If mangle_dupe_cols=False, duplicate data can arise:

In [45]:
df = pd.read_csv(StringIO(data), mangle_dupe_cols=False)
df

ValueError: Setting mangle_dupe_cols=False is not supported yet

To prevent users from encountering this problem with duplicate data, a ValueError exception is raised if mangle_dupe_cols != True:

In [46]:
df = pd.read_csv(StringIO(data), mangle_dupe_cols!=True)
df

NameError: name 'mangle_dupe_cols' is not defined

### Filtering columns (usecols)
The usecols argument allows you to select any subset of the columns in a file, either using the column names, position numbers or a callable:

In [47]:
data = 'a,b,c,d\n1,2,3,foo\n4,5,6,bar\n7,8,9,baz'

In [48]:
pd.read_csv(StringIO(data))

   a  b  c    d
0  1  2  3  foo
1  4  5  6  bar
2  7  8  9  baz

In [49]:
pd.read_csv(StringIO(data), usecols=['a','b'])

   a  b
0  1  2
1  4  5
2  7  8

In [50]:
pd.read_csv(StringIO(data), usecols=[0,2])

   a  c
0  1  3
1  4  6
2  7  9

In [51]:
pd.read_csv(StringIO(data), usecols= lambda x : x.upper() in ['A','C'])

   a  c
0  1  3
1  4  6
2  7  9

In [52]:
pd.read_csv(StringIO(data), usecols= lambda x: x not in ['a', 'd'])

   b  c
0  2  3
1  5  6
2  8  9

### Comments and empty lines
Ignoring line comments and empty lines
If the comment parameter is specified, then completely commented lines will be ignored. By default, completely blank lines will be ignored as well

In [53]:
data = ('\n''a,b,c\n''  \n''# commented line\n''1,2,3\n''\n''4,5,6')

In [54]:
print(data)

a,b,c

# commented line
1,2,3

4,5,6

In [55]:
pd.read_csv(StringIO(data), comment='#')

   a  b  c
0  1  2  3
1  4  5  6

In [56]:
pd.read_csv(StringIO(data))

                  a    b    c
0  # commented line  NaN  NaN
1                 1  2.0  3.0
2                 4  5.0  6.0

If skip_blank_lines=False, then read_csv will not ignore blank lines:

In [57]:
data = ('a,b,c\n'
'\n'
'1,2,3\n'
'\n'
'\n'
'4,5,6')

In [58]:
print(data)

a,b,c

1,2,3


4,5,6

In [59]:
pd.read_csv(StringIO(data))

   a  b  c
0  1  2  3
1  4  5  6

In [60]:
pd.read_csv(StringIO(data), skip_blank_lines=True)

   a  b  c
0  1  2  3
1  4  5  6

In [61]:
pd.read_csv(StringIO(data), skip_blank_lines=False)

     a    b    c
0  NaN  NaN  NaN
1  1.0  2.0  3.0
2  NaN  NaN  NaN
3  NaN  NaN  NaN
4  4.0  5.0  6.0

The presence of ignored lines might create ambiguities involving line numbers; the parameter header uses row numbers (ignoring commented/empty lines), while skiprows uses line numbers (including commented/empty lines):

In [62]:
data = ('#comment\n' 'a,b,c\n''A,B,C\n' '1,2,3')

In [63]:
pd.read_csv(StringIO(data), comment='#', header=1)

   A  B  C
0  1  2  3

In [64]:
data = ('A,B,C\n''#comment\n''a,b,c\n' '1,2,3')

In [65]:
 pd.read_csv(StringIO(data), comment='#', skiprows=2)

   a  b  c
0  1  2  3

If both header and skiprows are specified, header will be relative to the end of skiprows. For example:

In [66]:
data = ('# empty\n''# second empty line\n''# third emptyline\n''X,Y,Z\n''1,2,3\n''A,B,C\n''1,2.,4.\n''5.,NaN,10.0\n')

In [67]:
print(data)

# empty
# second empty line
# third emptyline
X,Y,Z
1,2,3
A,B,C
1,2.,4.
5.,NaN,10.0

In [68]:
pd.read_csv(StringIO(data), comment='#', skiprows=4, header=1)

     A    B     C
0  1.0  2.0   4.0
1  5.0  NaN  10.0

In [69]:
data = ('ID,level,category\n''Patient1,123000,x # really unpleasant\n''Patient2,23000,y # wouldn"t take his medicine\n''Patient3,1234018,z # awesome')

In [70]:
print(data)

ID,level,category
Patient1,123000,x # really unpleasant
Patient2,23000,y # wouldn"t take his medicine
Patient3,1234018,z # awesome

By default, the parser includes the comments in the output:

In [71]:
pd.read_csv(StringIO(data))

         ID    level                        category
0  Patient1   123000           x # really unpleasant
1  Patient2    23000  y # wouldn"t take his medicine
2  Patient3  1234018                     z # awesome

We can suppress the comments using the comment keyword:

In [72]:
pd.read_csv(StringIO(data), comment='#')

         ID    level category
0  Patient1   123000       x
1  Patient2    23000       y
2  Patient3  1234018       z

### Dealing with Unicode data
The encoding argument should be used for encoded unicode data, which will result in byte strings being decoded to unicode in the result:

In [73]:
from io import BytesIO, StringIO

data = (b'word,length\n' b'Tr\xc3\xa4umen,7\n' b'Gr\xc3\xbc\xc3\x9fe,5')

In [74]:
data

b'word,length\nTr\xc3\xa4umen,7\nGr\xc3\xbc\xc3\x9fe,5'

In [75]:
data = data.decode('utf8').encode('latin-1')

In [76]:
data

b'word,length\nTr\xe4umen,7\nGr\xfc\xdfe,5'

In [80]:
df = pd.read_csv(BytesIO(data), encoding='latin-1')
df

      word  length
0  Träumen       7
1    Grüße       5

### Index columns and trailing delimiters
If a file has one more column of data than the number of column names, the first column will be used as the DataFrame’s row names:

In [81]:
data = ('a,b,c\n''4,apple,bat,5.7\n' '8,orange,cow,10')
print(data)

a,b,c
4,apple,bat,5.7
8,orange,cow,10

In [83]:
df = pd.read_csv(StringIO(data))
df

        a    b     c
4   apple  bat   5.7
8  orange  cow  10.0

In [84]:
data = ('index,a,b,c\n''4,apple,bat,5.7\n''8,orange,cow,10')
print(data)

index,a,b,c
4,apple,bat,5.7
8,orange,cow,10

In [85]:
df = pd.read_csv(StringIO(data))
df

   index       a    b     c
0      4   apple  bat   5.7
1      8  orange  cow  10.0

In [86]:
pd.read_csv(StringIO(data), index_col=0)

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

Ordinarily, you can achieve this behavior using the index_col option.

There are some exception cases when a file has been prepared with delimiters at the end of each data line, confusing the parser. To explicitly disable the index column inference and discard the last column, pass index_col=False:

In [87]:
data = ('a,b,c\n' '4,apple,bat,\n' '8,orange,cow,')
print(data)

a,b,c
4,apple,bat,
8,orange,cow,

In [88]:
pd.read_csv(StringIO(data))

        a    b   c
4   apple  bat NaN
8  orange  cow NaN

In [89]:
pd.read_csv(StringIO(data), index_col=False)

   a       b    c
0  4   apple  bat
1  8  orange  cow

If a subset of data is being parsed using the usecols option, the index_col specification is based on that subset, not the original data.

In [90]:
data = ('a,b,c\n' '4,apple,bat,\n' '8,orange,cow,')
print(data)

a,b,c
4,apple,bat,
8,orange,cow,

In [91]:
pd.read_csv(StringIO(data))

        a    b   c
4   apple  bat NaN
8  orange  cow NaN

In [93]:
pd.read_csv(StringIO(data), usecols=['b','c'])

     b   c
4  bat NaN
8  cow NaN

In [97]:
pd.read_csv(StringIO(data), usecols=['b','c'], index_col=False)

        b    c
0   apple  bat
1  orange  cow

In [98]:
pd.read_csv(StringIO(data), usecols=['b','c'], index_col=0)

     b   c
4  bat NaN
8  cow NaN

### Date Handling
Specifying date columns
To better facilitate working with datetime data, read_csv() uses the keyword arguments parse_dates and date_parser to allow users to specify a variety of columns and date/time formats to turn the input text data into datetime objects.

The simplest case is to just pass in parse_dates=True:

In [102]:
data = pd.date_range('1/1/2020', periods=3)
data = pd.DataFrame(np.random.randn(3,3), index=data)
data.to_csv('foo.csv')

In [106]:
df = pd.read_csv('foo.csv', parse_dates=True, index_col=0)
df

                   0         1         2
2020-01-01  0.618184  0.585683  1.018893
2020-01-02 -1.595086 -0.778202  2.057679
2020-01-03 -0.471268  0.083218 -0.613805

In [107]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03'], dtype='datetime64[ns]', freq=None)

It is often the case that we may want to store date and time data separately, or store various date fields separately. the parse_dates keyword can be used to specify a combination of columns to parse the dates and/or times from.

You can specify a list of column lists to parse_dates, the resulting date columns will be prepended to the output (so as to not affect the existing column order) and the new column names will be the concatenation of the component column names:

In [141]:
print(open('foo1.csv').read())

KORD,19990127, 19:00:00, 18:56:00, 0.8100
KORD,19990127, 20:00:00, 19:56:00, 0.0100
KORD,19990127, 21:00:00, 20:56:00, -0.5900
KORD,19990127, 21:00:00, 21:18:00, -0.9900
KORD,19990127, 22:00:00, 21:56:00, -0.5900
KORD,19990127, 23:00:00, 22:56:00, -0.5900

In [138]:
df = pd.read_csv('foo1.csv', header=None, parse_dates=[[1, 2], [1, 3]])

In [139]:
df

                  1_2                 1_3     0     4
0 1999-01-27 19:00:00 1999-01-27 18:56:00  KORD  0.81
1 1999-01-27 20:00:00 1999-01-27 19:56:00  KORD  0.01
2 1999-01-27 21:00:00 1999-01-27 20:56:00  KORD -0.59
3 1999-01-27 21:00:00 1999-01-27 21:18:00  KORD -0.99
4 1999-01-27 22:00:00 1999-01-27 21:56:00  KORD -0.59
5 1999-01-27 23:00:00 1999-01-27 22:56:00  KORD -0.59

By default the parser removes the component date columns, but you can choose to retain them via the keep_date_col keyword:

In [143]:
pd.read_csv('foo1.csv', header=None, parse_dates=[[1,3],[1,2]], keep_date_col=True)

,1_3,1_2,0,1,2,3,4
0,1999-01-27 18:56:00,1999-01-27 19:00:00,KORD,19990127,19:00:00,18:56:00,0.81
1,1999-01-27 19:56:00,1999-01-27 20:00:00,KORD,19990127,20:00:00,19:56:00,0.01
2,1999-01-27 20:56:00,1999-01-27 21:00:00,KORD,19990127,21:00:00,20:56:00,-0.59
3,1999-01-27 21:18:00,1999-01-27 21:00:00,KORD,19990127,21:00:00,21:18:00,-0.99
4,1999-01-27 21:56:00,1999-01-27 22:00:00,KORD,19990127,22:00:00,21:56:00,-0.59
5,1999-01-27 22:56:00,1999-01-27 23:00:00,KORD,19990127,23:00:00,22:56:00,-0.59

Note that if you wish to combine multiple columns into a single date column, a nested list must be used. In other words, parse_dates=[1, 2] indicates that the second and third columns should each be parsed as separate date columns while parse_dates=[[1, 2]] means the two columns should be parsed into a single column.

You can also use a dict to specify custom name columns:

In [144]:
date_spec = {'Nominal':[1,2], 'Actual':[1,3]}

df = pd.read_csv('foo1.csv', header=None, parse_dates=date_spec)
df

              Nominal              Actual     0     4
0 1999-01-27 19:00:00 1999-01-27 18:56:00  KORD  0.81
1 1999-01-27 20:00:00 1999-01-27 19:56:00  KORD  0.01
2 1999-01-27 21:00:00 1999-01-27 20:56:00  KORD -0.59
3 1999-01-27 21:00:00 1999-01-27 21:18:00  KORD -0.99
4 1999-01-27 22:00:00 1999-01-27 21:56:00  KORD -0.59
5 1999-01-27 23:00:00 1999-01-27 22:56:00  KORD -0.59

It is important to remember that if multiple text columns are to be parsed into a single date column, then a new column is prepended to the data. The index_col specification is based off of this new set of columns rather than the original data columns:

In [157]:
date_spec = {'Nominal':[1,2], 'Actual':[1,3]}

df = pd.read_csv('foo1.csv', header=None, parse_dates=date_spec, index_col='Nominal')
df

                                 Actual     0     4
Nominal
1999-01-27 19:00:00 1999-01-27 18:56:00  KORD  0.81
1999-01-27 20:00:00 1999-01-27 19:56:00  KORD  0.01
1999-01-27 21:00:00 1999-01-27 20:56:00  KORD -0.59
1999-01-27 21:00:00 1999-01-27 21:18:00  KORD -0.99
1999-01-27 22:00:00 1999-01-27 21:56:00  KORD -0.59
1999-01-27 23:00:00 1999-01-27 22:56:00  KORD -0.59

### Date parsing functions
Finally, the parser allows you to specify a custom date_parser function to take full advantage of the flexibility of the date parsing API:

In [160]:
date_spec = {'Nominal':[1,2], 'Actual':[1,3]}

df = pd.read_csv('foo1.csv', header=None, parse_dates=date_spec, date_parser= pd.io.date_converters.parse_date_time)
df

              Nominal              Actual     0     4
0 1999-01-27 19:00:00 1999-01-27 18:56:00  KORD  0.81
1 1999-01-27 20:00:00 1999-01-27 19:56:00  KORD  0.01
2 1999-01-27 21:00:00 1999-01-27 20:56:00  KORD -0.59
3 1999-01-27 21:00:00 1999-01-27 21:18:00  KORD -0.99
4 1999-01-27 22:00:00 1999-01-27 21:56:00  KORD -0.59
5 1999-01-27 23:00:00 1999-01-27 22:56:00  KORD -0.59

Pandas will try to call the date_parser function in three different ways. If an exception is raised, the next one is tried:

1. date_parser is first called with one or more arrays as arguments, as defined using parse_dates (e.g., date_parser(['2013', '2013'], ['1', '2'])).

2. If #1 fails, date_parser is called with all the columns concatenated row-wise into a single array (e.g., date_parser(['2013 1', '2013 2'])).

3. If #2 fails, date_parser is called once for every row with one or more string arguments from the columns indicated with parse_dates (e.g., date_parser('2013', '1') for the first row, date_parser('2013', '2') for the second, etc.).

Note that performance-wise, you should try these methods of parsing dates in order:

1. Try to infer the format using infer_datetime_format=True (see section below).

2. If you know the format, use pd.to_datetime(): date_parser=lambda x: pd.to_datetime(x, format=...).

3. If you have a really non-standard format, use a custom date_parser function. For optimal performance, this should be vectorized, i.e., it should accept arrays as arguments.

You can explore the date parsing functionality in date_converters.py and add your own. We would love to turn this module into a community supported set of date/time parsers. To get you started, date_converters.py contains functions to parse dual date and time columns, year/month/day columns, and year/month/day/hour/minute/second columns. It also contains a generic_parser function so you can curry it with a function that deals with a single date rather than the entire array.

### Parsing a CSV with mixed timezones
Pandas cannot natively represent a column or index with mixed timezones. If your CSV file contains columns with a mixture of timezones, the default result will be an object-dtype column with strings, even with parse_dates.

In [162]:
content = """\
   .....: a
   .....: 2000-01-01T00:00:00+05:00
   .....: 2000-01-01T00:00:00+06:00"""
print(content)

a
2000-01-01T00:00:00+05:00
2000-01-01T00:00:00+06:00

In [163]:
pd.read_csv(StringIO(content), parse_dates=['a'])

                           a
0  2000-01-01 00:00:00+05:00
1  2000-01-01 00:00:00+06:00

To parse the mixed-timezone values as a datetime column, pass a partially-applied to_datetime() with utc=True as the date_parser.

In [164]:
df = pd.read_csv(StringIO(content), parse_dates=['a'],date_parser=lambda col: pd.to_datetime(col, utc=True))

In [165]:
df

                          a
0 1999-12-31 19:00:00+00:00
1 1999-12-31 18:00:00+00:00

### Inferring datetime format
If you have parse_dates enabled for some or all of your columns, and your datetime strings are all formatted the same way, you may get a large speed up by setting infer_datetime_format=True. If set, pandas will attempt to guess the format of your datetime strings, and then use a faster means of parsing the strings. 5-10x parsing speeds have been observed. pandas will fallback to the usual parsing if either the format cannot be guessed or the format that was guessed cannot properly parse the entire column of strings. So in general, infer_datetime_format should not have any negative consequences if enabled.

Here are some examples of datetime strings that can be guessed (All representing December 30th, 2011 at 00:00:00):

1. “20111230”

2. “2011/12/30”

3. “20111230 00:00:00”

4. “12/30/2011 00:00:00”

5. “30/Dec/2011 00:00:00”

6. “30/December/2011 00:00:00”

Note that infer_datetime_format is sensitive to dayfirst. With dayfirst=True, it will guess “01/12/2011” to be December 1st. With dayfirst=False (default) it will guess “01/12/2011” to be January 12th.

In [166]:
df = pd.read_csv('foo.csv', index_col=0, parse_dates=True,infer_datetime_format=True)
df

                   0         1         2
2020-01-01  0.618184  0.585683  1.018893
2020-01-02 -1.595086 -0.778202  2.057679
2020-01-03 -0.471268  0.083218 -0.613805

In [168]:
pd.read_csv('tem.csv', parse_dates=[0])

        date  value cat
0 2000-01-06      5   a
1 2000-02-06     10   b
2 2000-03-06     15   c

In [169]:
pd.read_csv('tem.csv', parse_dates=[0], dayfirst=True)

        date  value cat
0 2000-06-01      5   a
1 2000-06-02     10   b
2 2000-06-03     15   c

In [170]:
print(open('tmp1.csv').read())

ID|level|category
Patient1|123,000|x
Patient2|23,000|y
Patient3|1,234,018|z

In [171]:
pd.read_csv('tmp1.csv', sep='|')

         ID      level category
0  Patient1    123,000        x
1  Patient2     23,000        y
2  Patient3  1,234,018        z

The thousands keyword allows integers to be parsed correctly:

In [172]:
df = pd.read_csv('tmp1.csv', sep='|', thousands=',')
df

         ID    level category
0  Patient1   123000        x
1  Patient2    23000        y
2  Patient3  1234018        z

### NA values
To control which values are parsed as missing values (which are signified by NaN), specify a string in na_values. If you specify a list of strings, then all values in it are considered to be missing values. If you specify a number (a float, like 5.0 or an integer like 5), the corresponding equivalent values will also imply a missing value (in this case effectively [5.0, 5] are recognized as NaN).

To completely override the default values that are recognized as missing, specify keep_default_na=False.

The default NaN recognized values are ['-1.#IND', '1.#QNAN', '1.#IND', '-1.#QNAN', '#N/A N/A', '#N/A', 'N/A', 'n/a', 'NA', '<NA>', '#NA', 'NULL', 'null', 'NaN', '-NaN', 'nan', '-nan', ''].

Let us consider some examples:

In [177]:
pd.read_csv('tmp2.csv', na_values=[5], sep='|')

         ID   level category
0  Patient1     NaN        x
1  Patient2  23,000        y
2  Patient3     NaN        z

In [178]:
pd.read_csv('tmp2.csv', na_values=[6], sep='|')

         ID   level category
0  Patient1     NaN        x
1  Patient2  23,000        y
2  Patient3       5        z

In the example above 5 and 5.0 will be recognized as NaN, in addition to the defaults. A string will first be interpreted as a numerical 5, then as a NaN.

In [182]:
pd.read_csv('tmp2.csv',sep='|', keep_default_na=False, na_values=[" "])

         ID   level category
0  Patient1                x
1  Patient2  23,000        y
2  Patient3       5        z

In [187]:
pd.read_csv('tmp2.csv',sep='|', keep_default_na=False, na_values=[""])

         ID   level category
0  Patient1     NaN        x
1  Patient2  23,000        y
2  Patient3       5        z

### Returning Series
Using the squeeze keyword, the parser will return output with a single column as a Series:

In [188]:
print(open('tmp3.csv').read())

level
Patient1,123000
Patient2,23000
Patient3,1234018

In [191]:
output = pd.read_csv('tmp3.csv', squeeze=True)
output

Patient1     123000
Patient2      23000
Patient3    1234018
Name: level, dtype: int64

In [192]:
output = pd.read_csv('tmp3.csv')
output

            level
Patient1   123000
Patient2    23000
Patient3  1234018

### Boolean values¶
The common values True, False, TRUE, and FALSE are all recognized as boolean. Occasionally you might want to recognize other values as being boolean. To do this, use the true_values and false_values options as follows:

In [193]:
data = ('a,b,c\n''1,Yes,2\n''3,No,4')

In [194]:
print(data)

a,b,c
1,Yes,2
3,No,4

In [195]:
pd.read_csv(StringIO(data))

   a    b  c
0  1  Yes  2
1  3   No  4

In [196]:
pd.read_csv(StringIO(data), true_values=['Yes'], false_values=['No'])

   a      b  c
0  1   True  2
1  3  False  4

### Handling “bad” lines
Some files may have malformed lines with too few fields or too many. Lines with too few fields will have NA values filled in the trailing fields. Lines with too many fields will raise an error by default:

In [197]:
data = ('a,b,c\n''1,2,3\n' '4,5,6,7\n''8,9,10')
print(data)

a,b,c
1,2,3
4,5,6,7
8,9,10

In [198]:
pd.read_csv(StringIO(data))

ParserError: Error tokenizing data. C error: Expected 3 fields in line 3, saw 4

In [201]:
pd.read_csv(StringIO(data), error_bad_lines=False)

b'Skipping line 3: expected 3 fields, saw 4\n'

   a  b   c
0  1  2   3
1  8  9  10

You can also use the usecols parameter to eliminate extraneous column data that appear in some lines but not others:

In [202]:
pd.read_csv(StringIO(data), usecols=[0,1,2])

   a  b   c
0  1  2   3
1  4  5   6
2  8  9  10

### Dialect¶
The dialect keyword gives greater flexibility in specifying the file format. By default it uses the Excel dialect but you can specify either the dialect name or a csv.Dialect instance.

Suppose you had data with unenclosed quotes:

In [203]:
data = ('label1,label2,label3\n'
'index1,"a,c,e\n'
'index2,b,d,f\n')

In [204]:
print(data)

label1,label2,label3
index1,"a,c,e
index2,b,d,f

By default, read_csv uses the Excel dialect and treats the double quote as the quote character, which causes it to fail when it finds a newline before it finds the closing double quote.

We can get around this using dialect:

In [205]:
import csv

In [206]:
dia = csv.excel()

In [207]:
dia.quoting = csv.QUOTE_NONE

In [208]:
pd.read_csv(StringIO(data), dialect=dia)

       label1 label2 label3
index1     "a      c      e
index2      b      d      f

In [209]:
pd.read_csv(StringIO(data))

ParserError: Error tokenizing data. C error: EOF inside string starting at row 1

All of the dialect options can be specified separately by keyword arguments:

In [210]:
data = 'a,b,c~1,2,3~4,5,6'

pd.read_csv(StringIO(data), lineterminator='~')

   a  b  c
0  1  2  3
1  4  5  6

Another common dialect option is skipinitialspace, to skip any whitespace after a delimiter:

In [211]:
data = 'a, b, c\n1, 2, 3\n4, 5, 6'

In [212]:
pd.read_csv(StringIO(data), skipinitialspace=True)

   a  b  c
0  1  2  3
1  4  5  6

### Quoting and Escape Characters
Quotes (and other escape characters) in embedded fields can be handled in any number of ways. One way is to use backslashes; to properly parse this data, you should pass the escapechar option:

In [2]:
data = 'a,b\n"hello, \\"Bob\\", nice to see you",5'

In [3]:
print(data)

a,b
"hello, \"Bob\", nice to see you",5

In [4]:
pd.read_csv(StringIO(data), escapechar='\\')

                               a  b
0  hello, "Bob", nice to see you  5

### Files with fixed width columns
While read_csv() reads delimited data, the read_fwf() function works with data files that have known and fixed column widths. The function parameters to read_fwf are largely the same as read_csv with two extra parameters, and a different usage of the delimiter parameter:

1. colspecs: A list of pairs (tuples) giving the extents of the fixed-width fields of each line as half-open intervals (i.e., [from, to[ ). String value ‘infer’ can be used to instruct the parser to try detecting the column specifications from the first 100 rows of the data. Default behavior, if not specified, is to infer.

2. widths: A list of field widths which can be used instead of ‘colspecs’ if the intervals are contiguous.

3. delimiter: Characters to consider as filler characters in the fixed-width file. Can be used to specify the filler character of the fields if it is not spaces (e.g., ‘~’).

Consider a typical fixed-width data file:

In [5]:
print(open('bar1.csv').read())

id8141    360.242940   149.910199   11950.7
id1594    444.953632   166.985655   11788.4
id1849    364.136849   183.628767   11806.2
id1230    413.836124   184.375703   11916.8
id1948    502.953953   173.237159   12468.3

In order to parse this file into a DataFrame, we simply need to supply the column specifications to the read_fwf function along with the file name:

In [10]:
colspecs = [(0, 6), (8, 20), (21, 33), (34, 43)]

df = pd.read_fwf('bar1.csv', colspecs=colspecs, header=None, index_col=0)
df

                 1           2        3
0
id8141  360.242940  149.910199  11950.7
id1594  444.953632  166.985655  11788.4
id1849  364.136849  183.628767  11806.2
id1230  413.836124  184.375703  11916.8
id1948  502.953953  173.237159  12468.3

Note how the parser automatically picks column names X.<column number> when header=None argument is specified. Alternatively, you can supply just the column widths for contiguous columns:

In [16]:
widths = [6, 14, 13, 10]

df = pd.read_fwf('bar1.csv', widths=widths, header=None)
df

        0           1           2        3
0  id8141  360.242940  149.910199  11950.7
1  id1594  444.953632  166.985655  11788.4
2  id1849  364.136849  183.628767  11806.2
3  id1230  413.836124  184.375703  11916.8
4  id1948  502.953953  173.237159  12468.3

The parser will take care of extra white spaces around the columns so it’s ok to have extra separation between the columns in the file.

By default, read_fwf will try to infer the file’s colspecs by using the first 100 rows of the file. It can do it only in cases when the columns are aligned and correctly separated by the provided delimiter (default delimiter is whitespace).

In [17]:
df = pd.read_fwf('bar1.csv', header=None, index_col=0)

df

                 1           2        3
0
id8141  360.242940  149.910199  11950.7
id1594  444.953632  166.985655  11788.4
id1849  364.136849  183.628767  11806.2
id1230  413.836124  184.375703  11916.8
id1948  502.953953  173.237159  12468.3

read_fwf supports the dtype parameter for specifying the types of parsed columns to be different from the inferred type.

In [18]:
 pd.read_fwf('bar1.csv', header=None, index_col=0).dtypes

1    float64
2    float64
3    float64
dtype: object

In [20]:
pd.read_fwf('bar1.csv', header=None, dtype={2: 'object'}).dtypes

0     object
1    float64
2     object
3    float64
dtype: object

### Indexes
Files with an “implicit” index column
Consider a file with one less entry in the header than the number of data column:

In [21]:
print(open('foo2.csv').read())

A,B,C
20090101,a,1,2
20090102,b,3,4
20090103,c,4,5

In [22]:
pd.read_csv('foo2.csv')

          A  B  C
20090101  a  1  2
20090102  b  3  4
20090103  c  4  5

In [23]:
pd.read_csv('foo2.csv').index

Int64Index([20090101, 20090102, 20090103], dtype='int64')

Note that the dates weren’t automatically parsed. In that case you would need to do as before:

In [24]:
pd.read_csv('foo2.csv', parse_dates=True)

            A  B  C
2009-01-01  a  1  2
2009-01-02  b  3  4
2009-01-03  c  4  5

In [25]:
pd.read_csv('foo2.csv', parse_dates=True).index

DatetimeIndex(['2009-01-01', '2009-01-02', '2009-01-03'], dtype='datetime64[ns]', freq=None)

### Reading an index with a MultiIndex
Suppose you have data indexed by two columns:

In [26]:
print(open('foo3.csv').read())

year,indiv,zit,xit
1977,"A",1.2,.6
1977,"B",1.5,.5
1977,"C",1.7,.8
1978,"A",.2,.06
1978,"B",.7,.2
1978,"C",.8,.3
1978,"D",.9,.5
1978,"E",1.4,.9
1979,"C",.2,.15
1979,"D",.14,.05
1979,"E",.5,.15
1979,"F",1.2,.5
1979,"G",3.4,1.9
1979,"H",5.4,2.7
1979,"I",6.4,1.2

The index_col argument to read_csv can take a list of column numbers to turn multiple columns into a MultiIndex for the index of the returned object:

In [28]:
df = pd.read_csv('foo3.csv', index_col=[0,1])
df

             zit   xit
year indiv
1977 A      1.20  0.60
     B      1.50  0.50
     C      1.70  0.80
1978 A      0.20  0.06
     B      0.70  0.20
     C      0.80  0.30
     D      0.90  0.50
     E      1.40  0.90
1979 C      0.20  0.15
     D      0.14  0.05
     E      0.50  0.15
     F      1.20  0.50
     G      3.40  1.90
     H      5.40  2.70
     I      6.40  1.20

In [31]:
df.loc[1979]

        zit   xit
indiv
C      0.20  0.15
D      0.14  0.05
E      0.50  0.15
F      1.20  0.50
G      3.40  1.90
H      5.40  2.70
I      6.40  1.20

### Automatically “sniffing” the delimiter
read_csv is capable of inferring delimited (not necessarily comma-separated) files, as pandas uses the csv.Sniffer class of the csv module. For this, you have to specify sep=None.

In [32]:
print(open('foo4.csv').read())

:0:1:2:3
0:0.4691122999071863:-0.2828633443286633:-1.5090585031735124:-1.1356323710171934
1:1.2121120250208506:-0.17321464905330858:0.11920871129693428:-1.0442359662799567
2:-0.8618489633477999:-2.1045692188948086:-0.4949292740687813:1.071803807037338
3:0.7215551622443669:-0.7067711336300845:-1.0395749851146963:0.27185988554282986
4:-0.42497232978883753:0.567020349793672:0.27623201927771873:-1.0874006912859915
5:-0.6736897080883706:0.1136484096888855:-1.4784265524372235:0.5249876671147047
6:0.4047052186802365:0.5770459859204836:-1.7150020161146375:-1.0392684835147725
7:-0.3706468582364464:-1.1578922506419993:-1.344311812731667:0.8448851414248841
8:1.0757697837155533:-0.10904997528022223:1.6435630703622064:-1.4693879595399115
9:0.35702056413309086:-0.6746001037299882:-1.776903716971867:-0.9689138124473498

In [36]:
pd.read_csv('foo4.csv', sep=None, engine='python', index_col=[0])

          0         1         2         3
0  0.469112 -0.282863 -1.509059 -1.135632
1  1.212112 -0.173215  0.119209 -1.044236
2 -0.861849 -2.104569 -0.494929  1.071804
3  0.721555 -0.706771 -1.039575  0.271860
4 -0.424972  0.567020  0.276232 -1.087401
5 -0.673690  0.113648 -1.478427  0.524988
6  0.404705  0.577046 -1.715002 -1.039268
7 -0.370647 -1.157892 -1.344312  0.844885
8  1.075770 -0.109050  1.643563 -1.469388
9  0.357021 -0.674600 -1.776904 -0.968914

### Iterating through files chunk by chunk
Suppose you wish to iterate through a (potentially very large) file lazily rather than reading the entire file into memory, such as the following:

In [37]:
print(open('foo5.csv').read())

|0|1|2|3
0|0.4691122999071863|-0.2828633443286633|-1.5090585031735124|-1.1356323710171934
1|1.2121120250208506|-0.17321464905330858|0.11920871129693428|-1.0442359662799567
2|-0.8618489633477999|-2.1045692188948086|-0.4949292740687813|1.071803807037338
3|0.7215551622443669|-0.7067711336300845|-1.0395749851146963|0.27185988554282986
4|-0.42497232978883753|0.567020349793672|0.27623201927771873|-1.0874006912859915
5|-0.6736897080883706|0.1136484096888855|-1.4784265524372235|0.5249876671147047
6|0.4047052186802365|0.5770459859204836|-1.7150020161146375|-1.0392684835147725
7|-0.3706468582364464|-1.1578922506419993|-1.344311812731667|0.8448851414248841
8|1.0757697837155533|-0.10904997528022223|1.6435630703622064|-1.4693879595399115
9|0.35702056413309086|-0.6746001037299882|-1.776903716971867|-0.9689138124473498

In [39]:
pd.read_csv('foo5.csv', sep='|', index_col=[0])

          0         1         2         3
0  0.469112 -0.282863 -1.509059 -1.135632
1  1.212112 -0.173215  0.119209 -1.044236
2 -0.861849 -2.104569 -0.494929  1.071804
3  0.721555 -0.706771 -1.039575  0.271860
4 -0.424972  0.567020  0.276232 -1.087401
5 -0.673690  0.113648 -1.478427  0.524988
6  0.404705  0.577046 -1.715002 -1.039268
7 -0.370647 -1.157892 -1.344312  0.844885
8  1.075770 -0.109050  1.643563 -1.469388
9  0.357021 -0.674600 -1.776904 -0.968914

By specifying a chunksize to read_csv, the return value will be an iterable object of type TextFileReader:

In [40]:
reader = pd.read_csv('foo5.csv', sep='|', index_col=[0], chunksize=2)
reader

In [41]:
for chunck in reader:
    print(chunck)

          0         1         2         3
0  0.469112 -0.282863 -1.509059 -1.135632
1  1.212112 -0.173215  0.119209 -1.044236
          0         1         2         3
2 -0.861849 -2.104569 -0.494929  1.071804
3  0.721555 -0.706771 -1.039575  0.271860
          0         1         2         3
4 -0.424972  0.567020  0.276232 -1.087401
5 -0.673690  0.113648 -1.478427  0.524988
          0         1         2         3
6  0.404705  0.577046 -1.715002 -1.039268
7 -0.370647 -1.157892 -1.344312  0.844885
          0        1         2         3
8  1.075770 -0.10905  1.643563 -1.469388
9  0.357021 -0.67460 -1.776904 -0.968914

Specifying iterator=True will also return the TextFileReader object:

In [42]:
reader = pd.read_csv('foo5.csv', sep='|', iterator=True)

In [43]:
reader.get_chunk(5)

   Unnamed: 0         0         1         2         3
0           0  0.469112 -0.282863 -1.509059 -1.135632
1           1  1.212112 -0.173215  0.119209 -1.044236
2           2 -0.861849 -2.104569 -0.494929  1.071804
3           3  0.721555 -0.706771 -1.039575  0.271860
4           4 -0.424972  0.567020  0.276232 -1.087401

### Specifying the parser engine
Under the hood pandas uses a fast and efficient parser implemented in C as well as a Python implementation which is currently more feature-complete. Where possible pandas uses the C parser (specified as engine='c'), but may fall back to Python if C-unsupported options are specified. Currently, C-unsupported options include:

sep other than a single character (e.g. regex separators)

skipfooter

sep=None with delim_whitespace=False

Specifying any of the above options will produce a ParserWarning unless the python engine is selected explicitly using engine='python'.

### Reading remote files
You can pass in a URL to a CSV file:

In [49]:
df = pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',sep='\t')

In [50]:
df.head()

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,399
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,374
4,SA0L1,All items less food,1,T,358

In [51]:
df = pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',sep=None)
df.head()

/home/nilesh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,399
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,374
4,SA0L1,All items less food,1,T,358

### Reading JSON
Reading from a JSON string:

In [52]:
df = pd.read_csv('foo2.csv', parse_dates=True)

In [61]:
df1 = df.to_json()
df1

'{"A":{"1230768000000":"a","1230854400000":"b","1230940800000":"c"},"B":{"1230768000000":1,"1230854400000":3,"1230940800000":4},"C":{"1230768000000":2,"1230854400000":4,"1230940800000":5}}'

In [59]:
pd.read_json(df1)

            A  B  C
2009-01-01  a  1  2
2009-01-02  b  3  4
2009-01-03  c  4  5

In [62]:
pd.read_json('foo6.json')

            A  B  C
2009-01-01  a  1  2
2009-01-02  b  3  4
2009-01-03  c  4  5

Don’t convert any data (but still convert axes and dates):

In [65]:
pd.read_json('foo6.json', dtype=object).dtypes

A    object
B    object
C    object
dtype: object

Specify dtypes for conversion:

In [66]:
pd.read_json('foo6.json', dtype={'A': np.int64, 'B': np.float64, 'C': np.float32}).dtypes

A     object
B    float64
C    float32
dtype: object

Preserve string indices:

In [67]:
si = pd.DataFrame(np.zeros((4, 4)), columns=list(range(4)),index=[str(i) for i in range(4)])

In [68]:
si

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0

In [69]:
si.index

Index(['0', '1', '2', '3'], dtype='object')

In [70]:
si.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [71]:
json = si.to_json()
json

'{"0":{"0":0.0,"1":0.0,"2":0.0,"3":0.0},"1":{"0":0.0,"1":0.0,"2":0.0,"3":0.0},"2":{"0":0.0,"1":0.0,"2":0.0,"3":0.0},"3":{"0":0.0,"1":0.0,"2":0.0,"3":0.0}}'

In [72]:
sij = pd.read_json(json, convert_axes=False)
sij

   0  1  2  3
0  0  0  0  0
1  0  0  0  0
2  0  0  0  0
3  0  0  0  0

In [73]:
sij.index

Index(['0', '1', '2', '3'], dtype='object')

In [74]:
sij.columns

Index(['0', '1', '2', '3'], dtype='object')

Dates written in nanoseconds need to be read back in nanoseconds:

In [77]:
dfd = pd.DataFrame(np.random.randn(5, 2), columns=list('AB'))
dfd['date'] = pd.Timestamp('20130101')
dfd = dfd.sort_index(1, ascending=False)
dfd1 = dfd.to_json(date_unit='ns')

In [80]:
dfju = pd.read_json(dfd1, date_unit='ms')

In [81]:
dfju

                  date         B         A
0  1356998400000000000 -0.820578  0.753974
1  1356998400000000000  1.380623  0.403317
2  1356998400000000000  1.868659  0.438388
3  1356998400000000000  0.558649 -2.505403
4  1356998400000000000 -0.590192 -2.274227

In [82]:
dfju = pd.read_json(dfd1)
dfju

        date         B         A
0 2013-01-01 -0.820578  0.753974
1 2013-01-01  1.380623  0.403317
2 2013-01-01  1.868659  0.438388
3 2013-01-01  0.558649 -2.505403
4 2013-01-01 -0.590192 -2.274227

In [84]:
dfju = pd.read_json(dfd1, date_unit='ns')
dfju

        date         B         A
0 2013-01-01 -0.820578  0.753974
1 2013-01-01  1.380623  0.403317
2 2013-01-01  1.868659  0.438388
3 2013-01-01  0.558649 -2.505403
4 2013-01-01 -0.590192 -2.274227

### Normalization
pandas provides a utility function to take a dict or list of dicts and normalize this semi-structured data into a flat table.

In [85]:
data = [{'id': 1, 'name': {'first': 'Coleen', 'last': 'Volk'}},{'name': {'given': 'Mose', 'family': 'Regner'}},{'id': 2, 'name': 'Faye Raker'}]

In [86]:
print(data)

[{'id': 1, 'name': {'first': 'Coleen', 'last': 'Volk'}}, {'name': {'given': 'Mose', 'family': 'Regner'}}, {'id': 2, 'name': 'Faye Raker'}]

In [87]:
 pd.json_normalize(data)

    id name.first name.last name.given name.family        name
0  1.0     Coleen      Volk        NaN         NaN         NaN
1  NaN        NaN       NaN       Mose      Regner         NaN
2  2.0        NaN       NaN        NaN         NaN  Faye Raker

In [88]:
 data = [{'state': 'Florida','shortname': 'FL','info': {'governor': 'Rick Scott'},
          'county': [{'name': 'Dade', 'population': 12345},
         {'name': 'Broward', 'population': 40000},
        {'name': 'Palm Beach', 'population': 60000}]},
         {'state': 'Ohio','shortname': 'OH','info': {'governor': 'John Kasich'},
        'county': [{'name': 'Summit', 'population': 1234},
         {'name': 'Cuyahoga', 'population': 1337}]}]

In [89]:
data

[{'state': 'Florida',
  'shortname': 'FL',
  'info': {'governor': 'Rick Scott'},
  'county': [{'name': 'Dade', 'population': 12345},
   {'name': 'Broward', 'population': 40000},
   {'name': 'Palm Beach', 'population': 60000}]},
 {'state': 'Ohio',
  'shortname': 'OH',
  'info': {'governor': 'John Kasich'},
  'county': [{'name': 'Summit', 'population': 1234},
   {'name': 'Cuyahoga', 'population': 1337}]}]

In [90]:
pd.json_normalize(data, 'county', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [91]:
pd.json_normalize(data)

,state,shortname,county,info.governor
0,Florida,FL,"[{'name': 'Dade', 'population': 12345}, {'name...",Rick Scott
1,Ohio,OH,"[{'name': 'Summit', 'population': 1234}, {'nam...",John Kasich

In [92]:
pd.json_normalize(data, 'county')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [99]:
pd.json_normalize(data, 'county', 'state', 'shortname')

         name  population shortnamestate
0        Dade       12345        Florida
1     Broward       40000        Florida
2  Palm Beach       60000        Florida
3      Summit        1234           Ohio
4    Cuyahoga        1337           Ohio

### Line delimited json
pandas is able to read and write line-delimited json files that are common in data processing pipelines using Hadoop or Spark.

For line-delimited json files, pandas can also return an iterator which reads in chunksize lines at a time. This can be useful for large files or to read from a stream.

In [104]:
jsonl = '''
        {"a": 1, "b": 2}
        {"a": 3, "b": 4}
        '''

In [105]:
df = pd.read_json(jsonl, lines=True)
df

   a  b
0  1  2
1  3  4

In [106]:
df.to_json(orient='records', lines=True)

'{"a":1,"b":2}\n{"a":3,"b":4}'

In [107]:
reader = pd.read_json(StringIO(jsonl), lines=True, chunksize=1)
reader

In [108]:
for chunch in reader:
    print(chunch)

Empty DataFrame
Columns: []
Index: []
   a  b
0  1  2
   a  b
1  3  4
Empty DataFrame
Columns: []
Index: []

### Table schema
Table Schema is a spec for describing tabular datasets as a JSON object. The JSON includes information on the field names, types, and other attributes. You can use the orient table to build a JSON string with two fields, schema and data.

In [109]:
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': ['a', 'b', 'c'],
                   'C': pd.date_range('2016-01-01', freq='d', periods=3)}, 
                  index=pd.Index(range(3), name='idx'))
df

     A  B          C
idx
0    1  a 2016-01-01
1    2  b 2016-01-02
2    3  c 2016-01-03

In [110]:
df.to_json(orient='table', date_format="iso")

'{"schema":{"fields":[{"name":"idx","type":"integer"},{"name":"A","type":"integer"},{"name":"B","type":"string"},{"name":"C","type":"datetime"}],"primaryKey":["idx"],"pandas_version":"0.20.0"},"data":[{"idx":0,"A":1,"B":"a","C":"2016-01-01T00:00:00.000Z"},{"idx":1,"A":2,"B":"b","C":"2016-01-02T00:00:00.000Z"},{"idx":2,"A":3,"B":"c","C":"2016-01-03T00:00:00.000Z"}]}'

In [111]:
from pandas.io.json import build_table_schema

s = pd.Series(pd.date_range('2016', periods=4))
build_table_schema(s)

{'fields': [{'name': 'index', 'type': 'integer'},
  {'name': 'values', 'type': 'datetime'}],
 'primaryKey': ['index'],
 'pandas_version': '0.20.0'}

In [112]:
s_tz = pd.Series(pd.date_range('2016', periods=12, tz='US/Central'))
s_tz

0    2016-01-01 00:00:00-06:00
1    2016-01-02 00:00:00-06:00
2    2016-01-03 00:00:00-06:00
3    2016-01-04 00:00:00-06:00
4    2016-01-05 00:00:00-06:00
5    2016-01-06 00:00:00-06:00
6    2016-01-07 00:00:00-06:00
7    2016-01-08 00:00:00-06:00
8    2016-01-09 00:00:00-06:00
9    2016-01-10 00:00:00-06:00
10   2016-01-11 00:00:00-06:00
11   2016-01-12 00:00:00-06:00
dtype: datetime64[ns, US/Central]

In [113]:
build_table_schema(s_tz)

{'fields': [{'name': 'index', 'type': 'integer'},
  {'name': 'values', 'type': 'datetime', 'tz': 'US/Central'}],
 'primaryKey': ['index'],
 'pandas_version': '0.20.0'}

### HTML
Reading HTML content

The top-level read_html() function can accept an HTML string/file/URL and will parse HTML tables into list of pandas DataFrames. Let’s look at a few examples.

In [8]:
url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'
dfs = pd.read_html(url)

read_html returns a list of DataFrame objects, even if there is only a single table contained in the HTML content.

In [122]:
df = dfs[0]

In [124]:
df.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
1,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
2,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
3,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
4,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"

In [127]:
with open(file_path, 'r') as f:
    dfs = pd.read_html(f.read())
# for stored in dir

FileNotFoundError: [Errno 2] No such file or directory: 'https://www.fdic.gov/bank/individual/failed/banklist.html'

In [129]:
with open(file_path, 'r') as f:
    sio = StringIO(f.read())

dfs = pd.read_html(sio)

NameError: name 'file_path' is not defined

Read a URL and match a table that contains specific text:

In [130]:
match = 'Metcalf Bank'
df_list = pd.read_html(url, match=match)
df_list[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
1,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
2,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
3,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
4,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
...,...,...,...,...,...,...
556,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
557,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
558,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
559,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
560,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

In [131]:
dfs = pd.read_html(url, header=0)
dfs[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
1,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
2,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
3,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
4,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
...,...,...,...,...,...,...
556,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
557,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
558,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
559,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
560,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

In [133]:
dfs = pd.read_html(url, index_col=0)
dfs[0]

,City,ST,CERT,Acquiring Institution,Closing Date
Bank Name,,,,,
The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
...,...,...,...,...,...
"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

In [134]:
dfs = pd.read_html(url, skiprows=5)
dfs[0]

,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019"
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017"
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017"
3,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017"
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017"
...,...,...,...,...,...,...
551,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
552,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
553,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
554,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
555,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

In [136]:
dfs = pd.read_html(url, na_values=['No Acquirer'])
dfs[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
1,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
2,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
3,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
4,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
...,...,...,...,...,...,...
556,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
557,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
558,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
559,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
560,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

In [138]:
dfs = pd.read_html(url, keep_default_na=False)
dfs[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
1,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
2,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
3,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
4,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
...,...,...,...,...,...,...
556,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
557,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
558,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
559,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
560,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

Specify converters for columns. This is useful for numerical text data that has leading zeros. By default columns that are numerical are cast to numeric types and the leading zeros are lost. To avoid this, we can convert these columns to strings.

In [3]:
import pandas as pd
url_mcc = 'https://en.wikipedia.org/wiki/Mobile_country_code'
dfs = pd.read_html(url_mcc, header=0, converters={'MNC': str})
dfs[0]

,MCC,MNC,Brand,Operator,Status,Bands (MHz),References and notes
0,1,01,TEST,Test network,Operational,any,NaN
1,1,001,TEST,Test network,Operational,any,NaN
2,999,99,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[4]"
3,999,999,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[4]"

Read in pandas to_html output (with some loss of floating point precision):

In [5]:
import numpy as np
df = pd.DataFrame(np.random.randn(2, 2))
s = df.to_html(float_format='{0:.40g}'.format)
dfin = pd.read_html(s, index_col=0)
dfin

[          0         1
 0 -1.334855  2.066297
 1 -1.252783 -0.614040]

In [6]:
df.to_html(float_format='{0:.40g}'.format)

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>-1.334855037860454674003563013684470206499</td>\n      <td>2.066297290019548427153495140373706817627</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>-1.252782841180503314859606689424254000187</td>\n      <td>-0.6140397485867434834716505065443925559521</td>\n    </tr>\n  </tbody>\n</table>'

The lxml backend will raise an error on a failed parse if that is the only parser you provide. If you only have a single parser you can provide just a string, but it is considered good practice to pass a list with one string if, for example, the function expects a sequence of strings. You may use:

In [9]:
dfs = pd.read_html(url, 'Metcalf Bank', index_col=0, flavor=['lxml'])
dfs[0]

,City,ST,CERT,Acquiring Institution,Closing Date
Bank Name,,,,,
The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
...,...,...,...,...,...
"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

Or you could pass flavor='lxml' without a list:

In [10]:
dfs = pd.read_html(url, 'Metcalf Bank', index_col=0, flavor='lxml')
dfs[0]

,City,ST,CERT,Acquiring Institution,Closing Date
Bank Name,,,,,
The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
...,...,...,...,...,...
"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

However, if you have bs4 and html5lib installed and pass None or ['lxml', 'bs4'] then the parse will most likely succeed. Note that as soon as a parse succeeds, the function will return.

In [11]:
dfs = pd.read_html(url, 'Metcalf Bank', index_col=0, flavor=['lxml', 'bs4'])

dfs[0]

,City,ST,CERT,Acquiring Institution,Closing Date
Bank Name,,,,,
The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
...,...,...,...,...,...
"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

### Writing to HTML files
DataFrame objects have an instance method to_html which renders the contents of the DataFrame as an HTML table. The function arguments are as in the method to_string described above.

In [12]:
df = pd.DataFrame(np.random.randn(2, 2))
df

          0         1
0 -1.279618  0.196119
1 -1.297554 -0.458088

In [13]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>-1.279618</td>\n      <td>0.196119</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>-1.297554</td>\n      <td>-0.458088</td>\n    </tr>\n  </tbody>\n</table>'

In [14]:
print(df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-1.279618</td>
      <td>0.196119</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-1.297554</td>
      <td>-0.458088</td>
    </tr>
  </tbody>
</table>

In [15]:
print(df.to_html(columns=[0]))

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-1.279618</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-1.297554</td>
    </tr>
  </tbody>
</table>

In [16]:
print(df.to_html(float_format='{0:.10f}'.format))

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-1.2796183249</td>
      <td>0.1961194104</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-1.2975542915</td>
      <td>-0.4580882060</td>
    </tr>
  </tbody>
</table>

The render_links argument provides the ability to add hyperlinks to cells that contain URLs.

In [17]:
 url_df = pd.DataFrame({'name': ['Python', 'Pandas'],'url': ['https://www.python.org/', 'https://pandas.pydata.org']})

In [18]:
print(url_df.to_html(render_links=True))

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>url</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Python</td>
      <td><a href="https://www.python.org/" target="_blank">https://www.python.org/</a></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Pandas</td>
      <td><a href="https://pandas.pydata.org" target="_blank">https://pandas.pydata.org</a></td>
    </tr>
  </tbody>
</table>

### Excel files
The read_excel() method can read Excel 2003 (.xls) files using the xlrd Python module. Excel 2007+ (.xlsx) files can be read using either xlrd or openpyxl. Binary Excel (.xlsb) files can be read using pyxlsb. The to_excel() instance method is used for saving a DataFrame to Excel. Generally the semantics are similar to working with csv data. See the cookbook for some advanced strategies.

Reading Excel files
In the most basic use-case, read_excel takes a path to an Excel file, and the sheet_name indicating which sheet to parse.

### Reading Excel files
In the most basic use-case, read_excel takes a path to an Excel file, and the sheet_name indicating which sheet to parse.

In [6]:
import pandas as pd
pd.read_excel('Neil.xls', sheet_name='Sheet1')

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

### ExcelFile class
To facilitate working with multiple sheets from the same file, the ExcelFile class can be used to wrap the file and can be passed into read_excel There will be a performance benefit for reading multiple sheets as the file is read into memory only once.

In [8]:
xlsx = pd.ExcelFile('Neil.xls')
df = pd.read_excel(xlsx, 'Sheet1')
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

The ExcelFile class can also be used as a context manager.

In [9]:
with pd.ExcelFile('Neil.xls') as xls:
    df1 = pd.read_excel(xls, 'Sheet1')
    df2 = pd.read_excel(xls, 'Sheet2')

In [10]:
df1

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [11]:
df2

Empty DataFrame
Columns: []
Index: []

In [21]:
with pd.ExcelFile('tips.xls') as xls:
    df3 = pd.read_excel(xls, sheet_name='tips')

In [22]:
df3.to_excel('Neil.xls', sheet_name='tips')

The sheet_names property will generate a list of the sheet names in the file.

The primary use-case for an ExcelFile is parsing multiple sheets with different parameters:

In [25]:
d = pd.ExcelFile('Neil.xls')

In [29]:
d.sheet_names

['tips']

In [36]:
data = {}
# For when Sheet1's format differs from Sheet2
with pd.ExcelFile('Neil.xls') as xls:
    data['Sheet1'] = pd.read_excel(xls, 'Sheet1', index_col=None,
                                   na_values=['NA'])
    data['Sheet2'] = pd.read_excel(xls, 'Sheet2', index_col=1)

In [40]:
data

{'Sheet1':      Unnamed: 0  total_bill   tip     sex smoker   day    time  size
 0             0       16.99  1.01  Female     No   Sun  Dinner     2
 1             1       10.34  1.66    Male     No   Sun  Dinner     3
 2             2       21.01  3.50    Male     No   Sun  Dinner     3
 3             3       23.68  3.31    Male     No   Sun  Dinner     2
 4             4       24.59  3.61  Female     No   Sun  Dinner     4
 ..          ...         ...   ...     ...    ...   ...     ...   ...
 239         239       29.03  5.92    Male     No   Sat  Dinner     3
 240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
 241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
 242         242       17.82  1.75    Male     No   Sat  Dinner     2
 243         243       18.78  3.00  Female     No  Thur  Dinner     2

 [244 rows x 8 columns],
 'Sheet2':        id  day
 Money
 100     1    5
 150     2    4
 200     3    6
 250     4    6
 300     5    5
 350     6    7
 400     7    7
 450     8    6
 500     9    8
 550    10    8}

Note that if the same parsing parameters are used for all sheets, a list of sheet names can simply be passed to read_excel with no loss in performance.

In [43]:
# using the ExcelFile class
data = {}
with pd.ExcelFile('Neil.xls') as xls:
    data['Sheet1'] = pd.read_excel(xls, 'Sheet1', index_col=None,
                                   na_values=['NA'])
    data['Sheet2'] = pd.read_excel(xls, 'Sheet2', index_col=None,
                                   na_values=['NA'])

# equivalent using the read_excel function
data = pd.read_excel('Neil.xls', ['Sheet1', 'Sheet2'],
                     index_col=None, na_values=['NA'])
data

{'Sheet1':      Unnamed: 0  total_bill   tip     sex smoker   day    time  size
 0             0       16.99  1.01  Female     No   Sun  Dinner     2
 1             1       10.34  1.66    Male     No   Sun  Dinner     3
 2             2       21.01  3.50    Male     No   Sun  Dinner     3
 3             3       23.68  3.31    Male     No   Sun  Dinner     2
 4             4       24.59  3.61  Female     No   Sun  Dinner     4
 ..          ...         ...   ...     ...    ...   ...     ...   ...
 239         239       29.03  5.92    Male     No   Sat  Dinner     3
 240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
 241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
 242         242       17.82  1.75    Male     No   Sat  Dinner     2
 243         243       18.78  3.00  Female     No  Thur  Dinner     2

 [244 rows x 8 columns],
 'Sheet2':    id  Money  day
 0   1    100    5
 1   2    150    4
 2   3    200    6
 3   4    250    6
 4   5    300    5
 5   6    350    7
 6   7    400    7
 7   8    450    6
 8   9    500    8
 9  10    550    8}

ExcelFile can also be called with a xlrd.book.Book object as a parameter. This allows the user to control how the excel file is read. For example, sheets can be loaded on demand by calling xlrd.open_workbook() with on_demand=True.

In [44]:
import xlrd
xlrd_book = xlrd.open_workbook('Neil.xls', on_demand=True)
with pd.ExcelFile(xlrd_book) as xls:
    df1 = pd.read_excel(xls, 'Sheet1')
    df2 = pd.read_excel(xls, 'Sheet2')

In [45]:
pd.read_excel('Neil.xls', 'Sheet1', index_col=None, na_values=['NA'])

     Unnamed: 0  total_bill   tip     sex smoker   day    time  size
0             0       16.99  1.01  Female     No   Sun  Dinner     2
1             1       10.34  1.66    Male     No   Sun  Dinner     3
2             2       21.01  3.50    Male     No   Sun  Dinner     3
3             3       23.68  3.31    Male     No   Sun  Dinner     2
4             4       24.59  3.61  Female     No   Sun  Dinner     4
..          ...         ...   ...     ...    ...   ...     ...   ...
239         239       29.03  5.92    Male     No   Sat  Dinner     3
240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
242         242       17.82  1.75    Male     No   Sat  Dinner     2
243         243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 8 columns]

Using the sheet index:

In [46]:
pd.read_excel('Neil.xls', 1, index_col=None, na_values=['NA'])

   id  Money  day
0   1    100    5
1   2    150    4
2   3    200    6
3   4    250    6
4   5    300    5
5   6    350    7
6   7    400    7
7   8    450    6
8   9    500    8
9  10    550    8

Using all default values:

In [47]:
# Returns a DataFrame
pd.read_excel('Neil.xls')

     Unnamed: 0  total_bill   tip     sex smoker   day    time  size
0             0       16.99  1.01  Female     No   Sun  Dinner     2
1             1       10.34  1.66    Male     No   Sun  Dinner     3
2             2       21.01  3.50    Male     No   Sun  Dinner     3
3             3       23.68  3.31    Male     No   Sun  Dinner     2
4             4       24.59  3.61  Female     No   Sun  Dinner     4
..          ...         ...   ...     ...    ...   ...     ...   ...
239         239       29.03  5.92    Male     No   Sat  Dinner     3
240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
242         242       17.82  1.75    Male     No   Sat  Dinner     2
243         243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 8 columns]

Using None to get all sheets:

In [66]:
pd.read_excel('Neil.xls', sheet_name=None)

{'Sheet1':      Unnamed: 0  total_bill   tip     sex smoker   day    time  size
 0             0       16.99  1.01  Female     No   Sun  Dinner     2
 1             1       10.34  1.66    Male     No   Sun  Dinner     3
 2             2       21.01  3.50    Male     No   Sun  Dinner     3
 3             3       23.68  3.31    Male     No   Sun  Dinner     2
 4             4       24.59  3.61  Female     No   Sun  Dinner     4
 ..          ...         ...   ...     ...    ...   ...     ...   ...
 239         239       29.03  5.92    Male     No   Sat  Dinner     3
 240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
 241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
 242         242       17.82  1.75    Male     No   Sat  Dinner     2
 243         243       18.78  3.00  Female     No  Thur  Dinner     2

 [244 rows x 8 columns],
 'Sheet2':    id  Money  day
 0   1    100    5
 1   2    150    4
 2   3    200    6
 3   4    250    6
 4   5    300    5
 5   6    350    7
 6   7    400    7
 7   8    450    6
 8   9    500    8
 9  10    550    8}

Using a list to get multiple sheets:

In [53]:
# Returns the 1st and 4th sheet, as a dictionary of DataFrames.
pd.read_excel('Neil.xls', sheet_name=['Sheet1', 1])

{'Sheet1':      Unnamed: 0  total_bill   tip     sex smoker   day    time  size
 0             0       16.99  1.01  Female     No   Sun  Dinner     2
 1             1       10.34  1.66    Male     No   Sun  Dinner     3
 2             2       21.01  3.50    Male     No   Sun  Dinner     3
 3             3       23.68  3.31    Male     No   Sun  Dinner     2
 4             4       24.59  3.61  Female     No   Sun  Dinner     4
 ..          ...         ...   ...     ...    ...   ...     ...   ...
 239         239       29.03  5.92    Male     No   Sat  Dinner     3
 240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
 241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
 242         242       17.82  1.75    Male     No   Sat  Dinner     2
 243         243       18.78  3.00  Female     No  Thur  Dinner     2

 [244 rows x 8 columns],
 1:    id  Money  day
 0   1    100    5
 1   2    150    4
 2   3    200    6
 3   4    250    6
 4   5    300    5
 5   6    350    7
 6   7    400    7
 7   8    450    6
 8   9    500    8
 9  10    550    8}

### Reading a MultiIndex
read_excel can read a MultiIndex index, by passing a list of columns to index_col and a MultiIndex column by passing a list of rows to header. If either the index or columns have serialized level names those will be read in as well by specifying the rows/columns that make up the levels.

For example, to read in a MultiIndex index without names:

In [54]:
df = pd.DataFrame({'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8]}, 
                  index=pd.MultiIndex.from_product([['a', 'b'], ['c', 'd']]))

In [55]:
df

     a  b
a c  1  5
  d  2  6
b c  3  7
  d  4  8

In [57]:
df.to_excel('mi.xlsx')

In [84]:
df = pd.read_excel('mi.xlsx', index_col=[0, 1])
df

     a  b
a c  1  5
  d  2  6
b c  3  7
  d  4  8

If the index has level names, they will parsed as well, using the same parameters.

In [59]:
 df.index = df.index.set_names(['lvl1', 'lvl2'])

In [60]:
df.to_excel('mi1.xlsx')

In [61]:
df = pd.read_excel('mi1.xlsx', index_col=[0, 1])
df

           a  b
lvl1 lvl2
a    c     1  5
     d     2  6
b    c     3  7
     d     4  8

### Parsing specific columns
It is often the case that users will insert columns to do temporary computations in Excel and you may not want to read in those columns. read_excel takes a usecols keyword to allow you to specify a subset of columns to parse.

Passing in an integer for usecols has been deprecated. Please pass in a list of ints from 0 to usecols inclusive instead.

If usecols is an integer, then it is assumed to indicate the last column to be parsed.

In [63]:
pd.read_excel('Neil.xls', 'Sheet1', usecols=[2])

      tip
0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
..    ...
239  5.92
240  2.00
241  2.00
242  1.75
243  3.00

[244 rows x 1 columns]

You can also specify a comma-delimited set of Excel columns and ranges as a string:

In [68]:
pd.read_excel('Neil.xls', 'Sheet1', usecols=['tip','sex','time'])

      tip     sex    time
0    1.01  Female  Dinner
1    1.66    Male  Dinner
2    3.50    Male  Dinner
3    3.31    Male  Dinner
4    3.61  Female  Dinner
..    ...     ...     ...
239  5.92    Male  Dinner
240  2.00  Female  Dinner
241  2.00    Male  Dinner
242  1.75    Male  Dinner
243  3.00  Female  Dinner

[244 rows x 3 columns]

### Parsing dates
Datetime-like values are normally automatically converted to the appropriate dtype when reading the excel file. But if you have a column of strings that look like dates (but are not actually formatted as dates in excel), you can use the parse_dates keyword to parse those strings to datetimes:

In [71]:
df = pd.read_csv('foo2.csv')
df

          A  B  C
20090101  a  1  2
20090102  b  3  4
20090103  c  4  5

In [70]:
df.to_excel('parsedate.xls',sheet_name='Sheet1')

In [74]:
pd.read_excel('parsedate.xls', 'Sheet1', parse_dates=['date'])

        date  A  B  C
0 2009-01-01  a  1  2
1 2009-01-02  b  3  4
2 2009-01-03  c  4  5

### Writing Excel files
#### Writing Excel files to disk
To write a DataFrame object to a sheet of an Excel file, you can use the to_excel instance method. The arguments are largely the same as to_csv described above, the first argument being the name of the excel file, and the optional second argument the name of the sheet to which the DataFrame should be written. For example:

In [75]:
df.to_excel('one.xlsx', sheet_name='Sheet1')

Files with a .xls extension will be written using xlwt and those with a .xlsx extension will be written using xlsxwriter (if available) or openpyxl.

The DataFrame will be written in a way that tries to mimic the REPL output. The index_label will be placed in the second row instead of the first. You can place it in the first row by setting the merge_cells option in to_excel() to False:

In [76]:
df.to_excel('path_to_file.xlsx', index_label='label', merge_cells=False)

In order to write separate DataFrames to separate sheets in a single Excel file, one can pass an ExcelWriter.

In [77]:
with pd.ExcelWriter('path_to_file.xlsx') as writer:
    df1.to_excel(writer, sheet_name='Sheet1')
    df2.to_excel(writer, sheet_name='Sheet2')

### Writing Excel files to memory
Pandas supports writing Excel files to buffer-like objects such as StringIO or BytesIO using ExcelWriter.

In [79]:
from io import BytesIO

bio = BytesIO()

# By setting the 'engine' in the ExcelWriter constructor.
writer = pd.ExcelWriter(bio, engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1')

# Save the workbook
writer.save()

# Seek to the beginning and read to copy the workbook to a variable in memory
bio.seek(0)
workbook = bio.read()

In [80]:
workbook

b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00?\x00a]I:O\x01\x00\x00\x8f\x04\x00\x00\x13\x00\x00\x00[Content_Types].xml\xad\x94\xcbn\xc20\x10E\xf7\xfd\x8a\xc8\xdb*1tQU\x15\x81E\x1f\xcb\x16\xa9\xf4\x03\\{B,\x1c\xdb\xf2\x0c\x14\xfe\xbe\x93\xf0P[Q\xa0\x82M\xacd\xee\xdcs\xc7\x8e<\x18-\x1b\x97- \xa1\r\xbe\x14\xfd\xa2\'2\xf0:\x18\xeb\xa7\xa5x\x9f<\xe7w"CR\xde(\x17<\x94b\x05(F\xc3\xab\xc1d\x15\x013n\xf6X\x8a\x9a(\xdeK\x89\xba\x86Fa\x11"x\xaeT!5\x8a\xf85MeTz\xa6\xa6 oz\xbd[\xa9\x83\'\xf0\x94S\xeb!\x86\x83G\xa8\xd4\xdcQ\xf6\xb4\xe4\xcf\xeb \t\x1c\x8a\xeca-lY\xa5P1:\xab\x15q].\xbc\xf9E\xc97\x84\x82;;\r\xd66\xe25\x0b\x84\xdcKh+\x7f\x036}\xaf\xbc3\xc9\x1a\xc8\xc6*\xd1\x8bjX%M\xd0\xe3\x14"J\xd6\x17\x87]\xf6\xc4\x0cUe5\xb0\xc7\xbc\xe1\x96\x02\xda@\x06L\x1e\xd9\x12\x12Y\xd8e>\xc8\xd6!\xc1\xff\xe1\xdb=j\xbbO$.\x9dDZ9\xc0\xb3G\xc5\x98@\x19\xac\x01\xa8q\xc5\xda\xf4\x08\x99\xf8\x7f\x82\xf5\xb3\x7f6\xbf\xb39\x02\xfc\x0ci\xf6\x11\xc2\xec\xd2\xc3\xb6k\xd1(\xebO\xe0wb\x94\xddr\xfe\xd4?\x83\xec\xfc\x8f\x1dy\xad\x12\x987J|\r\\\xfc\xe4\xbf{os\xc8\xee>\x19~\x01PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00?\x00\xf2\x9fI\xda\xe9\x00\x00\x00K\x02\x00\x00\x0b\x00\x00\x00_rels/.rels\xad\x92\xc1N\xc30\x0c@\xef|E\xe4\xfb\x9anH\x08\xa1\xa5\xbb \xa4\xdd&4>\xc0$n\x1b\xb5\x8d\xa3\xc4\x83\xee\xef\x89\x90@\x0c\x8di\x07\x8eq\xec\xe7g\xcb\xeb\xcd<\x8d\xea\x8dR\xf6\x1c\x0c,\xab\x1a\x14\x05\xcb\xce\x87\xce\xc0\xcb\xfeiq\x0f*\x0b\x06\x87#\x072p\xa4\x0c\x9b\xe6f\xfdL#J\xa9\xc9\xbd\x8fY\x15H\xc8\x06z\x91\xf8\xa0u\xb6=M\x98+\x8e\x14\xcaO\xcbiB)\xcf\xd4\xe9\x88v\xc0\x8e\xf4\xaa\xae\xeft\xfa\xc9\x80\xe6\x84\xa9\xb6\xce@\xda\xba%\xa8\xfd1\xd25ln[o\xe9\x91\xeda\xa2 gZ\xfc\xca(dL\x1d\x89\x81y\xd4\xef\x9c\x86W\xe6\xa1*P\xd0\xe7]V\xd7\xbb\xfc=\xa7\x9eH\xd0\xa1\xa0\xb6\x9ch\x11S\xa9N\xe2\xcbZ\xbfu\x1c\xdb]\t\xe7\xcf\x8cKB\xb7\xff\xb9\x1c\x9a\x85\x82#wY\tc\xfc2\xd2\'7\xd0|\x00PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00?\x00Du[\xf0\xe8\x00\x00\x00\xb9\x02\x00\x00\x1a\x00\x00\x00xl/_rels/workbook.xml.rels\xad\x92\xc1j\xc30\x10D\xef\xfd\n\xb1\xf7Zv\x12J)\x91s)\x85\\\xdb\xf4\x03\x84\xb4\xb6LlIh\xb7i\xfd\xf7\x11\tM\x1d\x08\xa1\x07\x9f\xc4\x8c\xd8\x99\x07\xbb\xeb\xcd\xcf\xd0\x8b\x03&\xea\x82WP\x15%\x08\xf4&\xd8\xce\xb7\n>wo\x8f\xcf \x88\xb5\xb7\xba\x0f\x1e\x15\x8cH\xb0\xa9\x1f\xd6\xef\xd8k\xce3\xe4\xbaH"\x87xR\xe0\x98\xe3\x8b\x94d\x1c\x0e\x9a\x8a\x10\xd1\xe7\x9f&\xa4As\x96\xa9\x95Q\x9b\xbdnQ.\xca\xf2I\xa6i\x06\xd4W\x99bk\x15\xa4\xad\xad@\xec\xc6\x88\xff\xc9\x0eM\xd3\x19|\r\xe6k@\xcf7*\xe4wH{r\x88\x9cCuj\x91\x15\\,\x92\xa7\xa7*r*\xc8\xdb0\x8b9a8\xcf\xe2\x1f\xc8I\x9e\xcd\xbb\x0c\xcb9\x19\x88\xc7>/\xf4\x02q\xd6\xf7\xeaW\xb3\xd6;\x9d\xd0~p\xca\xd76\xa5\x98\xda\xbf0\xf2\xea\xe2\xea#PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00?\x00\x82\xdb\xf1\xba\x9a\x01\x00\x00\xef\x03\x00\x00\x18\x00\x00\x00xl/worksheets/sheet1.xml\x8d\x93MO\xe30\x10\x86\xef\xfc\n\xcbwj\xe7\xa3\xbbP%A\x94\x08-\x87\x95\x10_w7\x99$\x16\x89\'\xb2M\xcb\xfe\xfb\xb5S\xa8B\x12!n\x1e\xcf;\xef<c\x8d\x93\xab\xf7\xae%{\xd0F\xa2Ji\xb0\xe2\x94\x80*\xb0\x94\xaaN\xe9\xf3\xd3\xed\xf9\x05%\xc6\nU\x8a\x16\x15\xa4\xf4\x1f\x18z\x95\x9d%\x07\xd4\xaf\xa6\x01\xb0\xc4\x19(\x93\xd2\xc6\xda~\xc3\x98)\x1a\xe8\x84Ya\x0f\xcae*\xd4\x9d\xb0.\xd453\xbd\x06Q\x0eE]\xcbB\xce\x7f\xb1NHE\x8f\x0e\x1b\xfd\x13\x0f\xac*Y@\x8e\xc5[\x07\xca\x1eM4\xb4\xc2:|\xd3\xc8\xde\xd0,)\xa5\xcb\xf9y\x88\x86*\xa5\xd7\xc1&\x8f)\xcb\x92\xa1\xf3\x8b\x84\x83\x19\x9d\x89\x15\xbbGh\xa1\xb0P\xba\xf9)\xf1\x83\xed\x10_}\xf2\xce]q_\xcaf\xb5\xb7\x03\xd4\xbd&%T\xe2\xad\xb5\x0fx\xf8\x03\xb2n\xac3Y\x9f\xba\xe5\xc2\x8a,\xd1x z07\xbd\xf0o\x15lb\xc7Y\xf8\xcb\xad\xbf\x1dr\xae\xd2\xd3\xef3\x9e\xb0\xbdkY|(n\xe6\x8a\xe0\xab"\x9f+\xc2\x93\x82\xb9\xee\'\x84p\t\xe1:\xfc(\x1f\n9\xbf\xe4\x01\x9ft\xd8\x86#\xefh\xc2\x17.2\x85\xdfqD\x8b\x1c\xd1\x9c#\x9cpD#\x8ex\xc2\x11-\xd1\xe5\xd1D\xfb\x85#^\xe4\x88\xe7\x1c\x13\xd7m<\xe2XO8\xe2%\xba<\x9eh\x8f\x1cl\xb4&\xbd\xa8\xe1\xaf\xd0\xb5T\x86\xb4P9\x7f\xbe\xfaM\x89>n\xd5p\xb6\xd8\x0f\xa75%;\xb4\x16\xbb\xcf\xa8q?\x0b\xb4\x8f\xdc\x0bU\x88\xf63\xf0\xcb{\xfa\xab\xd9\x7fPK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00?\x00\x83\x18j%H\x01\x00\x00&\x02\x00\x00\x0f\x00\x00\x00xl/workbook.xml\x8dQ\xcbN\xc30\x10\xbc\xf3\x15\xd6\xdei\x1ej#Z5\xa9\xc4KTB\x80Di\xcf&\xde4V\x1d;\xb2\x1d\xd2\xfe=\xebT)p\xe3\xb43\xe3\xdd\xd1\xcez\xb9:6\x8a}\xa1u\xd2\xe8\x1c\x92I\x0c\x0cui\x84\xd4\xfb\x1c>6\x8f\xd77\xc0\x9c\xe7Zpe4\xe6pB\x07\xab\xe2j\xd9\x1b{\xf84\xe6\xc0h^\xbb\x1cj\xef\xdbE\x14\xb9\xb2\xc6\x86\xbb\x89iQ\xd3Kel\xc3=Q\xbb\x8f\\k\x91\x0bW#\xfaFEi\x1cgQ\xc3\xa5\x86\xb3\xc3\xc2\xfe\xc7\xc3T\x95,\xf1\xde\x94]\x83\xda\x9fM,*\xeei{W\xcb\xd6A\xb1\xac\xa4\xc2\xed9\x10\xe3m\xfb\xc2\x1bZ\xfb\xa8\x80)\xee\xfc\x83\x90\x1eE\x0eS\xa2\xa6\xc7?\x82\xed\xda\xdbN\xaa@f\xf1\x0c\xa2\xe2\x12\xf2\xcd2\x81\x15\xef\x94\xdf\xd0j\xa3;\x9d+\x9d\xa6i\x16:C\xd7Vb\xef~\x86\x02e\xc7\x9d\xd4\xc2\xf49\xa4S\xba\xecid\xc9\x0cX?\xe0\x9d\x14\xbe&!\x8b\xe7\x17\xed\t\xe5\xbe\xf69\xcc\xb3,\x0e\xe6\xd1/\xf7\xe1~cez\x08\xf7\x1epB\xff\x14\xea\x9a\xf6\'l\x17\x92\x80]\x8bdp\x18\xc7J\xaeJJ\x13\xca\xd0\x98Ng\xc9\x1cX\xd5)uG\xda\xab~6|0\x08Cc\x92\xe2\x1bPK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00?\x00{\x1e\x89~\xa2\x00\x00\x00\x05\x01\x00\x00\x14\x00\x00\x00xl/sharedStrings.xml]\xcfA\n\xc20\x10\x85\xe1\xbd\xa7\x08\xb3\xb7\xa9.\x8aH\x92\xa2\x05O\xa0\x07\x88\xed\xd8\x06\x9aI\xedLEooED\xe8\xf2\xff\x86\xb7\x18S>c\xaf\x1e8rHda\x93\xe5\xa0\x90\xea\xd4\x04j-\\\xce\xa7\xf5\x0e\x14\x8b\xa7\xc6\xf7\x89\xd0\xc2\x0b\x19J\xb72\xcc\xa2\xe6)\xb1\x85Nd\xd8k\xcdu\x87\xd1s\x96\x06\xa4\xf9rKc\xf42\xe7\xd8j\x1eF\xf4\rw\x88\x12{\xbd\xcd\xf3BG\x1f\x08T\x9d&\x12\x0b\x05\xa8\x89\xc2}\xc2\xea\xd7\xceppF\xdc\xc1hqF\x7f\xe2\x0b\xc7%TK\xf0K\xb8.\xa1\xfe\x83\x9e\xffpoPK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00?\x00i\xae\x84\x18\xfb\x01\x00\x00=\x05\x00\x00\r\x00\x00\x00xl/styles.xml\xbdT\xdf\x8b\x9c0\x10~\xef_\x11\xf2~\xe7*\xf4h\x8bz\xf4\n\x0b\x85\xb6\x14n\x0b}\x8d\x1a5\x90\x1f\x92\x8c\x8b\xde_\xdfI\xe2\xaa\x0bw,\xdcC_\xcc\xcc\xe4\x9bof\xbe\xc4\xe4\x8f\x93\x92\xe4\xcc\xad\x13F\x174\xbd?P\xc2um\x1a\xa1\xbb\x82\xfe9\x1d\xef>Q\xe2\x80\xe9\x86I\xa3yAg\xee\xe8c\xf9!w0K\xfe\xdcs\x0e\x04\x19\xb4+h\x0f0|I\x12W\xf7\\1wo\x06\xaeq\xa75V1@\xd7v\x89\x1b,g\x8d\xf3IJ&\xd9\xe1\xf0\x90(&4-\xf3\xd6hp\xa46\xa3\x86\x82fK\xa0\xcc\xdd\x0b93\x89m\xa54)\xf3\xdaHc\t =\xf6\x11"\x9a)\x1e\x11\xdf\x98\x14\x95\x15>\xd82%\xe4\x1c\xc3\x99\x0f\x84\x8e\x16\x9c\x12\xdaX\x1fLb\x85\xf8\xad\x92\xffQ+,\x0e\x93\x84\x94\xd7\xc3b\xa0\xcc\x07\x06\xc0\xad>\xa2C\x16\xfb4\x0fX^\xa3\xf0\x91&\xe0n\xa0;\xcb\xe64\xfb\xb8K\x08\x0b\xd6\xad\x8cm\xf0\xa0\xf7\x95c\xa8\xcc%o\x01\x13\xac\xe8z\xbf\x82\x19\x12\xbf\t`\x14\x1a\x8d`\x9d\xd1Lz\xcaK\xc6>\x93\x84\xcbPP\xe8\xc3aF\xed\xd8\x08f\x91.\xf1\xa0\x85\xfd&6\xa0B\x0b7\xa1\x88\xb9ty\x13\x1ba\xaf\xcf\xb2\x18(Q\xcd\xa5|\xf6L\x7f\xdbU\xa7\x14\xf9\xa6\x96\xe8Q\x1d\x15|o\n\x8a\xbf\x88?\xc9\x8b\x89\xe2.f\xa4\x89\x8e\xe7\xdf\xb3E\xee\x1dm\xf6.Z2\xb5+\xff[\xd9\xe9\x1b\xd9\xe9\x96M\xd80\xc8\xf9h\xe2|\xd1{\n\xc0\xcd\xff*E\xa7\x15\xbfH\xc0..\xe9\x8d\x15/\x98\xea\xefx\x8d\x01n\xa9\x7fA@\xd4>\x82\x87\x12\x86\x9f\xdaE\x81u\xf8 \xc5\x95\xack\x94\xf8\xbf\xab\xa0\xbf\xfcc!wmV\xa3\x90 \xf4+\x92"g3mj\x86]`\x15\xbeIWU\x90\xa3\xe1-\x1b%\x9c\xd6\xcd\x82n\xf6O\xde\x88Q}^Q\xbf\xc5\xd9\xc0\x82\xda\xec\x1f\xfeN\xa6\x0f\xa1\x83\xed\xe1+\xff\x01PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00?\x00\x18\xfaFT\xb0\x05\x00\x00R\x1b\x00\x00\x13\x00\x00\x00xl/theme/theme1.xml\xedYM\x8f\xdbD\x18\xbe\xf3+F\xbe\xb7\x8e\x13;\xcd\xae\x9a\xad6\xd9\xa4\x85\xed\xb6\xab\xdd\xb4\xa8\xc7\x89=\xb1\xa7\x19{\xac\x99\xc9nsC\xed\x11\t\tQ\x10\x17$n\x1c\x10P\xa9\x95\xb8\x94_\xb3P\x04E\xea_\xe0\xf5G\x92\xf1f\xb2\xcd\xb6\x8b\x00\xb59$\x9e\xf1\xf3~\x7f\xf8\x1d\xe7\xea\xb5\x071CGDH\xca\x93\xb6\xe5\\\xaeY\x88$>\x0fh\x12\xb6\xad;\x83\xfe\xa5\x96\x85\xa4\xc2I\x80\x19OH\xdb\x9a\x12i]\xdb\xfa\xe0*\xdeT\x11\x89\t\x02\xf2Dn\xe2\xb6\x15)\x95n\xda\xb6\xf4a\x1b\xcb\xcb<%\t\xdc\x1bq\x11c\x05K\x11\xda\x81\xc0\xc7\xc06fv\xbdVk\xda1\xa6\x89\x85\x12\x1c\x03\xd7\xdb\xa3\x11\xf5\t\x1ad,\xad\xad\x19\xf3\x1e\x83\xafD\xc9l\xc3g\xe2\xd0\xcf%\xea\x1496\x18;\xd9\x8f\x9c\xca.\x13\xe8\x08\xb3\xb6\x05r\x02~< \x0f\x94\x85\x18\x96\nn\xb4\xadZ\xfe\xb1\xec\xad\xab\xf6\x9c\x88\xa9\x15\xb4\x1a]?\xff\x94t%A0\xae\xe7t"\x1c\xce\t\x9d\xbe\xbbqeg\xce\xbf^\xf0_\xc6\xf5z\xbdn\xcf\x99\xf3\xcb\x01\xd8\xf7\xc1Rg\t\xeb\xf6[Ng\xc6S\x03\x15\x97\xcb\xbc\xbb5\xaf\xe6V\xf1\x1a\xff\xc6\x12~\xa3\xd3\xe9x\x1b\x15|c\x81w\x97\xf0\xadZ\xd3\xdd\xaeW\xf0\xee\x02\xef-\xeb\xdf\xd9\xeev\x9b\x15\xbc\xb7\xc07\x97\xf0\xfd+\x1bM\xb7\x8a\xcfA\x11\xa3\xc9x\t\x9d\xc5s\x1e\x999d\xc4\xd9\r#\xbc\x05\xf0\xd6,\x01\x16([\xcb\xae\x82>Q\xabr-\xc6\xf7\xb9\xe8\x03 \x0f.V4Aj\x9a\x92\x11\xf6\x01\xd7\xc5\xf1PP\x9c\t\xc0\x9b\x04kw\x8a-_.me\xb2\x90\xf4\x05MU\xdb\xfa(\xc5P\x11\x0b\xc8\xab\xe7?\xbcz\xfe\x14\xbdz\xfe\xe4\xe4\xe1\xb3\x93\x87?\x9f<zt\xf2\xf0\'\x03\xe1\r\x9c\x84:\xe1\xcb\xef>\xff\xeb\x9bO\xd0\x9fO\xbf}\xf9\xf8K3^\xea\xf8\xdf~\xfc\xf4\xd7_\xbe0\x03\x95\x0e|\xf1\xd5\x93\xdf\x9f=y\xf1\xf5g\x7f|\xff\xd8\x00\xdf\x16x\xa8\xc3\x074&\x12\xdd"\xc7\xe8\x80\xc7`\x9bA\x00\x19\x8a\xf3Q\x0c"L+\x148\x02\xa4\x01\xd8SQ\x05xk\x8a\x99\t\xd7!U\xe7\xdd\x15\xd0\x00L\xc0\xeb\x93\xfb\x15]\x0f#1Q\xd4\x00\xdc\x8d\xe2\np\x8fs\xd6\xe1\xc2h\xcen&K7g\x92\x84f\xe1b\xa2\xe3\x0e0>2\xc9\xee\x9e\nmo\x92B&S\x13\xcbnD*j\xee3\x886\x0eIB\x14\xca\xee\xf11!\x06\xb2{\x94V\xfc\xbaG}\xc1%\x1f)t\x8f\xa2\x0e\xa6F\x97\x0c\xe8P\x99\x89n\xd0\x18\xe225)\x08\xa1\xae\xf8f\xef.\xeapfb\xbfC\x8e\xaaH(\x08\xccL,\t\xab\xb8\xf1:\x9e(\x1c\x1b5\xc61\xd3\x917\xb1\x8aLJ\x1eN\x85_q\xb8T\x10\xe9\x900\x8ez\x01\x91\xd2Ds[L+\xea\xeeb\xe8D\xc6\xb0\xef\xb1i\\E\nE\xc7&\xe4M\xcc\xb9\x8e\xdc\xe1\xe3n\x84\xe3\xd4\xa83M"\x1d\xfb\xa1\x1cC\x8ab\xb4\xcf\x95Q\t^\xad\x90l\rq\xc0\xc9\xcap\xdf\xa5D\x9d\xaf\xac\xef\xd002\'Hvg"\xca\xae]\xe9\xbf1M\xcej\xc6\x8cB7~\xdf\x8cg\xf0mx4\x99J\xe2t\x0b^\x85\xfb\x1f6\xde\x1d<I\xf6\t\xe4\xfa\xfb\xbe\xfb\xbe\xef\xbe\x8b}wU-\xaf\xdbm\x17\r\xd6\xd6\xe7\xe2\x9c_\xbcrH\x1eQ\xc6\x0e\xd5\x94\x91\x9b2o\xcd\x12\x94\x0e\xfa\xb0\x99/r\xa2\xf9L\x9eFpY\x8a\xab\xe0B\x81\xf3k$\xb8\xfa\x98\xaa\xe80\xc2)\x88qr\t\xa1,Y\x87\x12\xa5\\\xc2I\xc0Z\xc9;?NR0>\xdf\xf3fg@@c\xb5\xc7\x83b\xbb\xa1\x9f\r\xe7l\xf2U(uA\x8d\x8c\xc1\xba\xc2\x1aW\xdeN\x98S\x00\xd7\x94\xe6xfi\xde\x99\xd2l\xcd\x9bP\r\x08g\x07\x7f\xa7Y/DC\xc6`F\x82\xcc\xef\x05\x83YX.<D2\xc2\x01)c\xe4\x18\rq\x1ak\xba\xad\xf5z\xafi\xd26\x1ao\'m\x9d \xe9\xe2\xdc\x15\xe2\xbc\x0b\x88Rm)J\xf6r9\xb2\xa4\xbaB\xc7\xa0\x95W\xf7,\xe4\xe3\xb4m\x8d`\x92\x82\xcb8\x05~2k@\x98\x85I\xdb\xf2Ui\xcak\x8b\xf9\xb4\xc1\xe6\xb4tj+\r\xae\x88H\x85T;XF\x05U~k\xf6\xea$Y\xe8_\xf7\xdc\xcc\x0f\x17c\x80\xa1\x1b\xad\xa7E\xa3\xe5\xfc\x8bZ\xd8\xa7CKF#\xe2\xab\x15;\x8bey\x8fO\x14\x11\x87Qp\x8c\x86l"\x0e0\xe8\xed\x16\xd9\x15P\t\xcf\x8c\xfal!\xa0B\xdd2\xf1\xaa\x95_V\xc1\xe9W4eu`\x96F\xb8\xecI--\xf6\x05<\xbf\x9e\xeb\x90\xaf4\xf5\xec\x15\xba\xbf\xa1)\x8d\x0b4\xc5{wM\xc92\x17\xc6\xd6F\x90\x1f\xa8`\x0c\x10\x18e9\xda\xb6\xb8P\x11\x87.\x94F\xd4\xef\x0b\x18\x1crY\xa0\x17\x82\xb2\xc8TB,{\xdf\x9c\xe9J\x8e\x16}\xab\xe0Q4\xb90R\x074D\x82B\xa7S\x91 d_\x95v\xbe\x86\x99S\xd7\x9f\xaf3Fe\x9f\x99\xab+\xd3\xe2wH\x8e\x08\x1bd\xd5\xdb\xcc\xec\xb7P4\xeb&\xa5#r\xdc\xe9\xa0\xd9\xa6\xea\x1a\x86\xfd\xff\xf0\xe4\xe3\xae\x98|\xce\x1e\x0f\x16\x82\xdc\xf3\xcc"\xae\xd6\xf4\xb5G\xc1\xc6\xdb\xa9p\xceGm\xddlq\xdd[\xfbQ\x9b\xc2\xe1\x03e_\xd0\xb8\xa9\xf0\xd9b\xbe\x1d\xf0\x03\x88>\x9aO\x94\x08\x12\xf1R\xab,\xbf\xf9\xe6\x10tni\xc6e\xac\xfe\xd91j\x11\x82\xd6\x8ax_\xe4\xf0\xa99\xbb\xb1\xc2\xd9g\x8b{sg{\x06_{g\xbb\xda^.Q[;\xc8\xe4\xab\xa5?\x9e\xf8\xf0>\xc8\xde\x81\x83\xd2\x84)Y\xbcMz\x00G\xcd\xee\xec/\x03\xe0c/H\xb7\xfe\x06PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00?\x009<\xa9\x07%\x01\x00\x00P\x02\x00\x00\x11\x00\x00\x00docProps/core.xml\x9d\x92\xcdj\xc30\x10\x84\xef}\n\xa3\xbb-\xd9\tm\x10\xb6\x03m\xc9\xa9\x81B]Zz\x13\xd2&\x11\xb5~\x90\xd4:~\xfb*\x8e\xe3$\x90S\x8f\xab\x99\xfdvvQ\xb9\xdc\xab6\xf9\x05\xe7\xa5\xd1\x15\xca3\x82\x12\xd0\xdc\x08\xa9\xb7\x15zoV\xe9\x02%>0-Xk4T\xa8\x07\x8f\x96\xf5]\xc9-\xe5\xc6\xc1\xab3\x16\\\x90\xe0\x93\x08\xd2\x9er[\xa1]\x08\x96b\xec\xf9\x0e\x14\xf3Yt\xe8(n\x8cS,\xc4\xd2m\xb1e\xfc\x9bm\x01\x17\x84\xdcc\x05\x81\t\x16\x18>\x00S;\x11\xd1\x88\x14|B\xda\x1f\xd7\x0e\x00\xc11\xb4\xa0@\x07\x8f\xf3,\xc7go\x00\xa7\xfc\xcd\x86A\xb9p*\x19z\x0b7\xad\'qr\xef\xbd\x9c\x8c]\xd7e\xddl\xb0\xc6\xfc9\xfe\\\xbf\xbc\r\xab\xa6R\x1fN\xc5\x01\xd5\xa5\xe0\x94;`\xc1\xb8\xba\xc4\x97E<\\\xcb|X\xc7\x13o$\x88\xc7>\xea7\xde\xc6E\x8e} \x92\x18\x80\x1e\xe3\x9e\x94\x8f\xd9\xd3s\xb3BuA\n\x92\xe6$%\xf3&\'t\xfe@\x8b\xc5\xd7a\xe4U\xff\x19\xa8\xc6!\xff&\x9e\x00\xc7\xdc\xd7\x9f\xa0\xfe\x03PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00?\x00^\xba\xa7\xd3w\x01\x00\x00\x10\x03\x00\x00\x10\x00\x00\x00docProps/app.xml\x9d\x92\xc1N\xeb0\x10E\xf7|E\xe4=uR!\xf4T9F\xa8\x80X\xf0D\xa5\x16X\x1bg\xd2X8\xb6\xe5\x19\xa2\x96\xaf\xc7I\xd5\x90\x02+\xb2\xba3su}2\xb6\xb8\xda\xb56\xeb \xa2\xf1\xaed\xc5,g\x198\xed+\xe3\xb6%{\xda\xdc\x9d\xffc\x19\x92r\x95\xb2\xdeA\xc9\xf6\x80\xecJ\x9e\x89U\xf4\x01"\x19\xc0,%8,YC\x14\x16\x9c\xa3n\xa0U8Kc\x97&\xb5\x8f\xad\xa2T\xc6-\xf7um4\xdcx\xfd\xde\x82#>\xcf\xf3K\x0e;\x02WAu\x1e\xc6@vH\\t\xf4\xd7\xd0\xca\xeb\x9e\x0f\x9f7\xfb\x90\xf2\xa4\xb8\x0e\xc1\x1a\xad(\xfd\xa4\xfcot\xf4\xe8k\xcanw\x1a\xac\xe0\xd3\xa1HAk\xd0\xef\xd1\xd0^\xe6\x82OK\xb1\xd6\xca\xc22\x05\xcbZY\x04\xc1\xbf\x1a\xe2\x1eT\xbf\xb3\x952\x11\xa5\xe8h\xd1\x81&\x1f34\x1fiks\x96\xbd*\x84\x1e\xa7d\x9d\x8aF9b\x07\xdb\xa1\x18\xb4\rHQ\xbe\xf8\xf8\x86\r\x00\xa1\xe0cs\x90S\xefT\x9b\x0bY\x0c\x86$N\x8d|\x04I\xfa\x14qc\xc8\x02>\xd6+\x15\xe9\x17\xe2bJ<0\xb0\t\xe3\xba\xe7+~\xf0\x1dO\xfa\x96\xbd\xf4mP.-\x90\x8f\xea\xc1\xb87|\n\x1b\x7f\xa3\x08\x8e\xeb<m\x8au\xa3"T\xe9\x06\xc6u\x8f\rq\x9f\xb8\xa2\xed\xfd\xcbF\xb9-TG\xcf\xcfA\x7f\xf9\xcf\x87\x07.\x8b\xf9,O\xdfp\xe7\xc7\x9e\xe0_oY~\x02PK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00?\x00a]I:O\x01\x00\x00\x8f\x04\x00\x00\x13\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\x00\x00\x00\x00[Content_Types].xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00?\x00\xf2\x9fI\xda\xe9\x00\x00\x00K\x02\x00\x00\x0b\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\x80\x01\x00\x00_rels/.relsPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00?\x00Du[\xf0\xe8\x00\x00\x00\xb9\x02\x00\x00\x1a\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\x92\x02\x00\x00xl/_rels/workbook.xml.relsPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00?\x00\x82\xdb\xf1\xba\x9a\x01\x00\x00\xef\x03\x00\x00\x18\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\xb2\x03\x00\x00xl/worksheets/sheet1.xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00?\x00\x83\x18j%H\x01\x00\x00&\x02\x00\x00\x0f\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\x82\x05\x00\x00xl/workbook.xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00?\x00{\x1e\x89~\xa2\x00\x00\x00\x05\x01\x00\x00\x14\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\xf7\x06\x00\x00xl/sharedStrings.xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00?\x00i\xae\x84\x18\xfb\x01\x00\x00=\x05\x00\x00\r\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\xcb\x07\x00\x00xl/styles.xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00?\x00\x18\xfaFT\xb0\x05\x00\x00R\x1b\x00\x00\x13\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\xf1\t\x00\x00xl/theme/theme1.xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00?\x009<\xa9\x07%\x01\x00\x00P\x02\x00\x00\x11\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81\xd2\x0f\x00\x00docProps/core.xmlPK\x01\x02\x14\x03\x14\x00\x00\x00\x08\x00\x00\x00?\x00^\xba\xa7\xd3w\x01\x00\x00\x10\x03\x00\x00\x10\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x80\x81&\x11\x00\x00docProps/app.xmlPK\x05\x06\x00\x00\x00\x00\n\x00\n\x00\x80\x02\x00\x00\xcb\x12\x00\x00\x00\x00'

### Excel writer engines
Pandas chooses an Excel writer via two methods:

1. the engine keyword argument

2. the filename extension (via the default specified in config options)

By default, pandas uses the XlsxWriter for .xlsx, openpyxl for .xlsm, and xlwt for .xls files. If you have multiple engines installed, you can set the default engine through setting the config options io.excel.xlsx.writer and io.excel.xls.writer. pandas will fall back on openpyxl for .xlsx files if Xlsxwriter is not available.

To specify which writer you want to use, you can pass an engine keyword argument to to_excel and to ExcelWriter. The built-in engines are:

1. openpyxl: version 2.4 or higher is required

2. xlsxwriter

3. xlwt

In [82]:
# By setting the 'engine' in the DataFrame 'to_excel()' methods.
df.to_excel('path_to_file1.xlsx', sheet_name='Sheet1', engine='xlsxwriter')

# By setting the 'engine' in the ExcelWriter constructor.
writer = pd.ExcelWriter('path_to_file2.xlsx', engine='xlsxwriter')

# Or via pandas configuration.
from pandas import options  # noqa: E402
options.io.excel.xlsx.writer = 'xlsxwriter'

df.to_excel('path_to_file3.xlsx', sheet_name='Sheet1')

### OpenDocument Spreadsheets
New in version 0.25.

The read_excel() method can also read OpenDocument spreadsheets using the odfpy module. The semantics and features for reading OpenDocument spreadsheets match what can be done for Excel files using engine='odf'.

In [83]:
# Returns a DataFrame
pd.read_excel('YogeshSkill.ods', engine='odf')

ImportError: Missing optional dependency 'odf'.  Use pip or conda to install odf.

### Pickling
All pandas objects are equipped with to_pickle methods which use Python’s cPickle module to save data structures to disk using the pickle format.

In [85]:
df

     a  b
a c  1  5
  d  2  6
b c  3  7
  d  4  8

In [86]:
df.to_pickle('foo.pkl')

The read_pickle function in the pandas namespace can be used to load any pickled pandas object (or any other pickled object) from file:

In [87]:
pd.read_pickle('foo.pkl')

     a  b
a c  1  5
  d  2  6
b c  3  7
  d  4  8

### Compressed pickle files
read_pickle(), DataFrame.to_pickle() and Series.to_pickle() can read and write compressed pickle files. The compression types of gzip, bz2, xz are supported for reading and writing. The zip file format only supports reading and must contain only one data file to be read.

The compression type can be an explicit parameter or be inferred from the file extension. If ‘infer’, then use gzip, bz2, zip, or xz if filename ends in '.gz', '.bz2', '.zip', or '.xz', respectively.

The compression parameter can also be a dict in order to pass options to the compression protocol. It must have a 'method' key set to the name of the compression protocol, which must be one of {'zip', 'gzip', 'bz2'}. All other key-value pairs are passed to the underlying compression library.

In [89]:
import numpy as np
df = pd.DataFrame({
     'A': np.random.randn(1000),
     'B': 'foo',
     'C': pd.date_range('20130101', periods=1000, freq='s')})

In [90]:
df

            A    B                   C
0    2.151627  foo 2013-01-01 00:00:00
1    0.265708  foo 2013-01-01 00:00:01
2    1.030201  foo 2013-01-01 00:00:02
3   -0.962003  foo 2013-01-01 00:00:03
4    2.142858  foo 2013-01-01 00:00:04
..        ...  ...                 ...
995  0.687253  foo 2013-01-01 00:16:35
996  0.069915  foo 2013-01-01 00:16:36
997  0.159356  foo 2013-01-01 00:16:37
998  1.962698  foo 2013-01-01 00:16:38
999  0.665901  foo 2013-01-01 00:16:39

[1000 rows x 3 columns]

Using an explicit compression type:

In [91]:
df.to_pickle("data.pkl.compress", compression="gzip")

In [92]:
rt = pd.read_pickle("data.pkl.compress", compression="gzip")
rt

            A    B                   C
0    2.151627  foo 2013-01-01 00:00:00
1    0.265708  foo 2013-01-01 00:00:01
2    1.030201  foo 2013-01-01 00:00:02
3   -0.962003  foo 2013-01-01 00:00:03
4    2.142858  foo 2013-01-01 00:00:04
..        ...  ...                 ...
995  0.687253  foo 2013-01-01 00:16:35
996  0.069915  foo 2013-01-01 00:16:36
997  0.159356  foo 2013-01-01 00:16:37
998  1.962698  foo 2013-01-01 00:16:38
999  0.665901  foo 2013-01-01 00:16:39

[1000 rows x 3 columns]

Inferring compression type from the extension:

In [93]:
df.to_pickle("data1.pkl.xz", compression="infer")

In [94]:
rt = pd.read_pickle("data1.pkl.xz", compression="infer")
rt

            A    B                   C
0    2.151627  foo 2013-01-01 00:00:00
1    0.265708  foo 2013-01-01 00:00:01
2    1.030201  foo 2013-01-01 00:00:02
3   -0.962003  foo 2013-01-01 00:00:03
4    2.142858  foo 2013-01-01 00:00:04
..        ...  ...                 ...
995  0.687253  foo 2013-01-01 00:16:35
996  0.069915  foo 2013-01-01 00:16:36
997  0.159356  foo 2013-01-01 00:16:37
998  1.962698  foo 2013-01-01 00:16:38
999  0.665901  foo 2013-01-01 00:16:39

[1000 rows x 3 columns]

The default is to ‘infer’:

In [96]:
df.to_pickle("data3.pkl.gz")

In [97]:
rt = pd.read_pickle("data.pkl.gz")

In [98]:
rt

            A    B                   C
0    2.151627  foo 2013-01-01 00:00:00
1    0.265708  foo 2013-01-01 00:00:01
2    1.030201  foo 2013-01-01 00:00:02
3   -0.962003  foo 2013-01-01 00:00:03
4    2.142858  foo 2013-01-01 00:00:04
..        ...  ...                 ...
995  0.687253  foo 2013-01-01 00:16:35
996  0.069915  foo 2013-01-01 00:16:36
997  0.159356  foo 2013-01-01 00:16:37
998  1.962698  foo 2013-01-01 00:16:38
999  0.665901  foo 2013-01-01 00:16:39

[1000 rows x 3 columns]

In [99]:
df["A"].to_pickle("s1.pkl.bz2")

rt = pd.read_pickle("s1.pkl.bz2")
rt

0      2.151627
1      0.265708
2      1.030201
3     -0.962003
4      2.142858
         ...
995    0.687253
996    0.069915
997    0.159356
998    1.962698
999    0.665901
Name: A, Length: 1000, dtype: float64

Passing options to the compression protocol in order to speed up compression:

In [100]:
df.to_pickle("data.pkl.gz",compression={"method": "gzip", 'compresslevel': 1})

### Parquet
Apache Parquet provides a partitioned binary columnar serialization for data frames. It is designed to make reading and writing data frames efficient, and to make sharing data across data analysis languages easy. Parquet can use a variety of compression techniques to shrink the file size as much as possible while still maintaining good read performance.

Parquet is designed to faithfully serialize and de-serialize DataFrame s, supporting all of the pandas dtypes, including extension dtypes such as datetime with tz.

Several caveats.

1. Duplicate column names and non-string columns names are not supported.

2. The pyarrow engine always writes the index to the output, but fastparquet only writes non-default indexes. This extra column can cause problems for non-Pandas consumers that are not expecting it. You can force including or omitting indexes with the index argument, regardless of the underlying engine.

3. Index level names, if specified, must be strings.

4. In the pyarrow engine, categorical dtypes for non-string types can be serialized to parquet, but will de-serialize as their primitive dtype.

5. The pyarrow engine preserves the ordered flag of categorical dtypes with string types. fastparquet does not preserve the ordered flag.

6. Non supported types include Interval and actual Python object types. These will raise a helpful error message on an attempt at serialization. Period type is supported with pyarrow >= 0.16.0.

7. The pyarrow engine preserves extension data types such as the nullable integer and string data type (requiring pyarrow >= 0.16.0, and requiring the extension type to implement the needed protocols, see the extension types documentation).

You can specify an engine to direct the serialization. This can be one of pyarrow, or fastparquet, or auto. If the engine is NOT specified, then the pd.options.io.parquet.engine option is checked; if this is also auto, then pyarrow is tried, and falling back to fastparquet.

In [101]:
df = pd.DataFrame({'a': list('abc'),
'b': list(range(1, 4)),
'c': np.arange(3, 6).astype('u1'),
'd': np.arange(4.0, 7.0, dtype='float64'),
 'e': [True, False, True],
'f': pd.date_range('20130101', periods=3),
 'g': pd.date_range('20130101', periods=3, tz='US/Eastern'),
 'h': pd.Categorical(list('abc')),
 'i': pd.Categorical(list('abc'), ordered=True)})

df

   a  b  c    d      e          f                         g  h  i
0  a  1  3  4.0   True 2013-01-01 2013-01-01 00:00:00-05:00  a  a
1  b  2  4  5.0  False 2013-01-02 2013-01-02 00:00:00-05:00  b  b
2  c  3  5  6.0   True 2013-01-03 2013-01-03 00:00:00-05:00  c  c

In [102]:
df.dtypes

a                        object
b                         int64
c                         uint8
d                       float64
e                          bool
f                datetime64[ns]
g    datetime64[ns, US/Eastern]
h                      category
i                      category
dtype: object

Write to a parquet file.

In [25]:
df.to_parquet('example_pa.parquet', engine='pyarrow')

In [26]:
 df.to_parquet('example_fp.parquet', engine='fastparquet')

ImportError: Missing optional dependency 'fastparquet'. fastparquet is required for parquet support. Use pip or conda to install fastparquet.

Read from paraquet files

In [27]:
#result = pd.read_parquet('example_fp.parquet', engine='fastparquet')

result = pd.read_parquet('example_pa.parquet', engine='pyarrow')

In [28]:
result

   index         A         B
9      9  0.820387  1.965107

In [29]:
#result = pd.read_parquet('example_fp.parquet',engine='fastparquet', columns=['a', 'b'])


result = pd.read_parquet('example_pa.parquet',engine='pyarrow', columns=['A'])
result

          A
9  0.820387

### Handling indexes
Serializing a DataFrame to parquet may include the implicit index as one or more columns in the output file. Thus, this code:

In [30]:
df = pd.DataFrame({'a': [1, 2], 'b': [3, 4]})

In [31]:
df.to_parquet('test.parquet', engine='pyarrow')

creates a parquet file with three columns if you use pyarrow for serialization: a, b, and __index_level_0__. If you’re using fastparquet, the index may or may not be written to the file.

This unexpected extra column causes some databases like Amazon Redshift to reject the file, because that column doesn’t exist in the target table.

If you want to omit a dataframe’s indexes when writing, pass index=False to to_parquet()

In [32]:
df.to_parquet('test.parquet', index=False)

This creates a parquet file with just the two expected columns, a and b. If your DataFrame has a custom index, you won’t get it back when you load this file into a DataFrame.

Passing index=True will always write the index, even if that’s not the underlying engine’s default behavior.

### Partitioning Parquet files

Parquet supports partitioning of data based on the values of one or more columns

In [33]:
df = pd.DataFrame({'a': [0, 0, 1, 1], 'b': [0, 1, 0, 1]})
df.to_parquet(path='test', engine='pyarrow', partition_cols=['a'], compression=None)

The path specifies the parent directory to which data will be saved. The partition_cols are the column names by which the dataset will be partitioned. Columns are partitioned in the order they are given. The partition splits are determined by the unique values in the partition columns. The above example creates a partitioned dataset that may look like:

### SQL queries
The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Python’s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.

If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

In the following example, we use the SQlite SQL database engine. You can use a temporary SQLite database where data are stored in “memory”.

To connect with SQLAlchemy you use the create_engine() function to create an engine object from database URI. You only need to create the engine once per database you are connecting to. For more information on create_engine() and the URI formatting, see the examples below and the SQLAlchemy documentation

In [109]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String),
)
meta.create_all(engine)

2020-10-04 17:09:05,090 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-04 17:09:05,095 INFO sqlalchemy.engine.base.Engine ()
2020-10-04 17:09:05,100 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-04 17:09:05,102 INFO sqlalchemy.engine.base.Engine ()
2020-10-04 17:09:05,103 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("students")
2020-10-04 17:09:05,105 INFO sqlalchemy.engine.base.Engine ()
2020-10-04 17:09:05,108 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("students")
2020-10-04 17:09:05,109 INFO sqlalchemy.engine.base.Engine ()
2020-10-04 17:09:05,112 INFO sqlalchemy.engine.base.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	lastname VARCHAR,
	PRIMARY KEY (id)
)


2020-10-04 17:09:05,113 INFO sqlalchemy.engine.base.Engine ()
2020-10-04 17:09:05,310 INFO sqlalchemy.engine.base.Engine COMMIT

In [119]:
engine.execute(students.insert(), id = 2,name='Neil', lastname='Patil')

In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///college.db')

If you want to manage your own connections you can pass one of those instead:

In [2]:
with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table('students', conn)

In [3]:
data.to_dict()

{'id': {0: 1, 1: 2},
 'name': {0: 'Joe', 1: 'Neil'},
 'lastname': {0: 'Dokyel', 1: 'Patil'}}

In [4]:
data = {'id': {0: 1, 1: 2,2: 3, 3: 4},
 'name': {0: 'Joe', 1: 'Neil',2: 'Shivani', 3: 'Anisha'},
 'lastname': {0: 'Dokyel', 1: 'Patil', 2: 'Thote', 3:'Malode'}}

In [5]:
df = pd.DataFrame(data)

In [6]:
df.to_sql('students1', engine)

ValueError: Table 'students1' already exists.

In [7]:
with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table('students1', conn)
data

   index  id     name lastname
0      0   1      Joe   Dokyel
1      1   2     Neil    Patil
2      2   3  Shivani    Thote
3      3   4   Anisha   Malode

With some databases, writing large DataFrames can result in errors due to packet size limitations being exceeded. This can be avoided by setting the chunksize parameter when calling to_sql. For example, the following writes data to the database in batches of 1000 rows at a time:

In [8]:
data.to_sql('data_chunked', engine, chunksize=1000)

ValueError: Table 'data_chunked' already exists.

### SQL data types
to_sql() will try to map your data to an appropriate SQL data type based on the dtype of the data. When you have columns of dtype object, pandas will try to infer the data type.

You can always override the default type by specifying the desired SQL type of any of the columns by using the dtype argument. This argument needs a dictionary mapping column names to SQLAlchemy types (or strings for the sqlite3 fallback mode). For example, specifying to use the sqlalchemy String type instead of the default Text type for string columns:

In [9]:
from sqlalchemy.types import String

data.to_sql('data_chunked1', engine, dtype={'id': String})

ValueError: Table 'data_chunked1' already exists.

In [10]:
with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table('data_chunked1', conn)
data

   index id  name lastname
0      0  1   Joe   Dokyel
1      1  2  Neil    Patil

In [11]:
data.dtypes

index        int64
id          object
name        object
lastname    object
dtype: object

### Reading tables
read_sql_table() will read a database table given the table name and optionally a subset of columns to read.

In [12]:
pd.read_sql_table('students', engine)

   id  name lastname
0   1   Joe   Dokyel
1   2  Neil    Patil

You can also specify the name of the column as the DataFrame index, and specify a subset of columns to be read.

In [13]:
pd.read_sql_table('students1', engine, index_col='id')

    index     name lastname
id
1       0      Joe   Dokyel
2       1     Neil    Patil
3       2  Shivani    Thote
4       3   Anisha   Malode

In [14]:
pd.read_sql_table('students1', engine, columns=['name', 'lastname'])

      name lastname
0      Joe   Dokyel
1     Neil    Patil
2  Shivani    Thote
3   Anisha   Malode

And you can explicitly force columns to be parsed as dates:

In [15]:
pd.read_sql_table('data', engine, parse_dates=['Date'])

ValueError: Table data not found

If needed you can explicitly specify a format string, or a dict of arguments to pass to pandas.to_datetime():

In [16]:
pd.read_sql_table('data', engine, parse_dates={'Date': '%Y-%m-%d'})
pd.read_sql_table('data', engine,
                  parse_dates={'Date': {'format': '%Y-%m-%d %H:%M:%S'}})

ValueError: Table data not found

### Schema support
Reading from and writing to different schema’s is supported through the schema keyword in the read_sql_table() and to_sql() functions. Note however that this depends on the database flavor (sqlite does not have schema’s). For example:

In [17]:
df.to_sql('table', engine, schema='other_schema')
pd.read_sql_table('table', engine, schema='other_schema')

OperationalError: (sqlite3.OperationalError) unknown database "other_schema"
[SQL: PRAGMA "other_schema".table_info("table")]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Querying
You can query using raw SQL in the read_sql_query() function. In this case you must use the SQL variant appropriate for your database. When using SQLAlchemy, you can also pass SQLAlchemy Expression language constructs, which are database-agnostic.

In [18]:
pd.read_sql_query('SELECT name FROM students1', engine)

      name
0      Joe
1     Neil
2  Shivani
3   Anisha

Of course, you can specify a more “complex” query.

In [19]:
pd.read_sql_query("SELECT id, lastname, name FROM students1 WHERE id = 3;", engine)

   id lastname     name
0   3    Thote  Shivani

The read_sql_query() function supports a chunksize argument. Specifying this will return an iterator through chunks of the query result:

In [20]:
import numpy as np

df = pd.DataFrame(np.random.randn(10000, 3), columns=list('abc'))

df.to_sql('data_chunks12', engine, index=False)

ValueError: Table 'data_chunks12' already exists.

In [21]:
for chunk in pd.read_sql_query("SELECT a,b FROM data_chunks12",engine, chunksize=5):
    print(chunk)

          a         b
0  1.479802  0.511694
1 -0.603120 -2.008996
2 -0.813296 -0.887445
3  0.303541  1.617831
4  0.013148 -0.755966
          a         b
0  0.382787 -0.738448
1  0.947061  0.793769
2  0.819198  1.116289
3  0.471923  2.219430
4 -0.962776 -0.660186
          a         b
0  0.366337  0.373434
1  1.360757 -1.742226
2  0.646167 -0.255861
3 -1.053092  0.853891
4 -0.027610  0.212869
          a         b
0  1.177836 -1.011720
1 -0.688156  1.015956
2 -0.197374 -1.476123
3  0.379466 -1.456559
4 -0.606220  0.350567
          a         b
0 -1.079126  0.516957
1  0.615991 -0.771132
2  1.799427  0.688310
3  1.851116 -0.242281
4  1.740910  0.302239
          a         b
0  0.210322  0.976930
1 -1.851216 -0.032316
2 -1.074166  1.017361
3  0.253592 -0.433328
4 -2.454167 -0.119859
          a         b
0  0.583269 -2.478384
1  0.466448 -0.852863
2 -2.154026  1.153535
3 -0.606343  0.355393
4 -0.792061  1.449646
          a         b
0 -0.178658 -1.435800
1 -0.541158 -0.642798
2  0.494979 -0.698376
3 -0.357876 -0.611598
4  0.089446 -0.899402
          a         b
0 -0.630861  1.078777
1  0.211822 -0.540829
2 -1.524075 -0.195027
3 -1.100678  0.774072
4  1.297921  0.431224
          a         b
0 -1.257736  0.273003
1  0.717357 -0.752422
2 -0.485580  1.239106
3 -0.745776  1.771233
4  2.886630 -0.419843
          a         b
0 -0.193376 -1.045983
1  0.127163  1.351025
2  0.382356 -0.418645
3  0.302368  0.712781
4 -0.254229 -1.054032
          a         b
0  0.579654  0.642285
1 -0.706165  0.122221
2 -1.655324  1.610356
3 -0.833807  0.107066
4  0.295993  0.665202
          a         b
0  1.382257 -0.104996
1  1.669118 -0.917008
2  0.010639 -0.542567
3  0.488275 -0.478187
4 -1.113941  0.872441
          a         b
0  0.741901 -0.214795
1  0.892049 -0.759888
2  0.517249  0.477686
3  1.647694 -0.950392
4  0.165050 -0.182583
          a         b
0  0.953727  0.420503
1  1.880040  0.389823
2  0.447378 -1.030445
3 -0.794294 -1.237287
4 -0.498221  0.579243
          a         b
0 -0.373419  1.781564
1  0.841474  1.075551
2 -1.015186  0.812914
3  1.973078 -0.110083
4  1.089883  0.223993
          a         b
0 -0.724178 -0.507382
1  1.148229  0.117893
2 -0.606558 -1.648749
3  0.828834 -0.501743
4 -0.138048 -1.157594
          a         b
0 -0.137090  2.332081
1 -0.993939 -1.103879
2 -2.491039  1.915610
3 -0.752503 -1.458294
4 -0.465499 -0.960645
          a         b
0 -0.532619  0.032727
1 -0.544517 -0.989859
2 -1.152573 -0.126043
3  0.335159 -0.092824
4  0.163148 -1.002295
          a         b
0 -0.890127  1.504620
1  1.186966  0.059935
2 -0.683505 -0.798676
3  1.944416 -0.423631
4 -1.159111 -0.552871
          a         b
0 -0.487969  0.192004
1  0.891211 -0.908679
2 -1.279802  1.279400
3 -1.537811 -0.400215
4  0.528714 -0.436822
          a         b
0 -1.605569  0.569965
1  0.675002 -1.525628
2 -0.856864 -0.924773
3 -1.182598  1.480690
4  0.378401 -0.205363
          a         b
0 -1.206159 -0.535306
1 -0.420779 -0.312088
2  1.079782 -2.145832
3 -0.600772  0.165954
4 -0.756981 -0.411081
          a         b
0 -0.900427 -1.131621
1  0.316087 -0.864529
2 -0.980360 -0.438281
3 -0.452770  0.919057
4 -3.231515 -0.384051
          a         b
0 -1.050157 -0.596266
1 -1.555438 -2.125158
2 -1.062069 -2.095490
3 -0.717265  0.976004
4 -0.633662  1.829275
          a         b
0 -0.871180  0.597450
1 -0.344868 -0.255204
2 -0.198758 -0.331380
3  0.516822  0.555009
4  0.536505 -1.056635
          a         b
0 -0.435119 -0.196822
1  0.614506 -1.884824
2  0.517615  2.594245
3  1.197095 -0.127645
4  0.519625  0.919199
          a         b
0 -1.329879  0.129777
1  1.372687  0.860621
2 -0.347683 -0.908864
3  1.440643 -0.351448
4 -1.389968  1.317875
          a         b
0  0.419606  0.253806
1 -0.907844 -0.291962
2 -0.376782 -0.220845
3 -0.930668 -1.445874
4 -0.070621  1.495416
          a         b
0 -0.396650 -1.520262
1 -1.812715 -2.618712
2 -2.075556  1.016028
3 -0.572416 -2.530739
4 -0.262103 -1.443419
          a         b
0 -1.085431 -0.102632
1 -0.663991 -0.459611
2 -0.598988 -0.041542
3 -1.430020 -1.107083
4 -0.644136 -1.872031
          a         b
0 -2.065340 -0.755358
1 -0.727583  0.834405
2 -2.185608 -0.347228
3  0.296651  0.301143
4  1.539142  2.085937
          a         b
0 -1.234094 -0.869065
1 -0.225878  1.851287
2  0.909203 -1.348031
3  0.371751 -0.145831
4 -1.109972 -0.371046
          a         b
0 -0.528447 -0.361322
1  0.758384 -1.034543
2  1.618478  0.322236
3  0.299353  1.216273
4  1.892464  0.581737
          a         b
0 -0.184964  3.238926
1 -1.664591 -0.518850
2 -0.522193  0.203537
3 -0.782649 -0.119200
4  0.755992  0.232411
          a         b
0 -1.148940  0.884421
1  0.658701 -2.702579
2 -0.453846 -0.761509
3  0.827633  0.952971
4  0.282755  2.304043
          a         b
0 -0.608064 -0.658684
1  1.277316  0.478716
2  1.387181 -0.811679
3  0.432909  1.033380
4 -1.628762 -0.151409
          a         b
0 -0.356898 -0.339042
1 -0.451763  0.168359
2  0.123284  0.467844
3 -1.177920 -0.893041
4 -0.366449  0.109852
          a         b
0 -2.090821 -1.321484
1  0.925909  1.274038
2  0.048511 -0.779159
3  0.084934  1.464491
4 -2.351617 -0.479924
          a         b
0 -2.256293  0.790016
1 -0.399308  0.172848
2 -0.323347  1.142473
3  1.257608  0.336320
4 -1.091615  0.968668
          a         b
0 -0.291888 -0.331617
1  0.129420  0.118744
2 -0.824940  1.828826
3  0.209154  1.534733
4  0.015013 -0.411828
          a         b
0  0.044118 -0.833238
1 -1.464351 -0.385301
2 -0.941408 -1.047190
3  0.303679  0.111610
4 -1.614062  1.878536
          a         b
0 -1.914462 -1.883927
1  0.433101 -0.287485
2  0.135572 -1.288584
3  0.453397 -0.235079
4  0.730058  0.146116
          a         b
0 -1.063969 -0.770536
1 -0.195044 -0.163990
2 -1.200616 -0.283391
3 -0.236283  0.562617
4 -0.446997 -1.100070
          a         b
0  0.423396 -1.126501
1  0.850327 -1.636035
2  0.257897 -0.283357
3 -0.892459  0.023489
4 -0.142328  0.330296
          a         b
0  0.877638 -0.957222
1 -0.907596 -0.742878
2 -0.043363 -1.658983
3 -2.028108  0.198095
4  0.323443 -0.244957
          a         b
0  1.383732  0.124974
1  2.689956 -0.310882
2  1.554677  1.286397
3 -0.355001  0.485715
4  1.187733 -0.712571
          a         b
0 -0.357606  0.695360
1 -0.075014  1.382609
2 -2.019033 -0.403326
3 -0.604863 -1.380090
4  0.614523 -0.423793
          a         b
0  1.573937  0.779835
1  1.497341 -0.188894
2 -0.507002 -0.398939
3 -0.418737 -0.856837
4 -0.563299  0.424320
          a         b
0  0.330516  2.346103
1  1.568833 -2.113357
2 -0.468183 -0.362303
3  0.649412 -1.291720
4  0.917410 -0.728271
          a         b
0 -2.297613 -0.666842
1 -1.958192 -0.630327
2 -0.134968 -1.694998
3  0.459109  1.033916
4  1.957046 -1.155965
          a         b
0  0.385587 -0.732009
1 -0.559143 -1.924857
2 -1.700490  0.211091
3 -0.310070 -0.177222
4  0.657560  0.036249
          a         b
0 -1.097393 -1.255485
1  0.330918  0.432151
2  1.239380  0.529023
3  1.387280 -0.924662
4  0.033455 -1.076050
          a         b
0 -1.450306  0.287822
1 -0.683370  2.203407
2  0.902869  1.387338
3  1.382537 -0.519846
4 -0.238644  0.715436
          a         b
0 -0.701210 -0.483514
1 -0.379584  0.577630
2  0.018094  0.239924
3 -0.312220  1.413742
4 -1.953804  0.500688
          a         b
0  0.175572  0.837737
1  0.407645  1.065674
2 -1.963738 -0.555074
3 -0.081515 -0.541643
4 -1.940927 -1.601346
          a         b
0 -1.832868 -1.255729
1  0.281564  0.223429
2  0.713765  0.146597
3  0.418532  1.362297
4 -0.698201  1.241230
          a         b
0 -1.759522  1.541255
1  0.852385  0.021425
2  0.197188 -0.365936
3 -2.451315  1.447971
4  0.316094  0.734418
          a         b
0 -0.052960  0.444520
1 -2.182834 -1.722776
2 -0.282881 -1.159804
3 -0.238181 -1.398028
4 -1.206040 -0.509878
          a         b
0  0.210485 -0.250343
1 -1.273892  0.440409
2 -0.478195 -0.194302
3 -0.790022 -0.465993
4 -0.946306 -1.588296
          a         b
0 -1.247589 -1.559056
1 -0.728080 -1.172326
2  1.429316  2.700003
3  1.577589  0.520064
4  0.717703  1.335109
          a         b
0 -0.293653  0.217747
1 -0.796307  0.556470
2 -0.408066  0.442464
3 -0.013005  0.776345
4  0.541683 -1.347207
          a         b
0 -1.589159  1.224390
1 -0.425125 -0.581742
2 -0.147783 -1.587283
3  0.389990 -1.672301
4  1.826234 -1.871125
          a         b
0  0.524980 -1.228660
1  0.679812  0.098698
2  0.852981 -0.697841
3  0.381927 -0.262940
4 -0.636805  0.497048
          a         b
0 -0.232741 -0.071934
1  1.361911  1.074176
2 -0.459203  1.007557
3 -0.387905 -1.200367
4  2.080769 -0.587033
          a         b
0  0.525783  0.367093
1 -0.435926  1.628916
2  0.729521 -0.471753
3  1.521573 -0.198129
4 -1.868925 -0.687994
          a         b
0  0.496126  1.236923
1 -0.992369 -1.207961
2 -0.536972 -0.706988
3  0.450702  1.709485
4 -1.136491  0.495523
          a         b
0  0.545237 -1.799243
1  1.012554  0.289919
2  0.443228  1.253582
3  0.058857  1.422697
4  0.489358  2.599389
          a         b
0  1.036857 -0.486470
1 -0.675892  0.396399
2 -0.727975 -0.891232
3  1.386480  2.389238
4 -1.308584 -0.035615
          a         b
0 -0.162534  0.183963
1  0.730250  0.085905
2 -0.463740  0.873999
3  0.423698  1.273433
4 -0.016116  1.574464
          a         b
0  0.797738  0.493852
1 -1.032960  1.516328
2 -1.290223  0.870038
3  0.897195 -0.121840
4 -1.262606 -0.331512
          a         b
0 -0.613417 -0.163769
1 -0.969057  0.448217
2  0.974174 -0.882021
3  0.173462 -0.216135
4 -0.413269 -0.335641

          a         b
0 -0.418952  0.936348
1 -0.914517  2.358646
2  1.562968 -1.499442
3 -0.287120 -0.123618
4 -1.213268  0.187770
          a         b
0 -1.067718 -0.209212
1  1.295800  0.813450
2 -1.261399 -0.622762
3 -0.728446  0.079523
4  2.399143  0.793975
          a         b
0 -1.743626  0.123791
1 -0.089975  0.701327
2 -0.407611 -0.225784
3 -0.384514  0.811758
4  1.054538  1.416367
          a         b
0  0.840757  1.087753
1  0.374958  0.353414
2  0.863872  1.583524
3 -0.016445  0.375940
4 -0.618220  0.712712
          a         b
0 -1.609754  0.100138
1 -1.823976 -1.650464
2 -0.521509  0.910308
3  2.198158 -0.257024
4 -0.069492  0.640297
          a         b
0 -0.291108  0.414059
1 -0.481150  0.756835
2  0.325644  1.059256
3 -0.186761 -0.407505
4 -0.776344 -0.665824
          a         b
0 -1.198703  0.895123
1  0.871211 -0.396801
2  0.931963  0.886555
3  0.812895  0.153563
4  0.746395 -0.770921
          a         b
0  2.200041 -1.757950
1 -0.425118 -0.059508
2  0.054504 -0.248208
3  1.611049  0.752810
4  0.005478 -0.052172
          a         b
0 -1.284729  0.399150
1  0.493142  0.753280
2 -1.274790  0.718558
3 -0.392005  0.249098
4 -0.108683  1.980889
          a         b
0  0.074927  0.371307
1  0.418183  1.494507
2  0.467068 -0.523524
3 -1.146615 -0.306152
4 -1.696263  0.447316
          a         b
0 -1.069176 -1.112977
1  0.968492  0.812900
2 -1.568477 -0.360565
3 -1.456176  0.106083
4  0.677385  0.890980
          a         b
0  2.490587 -1.430566
1 -0.005335 -0.030386
2 -0.352502  1.339062
3  1.685254  0.810004
4  1.042587 -0.254853
          a         b
0  0.842333 -0.700231
1 -1.288863 -0.207876
2 -0.887826 -0.604475
3 -0.926609  0.640528
4 -0.990590  0.973813
          a         b
0  0.523640  1.698252
1  0.077305 -0.376649
2  1.625354  0.174377
3  0.321278 -0.080846
4 -2.419204  0.620082
          a         b
0 -1.118869  1.210680
1  0.067702  0.403752
2  1.216047 -0.646169
3 -0.101152 -1.416809
4  0.065078 -1.698030
          a         b
0  0.580588  0.060544
1  0.055619  0.458156
2 -0.257133 -2.019698
3 -1.342298  0.066953
4 -1.224626  0.523934
          a         b
0 -1.949287 -2.548161
1  0.156844 -0.714509
2 -0.570572  0.154181
3 -2.058001  1.454941
4 -0.738068 -0.084369
          a         b
0  0.665882 -1.128910
1 -1.524860 -1.761609
2  1.469570  2.068382
3  0.796805 -0.361574
4  0.184822  2.551209
          a         b
0  0.106315 -0.973317
1 -0.484658 -0.179637
2  1.734101  0.316416
3  0.289934 -0.166864
4  0.086501 -2.447952
          a         b
0  0.507194 -0.021312
1 -1.501823 -1.055394
2 -1.193482 -0.340277
3 -0.061513 -0.462396
4 -1.138747 -0.422575
          a         b
0 -2.090304 -0.491345
1 -0.795991 -0.585083
2 -0.718534  0.451170
3  2.166556  0.065905
4 -0.109685 -0.171489
          a         b
0  0.882945  0.570778
1 -1.627423  0.725700
2  1.017889  0.337928
3 -0.727492 -0.834919
4 -0.580453  0.122208
          a         b
0 -0.094665 -0.241156
1 -1.340324 -0.223971
2 -0.920474 -0.464677
3 -1.338353 -1.530076
4  0.275513 -0.656839
          a         b
0 -2.740555  0.744242
1  0.238459 -1.744553
2  0.326746  0.216423
3  2.085200 -1.125271
4 -0.036390  1.855450
          a         b
0  0.449359 -1.590958
1 -1.103571  1.777027
2 -1.087511  1.135923
3  0.287051 -0.806462
4  0.508126 -1.333118
          a         b
0  0.325895  0.803313
1 -0.880050  1.522737
2  0.864427 -0.611596
3  2.380091  0.017013
4 -0.662831  0.320091
          a         b
0 -0.324708  0.769986
1  0.540605  0.674364
2 -0.007340 -0.976352
3 -1.097450  0.332081
4  2.090030 -0.356064
          a         b
0 -0.188325  0.210841
1 -1.016110  0.706341
2 -1.039109  0.867024
3 -0.006299  1.048161
4  0.964266  0.116522
          a         b
0 -1.966610 -2.958251
1 -0.644821  0.944578
2 -1.496548  0.548349
3 -0.018113  1.058176
4 -1.745968  1.928114
          a         b
0 -0.160682  0.841869
1  1.870024 -0.145405
2  0.040568 -0.210040
3 -0.609122  1.555125
4  0.582856  0.982289
          a         b
0  1.455012 -1.897813
1 -0.807676  0.459576
2 -0.145781  1.727506
3 -0.991337  0.759517
4 -0.079870 -0.308930
          a         b
0  0.669069  0.933859
1 -1.011203  0.599588
2  0.457143 -0.028584
3 -0.233889 -0.693059
4  0.648571 -0.469621
          a         b
0  0.142450  0.339577
1 -0.661937  1.484226
2  1.712592 -0.738720
3  0.333260  0.204952
4 -0.438561 -0.486496
          a         b
0  1.559019  0.210956
1  1.167107  0.877501
2  0.278551  1.006284
3 -1.008702  0.912603
4  1.729038 -0.982314
          a         b
0  1.877952 -2.166115
1  0.245939 -2.269236
2 -0.579610  1.097365
3  0.258928  0.653363
4 -1.494161 -2.485992
          a         b
0 -1.629926  1.644605
1  0.168282  0.539829
2 -0.461130  0.940460
3 -0.220534  0.350871
4 -0.292647  3.128960
          a         b
0  0.248840  0.725978
1 -1.091710  0.109861
2  0.383503  1.324088
3  0.334882 -0.152380
4 -0.738297  0.020370
          a         b
0  1.065616 -0.970654
1  0.024246 -0.917540
2 -1.746806 -0.062986
3  1.448747 -1.073551
4  0.259498  0.199196
          a         b
0 -0.132198  2.136288
1  0.029645  0.844545
2 -0.642935  1.001446
3 -0.816600 -0.986972
4 -2.302287 -0.856309
          a         b
0 -0.853483  1.191152
1  0.169650 -0.193075
2 -1.357765  0.096738
3  0.699714 -0.983708
4 -1.429046  0.203974
          a         b
0 -0.200654  0.408105
1 -1.539980 -0.315510
2 -0.077548 -0.367671
3  1.281141  0.590979
4  0.378534 -0.438418
          a         b
0  0.272148  1.126539
1 -0.007170 -1.248302
2  1.130886  0.661402
3 -0.226607 -1.062266
4  0.605508  0.195382
          a         b
0  0.016432 -0.414933
1  0.979797  0.488765
2  0.920849  0.449544
3 -1.511355 -0.544943
4 -0.158480 -0.287341
          a         b
0  0.285776 -0.574374
1  1.812327  0.686891
2 -0.739072 -0.853005
3 -0.065403 -1.762242
4  1.821743 -0.691707
          a         b
0 -1.286862 -2.982320
1 -0.775527 -1.013463
2  1.183793 -0.817347
3  0.110339  0.853052
4 -0.340191 -0.432178
          a         b
0  1.356099 -0.673537
1 -0.199843 -0.254195
2 -1.210475  1.431281
3  1.355818  0.509781
4 -1.137177  3.000204
          a         b
0 -0.193506  0.698087
1  0.909945 -1.289958
2  0.470055 -0.314939
3  0.664616 -0.127670
4 -1.748530  0.660082
          a         b
0  0.213959  1.226032
1 -3.045596 -0.409360
2 -1.986474  0.362837
3 -0.463389  0.220514
4  0.766983 -0.150764
          a         b
0  0.449005 -1.311322
1 -0.017693  1.050367
2 -0.135267  0.628357
3 -0.358139  0.753309
4  0.771940 -0.844033
          a         b
0 -0.402183  0.388403
1  0.590045 -0.981720
2  1.880329  0.703382
3  1.290535  0.060690
4 -0.736914 -0.538128
          a         b
0 -0.799654  0.177344
1 -0.495381 -0.907415
2 -0.443815  0.574539
3  0.326985 -1.246415
4  1.049433 -2.139021
          a         b
0 -1.355093  0.416566
1 -0.610161  1.603994
2  0.924973 -0.230333
3  1.367945 -1.254443
4 -1.553578 -0.600175
          a         b
0 -0.412465 -0.005287
1  0.596496  0.522571
2 -0.127949 -0.512048
3  0.823918 -0.411633
4 -0.854414 -0.909608
          a         b
0 -0.869245  0.481212
1  3.115544  0.536553
2 -1.155508 -1.235321
3  1.007464  1.214712
4  0.207537  0.111055
          a         b
0  0.863418  0.639553
1 -1.677251  1.651900
2 -0.900921  0.334154
3 -1.178801 -0.958221
4  1.019447  0.219934
          a         b
0 -1.551965  1.345003
1 -0.675765 -0.438249
2  0.024388 -0.954396
3  0.189817 -0.610648
4 -0.858616 -1.944878
          a         b
0  1.167344  0.775671
1 -0.796649  1.176366
2  0.247383  0.724476
3 -0.590339 -1.167712
4 -1.045761 -1.831423
          a         b
0 -0.585217  0.348050
1 -1.243916  0.545495
2 -0.969767 -0.885696
3  0.707391 -1.670855
4 -1.440229 -0.639643
          a         b
0 -0.849160  1.395220
1 -0.582578 -0.715435
2 -0.512990 -0.041062
3 -0.044547 -1.306807
4  0.884829 -1.734944
          a         b
0 -0.809680  1.228093
1 -0.017795  2.151561
2 -0.173579 -1.202387
3 -0.797086 -1.346756
4  0.709100 -0.429019
          a         b
0 -1.734511  0.747459
1  0.644604 -0.119178
2 -1.955602  0.780012
3 -0.729089  2.416305
4  0.478186 -0.781012
          a         b
0  1.827737 -0.982438
1  0.492244  0.341669
2 -0.457620  0.070234
3  1.522672 -0.225467
4 -2.217765 -1.359165
          a         b
0 -0.090800 -1.214734
1 -0.097197  0.211635
2 -0.633243  1.111989
3  0.500949  0.381564
4  1.700113  0.542678
          a         b
0  1.960040 -0.828053
1  1.464575 -0.007080
2  0.329193 -1.278522
3 -0.262756  0.751006
4  1.873549 -0.858319
          a         b
0  1.508655  0.544147
1  1.182056  0.102410
2 -1.439188 -1.112113
3  0.129882 -1.624778
4 -0.718002 -0.495543
          a         b
0 -0.943097  1.565988
1  0.282148 -0.233286
2  0.322909  0.260472
3 -0.827589 -0.537037
4  1.348426 -0.401995
          a         b
0  0.411054  0.706926
1  1.862702 -0.713379
2  1.530849  0.293490
3 -2.196628  0.418713
4  0.500223  0.501254
          a         b
0  0.374643  0.870112
1 -0.758146  1.515835
2 -0.238186 -0.388688
3 -0.118961 -0.861284
4  2.349208 -0.943898

          a         b
0  2.314857 -0.725533
1  0.623102 -0.351818
2  0.754171  0.537329
3  0.743274  1.633613
4  0.605208 -1.563428
          a         b
0  0.262628  0.079441
1  0.964660  0.923582
2 -0.176528  0.038547
3 -1.553702 -0.990280
4 -1.286599  1.806593
          a         b
0 -0.768767 -0.483080
1 -0.033163 -0.026837
2 -0.977151  0.495366
3  0.622986 -0.734929
4 -1.783533  1.272458
          a         b
0 -0.731863 -0.369420
1 -0.148463  1.040248
2 -0.514097  0.117567
3 -0.457421  0.599828
4 -0.911927 -1.370104
          a         b
0  0.668750  0.264993
1  1.053054  1.368557
2  1.068271 -0.567714
3 -0.382372 -0.094706
4  0.888937  1.482768
          a         b
0 -0.781346 -0.228398
1  2.026621 -0.127437
2  1.249144  1.960879
3 -1.239979  0.760762
4 -1.353080 -2.287604
          a         b
0 -0.487930 -0.533016
1 -1.702954 -0.155003
2  0.953939 -0.489148
3 -0.901228 -0.236966
4  0.222571  0.394811
          a         b
0  1.157662  0.273145
1 -0.415365 -0.543117
2  1.032122  0.404661
3  0.306403  0.695666
4  1.239944 -0.549504
          a         b
0  0.716221 -1.002679
1 -1.021203  0.645809
2  0.369805  2.267827
3  1.355439 -2.507712
4 -1.335759  0.037805
          a         b
0  0.606896 -0.156617
1 -0.521412  1.909141
2  0.713793 -2.251810
3  0.698720 -2.787754
4  0.404274 -0.270478
          a         b
0  0.824378 -0.558254
1 -0.083867  2.131005
2 -1.227641  0.213993
3 -1.850643 -0.014513
4  1.418497  1.291878
          a         b
0 -0.843261  0.585276
1 -0.078604  0.026811
2  0.054699 -0.289752
3  0.256153  0.031502
4 -1.604877 -0.362019
          a         b
0 -0.141056  0.325879
1 -1.437105 -0.626651
2 -0.210362 -0.152126
3  0.685144  0.262388
4  0.651448 -1.469691
          a         b
0 -1.707352 -0.486229
1 -1.031119 -0.187417
2 -0.799247  1.377163
3  0.140197  0.746313
4 -0.984866 -0.508653
          a         b
0  2.589566 -1.478984
1 -0.256661  0.695010
2  0.717803 -0.018562
3 -0.889989 -0.606437
4  1.848946 -0.083521
          a         b
0  0.465149 -0.241300
1 -0.328126  1.460662
2 -0.908470  0.549010
3 -1.134212  0.274279
4 -1.648268  1.231558
          a         b
0 -1.822950 -1.663924
1  1.196006 -1.560972
2  2.211613 -0.301316
3 -0.336272  0.118769
4  0.316376  0.662200
          a         b
0 -0.297914 -0.558339
1 -0.080809  2.338337
2 -0.147994  1.216838
3  0.790941  0.462460
4  0.637623  0.243500
          a         b
0 -1.250286  1.569702
1  0.603575  2.530720
2  0.784581  0.475208
3 -0.973601  0.710763
4 -0.099862  1.861721
          a         b
0 -1.662281 -0.016924
1  0.726415  0.258969
2  1.737378 -1.549485
3 -0.357547 -1.138701
4  1.107640  0.374781
          a         b
0  1.092219  0.687939
1 -1.198179 -1.065079
2 -1.078493 -1.187284
3  2.100558  0.945840
4 -1.278311  0.597592
          a         b
0 -0.246662  0.088248
1  1.886711 -0.567712
2  0.559916 -0.061671
3 -0.216918  0.786934
4 -0.135817 -0.022551
          a         b
0  0.007795  0.110650
1 -0.671605  2.031922
2 -0.280040  0.069790
3 -0.026994  1.659258
4 -1.246234  0.712488
          a         b
0  0.854845  0.286223
1  0.094741  0.228008
2  1.329496  0.325253
3 -0.245258 -0.743384
4 -0.656890 -0.073149
          a         b
0 -0.323551 -0.005237
1 -1.098445 -0.833514
2  0.515340 -0.538342
3  0.659835  1.649184
4 -0.700497  0.028492
          a         b
0  0.510953  0.067923
1  0.167793 -1.007043
2 -1.151206 -0.368227
3  0.387660  0.334028
4 -2.274566  1.024893
          a         b
0 -0.563698  0.848926
1 -0.527980 -0.091845
2  0.316738 -1.293234
3  0.313556  0.184784
4 -0.088478  0.275142
          a         b
0 -1.435934  0.898404
1 -0.661599  1.314445
2 -1.106028 -0.035237
3 -0.739232 -1.263564
4 -0.179418  1.168667
          a         b
0  0.629497  0.386473
1 -1.106101 -0.263203
2 -0.347232  0.154580
3 -0.034417 -0.691221
4 -0.491281 -0.194803
          a         b
0  1.101333  0.159819
1  0.609370 -1.195739
2 -1.884484 -1.103929
3 -0.000886 -0.867640
4 -1.506097 -2.968719
          a         b
0  0.042798 -0.570124
1  1.942893  1.652197
2 -0.593276 -0.004698
3 -0.360517 -0.074846
4  0.776848 -0.151622
          a         b
0  0.998766 -1.816579
1 -0.401395  1.330298
2  0.417342 -0.302467
3 -0.963481  0.314588
4 -0.052229  0.218107
          a         b
0 -0.866296  0.321069
1 -0.890581  0.073705
2 -2.599494 -1.494317
3 -0.395698 -1.500133
4  1.522446  0.040817
          a         b
0  0.609011 -1.399812
1  0.117313  1.421143
2 -0.378297 -0.141170
3 -0.013255 -0.793565
4 -0.122909 -1.074239
          a         b
0  1.881693  1.099428
1 -0.878617 -1.403748
2  0.435049  2.726737
3  0.215495  1.053866
4  1.442966 -0.307112
          a         b
0  0.066434 -0.617046
1  2.577078  0.707807
2  0.537393  1.764509
3  1.118533  0.104171
4  0.059038 -0.075412
          a         b
0 -0.067589  0.205746
1  1.937559  0.730757
2 -1.946474 -0.238627
3  0.628734  0.800436
4  0.525676  1.052660
          a         b
0  1.041822  1.271871
1  0.096683  1.109869
2 -0.070131 -0.390456
3  1.271528  1.204132
4  0.012209  0.020166
          a         b
0 -0.320602 -0.001439
1  1.783346  0.909751
2 -0.608899  0.653330
3 -0.993330 -0.748397
4  0.022726  0.766166
          a         b
0 -0.938347 -1.238045
1 -0.513019  1.225442
2 -0.613590 -0.842541
3  0.314306 -0.296153
4  0.933291  0.900871
          a         b
0 -0.768714 -1.335757
1 -0.935114  0.015119
2  0.294375 -0.343853
3 -3.433216 -0.158675
4 -2.125833 -0.864056
          a         b
0 -1.840692 -1.632951
1  0.015472 -1.036798
2  1.290830 -1.472106
3  1.031753  0.064747
4 -0.496179  1.040009
          a         b
0  0.196527 -0.040476
1 -0.912336 -0.245801
2  0.899927 -1.233059
3 -0.975182 -0.269300
4 -2.048298 -0.900395
          a         b
0  0.340432  0.300257
1  1.570504  0.903728
2  0.291664 -0.346173
3 -0.376967 -0.395824
4  0.627368 -0.232314
          a         b
0  0.068921 -0.067444
1  0.400314 -1.160335
2  0.026451  0.371925
3 -0.933208  1.525381
4  1.111602 -0.124029
          a         b
0  0.656116 -0.498929
1  0.374930 -0.060386
2 -0.454654  1.732349
3 -0.038770 -0.060450
4  1.265000  0.094648
          a         b
0  0.396599 -0.351829
1 -1.522539 -0.997065
2 -1.233301  0.226329
3  1.958572 -1.089806
4  0.703762 -0.590867
          a         b
0  0.181682 -0.787952
1 -0.155412 -0.245946
2  0.524408  3.007044
3 -0.468280  0.159843
4 -0.886296 -0.196642
          a         b
0 -0.937336  0.279543
1 -1.129541  1.610724
2  0.933175 -0.768077
3  0.345318  0.551905
4  1.908071 -1.216984
          a         b
0  1.691947  1.748666
1  1.117790 -0.759330
2 -0.464064  0.462917
3  0.137025  0.143269
4  0.834540  0.076422
          a         b
0 -0.396610  0.147351
1 -0.288159 -0.518669
2  0.208333 -0.618947
3 -0.105484  0.169556
4  0.492510  0.191288
          a         b
0  0.964015  0.994818
1 -0.331465  0.791225
2  0.832998 -1.208268
3 -1.500261 -1.454328
4  0.048664 -0.321238
          a         b
0 -0.811190 -1.395391
1 -0.617933  0.543741
2  0.526201  0.778842
3 -0.535456 -0.280744
4  0.248339 -0.990156
          a         b
0 -3.348554  1.045031
1 -0.540514  0.340112
2 -0.277928 -0.311035
3  0.295888  0.991193
4  1.963794  0.866664
          a         b
0  0.981238  0.169340
1  0.009998  0.202775
2 -0.326434  1.700739
3  0.061204  0.873089
4  0.869961  0.597265
          a         b
0 -0.608427 -1.463402
1 -1.680961 -0.688318
2 -0.582507 -1.172043
3 -1.440741 -2.207129
4 -0.703784  0.454160
          a         b
0  0.225831 -1.340879
1  1.267474  1.190169
2  2.345036  1.197418
3 -0.655530  0.404787
4  0.835181 -0.553897
          a         b
0  0.291513 -1.583504
1  0.824566  0.713128
2 -0.443944  1.295985
3  1.444774  1.012247
4  0.036174 -1.099240
          a         b
0  1.665699 -0.219922
1  0.412780  0.053055
2 -0.442537 -0.948568
3 -0.820309  1.452346
4 -0.171176 -1.755331
          a         b
0 -1.418704  0.240277
1  0.560170  0.771531
2  0.635835  0.592596
3 -1.540805  1.332634
4  0.279191  0.338659
          a         b
0  1.402562  1.515667
1 -0.505657  0.934366
2  1.553774 -1.491754
3 -1.206578 -3.520023
4 -0.771251 -0.182075
          a         b
0  1.112324 -0.475384
1  0.396072 -0.901044
2  0.602631 -0.615273
3  0.054861 -1.637217
4 -1.103981 -0.945151
          a         b
0 -0.349927  0.365915
1 -0.066394  0.696140
2  0.563221 -1.307932
3 -2.120254 -0.119404
4  1.283453 -0.949348
          a         b
0 -0.236966 -1.331635
1  0.097204  0.052872
2 -0.522409 -0.751108
3  2.405015 -0.241144
4 -0.843092  0.889952
          a         b
0  1.052061 -1.542909
1 -0.511056 -1.809819
2 -1.683446  0.410601
3 -0.861624  0.650938
4 -0.457120  0.413115
          a         b
0 -0.751159 -0.909799
1  0.394688  1.781182
2 -0.389521  0.169610
3 -1.465979 -0.255464
4 -0.786601 -1.083148
          a         b
0  0.933728  0.909049
1 -1.276094  0.089901
2 -0.646378 -1.569126
3  0.057326  1.673383
4 -0.331562  0.493646
          a         b
0 -1.167660  0.836509
1 -1.419616  0.636430
2  0.953334  1.404483
3  2.177591 -0.538505
4  0.864332 -0.400011
          a         b
0 -0.500628  1.231985
1 -1.768750 -0.130348
2 -1.019748 -0.314041
3 -0.239573  0.340194
4  0.468661  1.410670
          a         b
0 -1.122294 -0.666664
1  1.137826  1.744499
2  0.662182 -0.162030
3 -0.950188 -1.089438
4 -0.072436 -0.772589
          a         b
0  1.105409 -0.357836
1  0.073665  0.337536
2 -1.485038  1.324430
3 -0.166823 -0.895812
4  0.485320  0.293194
          a         b
0 -0.458146  0.212482
1 -0.497099 -0.322712
2 -0.049172  2.562471
3  0.357035  1.632639
4 -1.005732 -1.305272
          a         b
0  0.386695 -0.315910
1  0.357396 -0.394376
2 -1.726889  0.137794
3 -0.161773  0.617142
4 -0.816600 -0.669284
          a         b
0 -0.158859 -1.772823
1  0.228838 -0.206486
2 -0.333665 -2.955594
3  0.276845  0.604035
4  0.237937  1.460560
          a         b
0  0.568559  0.788836
1  1.326296  0.081821
2  0.216428  0.955275
3 -0.682552 -0.173130
4  0.264731  0.369564
          a         b
0 -1.875461  0.916694
1 -0.459055  0.141710
2 -1.853961 -0.273243
3 -0.545986 -0.082161
4  1.691409  1.211532
          a         b
0 -0.825511 -0.151915
1  0.353731 -1.890862
2  0.542519  0.255574
3  0.070910  0.646521
4 -1.110233  1.784851

          a         b
0 -0.388662  1.677577
1  0.270895 -1.041084
2  2.179349  0.751468
3  0.474691  0.562320
4 -2.275922  1.629366
          a         b
0  0.321555  1.345342
1 -1.226276 -0.216670
2 -0.333008  0.071807
3  0.391769 -1.944620
4 -1.351956  1.244451
          a         b
0  0.463841  1.184366
1  0.468488  1.881087
2  0.390408  1.359808
3  0.796170  0.557941
4 -0.147513 -0.120999
          a         b
0 -0.194009 -1.093349
1  1.254669 -0.812386
2  0.551778  0.728624
3 -2.146890  0.525168
4  0.192529 -0.642609
          a         b
0 -0.525220  2.661324
1  0.642268 -1.220397
2  0.054173 -0.153763
3 -0.422710  0.855629
4  0.095881  0.933693
          a         b
0 -0.468292  0.555773
1 -0.099495 -1.315686
2  0.602614  0.996128
3  0.438882  1.322297
4 -0.762388  1.439544
          a         b
0 -0.187064 -0.084991
1 -1.225413 -0.272595
2  0.881144 -0.752197
3  1.787134  1.020903
4  1.942767  0.316280
          a         b
0 -0.002475  0.391760
1 -1.879576  0.915297
2 -0.349400 -1.081088
3  1.985453  0.429929
4 -0.082465  0.968440
          a         b
0 -0.200768  0.698315
1 -0.566115 -0.305302
2 -0.947053 -0.022837
3  1.385130  0.896508
4  1.157311  0.762315
          a         b
0 -1.437152  0.501280
1 -1.512573  0.588527
2  1.607262  0.065400
3 -0.447905 -0.373713
4 -1.069282  1.063767
          a         b
0 -0.256214 -0.689050
1 -0.573337  0.494462
2 -0.037580 -0.131854
3  1.053926  0.780053
4  0.751652  1.376041
          a         b
0  1.586533 -0.455639
1 -0.989595  1.912193
2  1.809128  0.476678
3  1.417625  1.115076
4 -1.129331 -0.114792
          a         b
0  1.252583  0.180497
1  0.387602  0.541078
2  0.434443 -2.135605
3 -1.006097  0.497305
4 -0.037820  0.105347
          a         b
0 -0.077474 -0.780815
1  0.203746  0.072300
2 -0.385831 -1.856846
3  0.607549  1.654834
4  0.258500 -0.469037
          a         b
0  1.336881 -0.577368
1 -0.075245  1.486245
2 -0.828869  0.742445
3  1.297212 -1.072211
4 -0.924612 -0.260347
          a         b
0 -0.477683  0.600837
1  0.582505  0.357529
2  0.631442  0.555022
3 -0.947394 -1.828990
4 -0.293546 -0.062963
          a         b
0 -0.776102 -0.913241
1 -0.298790  2.051724
2  0.940514  0.576936
3 -1.010113 -1.026877
4 -0.256719  1.605807
          a         b
0  2.208114 -0.598249
1 -2.358484 -0.193850
2  0.293867  1.021003
3 -0.525875  0.218572
4  1.352286 -0.711872
          a         b
0 -1.495095 -0.500576
1 -0.633958 -1.076753
2 -1.228900  0.641103
3  0.024110 -0.074325
4 -0.168913 -0.500616
          a         b
0 -1.311585  0.729340
1  0.500030  0.358272
2  0.121529 -0.143850
3 -0.057176  0.986637
4  0.417635  0.052992
          a         b
0  2.148983 -1.401687
1  0.119400 -0.884671
2 -0.298646  0.063537
3  0.070526 -0.303644
4  0.098182 -0.296912
          a         b
0  0.915765  1.183042
1 -2.030443 -0.271875
2  1.537875 -0.890610
3 -0.343768  0.221691
4 -0.900778 -0.630025
          a         b
0  1.259535 -0.658713
1 -2.160300 -1.378249
2  0.118540 -1.664099
3 -2.596463 -0.212410
4  1.172425 -0.154049
          a         b
0  1.979334  1.986716
1 -1.100158 -1.348307
2  0.499944 -0.460124
3 -0.839132 -0.325741
4 -0.792958 -0.420828
          a         b
0  0.721667 -0.065558
1  2.894598 -0.411564
2  0.071659 -3.020639
3  0.562377  1.124846
4  0.042802 -0.964188
          a         b
0 -0.704193  0.479911
1 -0.646744 -1.575900
2  0.277842 -1.001652
3  1.804565  0.399235
4  0.616013  1.216848
          a         b
0 -0.102123  0.611272
1 -1.314139 -0.377404
2  0.881572  0.717314
3 -0.124285  0.281438
4  0.721695 -1.065709
          a         b
0 -0.647830  1.039687
1  1.444755 -0.037524
2 -0.617046  0.895184
3  2.477992  0.322806
4 -1.975991 -0.047850
          a         b
0  0.205535 -1.339405
1  1.373832 -0.338315
2  0.535331  0.688831
3 -2.362669  2.111438
4  0.794712 -0.433531
          a         b
0  0.054423 -1.244286
1 -1.587569 -0.458410
2 -1.635134  1.435094
3  1.054654  0.687559
4 -0.313684 -2.046928
          a         b
0 -0.551536 -0.197381
1 -0.657514 -0.098362
2 -0.667556 -1.145497
3  2.351515  1.157573
4  0.129455  0.292644
          a         b
0  0.986136 -1.037942
1 -0.905168  0.961464
2 -0.484801  0.341945
3 -0.255416 -0.981059
4 -0.790102 -0.256836
          a         b
0  1.379024 -0.233758
1 -0.129673  0.417449
2 -0.061108 -0.211352
3 -1.629287  0.416085
4  2.223960  0.534482
          a         b
0  0.678268  0.805221
1 -1.876050 -1.352566
2 -2.326206 -0.617749
3 -1.051323  0.003298
4  0.200433  0.528060
          a         b
0 -0.017043 -1.543724
1 -1.769642  0.098231
2  0.933535 -0.326111
3  0.686110  1.069310
4  0.290095 -0.852836
          a         b
0  0.579754 -0.240444
1 -1.219594 -0.342226
2  2.101339  0.358079
3  0.410931  0.892556
4 -3.111627 -1.686563
          a         b
0  0.178814  0.272543
1  0.528808 -0.775995
2 -0.236592  1.488795
3 -0.776733 -0.385400
4 -0.992204  0.132591
          a         b
0  0.329507 -0.078760
1  1.541272 -1.331485
2  0.329149  0.267408
3  0.185483  0.717834
4  0.534541 -0.610157
          a         b
0 -0.485643 -0.627940
1 -1.552883 -2.540962
2 -0.460930 -0.476191
3  1.098103  0.856301
4  0.414610 -0.863376
          a         b
0  1.490485  2.597945
1  1.457728  1.233387
2  0.039768 -0.478716
3 -1.586528 -0.657547
4 -0.724503 -0.639071
          a         b
0  0.669629  1.116705
1 -0.800755 -0.990102
2  0.267648  0.271437
3  0.182729  0.321135
4 -0.139296  0.290481
          a         b
0  1.228053 -0.078542
1 -0.349501  0.578913
2 -1.057772  1.679392
3 -0.578935 -0.700879
4 -0.242911 -0.032107
          a         b
0 -0.209622 -0.314608
1  0.415310  0.198666
2  1.369975 -0.458056
3  0.089764  1.195740
4 -0.713160  0.410353
          a         b
0  0.787815 -1.197176
1 -1.046623 -0.305739
2 -0.521558 -0.948506
3  1.028523 -0.124302
4  0.192550  0.159093
          a         b
0 -0.211814  0.475480
1  0.662842 -1.895008
2  0.248574 -0.395414
3 -2.011105 -0.586761
4  1.143799  1.202621
          a         b
0 -0.234195 -0.527112
1 -0.658400  0.892874
2 -0.570939 -1.563889
3  0.146987  0.001423
4 -0.491460  0.016818
          a         b
0 -0.864142 -0.525492
1 -0.244609  0.057562
2 -0.450924 -0.413338
3 -0.199254  0.148594
4 -2.163405 -1.006412
          a         b
0  0.163907 -0.194922
1  0.487881 -0.359343
2  1.094197 -0.642875
3  1.090725 -0.862752
4 -0.268000  0.815609
          a         b
0  0.863807 -0.989484
1  1.522415 -0.618437
2 -0.644171 -0.346889
3 -1.285143  0.439212
4 -1.823953 -1.418886
          a         b
0 -1.601150 -0.276387
1  1.320057  1.657746
2  0.229045 -1.736273
3 -0.392179 -0.128904
4 -0.193741  1.574645
          a         b
0 -0.159503  0.705390
1  1.271621  0.932725
2 -1.015183  1.487762
3  1.029473  0.135547
4 -0.906449 -0.366058
          a         b
0 -1.483466 -1.519301
1 -0.067271  1.068430
2  0.316813 -0.510987
3 -0.291617  0.308556
4 -1.278104  0.439557
          a         b
0 -0.067849 -0.098119
1  0.803296 -1.145902
2 -0.390566  0.653352
3 -0.877764  0.099425
4 -0.944666  1.252460
          a         b
0 -1.422615 -1.576208
1  0.151421  0.364380
2  0.992386  0.354529
3 -2.844180  0.412212
4  0.804487  2.029022
          a         b
0 -1.546754 -0.846971
1 -0.226310 -0.469078
2 -0.948369  1.288657
3 -0.607675 -1.241064
4 -0.711380 -0.296686
          a         b
0  1.564083 -0.062120
1  0.339421 -0.870331
2 -1.473413  1.151045
3  0.653422  0.169312
4  1.103224 -0.638706
          a         b
0 -0.271856  0.366287
1 -0.082977 -0.182502
2 -0.417400 -0.278410
3  1.509145  0.779819
4  1.952349  1.521988
          a         b
0  0.100275  0.779562
1 -0.296948  1.732436
2  0.393026 -0.571308
3  1.101730 -0.319157
4 -1.113242 -0.294654
          a         b
0  0.695047  0.705495
1  0.086621  0.662448
2 -0.083676 -0.095612
3 -0.800384  1.048496
4  1.000217 -0.474680
          a         b
0  0.319212 -0.077190
1 -0.045451 -0.743891
2  1.158915  0.100647
3  1.108585 -0.466780
4 -0.746006  1.004385
          a         b
0  0.268174  1.642914
1 -0.528529 -1.064784
2  0.697995 -0.168643
3 -2.210779 -0.944325
4  0.118529  2.237961
          a         b
0  0.103565 -1.045133
1 -0.913247  1.192256
2  0.534698 -0.586259
3  0.253203 -0.055328
4 -0.415356  2.982111
          a         b
0  0.614226  2.073136
1 -0.032217  3.315876
2 -0.249849  1.693572
3  0.854259 -1.512945
4  0.403578  1.225192
          a         b
0  3.147635 -0.189974
1 -0.352674  0.245698
2  0.954523 -0.184397
3 -1.838894 -0.102826
4  0.576866 -0.501648
          a         b
0  0.006519 -0.338283
1  0.237290 -1.660212
2 -0.239516  1.610846
3 -0.785734  2.319065
4  1.383471 -0.332792
          a         b
0 -0.302715  1.004747
1  0.441677 -1.002880
2  0.894011  0.671740
3  0.206973 -1.297093
4 -0.257955  0.159029
          a         b
0 -1.196795  0.229811
1 -1.496908 -0.755093
2 -0.836855  3.673587
3  0.667349  0.672198
4  1.722239 -0.794022
          a         b
0  1.877169  0.648291
1 -1.978671  0.589078
2  0.990836  0.319652
3 -1.225569 -0.531656
4 -0.815374 -1.084918
          a         b
0  0.013487  0.052202
1 -0.255264 -1.965385
2  1.593011 -0.657893
3 -0.178832  0.417491
4  0.257691 -1.469721
          a         b
0 -1.431366  0.356052
1  0.034049 -0.362723
2  1.543975  0.230287
3  0.758122  0.281102
4 -0.529184  0.264153
          a         b
0  1.153033 -1.475819
1  0.045289  1.233157
2  1.176627 -0.316791
3 -2.124916 -1.628302
4 -0.618205  0.509908
          a         b
0  0.400295  0.225014
1 -0.516036  0.911858
2 -0.877091  0.133870
3 -1.185823  0.557461
4  0.356220  0.241679
          a         b
0 -0.422788 -0.724757
1 -1.343170 -0.780378
2  0.025471  0.118068
3  0.603633  0.240002
4  0.967784 -1.767469
          a         b
0 -0.764048 -0.980157
1  3.146569 -0.030981
2 -0.458188 -1.532597
3  0.002133  0.479666
4 -0.688500 -0.096365
          a         b
0 -1.095207 -1.151155
1  1.614118  0.169481
2  0.204467 -0.372734
3  1.000299  0.873795
4  0.373217  0.448515
          a         b
0  0.774469  0.646671
1 -0.882516  1.921436
2 -0.143867  1.137430
3 -1.174817 -0.092651
4 -0.990710  0.238535

          a         b
0 -0.673706  0.169424
1  1.110432 -1.359037
2  0.702615 -0.358907
3  0.224399 -0.899704
4  0.304657 -1.140410
          a         b
0 -1.504764 -1.513307
1 -0.632091 -0.868173
2 -0.950691  0.289008
3 -0.704409  0.147403
4  0.711703  1.158156
          a         b
0 -0.075562 -0.920077
1  0.794510  2.431963
2  0.901228 -0.377610
3 -0.935065 -0.548990
4 -0.902371 -0.401161
          a         b
0  0.157382 -0.344762
1 -1.183226  0.986931
2  0.619881  0.433643
3  1.258951  0.344586
4  0.806592  1.350126
          a         b
0 -0.456380  0.349678
1 -0.350279  0.080310
2 -0.138535 -0.040389
3  1.083469 -0.718933
4  0.379177 -0.725984
          a         b
0  0.478513 -2.548604
1  2.177070  1.033683
2  0.036700 -0.310783
3 -0.717165  2.490992
4 -1.074393  0.443026
          a         b
0 -0.876796 -0.998884
1  1.366726 -0.081868
2  1.404465 -0.997863
3  0.747368 -1.062319
4  1.397072 -0.602235
          a         b
0 -0.019690  0.442418
1 -1.571437  0.583240
2 -1.161923  1.224353
3 -0.512004  0.398304
4  0.470142 -0.135884
          a         b
0 -0.560104  1.744064
1  0.375622  0.727645
2  1.065792 -0.579039
3 -0.686315  0.740780
4  0.109717  1.508625
          a         b
0  0.545762 -0.212329
1  0.699545 -0.923000
2 -0.139791  0.363603
3  0.655923  1.180514
4  2.162829 -0.400213
          a         b
0 -0.665672  0.831322
1 -0.713456 -0.411662
2 -0.555537 -1.262559
3 -0.467659  0.021139
4  0.454873  0.349462
          a         b
0 -0.544819  1.810847
1 -1.055903  0.769275
2 -0.075971  1.552841
3 -1.151509  0.275924
4 -0.159926 -0.387696
          a         b
0 -1.430902  2.535679
1  0.040028  0.126530
2  0.147157  0.030629
3  0.745621  1.063750
4 -0.184242 -0.519466
          a         b
0  0.513593  1.077001
1  0.223819  0.797130
2  2.630931  0.634015
3  0.646561  0.713090
4 -0.307841  0.018242
          a         b
0 -0.575227 -1.239741
1 -0.898281  1.523990
2  0.788640  0.668486
3  0.586002  1.295698
4  1.637527  0.378276
          a         b
0 -1.007171  0.057755
1 -1.306599  0.023258
2  0.160189  0.172160
3  0.274788  0.199750
4 -1.092561  0.502048
          a         b
0  1.725672 -0.209346
1 -1.386724 -1.174455
2 -0.536553 -1.598209
3  0.332876  0.102595
4  0.149111 -1.975004
          a         b
0 -0.540966 -0.421819
1 -0.021455 -0.731085
2 -0.203030 -0.728442
3  0.471917 -0.381340
4  0.049361 -1.515248
          a         b
0  0.610235 -0.574061
1 -0.219810 -0.875252
2  1.119488  0.960393
3  0.519096  1.056248
4  0.903602 -1.209012
          a         b
0  0.118550  1.879013
1  0.830272  0.204724
2 -1.762596  0.718238
3  1.421335 -1.518615
4 -0.435009  0.277260
          a         b
0  0.131784  0.672800
1 -0.075053 -1.029172
2 -0.060822 -0.008787
3 -0.193471  0.504800
4 -0.432459  1.670258
          a         b
0 -0.397824  0.012485
1  0.486765 -0.323950
2 -0.787887  0.091988
3 -0.108244  0.117108
4  0.794909 -0.022529
          a         b
0  1.083491  0.419884
1 -0.634547 -1.729243
2  0.521028 -0.979758
3 -1.051909  0.972729
4  0.812746  1.546847
          a         b
0 -0.793241  1.028529
1  0.690178  0.693176
2  1.201721 -0.173648
3 -0.019660 -1.091331
4  0.195414 -0.574837
          a         b
0  0.757625  1.103740
1 -2.061680  0.956640
2  0.339635  1.489104
3 -1.152622 -1.412903
4 -1.490613  1.184779
          a         b
0  0.438314  1.418022
1 -0.449680  0.431876
2 -0.748347  1.069659
3 -1.037249  0.861553
4  2.441545 -1.800724
          a         b
0 -1.512031 -2.080429
1 -0.067427 -0.555362
2 -0.754031 -0.348671
3 -0.746867 -0.673947
4  2.401099 -0.977942
          a         b
0  0.456257 -0.254013
1  0.688437 -0.803726
2 -0.311484  0.163464
3  0.785659 -0.227323
4  1.179589 -0.524384
          a         b
0  1.593545  0.543708
1 -0.301268 -0.915078
2 -1.102045 -1.652799
3  0.015832 -0.575065
4  0.617878 -0.190005
          a         b
0  1.467106 -1.244474
1  0.685072 -0.293556
2  1.657894  1.984552
3  1.353388  0.901266
4  1.259057  1.137812
          a         b
0 -1.179542  0.432514
1  0.456321  0.835596
2 -0.889406  0.313809
3  0.898342 -1.966677
4  1.117901  0.735731
          a         b
0  0.134081  1.478452
1 -1.074069 -0.482434
2  0.495958  0.398468
3 -0.348531  0.207255
4 -0.674244 -1.190629
          a         b
0 -0.758097 -0.150680
1 -0.355768  0.264546
2 -1.137362  1.180603
3 -2.168916  0.299217
4 -0.197621  0.245434
          a         b
0  0.561973  0.253342
1  0.838862 -0.922342
2  0.406632 -0.021995
3  0.387690  0.894541
4 -1.025607 -0.371835
          a         b
0 -0.287469 -0.011250
1 -0.112220  1.762769
2  0.335876  0.836289
3 -0.042499 -0.602588
4 -0.536364 -0.557657
          a         b
0  1.280647  0.446777
1 -0.686364 -0.148447
2  0.107350  0.071371
3  1.477714  0.305074
4 -0.889227 -0.117913
          a         b
0 -0.711181  0.512105
1 -0.274254 -0.398381
2  3.810877  1.077167
3 -0.015956  0.557310
4 -1.440374 -0.692138
          a         b
0 -0.264209  0.292366
1 -2.055085 -0.516041
2  2.150572 -0.313572
3  1.324375 -1.476730
4  0.866863  0.725195
          a         b
0  0.964504  0.366217
1 -0.335482  0.003458
2 -0.583298  0.761098
3 -0.624552 -2.141888
4  2.283394  0.651739
          a         b
0 -0.384450  1.181101
1  0.479284  1.302557
2  0.141399 -1.430593
3 -1.053024 -0.234046
4  0.679876  0.201534
          a         b
0  0.221245 -2.120091
1 -1.014766 -1.058862
2  0.055518 -0.136861
3  0.144536  1.902441
4  0.705175  0.941211
          a         b
0 -0.203150 -1.322545
1  0.231564  0.886513
2 -0.630948 -0.178029
3 -0.152581 -0.259226
4  1.143278 -0.850239
          a         b
0  0.182817 -0.574049
1 -1.088515  0.925778
2 -0.822115 -0.015768
3  2.689321  1.608211
4  0.175676  0.142136
          a         b
0 -1.544823 -0.400266
1 -1.324435 -0.804575
2 -0.113835  0.970197
3  0.151101  1.507488
4  0.127043  0.227673
          a         b
0 -0.356319  1.973438
1  0.348391  0.852898
2  0.435150 -0.218599
3 -0.059977  1.076218
4 -1.501024 -0.672487
          a         b
0 -1.487564  0.648690
1 -1.081140 -0.826530
2  0.579220 -0.074808
3  1.526967 -1.000527
4  0.748347 -0.942977
          a         b
0 -0.313273 -1.257776
1  2.292274  0.464515
2  0.610504  0.529096
3 -0.717971  0.277714
4 -0.172942 -0.604508
          a         b
0 -1.583875 -0.379597
1  1.722998  0.467352
2  0.501098 -0.727357
3 -1.227715  1.769129
4 -1.404894 -1.572549
          a         b
0  0.371118  0.646842
1 -0.393341 -0.366398
2 -1.408824 -0.287900
3  1.621019 -0.242326
4 -1.376757 -0.212800
          a         b
0  1.001545 -0.938226
1  0.033202 -1.323458
2  1.521566  0.083219
3  0.482654 -0.755772
4 -0.933599  0.337164
          a         b
0  0.909977  1.147758
1 -0.291618 -0.156342
2 -1.754590  0.791006
3 -0.722827  0.151329
4 -0.381300  0.658572
          a         b
0  0.188126  0.757446
1 -0.592519 -0.562098
2  1.133573  0.022757
3 -0.653880  0.198306
4  0.452899  2.026679
          a         b
0  0.163456 -0.249640
1 -0.685009 -0.183771
2 -0.088613 -0.078280
3  0.531421  1.282579
4 -0.951436 -1.093249
          a         b
0 -0.881036 -0.573512
1 -0.621775  0.309598
2  3.686167  1.602631
3 -1.860642 -0.019162
4  0.550172 -0.522381
          a         b
0 -0.012074  1.572718
1  0.176088 -1.548335
2 -1.241725 -0.432665
3  0.499889 -0.813904
4 -0.200975 -0.114831
          a         b
0 -1.105617 -1.134675
1  0.990356  0.172195
2 -0.385774 -1.076278
3  1.325684 -0.518527
4 -0.772285 -0.684481
          a         b
0 -0.339656  0.632860
1  1.234577 -0.360754
2 -0.305604 -1.972594
3 -0.758436  2.085134
4  0.554502 -0.412768
          a         b
0  0.431996 -0.657001
1 -1.313347  2.149957
2  0.258605 -1.152668
3  0.850382 -0.702477
4  1.251064  0.388636
          a         b
0 -0.948875 -0.622882
1 -1.074513 -0.238377
2  0.693178 -0.120287
3  1.193726  0.384047
4  1.016260 -1.816599
          a         b
0  0.483189  1.046642
1  1.206336 -0.079849
2 -0.888936 -0.555772
3 -0.065412 -0.574716
4  0.536065 -0.432196
          a         b
0  0.115050 -1.203675
1  0.050147  1.529240
2 -1.221655  0.791547
3 -0.278816 -0.967165
4 -0.611490  0.833530
          a         b
0 -1.158840 -0.117276
1  1.309502 -0.419262
2  0.748831  1.140139
3  0.081274 -1.464429
4  0.063648 -0.963790
          a         b
0 -0.178172  0.081481
1  0.860591 -0.686311
2 -1.712714  1.008626
3  1.963746  0.220015
4 -0.985610  0.483519
          a         b
0 -1.048808  0.534613
1  0.233635  0.848521
2  0.465883 -1.225860
3  1.207587  1.581041
4 -1.718664  1.752900
          a         b
0  0.433447  1.565099
1  0.771958 -0.235581
2 -0.100400 -3.040730
3  1.056658  0.850220
4 -1.129863  0.983447
          a         b
0 -0.414604 -0.675329
1 -0.076933  1.004127
2 -1.385043 -0.143620
3  0.570958  1.321469
4 -0.487387 -0.552038
          a         b
0  0.038774 -0.808885
1  0.046229  0.380180
2 -0.940870  0.424827
3  0.029270  1.889565
4  0.940032  0.469683
          a         b
0 -0.375942  0.938228
1  0.958197  0.375621
2  0.932499 -0.189543
3  2.307059  0.551795
4  0.722616 -0.685726
          a         b
0 -0.046950  0.087029
1  1.844688 -0.865824
2  0.522562 -0.270859
3  1.202489 -1.341343
4  0.038168 -0.146597
          a         b
0 -0.191967  0.137361
1  1.061730 -0.759588
2 -0.318236 -2.563153
3 -0.919243  1.340975
4 -0.359646 -0.324301
          a         b
0  0.107284  0.412519
1  1.272248 -1.779240
2  0.258824 -0.257074
3 -0.885480 -0.403001
4  0.734236 -1.080930
          a         b
0 -0.874132  2.060518
1  0.744925  0.955602
2  0.482345 -0.004873
3  1.560617 -0.218751
4 -1.071012 -0.261448
          a         b
0  0.512692 -1.599422
1  0.135377  0.452579
2  0.034531  1.259036
3 -0.016782  1.631912
4  1.059535 -1.249972
          a         b
0  0.767746 -0.901889
1  0.031503  2.063895
2 -0.069510  0.602566
3 -1.273337  1.546816
4 -1.301992  0.326068
          a         b
0 -0.662769 -0.399840
1  1.077632  1.991762
2 -0.012675 -0.081652
3  2.032198  0.382340
4  0.928182 -1.135750
          a         b
0 -1.137823  0.175859
1 -1.009428  0.847499
2 -0.111791  0.449424
3 -1.054929 -0.347619
4 -0.272057 -0.313176
          a         b
0 -0.088531 -0.989066
1 -0.005154  1.288003
2 -0.633881  1.056601
3  2.592947  0.588873
4  1.575932  0.201353

          a         b
0  1.701380  1.149465
1 -0.706546 -0.592239
2 -0.184608  0.287442
3 -0.143627 -0.285973
4 -1.281740  1.016629
          a         b
0  0.357706 -1.584189
1 -1.016145  1.495131
2 -0.313422  0.939565
3  0.787649 -1.761590
4  0.446242 -0.782533
          a         b
0  1.992960 -1.833138
1  0.903560 -1.594126
2 -1.070427 -0.388435
3  0.661725  1.392655
4  0.588394 -0.249029
          a         b
0  0.211443  1.528608
1  0.281657  0.736950
2  0.118368  0.021801
3  0.202545 -1.719538
4  0.548604 -0.684674
          a         b
0  1.685082 -1.054242
1 -1.779140  0.803780
2 -0.150690 -0.441779
3  0.850082 -0.319646
4  0.750033  1.397674
          a         b
0  0.068481 -0.496270
1 -0.802419  1.182783
2  1.214111 -0.708019
3 -0.203667 -0.401504
4  0.404337 -1.976716
          a         b
0 -0.467753  0.938643
1 -0.986307 -0.508728
2  0.495065 -0.067980
3  1.835363  0.359025
4 -1.023315 -0.611634
          a         b
0  0.620815 -0.795518
1  0.920892 -0.123227
2 -0.862379  0.546083
3 -0.733160 -0.174916
4  0.176855 -0.020434
          a         b
0 -0.126639 -0.556878
1 -0.286460  0.881053
2 -0.797855 -0.476852
3 -0.442350  1.427533
4  0.445046  0.512088
          a         b
0 -0.956692 -0.280000
1  1.396622  2.153091
2  0.522260 -0.594940
3 -0.410525 -0.685528
4 -1.012304 -0.035512
          a         b
0 -0.510967  0.447631
1 -0.464903 -0.550806
2  1.911143 -1.725022
3  0.957597 -0.713044
4  0.590705  0.540293
          a         b
0  1.207728 -0.553407
1  0.514806 -0.775322
2 -2.930203 -1.123694
3 -1.273972 -1.714837
4 -0.672471 -0.640038
          a         b
0  1.514174 -1.310781
1  0.528675 -0.289588
2 -1.552354  1.137166
3  0.511243  1.212916
4  1.553695  0.679664
          a         b
0  0.442476  0.588882
1  0.206804 -0.631998
2 -0.477303  1.887211
3 -0.459682 -2.298423
4  0.414516  0.284830
          a         b
0  1.557647 -1.218651
1 -0.341139 -0.002863
2  1.623670 -0.005906
3 -0.096636  0.894075
4 -1.326964  0.117618
          a         b
0 -0.898676  2.041938
1  0.777656  1.706606
2  1.111348 -0.651125
3  1.275742  1.996746
4  0.589628 -1.723622
          a         b
0 -0.696407  1.892847
1 -1.583608  0.201248
2  1.397104  0.326315
3  0.762898 -0.697700
4  1.654988  1.382755
          a         b
0  1.071962 -0.449642
1 -1.430014 -0.286301
2 -0.573542 -1.388741
3 -0.075689 -0.421437
4 -0.401444 -0.534638
          a         b
0 -0.443432 -0.261241
1  1.523238 -2.146170
2  1.366118 -0.479170
3  2.758972 -0.314106
4  0.217820  1.784284
          a         b
0 -1.272935 -1.412170
1 -0.832937 -0.400712
2  0.517493 -0.187248
3 -0.252841 -0.022405
4  0.773421 -0.456626
          a         b
0 -0.349597  0.934318
1  1.071647 -0.932103
2 -1.372799 -1.154399
3  0.854103  0.470233
4  1.518002 -0.191158
          a         b
0 -0.238330 -1.668916
1  0.873505 -0.474042
2  0.181811 -0.382517
3 -0.503953 -0.142907
4  1.472577 -0.844225
          a         b
0  1.011648  0.226509
1  0.192930 -1.187159
2  1.539140 -0.046402
3  0.489845 -0.914284
4  1.356751 -0.115397
          a         b
0  0.600324  1.344574
1  1.478609  1.413828
2  0.063705  1.723270
3 -0.724762 -0.231868
4  0.752420  0.704311
          a         b
0 -0.313105 -0.225235
1 -1.224894 -0.206352
2 -0.392014 -0.419433
3  0.393780 -0.670078
4 -0.816679  0.302855
          a         b
0  0.654695 -0.641147
1 -1.017278  0.857858
2 -0.485398  0.200717
3  0.463831  0.305630
4  0.048737  0.717810
          a         b
0 -1.065467  0.729554
1  0.836203  0.992299
2  1.047937 -1.868431
3  0.823676 -0.236526
4  1.555905  0.573695
          a         b
0  2.039724  0.330993
1 -0.245809  0.959464
2 -0.340618  0.344447
3 -0.357006 -0.551163
4 -0.080105 -1.166906
          a         b
0 -0.365806 -0.066391
1 -1.305660  0.322345
2  0.144445 -0.297429
3 -0.729303 -2.758214
4  0.671920  1.465768
          a         b
0 -0.927098 -2.320149
1  0.435512  0.011078
2 -0.714125 -0.058274
3 -0.149314  0.941861
4 -0.804307  1.427470
          a         b
0 -0.336162 -0.766232
1  0.886955 -0.181389
2  1.095426  0.258758
3 -0.616448 -1.371657
4  0.523367  0.045602
          a         b
0 -0.082673  0.520166
1  0.224564 -0.407246
2  0.958291  0.166876
3 -0.150851 -0.093265
4 -0.798190 -1.444859
          a         b
0 -1.429560 -1.147627
1  0.401672  1.231826
2  0.493209 -0.517452
3 -0.042399 -0.294294
4  0.318594 -0.034253
          a         b
0  1.863105 -0.940962
1 -0.459590 -1.003547
2 -0.097766  0.908786
3  2.368286 -0.167431
4 -0.819778 -0.794745
          a         b
0  0.656744  0.356541
1  0.318330  0.112107
2  0.587718 -0.451459
3 -1.425364  0.072934
4 -0.657223 -0.631995
          a         b
0 -0.672055  0.512831
1  0.396189 -0.411219
2  0.291172 -1.058732
3 -0.377026  0.782688
4 -0.111355  0.263944
          a         b
0 -1.198259  0.033917
1  0.288660  0.522982
2  1.017428 -0.635877
3 -0.102731  1.928866
4 -1.219638  0.365411
          a         b
0 -0.467659 -0.609379
1  1.195160  1.713940
2  0.783788 -1.150648
3 -1.023604 -0.809370
4  0.257451  0.040389
          a         b
0  0.406429  2.244254
1  1.558185 -1.259645
2 -0.106256 -0.084522
3 -1.159660  0.653686
4  0.779558 -0.680253
          a         b
0 -1.056431  0.675448
1 -0.628058 -0.857231
2 -1.161441 -0.424067
3  0.634625 -1.438450
4 -1.537494 -0.422823
          a         b
0 -0.507817 -1.955386
1 -0.208351 -0.367186
2 -0.850216 -0.690850
3  0.232476 -0.083635
4 -0.357996 -0.145717
          a         b
0 -0.584774 -0.416844
1  1.281028 -0.753672
2 -0.292031 -0.506309
3 -0.674098  0.473400
4  0.359900  0.578577
          a         b
0 -0.352629  0.671098
1  1.834299 -1.859494
2  1.422687 -0.660290
3 -1.287534 -0.312255
4  0.112558  1.429841
          a         b
0 -0.478899  0.361416
1 -0.665545 -0.294146
2 -1.201421  0.507618
3  1.991831  1.572328
4 -2.370634  0.894437
          a         b
0  0.485970 -0.333229
1  1.339829 -0.083963
2  0.623041 -1.286024
3  1.250147  1.221857
4  0.501061 -2.058517
          a         b
0 -0.856359  1.046831
1  0.305880  0.814757
2 -0.070130 -1.296953
3  0.712185 -1.182459
4 -0.502642  0.636990
          a         b
0  0.424084  0.266784
1  0.404099 -1.098932
2 -0.846908 -0.386320
3 -0.733651 -0.878690
4  1.128623  0.191618
          a         b
0 -1.573367  0.484813
1  1.566504  0.232767
2 -1.058764  0.395610
3 -0.550955  1.126708
4 -1.901422 -0.399272
          a         b
0 -2.585619 -0.184862
1  1.356867 -0.937772
2  0.776106  0.368473
3  0.039195  1.147023
4 -0.142282  0.509022
          a         b
0  0.230949  0.963308
1 -1.186319 -1.934916
2  1.969234  1.082934
3 -1.022964  0.931488
4  1.418167  0.736454
          a         b
0  1.159502 -0.940151
1  0.575443 -2.841058
2 -0.428292 -0.031336
3 -0.393987  1.666467
4  0.179844  0.357643
          a         b
0 -0.175614 -1.084605
1  0.079319  1.501862
2 -1.885488 -0.496837
3  0.039250  0.971793
4  0.763191 -0.453984
          a         b
0  0.388654 -1.600553
1  0.972401  0.418775
2 -0.143158  0.638725
3  0.226023  0.785564
4 -0.036000 -1.685124
          a         b
0  0.249364 -1.424515
1 -0.519027  0.128672
2  1.947978 -0.541612
3 -0.660609 -0.739281
4 -1.342247  0.411782
          a         b
0  1.375392  0.710787
1 -1.531004  0.034353
2 -2.234482 -2.268101
3  0.278758 -0.179352
4  0.516547 -1.053598
          a         b
0  0.446005  1.276716
1 -1.410248  0.166303
2  0.522365 -0.444480
3  0.373136 -0.791525
4 -1.412104 -0.496607
          a         b
0 -0.512720 -0.553686
1 -1.270815 -1.030233
2 -1.255381  2.109891
3 -0.653496 -0.474229
4 -1.723348  0.197038
          a         b
0  0.477721  1.813868
1  0.383618  0.878697
2  0.453465 -0.609576
3 -0.098892 -0.339332
4 -0.794224 -0.083473
          a         b
0 -0.086671  1.613942
1 -0.344973  0.126158
2 -0.778616  1.270654
3  1.257232 -1.335334
4  1.980679 -0.209611
          a         b
0 -0.430368 -1.038370
1  2.406668 -0.805590
2 -0.649922 -0.751165
3 -0.043301 -1.357356
4 -0.937628  1.687534
          a         b
0 -0.156347  0.018960
1  0.107231  2.192764
2 -1.116132  1.310306
3 -0.235459  2.023471
4  0.387143 -0.385598
          a         b
0 -0.723901 -0.406492
1  0.235714 -0.355162
2  0.810681  1.463234
3  0.306329  0.248980
4  1.588367 -0.344592
          a         b
0  1.146514 -0.664078
1 -0.116873 -0.204374
2  0.846956  1.551116
3 -0.289762 -1.684622
4 -0.792757 -0.851804
          a         b
0 -0.116972 -0.217639
1 -0.439930 -1.106441
2 -1.002809  0.932631
3 -0.959271 -0.143098
4  2.540913  1.253862
          a         b
0  0.794899 -0.047201
1 -0.904690 -0.140670
2  0.334278  1.058670
3  1.789796  0.683828
4  1.181907 -1.387049
          a         b
0 -0.882528  1.741224
1 -0.167590 -0.901674
2 -0.330684 -0.646273
3  0.782904 -0.306871
4 -0.355660 -3.171225
          a         b
0 -0.173466  0.496535
1  1.588463  0.147919
2  0.028580  1.384264
3  0.492589 -0.159863
4 -0.399031 -0.663458
          a         b
0 -0.393053 -0.470579
1  1.456269  1.540866
2 -1.233011 -1.023935
3 -0.994545 -1.046249
4  1.252342 -0.098994
          a         b
0  0.243621 -0.125818
1  1.140583  0.318070
2 -1.225611 -1.402727
3  1.063032 -0.008639
4 -0.802668  1.373260
          a         b
0 -0.325959  2.113732
1  0.520524  0.752530
2 -1.155555 -0.310735
3 -1.521017 -1.532744
4 -0.316090  1.445086
          a         b
0 -1.637425 -1.197139
1 -0.312817 -0.541069
2  1.253880  0.544663
3 -0.264137  0.954839
4  0.022629  0.984204
          a         b
0 -1.477763 -2.008590
1  0.808573  0.438687
2  1.018374  1.329220
3  0.366010 -0.581096
4 -1.195075  0.293230
          a         b
0 -1.678531 -1.130665
1 -0.754333 -0.847895
2 -1.448605 -0.578363
3 -0.710712 -2.245087
4  1.099433 -2.478621
          a         b
0 -1.304421  0.812425
1 -1.846343  1.231044
2 -2.068825 -0.635540
3 -1.144972  1.095282
4 -1.125489  0.226590
          a         b
0  1.580772  1.823529
1  0.040239 -0.327325
2  0.551745  0.449693
3  3.026603  0.099996
4 -0.160796  1.121072
          a         b
0 -1.922405 -2.061743
1  0.782229  1.461053
2 -0.588745 -0.936074
3 -0.889067  1.867073
4 -0.520030  1.584845
          a         b
0 -0.528824 -2.476055
1 -0.613088  0.757234
2 -0.483068 -0.292070
3 -1.059404 -1.948616
4 -0.218163 -0.147681

          a         b
0  2.127640 -1.054698
1  0.663823 -0.099416
2  0.561294  1.251607
3  1.719744 -0.684717
4 -0.651118 -1.192649
          a         b
0  1.793708 -0.808439
1 -1.002142  2.269564
2  1.700825 -0.485129
3  0.382574  0.289459
4  1.548730  0.869369
          a         b
0  1.039230  0.118250
1 -1.246744  0.917883
2 -0.097202 -0.830602
3  0.403409  0.451737
4 -0.160948  1.351240
          a         b
0  0.953157  0.278362
1 -0.111473  0.786688
2 -1.385534  0.597523
3  2.288466 -0.778120
4  1.256824  1.178359
          a         b
0 -0.467591 -0.394223
1 -1.602274  1.178245
2  1.180508 -0.465624
3  0.849626  0.201483
4 -1.024305 -1.011542
          a         b
0  0.698452 -0.965117
1  2.371626 -0.171578
2 -1.568997 -0.953398
3 -0.631361  0.160230
4  0.912406  0.805461
          a         b
0 -0.942878  0.744750
1  1.158976 -0.595000
2 -0.833467 -0.868114
3  0.467207  0.096307
4  0.717421 -0.661834
          a         b
0 -0.947267  1.357123
1 -1.282707 -0.045916
2  0.350625 -0.641647
3 -1.982348  1.171574
4  0.605246 -1.231045
          a         b
0 -0.209002 -0.983298
1  1.118597 -0.157042
2  1.300316  0.035748
3  0.915509  0.962132
4 -0.496004  1.479453
          a         b
0  0.071255  0.471943
1  0.829970  1.844927
2 -1.137299 -0.315747
3  0.715788  0.019452
4 -0.693435  0.670136
          a         b
0 -0.650366 -0.473594
1  0.977827 -1.391637
2  0.852624 -0.094881
3  0.140428 -1.320526
4 -1.098837  1.122302
          a         b
0  1.812184  0.634605
1  0.714333 -0.486794
2 -2.388883 -1.867196
3  0.963539  0.293823
4  2.180752  1.000816
          a         b
0 -0.627783 -0.235577
1 -0.071401  1.227125
2  1.068552  0.605570
3  1.782221 -0.617833
4 -0.909774 -1.385896
          a         b
0  0.319518 -0.882861
1  0.430681  1.410622
2  1.738087 -0.242744
3 -0.062300 -0.243704
4 -0.017370 -1.739803
          a         b
0 -0.019599 -0.730351
1  0.717898 -1.341444
2 -0.749467  1.939687
3 -0.820416 -1.859349
4 -0.151321 -0.633341
          a         b
0 -0.136429 -1.025758
1 -1.147034 -1.007130
2 -0.335427  0.047027
3 -0.077579  0.111497
4 -0.293181 -1.346318
          a         b
0 -0.218094  0.484046
1  0.629271 -0.577777
2 -0.365188  0.519493
3 -0.523115  0.445747
4  2.171233  0.612515
          a         b
0  0.114884  1.190633
1 -1.270288  0.986141
2  0.592795 -0.878725
3  0.177572 -1.356546
4 -0.044666  1.146232
          a         b
0 -1.952567  0.271554
1 -1.138033 -0.364292
2  1.146504  0.529027
3 -0.112951  0.238533
4  1.034964 -0.306048
          a         b
0  0.715506 -0.434350
1 -0.429515  1.903117
2 -0.978999  0.111913
3 -0.415432 -0.647287
4 -1.562180 -0.721719
          a         b
0  0.897616 -0.297117
1 -1.398453 -0.602263
2  1.676003 -0.231552
3  0.611104 -0.535733
4 -0.051702 -0.473008
          a         b
0  0.654617 -0.690226
1 -0.043771 -0.267588
2 -0.443009  1.222117
3  1.299910  0.565264
4 -2.758132  0.863034
          a         b
0 -0.989768  0.525021
1  0.236376 -0.685017
2  0.630342 -1.521055
3  2.245439  1.227436
4 -0.278992 -0.416428
          a         b
0  0.005266 -0.908227
1 -1.555116 -2.133904
2 -0.660961  0.061943
3  1.635291  0.164034
4  0.619689  0.375942
          a         b
0  0.298487  0.030280
1  1.473400  1.034373
2  2.680806  1.343231
3 -0.967471 -0.642371
4  0.034838  2.697168
          a         b
0 -1.237659  0.561840
1 -0.149929  0.427868
2 -1.804389 -1.512402
3  0.700910  1.769372
4  0.411919 -0.461816
          a         b
0 -0.218132  0.190513
1 -0.023623 -0.715405
2 -1.494118  0.249755
3 -0.409495 -0.477608
4 -0.408445  0.825757
          a         b
0 -2.401715 -1.255984
1  2.522315  0.215985
2  0.021476 -0.119211
3  0.722472  0.279616
4  0.898045 -1.366341
          a         b
0 -0.241408 -0.330531
1 -0.372345 -0.969696
2 -0.277230  0.640063
3 -1.256000  0.519358
4 -1.598888  1.475195
          a         b
0  0.890195 -0.243190
1  0.982362  0.841055
2 -1.526690 -1.356399
3 -1.644082 -0.286886
4  0.076317 -2.219852
          a         b
0  1.449028 -1.697425
1  0.385068 -0.053228
2 -1.561672 -0.472270
3 -0.015773  2.281891
4  0.151331  1.031126
          a         b
0  0.231019  0.276325
1  0.910848  0.916065
2 -1.628000 -0.059244
3 -0.994899 -0.449928
4 -0.078754 -1.367408
          a         b
0  0.605674 -1.489545
1 -0.182362 -2.118493
2 -1.002681 -0.285900
3  0.635664 -1.686946
4  0.865268  0.074754
          a         b
0 -0.843488 -0.267975
1 -0.971479  0.355797
2 -0.076647 -0.171381
3 -0.229057  0.509043
4  1.031840 -0.590873
          a         b
0  0.919816  0.827967
1 -1.007545 -0.626794
2 -0.951166  0.128357
3  0.135217 -0.014403
4  0.485057 -0.030267
          a         b
0  0.287473  0.254860
1  2.073248 -1.091746
2  0.600628  1.107725
3  0.807407  1.412589
4 -1.697693 -1.304140
          a         b
0 -0.310306  0.487272
1 -0.137140  1.081560
2 -0.024520 -0.180411
3 -0.652887 -0.979800
4 -0.847362  0.751450
          a         b
0 -1.041089 -0.184837
1  0.840999  1.545230
2 -2.100071  0.239767
3  0.761632 -0.507224
4 -0.597833  0.652244
          a         b
0 -0.057567 -1.300054
1  0.687167  1.883818
2  0.076786  1.218320
3  1.173041 -0.857955
4  0.518076  1.430309
          a         b
0 -0.146449 -0.687508
1 -0.683329  0.199882
2  1.010489 -0.372403
3 -0.521519 -0.585608
4 -0.353127 -1.643753
          a         b
0  0.122566 -0.268579
1 -1.301864  0.036505
2  0.777097 -1.256688
3  0.125282 -0.857373
4  0.080506  2.046188
          a         b
0  0.063668 -0.624454
1  0.570337 -0.976643
2  0.571477  0.332653
3 -0.064004 -0.153460
4 -0.098567  0.092233
          a         b
0 -0.659828 -0.392246
1  1.786468 -0.710784
2  0.259528  1.507538
3  1.776916  0.834725
4 -0.942037 -0.765555
          a         b
0  1.669516  0.083888
1  1.837698 -2.865945
2 -0.761569 -0.291112
3  0.021713  0.002533
4 -1.568899  0.849344
          a         b
0  0.162559 -0.657060
1  0.452875  2.319982
2  0.350893 -0.450118
3 -0.313542  0.697662
4  0.015875  0.846156
          a         b
0 -1.471781  0.699830
1 -0.463594  1.074926
2  0.043885  0.717680
3  0.060894  1.754279
4  0.619388 -0.889348
          a         b
0  0.090807  0.397945
1  0.713036  0.056442
2  0.020096  0.807379
3 -0.118546  1.211981
4  1.441863  0.849583
          a         b
0 -0.106979 -1.645006
1  0.531025 -1.872300
2 -0.676761  0.491062
3  0.851804 -0.214472
4  0.158296 -0.722667
          a         b
0 -0.437451  1.001050
1 -0.525300 -1.923092
2  0.005752 -1.054256
3 -0.925827  0.752844
4 -0.736375  0.831988
          a         b
0 -0.087450  0.203749
1  0.154090 -1.635202
2  0.243560  0.152920
3 -0.387399 -2.272526
4 -0.618028 -1.489672
          a         b
0 -1.134964 -0.412215
1  0.754349  0.600652
2  0.495904  0.858583
3  1.137075 -0.235895
4  0.259898 -2.378116
          a         b
0 -0.388965  1.384615
1 -0.246820 -0.389524
2  1.007389  0.129200
3 -1.359042  1.435574
4 -0.278569 -0.332098
          a         b
0  1.677125 -1.362474
1 -0.082603 -0.001429
2  2.632379  0.937729
3  0.093797 -0.761921
4  0.883378 -0.602811
          a         b
0 -0.314335  0.161369
1  0.726463 -0.590058
2 -0.435224 -0.818158
3 -0.371121 -0.443809
4  0.325673 -0.360080
          a         b
0  0.997234 -1.613025
1 -0.266746 -0.078356
2 -0.838817 -2.485251
3  0.050239  0.209103
4  0.211018  0.987823
          a         b
0  0.017122 -0.705071
1  0.620137  0.549177
2  0.032786  0.595160
3  0.356460 -1.364295
4  0.175496 -0.623990
          a         b
0 -0.923298 -0.017841
1  1.435416 -1.605419
2  1.446058  0.462268
3 -2.204056 -0.805435
4 -0.351847 -0.208927
          a         b
0  0.362792  0.015031
1  0.046089  0.529142
2 -1.356013 -0.139650
3  2.385814 -0.397736
4  0.910610 -0.809103
          a         b
0  0.816517 -1.321287
1  0.197878 -0.500939
2 -0.616771  2.347795
3 -0.504419  0.557264
4  0.517561 -1.020822
          a         b
0  0.095838 -2.046280
1 -0.125322  0.784295
2  0.408421  0.328722
3 -0.716506 -0.680077
4  0.197524  0.740732
          a         b
0  0.382948  1.087892
1 -0.286201 -0.538013
2 -0.283076  0.229134
3  0.446933 -0.982821
4 -0.235105 -1.047900
          a         b
0  0.679160  0.202569
1 -0.431634 -0.190493
2 -0.470142 -0.012726
3  0.151300 -1.675033
4  1.725495  0.399725
          a         b
0 -0.473692  1.947911
1  0.530758  0.187669
2  0.606899  0.025602
3 -0.638461 -0.542329
4  0.647626 -0.514106
          a         b
0  2.480484  1.262029
1  1.039417  0.383072
2 -2.022781  0.042637
3 -0.202446 -1.381855
4 -0.329896  0.081443
          a         b
0 -0.297117  0.013183
1 -0.807167  0.683330
2 -1.561794  0.964998
3 -0.602866  0.150350
4  0.259255  0.600189
          a         b
0  1.297170  0.484643
1  0.433150 -0.333279
2 -0.114219  0.352478
3  0.364694  0.918037
4 -0.774819  0.266705
          a         b
0  0.749007 -0.883306
1  0.088061 -1.236105
2  0.246455  0.234511
3 -1.359206 -0.019150
4 -0.244673  2.376999
          a         b
0 -0.491564 -0.927144
1  0.776710  0.337781
2  0.645915 -0.226511
3  1.406598 -1.283690
4  0.399447 -0.365828
          a         b
0  0.084549 -0.286165
1  1.636342 -0.875002
2 -1.086077 -0.850145
3 -0.120614 -0.908931
4  0.533391 -0.571702
          a         b
0  0.405483 -0.294350
1 -0.912095  0.943625
2 -1.030430  1.098660
3  1.441884 -0.763504
4 -0.696604  0.239082
          a         b
0 -0.492186 -0.230892
1 -0.623993  1.086161
2  0.070969  0.576888
3  2.112068 -0.178293
4 -0.961812  0.126909
          a         b
0 -2.301637  1.096844
1 -1.364469 -1.096454
2 -1.667933 -0.099815
3  2.279363  0.790788
4 -0.274991 -1.223844

          a         b
0  0.174419 -0.576637
1 -1.154756  0.339544
2 -0.068923  0.476333
3  0.874144  1.167222
4 -1.258425 -0.446941
          a         b
0 -0.830745 -1.473514
1  1.573210 -1.664004
2  1.125666  0.452358
3  0.059418  1.047876
4  0.136260  1.372869
          a         b
0  0.448243 -1.637493
1 -0.148848  0.205685
2 -1.887575  0.656376
3  1.280831  0.081054
4 -3.127239 -0.201540
          a         b
0 -1.716176  0.990881
1  0.265831 -1.121947
2  0.127273  0.243209
3 -0.105169 -2.649767
4  0.699613  0.209703
          a         b
0  0.817696 -0.097588
1  1.515015  2.130728
2 -0.301779  1.013084
3  0.983762  1.794138
4 -1.235433  0.340991
          a         b
0  1.091720 -0.652716
1  0.223850 -0.072235
2 -0.991148  0.278719
3 -0.820992  0.883867
4  0.321335 -2.300850
          a         b
0  1.393327 -0.514920
1 -1.390845  0.936233
2 -0.605204 -0.899877
3  0.288685 -0.628346
4 -0.276777 -0.325989
          a         b
0  0.580850 -0.027410
1  0.066066 -1.657946
2  1.590703 -0.501162
3 -0.237922  0.018842
4 -0.014377  0.731490
          a         b
0 -0.941317  0.355646
1  0.496174  1.116348
2  1.165494 -0.464941
3  0.274744  0.358845
4  0.307254  0.850688
          a         b
0  0.820076 -1.689577
1  1.855345  0.984424
2  0.096972 -0.174216
3  0.923324 -0.225822
4 -0.601367  0.640962
          a         b
0  1.421266 -1.028368
1  0.762630 -0.733639
2  0.870371 -0.292404
3  0.355534 -0.161008
4  0.591373  0.218543
          a         b
0  0.413301  1.403838
1 -0.807677 -1.200641
2  0.457693  0.453720
3  1.031598 -0.863452
4 -0.039882  2.485711
          a         b
0 -2.611211 -1.109921
1  1.134585 -0.141584
2  1.017646 -1.418188
3 -0.509786 -0.195806
4 -2.049320 -1.423233
          a         b
0  0.415664 -0.158483
1  0.563823 -0.336585
2 -1.363205  0.375199
3  0.553265 -2.325166
4  0.581025  1.346371
          a         b
0 -0.115996 -0.624530
1  0.030316 -0.780625
2  0.415608 -0.867138
3 -0.232790 -0.131707
4 -0.901780  0.741083
          a         b
0 -1.885327 -0.075444
1  1.170583 -0.795797
2  0.041226  0.680131
3 -0.157421  1.750058
4  2.187179  2.184642
          a         b
0  0.440636 -1.851907
1  0.911357  0.589847
2  0.136402  1.387673
3 -0.596635  0.537588
4 -0.145958  1.745362
          a         b
0  1.918057 -0.443057
1  0.752349 -0.603358
2  0.566001 -1.363458
3 -1.559714  1.608048
4 -0.861398 -0.623783
          a         b
0 -0.872748  0.104725
1 -1.343983 -0.197171
2 -0.461560 -1.340815
3  0.218726 -0.173992
4  0.499321  0.074512
          a         b
0 -0.861251  1.199960
1  0.747579 -0.256354
2 -1.291031 -2.179087
3  0.545877 -0.286421
4  1.079017  2.051710
          a         b
0  1.125060  0.657396
1 -0.269194 -0.192855
2 -0.046456 -1.009282
3  1.104067  0.296108
4 -1.005708 -1.565659
          a         b
0  0.876960 -0.231505
1 -0.130762  0.279704
2  0.611343 -0.241737
3 -0.194158 -0.070226
4 -0.372643 -1.495630
          a         b
0  0.654075  0.676869
1 -0.492278 -0.956680
2  1.875298 -1.460475
3 -0.788994  0.392097
4  2.695102  0.444132
          a         b
0  0.236342  2.031803
1  0.228133  0.030257
2  2.183292 -0.369377
3 -0.447265  0.392703
4  0.414607 -0.245631
          a         b
0 -1.429181  2.180944
1 -0.968492  0.748127
2 -0.548639  2.250630
3  1.883411  0.391767
4 -0.777648 -1.782208
          a         b
0  0.969639  0.240384
1  0.320955 -0.658641
2  1.458005  0.257166
3  1.285719 -0.447200
4 -0.158299  0.649225
          a         b
0  0.119001  0.789494
1  2.363204  1.288618
2  1.103736  0.478361
3 -0.154841  0.959138
4  0.445581 -0.571341
          a         b
0 -0.360731 -0.295664
1  0.317000 -1.024374
2 -0.464226  0.301933
3  0.032193  0.020921
4  0.062811  0.598820
          a         b
0  1.102040 -0.095277
1  0.955081 -1.582848
2  0.465424 -1.420824
3 -0.571604 -0.344100
4  0.326025 -0.072335
          a         b
0 -0.846647  0.013011
1  1.111447 -0.142541
2 -0.099100  0.175431
3  2.285955  0.204630
4 -0.153469  0.476388
          a         b
0 -0.214666  0.449906
1  1.829756 -1.587502
2  0.387960 -1.339601
3  0.028935 -1.276826
4  0.741018 -1.386122
          a         b
0 -0.562190 -0.043348
1 -1.521490 -1.676749
2 -0.833321 -0.591322
3  1.056181  0.651734
4 -2.047117  0.300313
          a         b
0 -0.801065  0.151392
1 -1.204044  1.582861
2 -1.224114 -1.234575
3 -1.228167 -0.395594
4 -0.298821  0.427924
          a         b
0 -0.258857  0.426704
1 -1.394916 -0.667729
2  1.170671  0.928858
3 -0.421646  0.860043
4 -1.428257  0.600188
          a         b
0  0.743746  2.534730
1 -0.098289 -0.834985
2  1.447888  0.568302
3 -0.522478  0.822621
4  0.962117 -0.087682
          a         b
0  0.109933  0.519737
1  1.812442 -0.389630
2  1.210909  1.460702
3 -1.814776 -1.619990
4 -1.302890  0.348584
          a         b
0  0.357042 -0.353716
1 -0.557889  3.174207
2 -1.184307  0.048655
3  0.994789  1.423810
4  0.645825  0.093981
          a         b
0 -1.509340 -1.304173
1 -1.334662 -1.080584
2 -0.523185  1.106930
3  0.412063 -0.271152
4 -0.214568 -1.720967
          a         b
0  1.917484 -0.189895
1  1.863674 -0.204501
2 -0.960178  0.031544
3  1.055438  1.059999
4  1.917794 -0.581916
          a         b
0 -0.944621  2.167321
1  1.281648 -2.398523
2 -1.385736 -0.889088
3 -0.960684  0.077787
4  0.204148  1.151244
          a         b
0 -0.320935  1.299309
1 -0.585805 -0.778530
2 -0.483300  0.276843
3  1.769204  1.152317
4 -1.445582  1.350579
          a         b
0  2.355841 -0.182636
1 -0.368987  1.062320
2 -1.301301  0.053024
3 -0.018274  3.244239
4 -0.734009  1.470277
          a         b
0 -2.109593  0.311803
1 -0.394290 -0.753583
2  0.052244 -0.503365
3  0.827821  0.185331
4 -0.132998 -1.221790
          a         b
0  1.565497  1.204658
1  0.637137  0.030114
2 -0.230692  0.372912
3  0.867881  0.126965
4 -0.074728  0.287054
          a         b
0 -0.850955 -0.077816
1 -0.964870 -0.294294
2 -0.849579 -0.182013
3 -0.839050 -0.344667
4 -1.941645  1.165321
          a         b
0  0.258900  0.733038
1 -0.658087  0.340118
2 -0.369114  1.553593
3 -0.868009 -0.395543
4 -0.827511  0.853004
          a         b
0  0.534208  0.080119
1  0.353993  0.296800
2  0.923145 -1.436689
3  0.059896  1.429589
4  0.079822  1.003519
          a         b
0  0.098386 -2.220473
1  0.191822  0.252303
2  0.572466  1.217129
3 -1.911924  0.089800
4 -1.782242 -0.835284
          a         b
0  0.111601 -0.232966
1  0.836153 -2.626645
2 -0.734457 -0.467175
3  1.617449  0.953150
4  0.538600 -0.679386
          a         b
0 -0.693596 -1.237040
1 -0.689147 -1.533649
2  0.575674 -0.020054
3  0.053490  0.767560
4 -0.095620 -0.859592
          a         b
0 -0.566962 -0.153258
1 -0.198412 -1.302788
2 -0.912615 -0.552498
3  0.052553 -0.434073
4  0.349442 -1.482445
          a         b
0 -1.424264  1.211370
1 -0.647630  1.016930
2  0.007895 -0.273872
3 -0.790335  0.106767
4  1.401634 -0.073168
          a         b
0  0.055427  1.162042
1  1.558173 -0.629525
2  0.174746  0.640813
3  0.264336  0.470411
4  0.670382  0.560477
          a         b
0  1.134678  0.354437
1  0.338240  1.580394
2 -0.141957  0.558968
3 -0.067211  2.570936
4 -0.322995 -0.427882
          a         b
0  0.770311 -0.560070
1  0.834462  0.341533
2 -0.855940 -0.707067
3  2.149984  0.689110
4  1.458462 -0.337378
          a         b
0 -0.903189  1.071011
1 -0.280961  1.410363
2  0.617390  1.590162
3 -1.498713 -1.671484
4  0.052092 -0.888832
          a         b
0  1.131052  1.269347
1  1.293180 -0.487793
2 -2.026784 -1.935358
3  0.886342  0.570531
4  1.570634  0.821775
          a         b
0 -1.290268 -2.466340
1 -1.400265 -0.586291
2 -0.266852  0.745388
3 -0.307926  0.245831
4 -1.053951 -1.859269
          a         b
0  1.077553 -0.501177
1  0.524088 -0.810597
2 -1.181819  0.332535
3 -0.282975 -0.874148
4  2.052010 -0.003447
          a         b
0 -1.091047 -1.065322
1  2.753855  0.729926
2  0.794708  0.425910
3 -1.426608  1.483615
4 -0.171162  0.047975
          a         b
0 -0.512607 -0.961197
1  1.125859  0.028666
2  0.992316 -1.206896
3  0.276970  0.194524
4 -1.008420  0.577500
          a         b
0 -1.042840  0.264343
1  0.431339  0.224475
2  0.266637  0.778795
3  0.731971 -0.592719
4  0.146214 -0.161175
          a         b
0  2.090253  0.218379
1  0.615654  0.295433
2  0.716308 -0.414162
3 -0.100225 -1.319441
4 -0.264667  0.895968
          a         b
0 -0.382271 -0.452041
1 -1.991689 -1.029753
2 -0.300475  0.179962
3  0.617062  0.350908
4  0.161081 -0.159113
          a         b
0 -1.948032  0.325437
1 -0.692091 -0.074225
2  0.531264  0.814408
3 -1.065839  1.818858
4  0.349696 -1.223049
          a         b
0 -0.593676  0.138131
1  0.154431 -0.504368
2  0.386079 -1.119771
3  0.857267  0.405150
4  1.261377  2.606245
          a         b
0 -0.692818 -0.529391
1 -0.968664 -0.284736
2  0.498573 -2.013762
3  0.172250 -0.193568
4  0.481511 -0.099505
          a         b
0  0.476406 -1.363865
1 -1.114632  1.874979
2 -1.261873 -0.602390
3  1.210862  0.977849
4 -0.919679  0.268270
          a         b
0  1.771744  0.036842
1 -0.990995 -0.289117
2  1.761362 -1.926564
3 -0.642540  0.907593
4 -2.789984  1.533264
          a         b
0 -0.378794 -1.435682
1 -0.560818  1.031102
2 -1.537021 -0.421866
3 -0.550231 -0.671439
4  1.895550 -0.694275
          a         b
0 -0.661706  0.726512
1 -1.396987  0.647745
2  0.171120 -0.263900
3 -0.036930  1.325315
4  0.888369 -0.028417
          a         b
0 -2.233735 -2.190797
1  0.244016 -0.184570
2  0.601129 -0.737090
3 -0.975975 -0.737636
4  1.486729 -0.348712
          a         b
0 -0.929915  0.378662
1  1.407243 -1.703494
2  1.584849 -0.682106
3  0.025511  1.011073
4 -1.124075  0.475364
          a         b
0  0.225247  0.576912
1 -1.309655  0.094123
2  0.946767  0.246603
3 -1.084879 -0.047570
4 -1.345315 -0.504665
          a         b
0 -0.707144  0.902756
1 -0.184529  0.986910
2  0.814002  1.849728
3  0.159304 -0.099645
4 -0.176902  0.443511
          a         b
0 -1.536159 -1.284753
1 -0.661917  0.230553
2 -0.826743  0.136959
3 -1.015742 -0.590026
4 -0.981419  0.883529
          a         b
0  1.525589  0.642455
1  1.418023  0.847060
2  0.026572 -0.002471
3  0.572768 -0.519952
4 -1.475953 -1.089473

          a         b
0  0.395193  0.075314
1  0.045048  0.768618
2  1.793569 -0.014352
3  0.337718  0.344138
4  0.899173  0.472775
          a         b
0  0.063591 -1.220004
1  0.062747  1.851061
2 -1.553498 -1.497026
3 -0.788381 -0.104222
4  0.639425 -2.418301
          a         b
0  0.411443  0.597374
1  0.029162  0.276218
2 -2.132361  0.150842
3  1.034258 -0.339470
4  1.091339  1.153919
          a         b
0 -0.541461 -0.236412
1  0.678209 -0.279626
2 -0.972719  1.423291
3 -0.603220 -0.620856
4 -0.863956  0.989753
          a         b
0  0.323835  1.354591
1  1.154670  1.623674
2 -0.124883  1.164190
3  0.816965 -1.222037
4  0.531571  0.217885
          a         b
0  0.354948 -0.649288
1 -0.071701  0.617048
2 -1.688284  0.262165
3  2.579924 -0.395289
4 -0.357191  0.089232
          a         b
0  0.668138  0.047116
1  0.331232  1.185201
2 -1.108998 -0.223325
3 -0.512614  2.131014
4  1.268733  0.570170
          a         b
0 -0.080488  2.199415
1 -0.840768 -0.282165
2  0.179400 -1.897849
3  1.234676  1.717902
4 -0.106046  1.184326
          a         b
0 -0.895114 -0.383912
1 -0.655828  0.246130
2  1.173822 -1.013608
3 -0.214860 -1.260558
4  0.246094 -1.514211
          a         b
0  0.558529  2.555145
1 -0.938136  0.688166
2 -0.475333 -0.490192
3 -0.537125  0.286340
4 -1.094545  1.446783
          a         b
0 -0.758470 -1.803219
1 -0.674103 -0.385929
2  1.920954 -0.400743
3 -1.434241 -0.781453
4 -0.516811 -1.481393
          a         b
0 -0.348121  1.199009
1  0.016678  1.253536
2 -0.099251 -1.021637
3 -0.817466 -1.053031
4 -0.804416  0.030678
          a         b
0 -0.113579  1.856877
1  1.056060  1.891169
2  0.818190 -0.170427
3  1.359175  0.104793
4  0.690712  0.921754
          a         b
0  1.244910 -0.573942
1  0.784045  1.330555
2 -1.138481 -0.983686
3 -0.888211  0.771454
4  1.054953  0.823018
          a         b
0  0.742440  0.914121
1 -0.623612 -0.595259
2 -0.926711  1.208617
3 -2.160863  0.417604
4  0.436025 -0.300289
          a         b
0 -0.138089 -0.388256
1  0.084613  0.628846
2  0.919690 -0.728041
3  2.087389 -0.392782
4  1.065389  0.110090
          a         b
0 -1.895574 -0.477034
1 -0.353871  0.535485
2  0.737908 -1.277599
3  0.567751 -0.882415
4  0.344416  1.322787
          a         b
0 -1.157885 -1.181161
1 -0.176450  1.797960
2  1.266002 -2.816513
3 -0.321465  0.926471
4 -1.105176 -0.197501
          a         b
0  0.009902 -1.992571
1 -1.011235  0.984709
2  1.510588 -1.997326
3 -0.261471 -0.399599
4 -0.496448  0.791329
          a         b
0  1.820049  0.317984
1  0.555594 -0.437352
2 -0.793609  0.228724
3 -0.582017 -0.225942
4  0.909465 -0.090120
          a         b
0 -0.191402 -0.820792
1 -2.330568 -0.192215
2 -0.526303  1.221859
3  0.149530 -0.693574
4  0.740159  0.341124
          a         b
0  1.017728  0.391015
1 -2.158062 -1.268384
2  0.102230 -1.590255
3 -2.256900  0.933893
4 -1.023411 -0.050965
          a         b
0  0.019889  1.009565
1 -0.705984  1.569627
2 -0.938098 -0.099122
3 -0.455242  2.545975
4  1.826713  1.179249
          a         b
0 -1.101059 -0.328277
1  0.629151  0.863209
2 -2.449391  0.062429
3 -1.694774  0.549570
4 -1.109989 -0.932817
          a         b
0 -0.778679  1.728209
1 -0.511263 -0.191337
2 -1.101492 -0.471189
3 -0.463549 -0.985956
4 -1.245858  0.529961
          a         b
0  0.200631  0.112056
1  0.485495 -0.416554
2 -1.306734  0.899460
3 -0.615926 -0.637165
4 -0.549797  0.681056
          a         b
0  0.887157 -1.494532
1  0.153411  0.342037
2 -0.919517 -1.156694
3 -0.247865  0.379399
4  0.359938 -0.346193
          a         b
0  0.185090  0.440815
1 -0.661902  0.094237
2 -0.723662  0.378065
3 -0.110335  1.548162
4  0.074931  0.330276
          a         b
0  1.190867  0.127502
1 -1.064087 -1.563130
2  1.395107 -0.230179
3  0.083957 -2.991097
4 -0.490289 -0.756274
          a         b
0 -1.374149 -0.729241
1 -0.145034 -0.900786
2 -0.600875  1.041961
3  1.036579 -1.184200
4 -0.373233 -0.748645
          a         b
0 -0.625269 -1.305020
1  1.148001  2.705086
2 -1.242725  0.286493
3  1.669739 -0.093313
4 -0.598118 -0.538659
          a         b
0  0.295911 -0.911183
1 -0.808722 -1.197948
2  1.169067  0.548210
3 -0.797863  0.177769
4  0.926245 -0.018163
          a         b
0 -0.283307  1.578346
1 -0.193813  0.091740
2 -0.167797 -0.244250
3  0.269755 -0.872526
4  1.216213  0.178982
          a         b
0  1.358434  0.823389
1 -0.088083  0.471087
2 -0.107472  1.885165
3  0.208195 -0.176098
4 -1.385408 -0.125611
          a         b
0 -0.818747  2.283431
1  0.736256  2.684597
2 -1.618076 -0.071858
3  1.352328 -0.526974
4  0.939119  1.299522
          a         b
0  1.582881 -1.023254
1  1.825330 -1.102847
2  0.825960 -1.452306
3  0.153562  0.556867
4  0.615355 -0.310083
          a         b
0 -0.054163  2.033525
1  0.250015  0.127770
2  0.887789  0.290131
3  0.229530 -0.186371
4  0.686995  0.370947
          a         b
0 -0.773434 -1.847556
1  1.321866  0.558035
2  1.165725  0.481449
3 -0.201793  1.144550
4 -0.523219  0.333411
          a         b
0 -0.190921 -2.240183
1 -0.589253  1.343995
2  0.250583  0.532282
3 -0.896520 -0.838158
4 -0.027758  1.487634
          a         b
0 -0.313015  1.024575
1 -1.986053 -0.217728
2 -0.990942 -1.539180
3 -0.535598 -0.178336
4 -2.067385  1.662846
          a         b
0  1.136219  0.265668
1 -0.382206  0.695855
2 -0.806882  1.647235
3  0.823299  0.595349
4 -0.888917  0.176914
          a         b
0  0.876358  0.762573
1 -1.993665  0.979455
2 -1.830060  0.653875
3 -0.280144  1.134659
4  1.671223  0.790048
          a         b
0  0.456954  1.468297
1  0.172297  0.746646
2  0.178520 -0.170683
3  0.713309  0.267981
4 -1.275930  0.639475
          a         b
0 -1.457649  0.584329
1  1.309388 -1.039955
2 -0.987166 -0.815234
3  1.045287  0.112437
4  2.445821  0.473175
          a         b
0 -0.506166  0.685369
1 -1.434418  0.187926
2  0.168443 -0.648742
3 -0.273745  0.128067
4 -0.421093  2.023883
          a         b
0  1.224413  1.121000
1 -0.331309  0.386813
2  0.296964 -1.515154
3  1.772358 -0.713323
4 -0.216754 -0.243922
          a         b
0 -0.866946  0.919591
1  0.217119  1.072966
2  1.332715 -0.619151
3 -0.593066 -0.746340
4 -0.926484  1.134472
          a         b
0 -0.518198 -0.037374
1  0.980978 -1.492215
2 -0.358725  0.309023
3  0.179001 -0.289973
4  1.453906 -1.691158
          a         b
0  1.097516  2.086417
1  0.075734 -2.089947
2  0.667872  1.328656
3  0.931069  0.990662
4  0.020002 -0.792970
          a         b
0  0.174124 -1.962876
1  0.068295  0.777257
2 -0.808040  0.339770
3 -1.370733  0.074360
4  0.453710 -1.390871
          a         b
0  0.838195 -0.115878
1 -0.129100  1.872830
2 -0.648008  0.431550
3  0.957909  1.768583
4  0.424314 -0.654641
          a         b
0  1.832860 -0.053297
1 -0.883683 -0.701828
2 -0.344443 -0.362015
3  1.193648 -1.126356
4 -1.339282  0.703388
          a         b
0  1.267800  2.157988
1  0.551949 -1.246510
2 -0.663513 -1.921342
3  1.318565 -1.641729
4  0.583698  1.244085
          a         b
0 -0.351350  0.144759
1 -1.059980 -1.225234
2  0.091919 -0.946845
3  0.534935 -0.413490
4  1.390433 -0.127709
          a         b
0  0.893676 -0.029962
1 -0.154806  0.188900
2  0.059141 -0.123196
3  0.850747 -0.063034
4 -1.141844 -0.350473
          a         b
0  0.473086 -1.441883
1 -1.456769 -0.892926
2 -0.528250 -1.138858
3  1.715327 -1.236446
4  0.447838 -0.755068
          a         b
0 -0.078024  0.095944
1 -0.787966 -1.209074
2 -0.987021  0.956226
3 -0.615780  1.956944
4  0.839413  0.256718
          a         b
0 -0.660507 -1.744643
1 -1.252036  0.022287
2  1.517671 -0.700208
3  0.465309  1.391115
4 -0.967551 -0.349379
          a         b
0 -1.091644  0.754234
1  0.161805  1.668447
2  0.362831 -1.196406
3  0.148307 -1.852634
4  2.692345 -0.833745
          a         b
0 -0.741266 -0.207111
1 -0.469680  0.332225
2 -0.407157 -1.784278
3 -1.191999  0.921006
4 -1.073145  0.612655
          a         b
0  0.153215  1.233122
1  1.799865 -1.017449
2  0.562996 -0.111550
3 -1.477493 -0.598914
4  0.521845  1.316948
          a         b
0 -0.303715 -0.814647
1 -0.268153 -0.129856
2 -1.137638  1.068436
3  1.902030  0.474884
4  1.131351  0.909830
          a         b
0 -1.171146 -0.406038
1  0.344423  0.195938
2 -2.303963  0.874632
3 -0.593809  0.788966
4 -0.020356 -1.646448
          a         b
0 -0.652278  1.365269
1 -1.540421  1.718735
2 -0.848294  0.388379
3  0.262250 -0.781120
4 -0.903832  0.080193
          a         b
0  0.441865 -1.035529
1  0.682666  0.681436
2  1.256429  1.436179
3  0.651844  0.584012
4  0.428277 -1.109682
          a         b
0  0.569208 -0.628645
1 -1.160801  2.097654
2 -2.040835  2.059289
3  1.069285 -1.341084
4  0.878487  0.902453
          a         b
0  0.179020 -1.235186
1 -1.606671  0.723552
2  0.110540  0.520856
3  2.429017  1.334893
4 -0.233897 -0.071747
          a         b
0 -1.127337  0.161908
1  1.021370 -0.121064
2 -0.991044  0.493572
3  0.368119 -0.417825
4  1.331500  1.402376
          a         b
0  1.612438  0.623802
1  0.103096  0.336237
2 -0.498036 -0.576629
3  0.266086  1.908477
4 -1.385171  0.252562
          a         b
0 -0.946866  0.569082
1  1.339276  0.483644
2 -1.012492  0.312626
3  0.322108 -1.405018
4  0.361454 -1.224671
          a         b
0 -0.486572 -1.106993
1  0.022463 -1.211686
2  0.576413 -0.802698
3  0.544453 -0.233832
4 -1.329800  0.204638
          a         b
0 -0.288302 -1.452367
1 -2.142772  0.511851
2 -1.727245  0.499190
3 -0.282588 -1.955969
4  0.183291 -0.220478
          a         b
0 -0.123884  0.914002
1  1.777244  0.030045
2 -0.570227  1.151357
3  1.446988  0.497687
4 -0.763168 -1.279464
          a         b
0  0.628391  0.508191
1 -0.414457  0.384868
2  1.496581 -1.435259
3  0.827131 -0.122016
4  0.336904 -0.831952

          a         b
0 -1.035303 -0.060239
1  1.517781  0.802677
2  0.083381 -0.869667
3  1.440836  1.100352
4 -0.926966  0.686275
          a         b
0  1.769884 -0.657445
1 -1.402693 -0.619588
2  0.728226 -0.351880
3  0.885698 -0.115880
4  1.392198  1.347133
          a         b
0  0.488040 -0.548847
1  1.768414  1.285826
2  2.079353 -2.634578
3  0.669158 -1.298765
4 -0.330140 -1.564570
          a         b
0 -0.685320  1.228762
1  1.958248  1.073980
2  0.338468 -0.309527
3 -2.298476 -0.481768
4 -1.335973 -0.473304
          a         b
0 -0.020604  0.654329
1 -0.291554  1.499693
2 -1.610174 -0.634184
3 -0.127354  0.604287
4 -0.154241 -1.005909
          a         b
0  0.070812 -1.380699
1 -0.291216 -0.378248
2 -1.316803  0.179059
3 -1.154483  0.970878
4 -1.624915  0.281125
          a         b
0  0.295648  0.711914
1  1.396271  0.132943
2 -0.271173  0.108229
3  0.629887  0.068973
4  0.742377  0.680021
          a         b
0 -1.355265 -0.906068
1 -0.436524  0.676870
2 -0.557453  1.021238
3  0.156006  1.420401
4 -0.095688 -0.123496
          a         b
0  1.353826 -0.042652
1 -0.640298  1.863913
2 -1.589015  3.259434
3  0.225604 -0.007182
4 -1.364446 -0.730959
          a         b
0  1.077957 -0.556953
1 -0.458953 -0.426970
2  1.183340  1.643055
3 -0.010739 -1.519489
4 -0.151399  0.544264
          a         b
0 -0.848389  2.066800
1  0.045086  0.125147
2  0.498664 -0.636251
3  0.569793 -1.400864
4 -0.984384  0.586014
          a         b
0 -1.024434 -1.172175
1  0.881101  0.212815
2 -1.495654 -0.657846
3 -0.707358 -0.973029
4 -0.643819  0.509799
          a         b
0 -1.263750 -1.145007
1  0.125032 -0.892010
2  2.524907  0.449995
3 -0.029525 -2.186511
4 -2.212609  2.001522
          a         b
0  1.136760 -1.589852
1  1.987805  0.936844
2  0.216136 -0.038753
3  0.559290 -0.786156
4  0.484585 -0.371191
          a         b
0 -0.823873 -0.284935
1 -0.530999  0.162035
2  0.061844 -2.675282
3 -2.723801  1.260098
4 -0.201759  0.606917
          a         b
0  0.080991  1.646113
1 -1.975856 -2.812435
2 -1.422763 -0.415826
3 -1.532694 -0.421147
4 -0.393089 -0.885129
          a         b
0 -0.175314 -0.415187
1 -1.513676 -0.976968
2  1.352860 -1.391007
3  1.885627  0.490670
4  1.101236  2.206377
          a         b
0  0.541702 -1.313176
1 -1.153553 -1.593504
2 -0.074534  0.825517
3 -0.556014  0.465274
4  0.459164  0.241540
          a         b
0  0.632024 -0.787983
1  1.022359 -0.686155
2 -0.275753  0.491300
3 -0.577924  1.383842
4 -0.219944  0.329080
          a         b
0  1.430480 -0.567527
1  0.348369  1.602486
2  1.310214 -1.249092
3 -0.250456 -0.574966
4  1.201599  1.928970
          a         b
0 -0.371719  0.462100
1 -0.157747  3.333867
2 -1.514152  0.194143
3  1.071601  1.504385
4 -0.217850  0.257789
          a         b
0  0.091584 -0.297127
1  0.603765 -0.867684
2 -0.532141 -1.603201
3  0.738805 -0.901004
4  2.756161 -1.400375
          a         b
0 -0.725622  0.941351
1  1.560909 -1.156077
2  0.666397  1.258851
3  0.461642 -0.538490
4 -1.077845  0.797742
          a         b
0 -1.224651 -1.057806
1 -1.204332 -0.213216
2  0.385362 -0.543509
3 -1.463582 -0.390239
4  0.537799 -0.814712
          a         b
0  1.433639  0.715907
1 -2.238182  0.820653
2  0.386874  0.210762
3 -0.133176 -0.297495
4 -0.240237 -1.512178
          a         b
0 -0.532902  1.878559
1  0.742816  1.687773
2 -0.354534  0.171074
3  0.960205 -0.144921
4  0.436844  0.676179
          a         b
0  0.139721 -0.148140
1 -2.375075  0.872830
2  0.638564 -0.235607
3  0.247290  0.258082
4 -0.389204  0.708046
          a         b
0 -2.179055 -0.382506
1  0.770077  1.711029
2 -0.912856  0.227740
3 -1.689730 -1.077306
4  1.125093 -1.106634
          a         b
0  1.297933 -0.326018
1 -1.685735 -0.642584
2  1.036985 -0.926152
3  1.745221 -1.468887
4  1.174187  0.600795
          a         b
0  0.821387  0.189083
1 -0.892245  0.206471
2 -0.321375  0.245040
3  0.935426 -0.040015
4 -0.261349 -1.131245
          a         b
0  1.765479 -0.754860
1 -0.007895 -0.205795
2 -1.235806 -0.297366
3  0.576663  0.443708
4  0.608905  0.663422
          a         b
0  0.068741  0.108825
1  1.461795  0.155974
2 -1.956321  0.296756
3  1.021366  0.496978
4  0.762703  0.468424
          a         b
0 -0.114140 -0.994210
1  1.390873  1.492748
2 -0.640364  0.354355
3 -1.188972 -0.805923
4 -2.080939  1.578474
          a         b
0  0.303967 -0.420501
1  0.436024 -0.834565
2 -0.207249 -0.308128
3 -0.481062 -0.604768
4  0.257184  0.745765
          a         b
0  1.547604  0.579471
1  0.739877 -0.700617
2  0.632501  0.732949
3  0.416794  0.262472
4 -1.456052  0.511559
          a         b
0  1.308204  1.137655
1 -1.933120 -0.598258
2  0.752194 -0.397163
3  0.971588 -0.479594
4  0.560460 -1.133276
          a         b
0  0.601361  0.032686
1  0.033417  0.297727
2  0.981453 -0.931402
3 -0.601760 -0.587106
4 -1.320315  0.419096
          a         b
0  0.144601  0.136519
1  1.036824  1.336119
2 -0.946429 -0.934048
3  1.959981 -0.493652
4 -1.226272 -1.173894
          a         b
0  0.446978 -0.919121
1  1.905260  1.149475
2 -0.193847  1.721612
3 -0.592048 -0.354956
4  1.631854  0.211348
          a         b
0 -2.047784 -0.663197
1 -1.881194 -1.337760
2 -0.925833 -1.290705
3 -0.343597 -0.720841
4 -0.349048  0.198436
          a         b
0  0.814505 -0.737181
1 -0.195954 -0.427438
2 -0.364553  1.066769
3  0.695852 -1.134801
4  1.768650 -0.141380
          a         b
0 -0.584633 -1.432035
1  0.357791  0.617446
2 -0.445316 -1.072188
3  0.165511 -0.779508
4 -0.629102  0.587277
          a         b
0 -1.076048  0.436887
1 -0.968440  0.024462
2  0.384971  0.700035
3 -0.166872  0.706407
4 -2.250274  0.428631
          a         b
0 -0.200005  1.089338
1  0.119131 -0.983715
2  0.485699  1.036301
3  0.561763 -0.348369
4 -0.777519 -0.369749
          a         b
0 -0.174629  1.922996
1  1.245503  0.107457
2 -0.725125 -1.253459
3 -1.259574  0.388246
4  0.270784  0.279673
          a         b
0  0.343378  0.763525
1  0.804593 -0.020715
2 -0.836566 -0.714389
3  0.223674 -0.131459
4 -0.966791 -2.195642
          a         b
0 -2.397388 -0.903703
1  1.342590 -0.390784
2 -0.133802  0.518279
3  0.582881  0.142092
4  0.650589  0.417305
          a         b
0 -1.303928  0.015845
1 -0.330955  0.061692
2 -0.485210 -0.009656
3 -1.348050 -0.258623
4  0.377073  1.061223
          a         b
0 -0.126429  0.726183
1  0.186719  0.734410
2 -0.999465  0.850123
3  0.157556 -0.419636
4 -0.215429  0.066110
          a         b
0 -0.098658  0.221611
1  0.775808 -0.223265
2  0.220839 -0.983356
3  0.753817 -0.344136
4 -0.026899 -0.216123
          a         b
0 -1.298638  1.331534
1  1.013379  1.343560
2  0.074250 -1.199027
3 -0.513681  2.664410
4 -0.333087 -0.773513
          a         b
0 -0.735638 -0.091723
1  1.015391  0.645904
2 -0.671616 -1.399697
3  1.182223 -1.058695
4 -1.278796  0.740420
          a         b
0  0.448748  0.607458
1  0.749886  3.496559
2 -0.424364 -1.014961
3  0.737223  1.368405
4  1.153302 -1.902860
          a         b
0  0.916697  0.242576
1 -0.697902 -0.728343
2 -1.986189  1.055224
3  0.200751 -0.119027
4 -1.055974 -1.386501
          a         b
0 -0.986282  0.041596
1  0.124858 -1.819361
2  0.480132 -0.643411
3 -0.083585  0.727741
4 -1.747940  0.161397
          a         b
0  1.507518 -1.965967
1 -1.137941 -0.749989
2  0.398268 -0.274583
3  0.952142 -0.364839
4  0.636089 -1.447320
          a         b
0  0.077441 -2.123142
1 -1.034082 -0.511270
2  1.476878 -1.170772
3 -2.021695 -0.198441
4 -2.452605 -1.527080
          a         b
0 -0.307341 -1.822059
1 -0.227018  1.571228
2  0.285775 -0.322069
3  1.232279  1.641340
4 -0.036445  0.377920
          a         b
0 -0.085065  0.214840
1  1.524156  1.842518
2  1.457289  0.086097
3  1.684271  0.829589
4 -0.359094 -0.296185
          a         b
0 -0.368810 -0.134711
1  0.540850 -0.177720
2  0.130195 -1.305771
3 -0.191063  0.367851
4 -2.113207 -0.041279
          a         b
0  0.571716  0.290690
1  2.222441  0.187051
2 -0.981968  0.596132
3 -0.169812 -2.301170
4  0.255203 -0.728032
          a         b
0 -0.810280 -0.678496
1  1.796096 -1.548840
2  0.375735  0.816864
3 -0.071136 -2.269454
4 -1.360118 -0.427849
          a         b
0  0.359083 -0.782284
1 -1.251133 -1.575302
2 -1.736775 -0.578098
3  0.429604  0.284063
4  1.192707 -1.039224
          a         b
0  1.410371  1.106485
1  0.839649 -1.344304
2 -0.450290  0.471275
3 -1.614785 -2.163024
4 -0.918645  0.268901
          a         b
0 -1.863999  1.370480
1 -0.803641  0.740588
2  1.463248 -0.870038
3 -0.751939  0.014350
4  0.674959 -1.112514
          a         b
0  0.709511  0.529529
1  1.428400 -0.698829
2  0.079687  1.683522
3  0.084474 -1.126618
4 -1.230688 -0.973570
          a         b
0  0.442918  1.143809
1 -1.305509  1.838613
2  0.337005  0.297507
3 -0.775093 -0.760046
4 -0.605759 -0.463621

          a         b
0  0.042729 -0.736005
1  0.440174 -0.691812
2  1.306712  1.548028
3  0.569779 -1.259797
4 -0.645116 -0.934735
          a         b
0  0.824973  0.074802
1 -1.219860  1.075585
2  1.467752 -0.029963
3  0.099468  0.939387
4  1.674070  0.614124
          a         b
0  0.679692  1.200797
1 -1.479440 -1.554183
2  0.158908  1.472007
3 -0.553899 -0.899292
4 -0.876692 -1.483244
          a         b
0  0.003160  2.266596
1 -1.068874  0.695428
2  0.274410  0.610924
3  0.260422 -0.393521
4  0.627050 -1.367167
          a         b
0 -2.364463 -0.307006
1 -0.190042  0.333889
2 -0.131514 -0.329103
3  1.055718 -1.006837
4 -0.633909 -0.906498
          a         b
0 -0.302377 -1.027793
1 -0.844405  1.590507
2  1.284142  0.155130
3 -0.493493 -0.731354
4 -0.365555 -2.272849
          a         b
0  1.744189  0.021279
1  0.075128  0.439020
2  0.445656 -0.914191
3 -0.484006  0.638532
4 -0.706547 -0.473008
          a         b
0  0.994910 -0.100873
1  1.286091  0.684492
2 -0.166700 -0.018578
3 -0.687562  0.835422
4 -0.558027 -1.231205
          a         b
0 -0.649439  1.123389
1 -0.370108  0.900774
2  0.140035 -0.134117
3  1.916352  0.281194
4 -0.200225 -0.403618
          a         b
0  0.254032  0.683419
1  0.258485 -0.326442
2  1.149537 -0.058042
3  0.659780 -0.798250
4 -0.318970  2.341457
          a         b
0 -0.506669  1.094921
1  1.137532  0.087882
2  0.419390 -1.455636
3  0.690114  1.230306
4 -0.597760  0.967337
          a         b
0  1.051835 -0.146861
1  1.143873 -2.184744
2  0.932582  0.028136
3  0.509901 -1.205109
4  1.057127 -0.353878
          a         b
0 -0.161288 -0.498529
1  0.087670  1.264762
2 -0.524234 -0.242757
3 -0.296213  0.996638
4  0.531910  1.525046
          a         b
0  0.627587  0.512732
1  0.409006 -0.226576
2  1.378621 -0.448086
3 -0.511184  0.336805
4 -0.544492 -0.072611
          a         b
0  0.855313  0.824719
1 -2.057536  0.323097
2  1.279650  0.239513
3  0.261033 -1.675015
4 -1.568094  0.857102
          a         b
0 -0.881117  0.439022
1  2.367449  0.042687
2 -0.846736  0.672743
3 -1.150104  1.808369
4 -2.391805  1.693656
          a         b
0 -0.308645  0.523631
1  1.115190 -1.456280
2 -1.948471  0.936762
3  0.972923 -1.805588
4 -1.982485  0.026131
          a         b
0 -0.026840 -0.407834
1 -0.306904  0.577114
2 -0.329755 -0.229033
3  0.714748 -0.321607
4 -0.579070  0.934748
          a         b
0 -0.495885  0.348299
1  1.819301 -0.852672
2  1.104108 -0.096344
3 -0.911824  0.889497
4 -0.262483  0.509172
          a         b
0 -2.061421 -0.389473
1 -0.716970 -0.252752
2 -0.699181 -0.721203
3 -0.889132 -0.640791
4 -0.272705  0.485398
          a         b
0 -0.472605  1.106943
1 -0.418647  0.751759
2  3.090716 -2.376048
3 -0.182479 -1.311515
4 -0.499420  0.214355
          a         b
0  0.589650 -1.052200
1  0.208256 -2.888792
2 -0.330523  1.233288
3 -0.856962 -0.656634
4 -0.324985 -0.673786
          a         b
0  0.208720 -0.558998
1 -1.472540  0.142883
2  0.913906 -0.221869
3 -0.159067  0.029966
4  0.303828  1.047187
          a         b
0  1.300291  0.530536
1 -1.469483  0.917438
2 -0.315923 -1.634745
3 -1.015242 -0.358326
4  0.077805 -1.934137
          a         b
0  0.451265  0.018484
1  0.348434  0.853288
2 -1.324041  1.500061
3 -0.562253  0.540669
4  2.646070 -1.438811
          a         b
0 -0.111630 -0.149221
1  1.905576  1.005507
2 -0.470166  0.980409
3 -0.126739  0.006880
4  1.200289 -1.320990
          a         b
0  0.568243  0.403054
1  0.627349 -1.136375
2  0.013959 -2.312129
3 -0.245823 -1.212152
4 -0.110268  1.328222
          a         b
0 -1.281206 -0.051394
1  0.053121 -1.744428
2 -0.759688 -0.118633
3 -0.036302  0.961335
4  0.118285 -0.427855
          a         b
0 -1.239710  0.847313
1 -0.249477  0.411438
2 -0.686503 -0.769554
3  1.188586  1.634352
4 -1.104736  0.605937
          a         b
0 -0.261587  1.010328
1  0.451124 -0.101410
2  0.420370  1.519467
3 -1.537140  1.243479
4 -0.258426 -1.904830
          a         b
0 -0.400092 -0.450404
1 -0.334600  0.028308
2  0.868995  0.844538
3  0.166928 -2.271564
4 -0.633595 -0.351058
          a         b
0  0.392602  1.710724
1 -1.449388 -1.489264
2  1.862640  0.108618
3 -0.954366  0.281177
4  1.283112 -0.524593
          a         b
0 -0.497149 -1.231283
1  2.682455  0.316535
2  0.364099  0.597253
3 -0.403622  0.025282
4 -1.374958 -0.795506
          a         b
0 -0.766807  0.146142
1  1.497518 -0.085621
2  0.928150 -0.798567
3  0.372107 -0.421182
4  0.031958  0.510629
          a         b
0 -0.982399 -0.425329
1 -0.162954  0.757297
2 -0.253821 -0.295089
3  0.101393 -0.939091
4  0.398381 -1.840317
          a         b
0  1.118748  0.510618
1  0.031336 -0.600468
2 -0.271394  1.567908
3 -0.425410  0.186921
4  1.007436  2.411978
          a         b
0  1.652093  1.665267
1 -0.567955  0.417475
2 -0.466998  0.378155
3  0.647556  1.002669
4  0.757058  1.842053
          a         b
0 -0.203277  1.858943
1  1.884681 -1.316270
2 -1.483338 -1.002763
3  0.039348 -0.534468
4 -0.246042 -0.957204
          a         b
0  1.990860  1.268608
1  1.117198 -0.098039
2 -0.483483  0.407718
3  0.977893  1.837611
4 -0.791319 -0.969826
          a         b
0 -1.233146 -0.186646
1  0.322519  0.466690
2  0.705853 -1.358266
3 -1.974194  0.586340
4  0.875745 -0.115186
          a         b
0  0.030578  0.588638
1 -0.055118 -0.442657
2 -0.997599 -0.081866
3 -0.394988 -0.144715
4  3.087078  0.159625
          a         b
0 -0.096705 -0.326813
1 -0.727300  1.011718
2 -1.209504 -1.388775
3 -0.172480  0.490568
4 -1.611382  0.829940
          a         b
0  0.074905  1.494165
1 -0.750443 -1.049477
2 -1.408701 -0.528374
3  1.357196  1.010908
4 -0.329318  0.506341
          a         b
0  0.040125 -0.868298
1  0.030842 -0.458519
2 -0.455878  1.139004
3  0.051875  2.413583
4  0.139324 -1.437635
          a         b
0  0.939383  1.836927
1 -0.949266 -0.168687
2 -0.015071 -0.157715
3  0.383850  0.992393
4 -0.593888  0.568470
          a         b
0  1.226734  0.402875
1  2.062807  0.100833
2  0.104551  1.463121
3 -0.883677  0.277952
4  0.258057 -0.991209
          a         b
0 -0.669372  0.257544
1 -1.381195  1.514349
2 -0.559520 -0.453082
3  0.857880 -0.667413
4  1.218329  1.019788
          a         b
0  1.275429  1.045890
1  0.132828  0.811702
2 -0.181265  0.772235
3  2.019610 -1.023369
4 -0.176767 -0.051799
          a         b
0 -0.251954 -2.956470
1  0.632983  0.065327
2  0.259438  0.861758
3 -0.038595  0.794941
4 -0.217199 -0.284565
          a         b
0 -0.149822 -1.998522
1  0.406569  0.346372
2  0.760993  1.509295
3  0.712538  0.128303
4  0.848498  0.705460
          a         b
0  0.881122 -0.159916
1 -3.331670  0.549773
2 -0.993864  0.364763
3 -1.331610 -1.135248
4 -0.147883  0.892127
          a         b
0  1.105820  0.580137
1 -2.014631 -0.225308
2  0.715978  0.441258
3 -0.043652 -1.485420
4  0.240820  0.590831
          a         b
0 -0.138836  0.545758
1  0.817676 -0.002548
2 -1.033623 -0.078545
3  1.491107  0.613398
4  0.238410 -0.850484
          a         b
0 -0.074552  0.232782
1 -0.034141 -0.600928
2  0.784934  0.712145
3  0.087683 -0.211401
4 -0.294027 -1.542385
          a         b
0  0.433940  0.528829
1 -1.082002 -0.662208
2 -0.703815 -1.494146
3 -0.956462  0.204097
4 -0.348563  0.497312
          a         b
0 -1.337213 -0.826683
1 -0.422991 -3.743298
2 -0.870599 -0.350533
3  0.078562  1.135707
4  0.165858 -1.176898
          a         b
0  1.099369  0.369280
1  1.268351  0.095505
2 -1.121113  0.904351
3  0.243031  1.399471
4 -0.995258  0.843808
          a         b
0 -1.010827  1.473907
1  1.675396 -0.991662
2 -0.914632  0.701250
3  0.701101 -0.159944
4  0.173858 -0.512946
          a         b
0 -0.588981 -1.332601
1  0.781347  0.610526
2 -0.939794  0.278764
3  1.398594  0.151423
4 -0.033251 -0.116809
          a         b
0 -1.261073 -1.351321
1  0.858709 -0.209747
2  2.272754  0.465917
3  0.324269  0.302119
4  0.153878 -1.692063
          a         b
0 -0.391047  0.732659
1 -0.735762 -0.505107
2 -0.038287  0.053852
3  0.499751  0.571523
4 -2.450260  1.161009
          a         b
0 -0.865355  0.515412
1 -1.172286  0.528181
2  1.356252  0.849556
3  0.305167  0.960080
4  1.245940  0.015916
          a         b
0  0.731998  0.142012
1 -0.749834 -0.993213
2  0.082720 -2.641797
3  0.476212 -0.882734
4  0.690102 -1.361831
          a         b
0  0.294922 -0.448040
1  0.008070  0.458792
2 -1.152264  0.682537
3  1.567408  0.921805
4 -0.624961 -1.343087
          a         b
0 -0.152871 -0.697760
1  0.148276 -1.356611
2  0.117602  0.384074
3  0.744761  1.907073
4  0.059123 -0.634783
          a         b
0 -1.632728  0.769769
1  0.620544  0.560329
2 -1.434221  0.984840
3 -0.252461 -0.387367
4  0.095629 -0.371659
          a         b
0 -0.883817 -1.444090
1  0.520983  0.288755
2 -0.196676  0.713241
3 -0.692190  0.861500
4  0.076953 -2.675855
          a         b
0 -1.689033 -0.569644
1  0.739344 -1.311542
2 -1.537643 -0.503822
3 -0.692352  0.892270
4  0.945130  2.096616
          a         b
0 -0.755272  0.110647
1  1.852094 -1.498294
2 -1.159664 -0.493872
3  0.684009 -0.556369
4  0.982853 -0.469075
          a         b
0 -1.923865 -1.200396
1  0.683238 -0.816151
2  2.168749 -0.147036
3 -0.044016 -0.412983
4 -0.906654 -1.547677
          a         b
0  0.831945  0.667497
1 -1.550974 -0.741149
2 -0.341275  0.834233
3  0.171510  0.097755
4 -0.203551  0.269584
          a         b
0  0.816027  0.797180
1  0.440623  0.162580
2  1.001159 -1.792147
3  1.196223  0.741218
4  0.691099 -0.524140
          a         b
0 -0.798341 -0.195811
1  0.312599 -0.697496
2 -2.573230  0.003116
3 -0.041427  0.147378
4 -0.752875  0.335770
          a         b
0 -2.220683 -0.060974
1 -0.681403  0.235023
2  0.176407 -0.635355
3  0.112289  0.329773
4 -0.377094  1.720178

          a         b
0 -0.357550  0.771474
1 -0.162404 -0.562263
2  1.267758  0.243944
3 -1.808702 -0.868735
4  0.516770  0.711276
          a         b
0 -0.392906  1.350886
1 -0.897047 -0.690302
2 -0.301680 -1.248441
3  0.295022 -1.438791
4  1.105322  0.101758
          a         b
0 -0.867925  0.093864
1  0.077028  0.087625
2 -0.200475  0.051272
3  1.005586 -0.746138
4  0.316054  0.630601
          a         b
0 -0.468674  0.324299
1 -0.212304  0.254501
2 -0.542765  1.074383
3  1.518695 -0.984319
4  0.142526 -0.298330
          a         b
0  0.165663 -0.932443
1  0.371348  0.405529
2  0.194212  1.980328
3 -0.886531  0.527003
4  0.877156  0.029177
          a         b
0  1.912040  1.257651
1  0.464493 -0.408648
2 -1.037243 -0.705074
3  0.354755 -0.848014
4  1.404343 -0.801606
          a         b
0 -0.135968 -0.722408
1 -0.010350  0.189532
2 -1.306608 -1.011551
3 -1.874672 -0.655874
4  0.173932 -0.027953
          a         b
0 -1.217867  0.820166
1 -1.046683 -0.198767
2  0.711750 -1.244276
3  0.330955  1.400926
4  0.479489 -0.158928
          a         b
0 -0.352782  0.232938
1  1.381242 -0.402488
2 -0.960177  0.803476
3  0.411035 -1.054396
4 -0.018429 -0.333894
          a         b
0 -2.200817  1.093407
1 -0.603993 -1.077786
2 -1.107447  0.691333
3 -1.445535  0.910944
4 -1.191301 -0.661073
          a         b
0  0.720202  0.959898
1  1.707724  2.475504
2 -0.120729 -0.323243
3 -0.192187 -0.131768
4 -1.711528  1.227295
          a         b
0 -0.836196 -0.247962
1 -1.038389 -0.104604
2 -0.597507  0.946326
3  0.381723  1.182762
4  0.384947  0.949565
          a         b
0 -0.029879  0.062523
1 -0.443530 -1.396131
2 -2.587465  0.727661
3 -0.505614 -2.125304
4 -0.759001  0.017436
          a         b
0 -0.186892 -0.385423
1  0.242383  0.572857
2  1.310913  0.228348
3 -0.060068 -0.534994
4 -0.130272 -2.499491
          a         b
0 -0.512521 -1.509681
1 -0.038482 -0.134179
2  0.281190 -1.296961
3 -0.542595  0.886279
4  0.362287  1.473758
          a         b
0  1.141818 -1.272279
1  0.620349 -0.314834
2 -1.142983  1.925111
3 -1.393652 -1.768234
4 -0.031889  2.168167
          a         b
0  0.308612  0.590115
1  0.779837  1.353887
2  0.660613  2.427113
3  0.197954 -0.986852
4  0.433912 -0.569705
          a         b
0 -0.950353  0.847512
1 -0.317312 -0.767287
2  0.485093  0.271862
3 -0.569858 -0.742247
4  1.309980  0.994126
          a         b
0  0.122027  1.554834
1 -0.467500 -0.371151
2  0.078845  0.696783
3  0.184563  1.840731
4  1.138739  0.574068
          a         b
0  1.794723  0.987414
1 -1.124342  1.661643
2  0.383950 -1.045385
3  0.281706  1.637667
4 -0.076818  1.299196
          a         b
0  0.529761  0.953663
1 -0.644208 -0.508251
2  0.468503  0.899713
3  0.367415  0.984681
4  0.482757 -0.221596
          a         b
0 -1.746341 -0.770207
1  0.856955 -0.235874
2 -0.475781  0.256862
3  1.646902 -0.191493
4  0.490405  0.988586
          a         b
0  0.091519 -0.760397
1 -2.729052 -0.212538
2 -1.166699 -1.163757
3  0.403768  0.340818
4 -0.043219 -1.010444
          a         b
0 -1.498321  0.801362
1  1.079861  0.652585
2  1.383660 -1.553454
3  0.307816 -0.286423
4 -1.513011  0.196557
          a         b
0  2.196698 -0.974093
1 -0.386473  0.478464
2 -0.566359  0.929617
3  0.293755 -0.733511
4 -0.325235  0.008285
          a         b
0 -0.044724 -1.448370
1 -0.488379  1.701973
2  0.289265  1.294725
3  0.600288  0.241022
4 -0.045611  1.408835
          a         b
0  1.694090 -1.916952
1  1.717547 -0.686629
2  0.137658  2.112892
3 -1.001165 -0.722795
4 -1.165181 -0.046140
          a         b
0 -0.745888 -0.907695
1 -1.395099  0.131929
2 -0.308796 -0.798277
3  0.773099 -0.198137
4  1.651192 -1.466372
          a         b
0 -0.147300  0.696033
1  0.061515  0.593817
2 -1.498820 -0.736605
3 -1.169895 -0.546987
4  0.057995  0.365629
          a         b
0 -0.617919  1.394995
1 -0.652860  0.281534
2 -0.223328  0.190962
3 -1.249532 -0.548823
4 -0.092864 -1.832133
          a         b
0 -0.509554 -0.397094
1 -3.055171  0.903948
2  0.266500 -0.615508
3 -0.760766  0.787219
4  0.403938 -0.405357
          a         b
0  0.249267 -0.555430
1 -0.104895  0.662629
2 -0.391136  0.464310
3 -1.263399 -1.113008
4  0.604768  1.686067
          a         b
0  1.278301 -0.135826
1 -0.155249  1.260327
2 -0.988675 -0.634897
3  1.342619 -1.076295
4  0.132411  0.926027
          a         b
0  0.799106 -0.148859
1  0.426439  0.198609
2  1.327983 -0.616799
3 -0.438327  1.164036
4 -0.279576  1.043912
          a         b
0  0.682805 -1.123541
1 -0.167348  0.950439
2  0.930384  0.856994
3  0.058003 -1.562785
4 -0.380118  1.074063
          a         b
0 -0.745107 -0.965846
1  0.630058  0.628315
2 -0.959785  0.220681
3 -1.194103 -3.003208
4  0.886969  0.764048
          a         b
0  1.170327 -0.503324
1 -0.301151 -0.761546
2  1.134863  0.582153
3 -0.500576 -1.708824
4 -0.805013 -0.517108
          a         b
0 -0.724516 -0.759251
1 -1.833668  0.896938
2  1.704832  1.319612
3  1.202641  0.051731
4 -1.075195  1.388628
          a         b
0  1.006341  0.064521
1 -0.602125  1.323907
2 -0.260978 -0.360087
3  1.318974 -0.704722
4 -0.406566 -0.764393
          a         b
0 -0.411661  0.424250
1 -1.210608  0.395511
2  1.445380  0.849524
3  1.397212  0.087025
4 -0.427291  0.144783
          a         b
0 -0.283873 -2.178130
1  0.625725  0.357240
2  0.069925  0.931405
3  1.647161  0.765872
4 -1.874631 -1.567197
          a         b
0  1.411943 -0.292874
1  0.073616  1.219886
2  1.493037 -0.648970
3  2.063905  2.313600
4 -1.057721 -1.233199
          a         b
0 -0.805475 -0.786147
1  0.937671  0.193664
2 -1.457935 -0.104769
3 -0.865774 -0.235275
4 -0.228392 -0.352224
          a         b
0  0.865971 -0.280013
1 -1.357541 -0.616010
2 -0.681234 -0.153657
3 -0.508925  0.582602
4  1.066976  1.148436
          a         b
0 -1.690304  0.036586
1 -1.267370  0.444606
2  1.755365 -0.227624
3  0.455688 -0.530339
4  1.149746  1.279919
          a         b
0  0.638678  1.470593
1  0.254557  0.802179
2 -2.949984 -1.124791
3 -0.904510  0.028807
4 -0.586507 -0.755878
          a         b
0 -0.060369  0.865154
1  0.094048 -1.165194
2  0.365086  0.072064
3  0.726539 -0.755845
4  0.113796 -0.696567
          a         b
0  0.397817 -0.210470
1 -0.071493 -0.753957
2  1.352396  0.148942
3  0.735637  1.418746
4  1.014807  0.636017
          a         b
0 -0.677223  1.571566
1 -0.758912 -0.951643
2  1.615962  0.760300
3 -0.854844  0.844152
4 -0.452093  0.446843
          a         b
0 -0.279460 -0.028451
1 -1.062976  0.307498
2  0.402745  1.280001
3 -1.783400  1.181218
4  0.882381 -0.459394
          a         b
0  0.670657 -0.034720
1 -0.074631  0.735022
2 -0.761294  0.394803
3  0.708160  0.321350
4  0.563717 -0.380332
          a         b
0  0.139702 -0.600974
1 -0.546067  0.401975
2 -0.159739  1.978808
3 -1.132163 -0.568847
4  0.614281 -0.577778
          a         b
0  1.096609  1.294934
1  0.869947 -0.959743
2 -0.855003 -0.643155
3 -0.435218 -0.078200
4  1.230034  1.140600
          a         b
0  0.525800  2.091218
1  1.214807  2.106775
2  3.039975 -1.210410
3  0.008607 -0.913560
4  0.159993  0.737409
          a         b
0 -1.693430  0.672506
1 -0.742447 -0.615948
2  0.598868 -0.649922
3  0.273013 -0.742057
4  2.149501 -0.825733
          a         b
0 -0.544839  1.258664
1 -0.512841  0.622881
2  0.060156  0.634178
3 -0.705662  0.051466
4 -3.029174 -0.305455
          a         b
0  1.403940  0.159466
1  0.749071  0.065898
2  0.368076 -0.946429
3 -1.429370  0.286229
4  1.418745  0.443786
          a         b
0  0.645599 -0.107905
1 -0.398067  0.147058
2  2.357441 -1.260330
3 -0.774951 -2.867301
4  0.147345  1.371929
          a         b
0  1.031758  2.020417
1 -1.841196 -0.229277
2  0.847851 -0.170338
3 -0.392476  1.388008
4  0.342826  1.352015
          a         b
0 -1.237384 -1.422583
1 -1.283940 -1.026691
2  1.017812  0.129007
3  0.162084 -0.683030
4  1.083021 -0.067278
          a         b
0  0.075438  1.927806
1  1.581559  0.542891
2  1.319834 -0.976997
3  0.765966 -0.957515
4 -0.262219 -0.815444
          a         b
0  0.777335 -1.542962
1  0.946719  0.880202
2 -1.364397 -0.398233
3  1.456222 -0.712829
4 -0.577674  0.517466
          a         b
0 -0.895078 -0.602681
1  0.997309 -0.314736
2 -0.582650  0.676916
3  1.628962  1.396318
4 -1.917909 -0.197500
          a         b
0  0.446924 -0.947323
1  0.076327  0.442627
2 -0.927864  1.002668
3  1.058649  0.464749
4 -1.251703 -0.095811
          a         b
0 -0.228491  1.691848
1 -1.402541  1.273919
2 -0.164584  0.636436
3  1.133311  1.833625
4 -0.620280  1.193070
          a         b
0 -0.255969 -0.072463
1 -0.577163 -0.172603
2  1.517654  0.409219
3  0.223784  0.460602
4  0.293598  0.616757
          a         b
0 -0.104973 -2.553890
1  0.251478  0.211415
2  0.064900  1.008765
3  0.703276  0.164868
4  0.755010 -0.796302
          a         b
0 -1.060344 -0.528571
1  0.061316 -0.699261
2 -0.938394  0.701576
3  0.494627  0.780242
4  1.579242  0.355705
          a         b
0  1.517604  1.010000
1 -0.573749  0.196547
2 -0.551628  0.169455
3  0.219092 -0.613397
4  0.612517  0.005162
          a         b
0  0.862786  0.312835
1  2.146578  1.893996
2 -0.166498 -2.145197
3 -2.403748  0.412914
4 -0.272747 -0.154597
          a         b
0  1.009607 -0.340584
1  1.266146 -1.648343
2 -1.320258  0.759384
3 -0.700603  1.105599
4 -0.190550  1.155758
          a         b
0 -0.034846  1.074371
1  1.435763 -1.534999
2  1.516135 -1.178182
3  1.367889  0.350435
4 -1.480988 -0.301913
          a         b
0 -0.191516 -0.563107
1 -2.638431  0.127007
2 -0.181116 -1.606115
3 -0.310364  1.453961
4  0.296826 -0.784934
          a         b
0 -0.938834 -0.281858
1 -1.840820 -1.894862
2 -0.581373 -0.961220
3 -0.405103 -0.120096
4  0.919063 -0.888360
          a         b
0  1.004670 -1.244128
1 -1.436094 -0.457292
2 -1.431632 -0.271193
3  1.719510 -0.010532
4 -0.165928  1.780799
          a         b
0  0.412168  0.596609
1  0.321357 -0.434873
2 -0.601373  0.940758
3 -1.453996  1.177508
4  0.495406 -0.755057
          a         b
0  0.173206  0.217658
1  1.553980  0.927723
2  0.041732 -0.455602
3  0.813892 -0.730507
4  1.098307  0.644766
          a         b
0 -1.759387 -0.081311
1 -0.814939  0.472104
2 -1.357635  0.380471
3  1.240263 -0.320737
4  1.224383 -0.443548
          a         b
0 -1.134289 -0.553999
1 -0.515971 -0.810875
2  0.209239  0.921996
3 -0.113984  0.216407
4 -0.385435  1.305530
          a         b
0 -0.572491 -0.076726
1  1.253891 -0.978394
2  1.279671 -1.560857
3  0.925513 -0.668910
4 -0.224971 -0.395494

          a         b
0 -0.016155 -0.480482
1 -0.131761 -1.773074
2  1.783367  1.534486
3 -1.609476  1.317468
4  1.117782 -1.045999
          a         b
0  1.406629 -0.346487
1  0.047277  0.498826
2 -1.663194  0.424449
3 -0.359770 -0.242991
4 -0.579604  0.351474
          a         b
0 -0.242916 -0.644807
1  0.163171 -0.181546
2  1.074229 -0.399446
3 -2.219274 -1.757568
4 -0.311328 -0.467024
          a         b
0  2.088746 -0.296257
1  0.464759 -0.279487
2  2.664092 -0.151414
3  0.390857 -0.173794
4  1.066233 -0.460083
          a         b
0  1.325199 -2.286479
1  1.001077 -0.329109
2 -0.515661  0.385380
3 -1.048823  0.818644
4  0.331111  1.442954
          a         b
0  1.757988  1.021495
1  0.334466 -1.209376
2  1.678237  0.198623
3  0.673423  0.857665
4 -1.764308 -0.732942
          a         b
0  0.378160 -0.359200
1  0.943755 -0.759491
2  1.429222 -0.443218
3  0.824809 -1.250205
4 -1.056467 -0.706536
          a         b
0 -0.687736 -1.602838
1 -1.289689  0.261990
2  1.774204 -0.790495
3 -2.441960 -0.465905
4 -0.608422 -1.807525
          a         b
0  0.137811 -0.327688
1 -0.341473  0.256722
2  0.417367  0.759985
3 -1.651614  0.504365
4 -0.864885  1.395325
          a         b
0 -1.181147  0.930364
1  0.420766  0.470910
2 -0.441288  0.143069
3  0.233830 -1.125793
4  1.712211 -1.472049
          a         b
0  0.138950  0.287868
1  0.527303  0.823997
2 -0.324912  1.744012
3 -1.516352 -2.198442
4  0.442345 -0.084888
          a         b
0 -0.680549  0.073561
1  2.191212 -0.495032
2 -1.516137  0.670207
3 -0.652646  0.300885
4 -0.997452  1.304793
          a         b
0 -0.257819  0.883813
1  0.848642  0.531958
2  0.219309  0.897399
3 -0.751752  0.407082
4 -1.407155  0.428032
          a         b
0  0.956445  0.823228
1  0.695790  1.412625
2 -0.420183  0.529628
3  0.245228 -0.505185
4 -0.201197  0.203026
          a         b
0  0.167810 -0.550512
1  0.040964  0.292941
2  1.683014 -0.216421
3  1.209036  1.788450
4 -0.489374  0.291917
          a         b
0  0.037386  0.215973
1  0.187547  0.243405
2  0.494649  0.520509
3  0.151455  0.281364
4  1.555418  0.601438
          a         b
0  1.686397  0.940021
1  0.694104 -0.667233
2 -0.411774 -0.392449
3  1.501151  0.208457
4  0.281040 -0.926753
          a         b
0  0.624907 -0.981438
1 -1.120507 -0.981162
2 -0.331696 -1.339170
3  0.121784  0.490524
4 -0.484329 -0.288842
          a         b
0  0.192939 -0.157563
1  0.531883  1.985989
2 -0.176674 -0.060378
3  0.843209 -1.119737
4  0.018235  0.112297
          a         b
0  1.228024  0.177579
1  0.890592 -0.510304
2  0.618441  0.397843
3 -0.148005  1.758835
4  0.263311 -0.243448
          a         b
0  0.339911 -0.071650
1  0.629573  1.239655
2  2.449748 -0.266936
3 -0.383392 -0.577790
4  1.876260  0.331142
          a         b
0  0.080269  0.438734
1  0.330742  0.469099
2 -0.495276  0.427852
3  0.386606 -1.248361
4  1.607352 -0.008660
          a         b
0  1.448035 -0.176858
1 -0.080171 -1.076296
2 -0.824554 -1.476582
3 -0.097885 -0.799448
4  0.349323  0.605529
          a         b
0  0.604759 -2.313574
1 -0.182092 -0.167672
2 -0.611259 -0.460712
3  0.422427  0.133054
4  1.010324 -0.546907
          a         b
0 -0.688793  0.099573
1  1.716115 -0.589239
2  0.973511 -1.596065
3  0.106481  0.543519
4 -0.476203  0.077467
          a         b
0  0.613656 -1.086034
1 -1.807337 -0.529556
2 -0.920617 -1.665881
3  0.965367  0.034985
4 -0.408382  2.016263
          a         b
0 -1.685983  1.283711
1  0.139006  0.727827
2 -1.665243  2.108959
3 -2.094078  0.187785
4 -0.067583  0.915868
          a         b
0 -0.307747  0.548387
1 -0.702514 -1.404832
2 -0.106062 -0.068240
3  0.094334  0.866070
4  0.158917  0.066768
          a         b
0 -0.146556  0.089983
1 -1.240162 -0.115404
2  1.445849 -0.098109
3 -0.428830 -0.253011
4 -1.160279  0.003858
          a         b
0 -1.089650  0.747100
1  1.263163  0.088693
2  0.467759 -1.955741
3 -0.464488  0.733934
4 -0.698292  0.271804
          a         b
0  0.466328 -1.017126
1 -0.415416  0.041802
2 -0.483604 -2.296002
3  0.217918 -1.229825
4  1.475946  0.022993
          a         b
0 -0.374880  0.946030
1  0.440515 -0.958196
2 -0.913416 -1.477203
3  1.215366  0.657667
4  0.752890  0.590485
          a         b
0 -1.821869  1.218935
1 -0.961925  0.193260
2 -0.434878 -0.910107
3 -1.566534  0.822939
4  1.429449 -0.232789
          a         b
0 -1.005159  1.349660
1  0.769980  1.218568
2  1.796884 -1.415213
3 -1.506542 -0.557843
4 -1.534150  0.718840
          a         b
0  0.302208 -0.034595
1  1.392666  1.167974
2 -1.205558 -0.121655
3  0.147752  0.593414
4 -0.734708  1.698789
          a         b
0 -0.776605  0.497642
1 -1.128284 -1.024759
2 -0.066386  0.744123
3 -1.368762  0.972582
4  1.194969 -0.783869
          a         b
0  1.613593 -0.513425
1  1.612464 -0.015560
2  0.042095 -1.446721
3 -0.560697 -2.155182
4  0.880111 -0.026800
          a         b
0 -0.860996 -0.690658
1 -1.864726 -0.447686
2 -1.314908 -0.738358
3  0.317381 -1.485240
4 -0.575703 -2.280669
          a         b
0 -0.653003  0.220769
1 -1.336795  1.067949
2  0.655262 -1.447426
3 -0.279923  0.946394
4 -1.615526 -0.776608
          a         b
0 -0.273476  0.164363
1 -0.238602 -0.550417
2  0.704959 -0.613391
3 -0.822886  0.091790
4 -0.903235 -0.316680
          a         b
0  1.875566  0.433221
1  1.084226 -1.469630
2 -1.557831 -1.066209
3  0.822443 -1.017363
4 -0.676331  0.906756
          a         b
0  0.437411 -0.254754
1  0.320383 -0.717163
2  0.290862 -2.001610
3  0.514067 -0.528492
4  1.815826 -0.313119
          a         b
0  0.181239  0.911876
1  1.212249 -1.661864
2  0.586893 -0.684839
3  0.130266 -2.650795
4 -0.131307 -0.193832
          a         b
0 -0.606675  0.477615
1  1.133143  0.549077
2 -1.204552  0.867534
3  0.321885  0.176592
4  0.308498  0.122741
          a         b
0  0.198242  1.566610
1 -0.034321 -0.541139
2 -0.598529  0.582495
3  0.909373  0.655709
4  0.107601  0.200673
          a         b
0  0.946217 -0.543334
1 -0.042928  0.546125
2  0.424384 -0.137844
3  0.881316  1.415943
4  0.560750  1.899109
          a         b
0 -0.986199 -0.533185
1 -0.928774  0.889574
2  0.509246  0.269683
3  0.845227 -1.053864
4 -0.655817  0.449887
          a         b
0 -3.820151  1.842261
1 -0.650442 -0.673456
2  0.303423 -0.456636
3 -0.700275 -0.903508
4 -0.084527 -2.168809
          a         b
0  0.717695 -0.147392
1 -1.971577  0.432001
2 -1.016026 -0.840266
3 -0.767968 -0.298414
4 -0.738061 -0.190197
          a         b
0 -0.627440  0.535086
1  0.416446 -0.312373
2 -1.055887 -0.372811
3 -0.598672 -0.500982
4 -0.586818  0.490507
          a         b
0  2.343332  0.386140
1  0.221248 -0.833539
2 -0.280241  0.246471
3  0.027564 -0.426463
4 -1.199171 -0.349072
          a         b
0  0.453538 -0.136115
1 -0.548400 -0.511840
2  0.517873 -0.594785
3 -0.753911  1.856235
4 -0.197529 -0.004469
          a         b
0  1.970043  1.845271
1  0.183161 -0.101752
2 -0.433278 -0.743656
3  0.953251 -1.748621
4 -0.649111 -0.652575
          a         b
0 -0.485828  0.153402
1  1.065710  0.255969
2  0.835976  0.233578
3  0.743111 -0.395205
4 -1.339186  1.618141
          a         b
0 -0.187491  0.557232
1  0.724829 -1.074611
2 -0.960339 -1.836751
3  1.441804 -0.612093
4  0.379661  0.269307
          a         b
0 -0.576169  0.162539
1 -0.481193 -0.186798
2 -0.547767 -0.116190
3  0.072114  1.415107
4  0.231045 -1.131898
          a         b
0  0.110682  0.736182
1 -0.652593  1.592080
2 -0.519509 -1.296259
3 -0.124448  0.107749
4  0.941405 -0.072412
          a         b
0  0.389024  1.108052
1  0.291054  0.846603
2  0.625521  0.338571
3  0.484949 -0.343070
4  1.387729  0.557527
          a         b
0 -1.295687  2.996791
1  0.142956  0.611100
2  0.518271 -0.554665
3  0.112368 -0.376492
4  0.053702  0.977041
          a         b
0 -0.637026  1.652836
1 -1.541417  0.466347
2  2.361973 -0.282362
3 -2.186924  0.282384
4 -0.334072  0.404521
          a         b
0 -0.262780  1.256175
1 -0.497240  0.199413
2 -0.948389  0.530051
3 -0.174498 -0.122871
4 -0.474334 -0.991855
          a         b
0  1.058205 -0.065084
1 -0.761876  1.627165
2 -0.228268  0.757693
3  0.994513  1.102138
4  0.601421 -1.024005
          a         b
0  0.273854 -0.031101
1 -0.890265 -0.051363
2 -0.236932  0.175602
3 -0.778948 -0.428865
4  0.268496  1.992901
          a         b
0  1.979572  0.637703
1 -0.180534 -0.506817
2  0.818492  1.056457
3 -0.878984 -0.479060
4  0.333832  0.690642
          a         b
0  1.455784 -1.445391
1 -1.535631  1.635746
2  1.275202 -0.243007
3 -0.739610  0.775642
4 -0.795619 -2.449038
          a         b
0  0.477818  1.434226
1  0.541337 -1.153059
2  0.707100 -1.354141
3  1.675577  0.933729
4 -0.780193  0.123980
          a         b
0 -1.597397 -0.641509
1  0.877248 -1.521926
2 -0.701707  0.659705
3 -0.930155 -0.581036
4  0.049737 -1.074811
          a         b
0 -1.533714 -2.146988
1  0.264455  1.658449
2 -1.847351 -0.337596
3  2.268376  0.597393
4 -0.527555 -1.823931
          a         b
0 -1.262003  0.108039
1  0.278065 -1.057050
2 -0.431828 -1.428551
3  0.209914  0.778094
4  0.325915 -0.344939
          a         b
0  2.843098 -1.172318
1 -0.950368  1.407887
2 -0.488839  0.339719
3 -1.817728 -0.701496
4 -0.402909  0.723152
          a         b
0 -1.109614  1.208523
1  0.451162 -0.396377
2 -0.344723 -0.580843
3  0.170462 -0.197212
4  0.466895  0.177043
          a         b
0  1.508501 -0.165416
1  1.219544  0.101856
2  1.595354  0.221035
3  0.359813  0.536875
4  0.520895 -1.264451
          a         b
0  0.245052 -0.163427
1  0.812028  0.274998
2 -0.005913  0.324028
3  0.892745  0.771147
4 -0.677478  0.494388
          a         b
0  0.591897 -1.010212
1  0.329272  0.307773
2 -0.078594 -0.537105
3 -0.554825  0.039770
4 -1.425368  1.161090
          a         b
0  1.522820  0.617650
1  0.437775  0.352379
2  0.520341  0.405756
3  0.156958 -0.091895
4  0.014552  1.674224
          a         b
0 -0.796727 -0.708686
1 -0.899393 -1.142694
2 -0.870885  1.187125
3 -0.294829  0.040037
4 -1.421465  0.369383
          a         b
0  0.109206 -0.558683
1  1.154568  0.168943
2  1.030694 -0.540385
3 -1.908106 -0.042676
4 -0.380167 -0.730829
          a         b
0  1.301444  0.060941
1  0.677544 -0.149724
2 -0.777904 -1.939177
3  0.251791 -0.824137
4 -1.805068 -0.178314
          a         b
0  0.889446  1.014646
1  0.279376 -1.182460
2 -0.734747 -0.061098
3 -1.346311  0.076205
4 -1.230712  1.606534
          a         b
0  1.076587  0.765180
1 -0.737427  0.356397
2 -0.174580  2.217037
3 -0.383646  0.747147
4 -0.771451  0.646870
          a         b
0  1.622371  1.448540
1  0.994051 -1.077966
2  2.457379  1.082916
3 -1.443630  0.441214
4  0.266978 -0.684999
          a         b
0  0.312041  0.130599
1 -0.651822 -0.698913
2  0.452063  1.529651
3  1.454916  0.948063
4 -1.004389  1.572653

          a         b
0 -0.227386 -0.630709
1 -0.736911 -0.120377
2  1.683427 -1.115096
3 -1.688277  0.552071
4  2.424042  3.244491
          a         b
0 -1.457669 -0.104730
1 -1.112461  1.299300
2 -0.143724  0.946535
3  0.726893 -0.063821
4 -0.929559 -2.136439
          a         b
0 -0.297446  1.357694
1  0.065270 -1.273979
2  1.017558  0.748610
3 -0.811923  0.618753
4  0.961479  0.907867
          a         b
0 -0.788272 -1.310865
1  0.885356 -0.050768
2 -2.573536  0.257737
3  2.185798 -0.430696
4 -0.609031  0.828274
          a         b
0 -0.734763  0.688979
1 -0.466890  0.678204
2 -0.153265 -0.281967
3  2.560216  0.123174
4  1.155642  0.645791
          a         b
0 -1.253229 -1.851391
1 -1.153834  0.325346
2  1.689300 -0.837314
3  0.300012 -0.606964
4 -0.034399 -0.545614
          a         b
0  0.859709 -0.975382
1 -0.223307 -0.165175
2 -1.616772  0.269696
3 -1.746678 -0.791606
4  1.490569 -0.620308
          a         b
0 -1.153900 -0.212041
1 -0.191664  1.152465
2  0.626829 -0.438676
3 -1.609757  2.129254
4 -0.652924 -1.090873
          a         b
0  1.371194  0.403747
1 -0.631879 -1.173282
2  0.090508 -0.809682
3  0.120948  0.322975
4  1.388730 -1.359133
          a         b
0 -1.740926  1.909602
1  2.043021  0.806077
2  1.116011 -2.550148
3 -0.180973 -0.656288
4  0.320854  0.170291
          a         b
0 -0.878945 -0.417371
1 -0.154141  0.326179
2 -0.144636 -0.865105
3 -0.239152 -0.257230
4  0.136158 -1.543077
          a         b
0 -0.572859 -0.654398
1  2.234101 -0.916655
2  1.883606  0.233004
3 -0.595677  1.801630
4 -1.081665 -0.705636
          a         b
0 -1.027011 -0.692886
1  0.338752  1.047674
2 -1.219220 -0.981914
3  0.540116  2.330828
4 -0.475768 -0.945283
          a         b
0  1.048704 -0.153417
1 -1.142140 -0.499672
2  0.521051  0.471586
3 -0.408814  1.151925
4  1.293856  0.264996
          a         b
0  0.103183 -0.232922
1 -0.079056  0.138013
2  1.039885 -2.142778
3  0.351703 -0.587229
4 -0.113083 -0.087668
          a         b
0  0.462279 -1.001070
1 -0.538027 -1.197397
2 -0.711465  0.955976
3 -1.091103  2.777011
4 -0.235586  0.273462
          a         b
0 -0.513366  0.672199
1  0.210866 -0.798929
2 -0.298571  1.452401
3  1.129933  1.652177
4  0.067294 -0.126967
          a         b
0  0.518590 -0.900617
1 -0.568069  0.626103
2 -1.507316  0.149615
3 -0.583888  0.675020
4 -0.086564  1.612901
          a         b
0 -1.531538  1.707703
1  2.573328 -1.359207
2 -0.195268 -0.872550
3  1.034569 -0.407617
4 -0.788714 -0.945966
          a         b
0  1.008438 -0.653201
1 -0.695199 -0.141228
2 -1.657904  0.723282
3 -1.375685  0.113628
4  0.293607 -0.465921
          a         b
0  0.115693  0.266844
1 -0.037334 -0.001963
2 -0.503745 -0.959121
3 -0.895369 -1.542255
4  0.420213 -0.868272
          a         b
0  0.293474  0.553227
1 -0.593609  0.457371
2 -1.871462  0.836681
3 -0.354176 -1.195111
4 -0.741262 -0.125798
          a         b
0  0.941224 -0.994424
1  1.521619  2.029691
2  0.843700 -0.479668
3  0.909733 -0.385475
4  0.361632 -0.490532
          a         b
0  1.283210 -0.234523
1  0.039215  1.479034
2 -0.863260 -1.349804
3 -1.148368  0.147671
4  1.423808  0.886627
          a         b
0  1.362927 -1.270521
1 -1.320797  0.554141
2 -1.268134  0.384087
3  0.037824  0.211210
4 -0.680552  1.618720
          a         b
0 -1.963773 -0.917693
1 -2.426688  1.324386
2 -0.296783  1.025696
3 -0.051072  0.316897
4  2.295873 -0.394158
          a         b
0  0.306647  0.540554
1 -0.499289 -0.314628
2  0.379260 -0.217049
3 -1.058396 -0.590642
4  0.155274 -1.128431
          a         b
0 -0.024167 -1.720627
1 -0.697674  0.520593
2 -0.534889  0.496347
3 -0.387759  0.506548
4  0.191496 -0.006609
          a         b
0  0.445930  0.253018
1 -1.500762 -1.216915
2  0.531309 -0.918009
3  0.683609  0.788781
4  0.945477  0.938160
          a         b
0 -0.417217 -1.875244
1 -1.862381  0.039608
2  0.520589 -0.920398
3 -0.622190  0.334561
4 -0.085855  0.117562
          a         b
0  0.863501  0.112541
1 -0.359438  1.095918
2  0.626542 -0.690042
3  0.102303 -0.420246
4  0.538229  0.429172
          a         b
0 -0.306774  0.981648
1  0.046708 -0.030009
2  1.625298 -0.314274
3 -2.132016  1.453352
4 -0.115896 -0.187686
          a         b
0  1.111587 -0.776184
1  0.326934  0.223614
2  0.679610 -1.164877
3  0.435357 -0.502980
4 -0.040635  1.167606
          a         b
0 -0.395791 -0.333959
1 -0.702915  0.016940
2 -0.283176 -0.471204
3  0.334913 -0.008801
4 -0.607124  0.202296
          a         b
0  0.783588 -1.103069
1  0.640876 -0.028904
2  1.647830 -0.516782
3  0.568556 -1.521637
4 -0.972637  0.266756
          a         b
0  0.014545 -2.264657
1 -1.815513 -0.635622
2  1.914759  1.557333
3  1.197448 -0.020472
4  0.993008 -0.578212
          a         b
0 -0.189900  1.281842
1 -0.393858 -0.160510
2 -2.119845 -0.423390
3  0.605639 -0.630240
4  0.361882  2.653722
          a         b
0  1.708774 -1.302703
1 -0.682760  1.548087
2 -1.159880 -1.305323
3 -1.440150  1.081202
4  0.313994 -0.493025
          a         b
0 -0.671256  0.518373
1 -0.612163 -0.780163
2 -0.861953 -1.015791
3 -0.500945  0.284397
4  0.141237  0.110569
          a         b
0  0.316764 -0.219308
1  0.687285 -0.059352
2 -0.257075 -0.175576
3  0.151899  0.456750
4 -0.184747 -1.572519
          a         b
0  0.885636 -2.012087
1 -0.352395  0.633569
2 -2.127291 -0.578708
3  0.185481  0.331317
4  1.466310  0.502469
          a         b
0  1.739148  0.828335
1 -0.903140 -0.066710
2 -0.506329 -0.552482
3  2.121378 -0.414701
4  0.594974 -0.090527
          a         b
0 -0.579265 -0.552671
1 -0.091899 -0.619371
2  0.489498 -1.107330
3 -0.263738 -0.408828
4 -0.732416 -0.392934
          a         b
0 -0.087804 -1.463252
1 -1.114233 -0.630959
2  0.760426  0.939910
3  0.838127  0.592398
4  0.874913  2.405310
          a         b
0 -2.071528  0.166024
1  0.344589  0.288047
2  0.844049 -0.654008
3  0.515818 -0.000295
4  0.994723 -0.905171
          a         b
0 -0.238058  0.030288
1 -0.345321 -1.354569
2  0.188391  1.711081
3 -0.043239 -1.400098
4  0.179842 -0.356380
          a         b
0 -0.240962  1.024057
1  1.328815  0.397741
2 -1.193365  0.181393
3  0.173524  1.004931
4  0.878946 -1.282115
          a         b
0  1.758215 -0.628305
1  0.433907  1.928004
2 -0.572880  1.262780
3  0.569949  1.748517
4 -1.324870  0.252879
          a         b
0 -0.449051  1.259306
1 -0.173716 -1.033596
2  1.293067 -0.842947
3  0.461569 -0.528203
4 -1.750917 -0.156640
          a         b
0 -0.756714  0.763145
1 -1.221474  1.177304
2  0.965662 -2.237762
3 -0.282875  1.370942
4 -0.377914  0.901702
          a         b
0 -0.614463 -0.027961
1 -0.607735  0.039725
2 -0.749717 -0.196303
3  0.309438  1.082045
4 -1.341030  0.407825
          a         b
0  1.671333  0.710575
1  1.173061  1.451080
2 -0.995027  0.398662
3  0.821115  0.385059
4  0.575246 -0.866045
          a         b
0  0.850468 -0.916509
1 -0.301327  0.168916
2  0.310305  0.641807
3 -0.041776 -1.375122
4  0.898985 -1.822775
          a         b
0 -0.650727  1.334679
1 -0.053673 -1.719558
2  0.342151 -0.298631
3 -1.433721  1.197090
4  1.695305 -1.441690
          a         b
0 -0.399057 -1.177980
1 -0.163707  0.985116
2  0.016690 -0.510243
3  0.127062  0.235711
4 -0.816100  1.420913
          a         b
0 -0.563671  0.007532
1  0.128988  0.583852
2 -1.166680  0.323643
3 -0.556707 -0.429366
4  2.262507  0.816144
          a         b
0  2.136190 -0.383721
1 -0.606923 -0.008725
2 -1.075492  0.634653
3 -0.164468  0.562037
4  0.283986 -0.849067
          a         b
0  0.278100 -1.044378
1  0.670276 -1.777685
2 -0.466474  0.664223
3  0.585992  2.269377
4  0.366795 -1.038156
          a         b
0  1.162828  1.367661
1  0.024145  0.382782
2 -0.570073 -0.104038
3  1.257124 -0.705004
4 -0.178238 -0.144301
          a         b
0 -1.362230 -0.340847
1 -0.505908  0.921370
2 -1.245445 -0.012625
3  0.009269  0.867323
4 -0.701970 -0.054674
          a         b
0  0.090489 -0.236983
1  0.544314  1.953627
2  0.970686 -0.372167
3  0.410256  0.135376
4 -0.000425  0.902317
          a         b
0 -0.728345 -0.065102
1  0.496550  1.466719
2  0.303731  0.317035
3  1.082356  1.160762
4  0.079590  1.836734
          a         b
0  0.023549 -0.633834
1  0.342225 -1.093780
2 -0.650220 -0.118324
3  0.456470 -1.152983
4 -0.243126 -0.895028
          a         b
0  0.667493 -0.538594
1 -0.204769  0.078384
2 -1.395776  0.642329
3  0.400838  0.231938
4 -1.156657 -0.552929
          a         b
0 -2.030046  0.199041
1 -0.312661  0.367788
2  2.500819  0.118877
3  0.055488  0.270279
4 -2.207015 -0.260253
          a         b
0  0.462143 -1.801599
1 -0.511148  2.722002
2  0.015197  0.476946
3 -0.677651  0.239656
4 -2.825858 -0.346345
          a         b
0 -1.153091  0.056141
1 -0.824716 -1.705476
2  0.060074  2.061269
3 -0.240508 -0.933927
4  1.238244  0.640444
          a         b
0 -0.608187 -0.494481
1  0.598423  1.693534
2 -0.357420 -0.140632
3  0.516003 -0.241806
4  0.546379 -0.238883

          a         b
0  0.465965  1.194084
1  0.456747 -1.128754
2  1.590936  1.419817
3 -1.103624  0.491647
4  1.665056  0.582850
          a         b
0 -0.427468 -0.311301
1 -1.564965 -1.392339
2 -0.445595  0.128400
3 -0.541824  0.657625
4  0.339159  0.895079
          a         b
0  1.794486 -0.316760
1  0.387545  0.065068
2  0.242672  0.586808
3 -0.082248 -0.885670
4 -0.697947  0.217910
          a         b
0 -0.756716  0.995138
1 -1.872692 -1.640549
2 -1.562699  1.454145
3  0.401177  0.309039
4 -1.424087  0.658726
          a         b
0 -0.452405 -0.114835
1 -0.278325 -0.740064
2 -0.600367  1.502925
3  0.623265  0.406759
4 -0.195259 -0.799686
          a         b
0 -0.052637  0.387422
1  0.719540  0.273667
2  0.839423  0.858576
3  0.980555  0.443331
4  0.660732 -1.373658
          a         b
0 -2.375371  0.030682
1 -0.836090  1.056756
2 -0.703389  0.627766
3  1.161151 -0.500832
4  1.716785 -2.324989
          a         b
0 -1.756664  0.906315
1 -0.414617  0.570021
2 -1.119946 -0.359949
3  0.414334  0.400067
4  0.427694  0.173377
          a         b
0  0.968640 -0.359532
1 -0.143367  0.111827
2  0.681967 -1.663743
3 -1.200354 -0.766211
4  1.065693  0.116567
          a         b
0  0.153662  0.707762
1 -0.009624  0.323464
2 -0.113101  0.413619
3 -1.510243 -0.334327
4 -0.514145  0.793352
          a         b
0 -1.417351  0.375846
1 -0.125010 -1.719594
2  1.873962 -1.828024
3  0.195254  1.308564
4  0.217088  0.462852
          a         b
0  2.206848  0.423764
1 -2.353617 -0.000324
2  0.155034  0.604697
3  0.242610 -1.192509
4 -1.211719  0.142889
          a         b
0  2.106058  0.688566
1 -0.882272  0.318214
2  0.115705  0.982114
3  1.780544  0.178475
4 -0.458367 -0.658807
          a         b
0  0.460865  0.263040
1  0.060337  0.081073
2 -0.750069  0.366408
3 -0.873358 -0.870911
4  0.185548  1.448819
          a         b
0  0.216655 -1.048415
1 -0.214502  0.512054
2  0.576534  0.970348
3 -0.687840 -0.477417
4 -1.511637  0.969225
          a         b
0  0.925558 -0.943750
1 -0.390396  1.299348
2  0.153467  2.071813
3 -1.514988 -1.192872
4  0.103318  1.063821
          a         b
0  1.113248  0.643850
1 -0.248455 -0.700830
2 -0.251337  0.716728
3 -1.706144 -0.121652
4  0.417336  0.893850
          a         b
0  1.691754 -0.828628
1 -1.724346 -0.549501
2  0.505872 -1.226167
3 -1.655971 -0.233733
4  0.924102 -0.706420
          a         b
0 -0.145744 -1.185846
1  2.658497 -0.275292
2 -0.494916 -0.079838
3  0.798295  1.146939
4  2.306974  1.271156
          a         b
0 -0.124880  0.514667
1 -1.244323  1.151482
2  2.205298 -1.019775
3  1.945282  0.589384
4 -0.689927  0.378372
          a         b
0  0.935460  0.921990
1 -0.590066 -1.496471
2 -1.612380  1.410770
3 -0.579895 -0.218357
4 -0.295185  0.822390
          a         b
0 -0.744626 -0.719929
1 -0.596540 -0.367081
2 -2.080742 -0.208782
3  0.589880  0.958591
4  0.861815  0.244708
          a         b
0 -0.360636  1.004426
1  2.262101 -0.448597
2  2.779806 -1.640141
3 -0.742272 -1.162722
4 -0.423658 -0.908927
          a         b
0  0.565118  1.761139
1 -0.317524 -1.443507
2  1.088482  0.724701
3 -0.225767  0.493375
4 -1.491987  0.639776
          a         b
0 -1.341971 -0.760137
1  0.606781  1.913749
2 -0.504735 -0.276109
3 -1.613826  0.764694
4 -0.494556 -0.755925
          a         b
0  0.455611 -1.177712
1 -0.307883 -0.247389
2  0.590926  1.827166
3  1.335052 -0.079159
4 -0.971248  0.524784
          a         b
0  0.625765  0.570557
1 -1.986074 -0.566892
2 -0.520887  1.362127
3  0.950509  0.448769
4 -0.062968 -0.114861
          a         b
0  0.269642 -1.150083
1  0.219706  0.038671
2 -1.105034  0.247272
3  0.447768 -0.718356
4 -1.133633 -2.413012
          a         b
0  0.300906  0.472516
1 -0.411767 -0.197848
2 -0.228066 -1.142033
3 -1.095771  0.822535
4  1.036735 -0.592493
          a         b
0  1.030277 -0.247138
1  1.501452 -0.885175
2  1.089083  2.893564
3 -0.819216 -0.458822
4  0.389271  1.182089
          a         b
0 -0.104782 -0.489632
1  0.292975 -0.166167
2 -1.060544  1.777814
3 -0.628234 -0.202082
4 -1.143258  0.887680
          a         b
0  1.871459 -0.977144
1 -0.086749  0.795810
2 -1.316816  0.457948
3  1.095656 -0.897723
4 -1.033078 -0.301359
          a         b
0  0.420489  1.452045
1 -0.398382  0.663582
2  2.446839  0.954901
3 -0.346716  0.102784
4  0.196016  0.591885
          a         b
0 -2.013999  0.379066
1 -0.115811  0.698877
2  0.818140  1.339480
3  0.302802  0.053487
4  1.022091 -0.728206
          a         b
0 -1.187809 -0.848613
1 -1.245020 -1.181766
2 -0.899395  0.919903
3  0.153826  1.910422
4  0.918154 -0.018721
          a         b
0  0.870275 -1.359747
1  1.028725 -1.738622
2  0.596433  1.421089
3 -0.518200  0.741893
4  1.595359 -0.712516
          a         b
0  1.286453  0.840289
1  0.729225 -1.734362
2 -0.126466 -0.416991
3  0.657930  1.600898
4  0.017793 -1.625573
          a         b
0 -0.062553  1.127794
1 -0.770966  0.907213
2  1.861320 -1.350045
3 -0.299506 -1.199577
4  0.522156  1.246532
          a         b
0 -0.393284  1.089014
1 -0.321880  0.106577
2  0.343682 -0.306744
3  1.454207  0.621747
4  1.400073  0.640191
          a         b
0  0.262950 -0.646431
1  0.903281  0.436252
2  0.334864 -0.667060
3  1.667562  0.726243
4 -0.410542  0.007317
          a         b
0  0.298066  0.615332
1  0.580259  1.151020
2  1.295493 -0.117203
3  0.466886  0.879179
4 -0.175118 -0.421736
          a         b
0  1.254180  0.520274
1  0.409620  0.480942
2 -0.301141 -1.206345
3 -0.467535  2.043476
4  0.823957 -1.014961
          a         b
0  1.037578  1.750674
1  2.779983  3.269889
2  1.318818 -0.849803
3 -1.692208  0.905305
4 -0.558001  0.682877
          a         b
0  0.886635  0.928853
1 -0.569726  0.626298
2  0.790844 -0.870530
3 -0.032870  3.127882
4  0.022904  1.076565
          a         b
0  0.088978  0.574236
1 -1.419586  0.283992
2  0.725333  0.928711
3 -0.310339 -0.928807
4  0.173808 -1.266192
          a         b
0  2.319180  1.457545
1  0.251221  0.473389
2  0.533899  0.220720
3  0.114029  0.013122
4 -0.028978 -0.129520
          a         b
0  0.548406 -0.990948
1  0.367419 -0.729614
2  0.445348  0.131003
3  0.112284 -0.646345
4 -1.686657 -0.688846
          a         b
0  0.120341  0.761368
1  0.024724  0.902297
2  1.772865  0.144762
3  0.050839  0.345818
4  0.674405 -0.408841
          a         b
0 -1.672232 -0.208391
1 -1.881516 -0.105005
2 -0.085583 -0.088086
3  1.533388 -2.008248
4  1.646657  0.665105
          a         b
0 -0.651106  0.700844
1 -1.112720 -0.688955
2 -1.191282  0.571517
3 -0.097640  1.093955
4 -1.649451  0.511263
          a         b
0  1.698569 -1.524835
1 -0.686054 -0.243175
2  0.590196  0.078582
3 -0.718863 -0.374893
4  1.145879  0.353666
          a         b
0 -0.843352 -0.427477
1  0.826782  0.541313
2 -1.112000 -0.514382
3  0.247428 -0.594347
4 -0.630097 -0.585723
          a         b
0  0.418357  0.054650
1 -0.305087 -0.327170
2 -0.011855 -0.269697
3 -0.350048  1.188380
4 -0.586352 -1.464181
          a         b
0  0.621550 -1.095861
1  0.429492  0.263198
2 -0.377588  0.417287
3  0.116698 -0.214887
4  1.911400  0.441155
          a         b
0 -0.638553 -1.508919
1  1.568374 -1.262769
2  1.102753  0.216923
3 -1.029948 -1.582966
4  0.865034 -0.140166
          a         b
0 -1.182028  0.298932
1  0.500552 -0.384406
2 -0.467254  1.049727
3  0.334655  0.182343
4 -0.252588 -0.517080
          a         b
0  0.469572 -0.461068
1 -2.660785 -0.244336
2  0.363541 -1.118769
3 -0.385379  0.129911
4 -0.028960  1.251749
          a         b
0  1.347882  0.554907
1  0.629705  0.635424
2  1.698770  2.120815
3  0.317559 -0.958734
4 -0.559605 -0.327751
          a         b
0  1.413561  1.033353
1 -0.332406  0.222359
2  0.145909  3.025549
3  1.667900  0.120535
4  0.838565  1.956677
          a         b
0  1.012337 -1.249339
1 -1.597662  0.947154
2 -0.380375  1.350977
3  0.437710 -0.607943
4 -0.768150  0.553178
          a         b
0  1.407222  1.756945
1  0.675546 -1.315760
2  0.014312 -0.249969
3 -1.315703 -0.262401
4 -0.507335 -0.448369
          a         b
0  0.802707  2.182007
1  0.341619  0.407735
2  0.627424 -0.141178
3 -1.558252  0.208540
4 -0.667727 -0.297511
          a         b
0  0.157162  1.573245
1  0.187079 -1.462505
2  1.127896  0.999572
3 -0.525812 -1.215254
4 -0.514625  0.940873
          a         b
0  2.019122 -0.606076
1  0.063584 -1.773360
2  1.254148 -1.417446
3  0.020327  0.523792
4 -0.469469  0.785554
          a         b
0  1.228744  0.415021
1 -2.197915 -0.167090
2 -1.896391 -0.452143
3 -1.634687  0.688258
4 -0.219017  0.374195
          a         b
0  0.028267 -0.205248
1  0.083690 -0.058314
2  0.620668 -1.362463
3 -0.854649  1.049020
4 -0.570110  1.900183
          a         b
0 -0.378750 -1.867643
1  0.576041  0.234768
2  0.699776  1.222050
3 -0.677069  0.481986
4 -1.105111 -0.115915
          a         b
0 -1.476435 -0.894505
1  0.660287 -0.999155
2  0.557625  0.496922
3 -0.996628 -0.613447
4  0.982323  0.147890
          a         b
0 -0.935824 -0.329832
1  0.032820 -1.890534
2 -0.262345 -0.223337
3 -1.793377 -0.926854
4 -0.686097  0.159640
          a         b
0  1.378796  2.051310
1 -0.262474  1.603112
2 -1.361457  0.178700
3 -0.920545  1.233982
4  0.220552  0.723196
          a         b
0  0.010522  0.452273
1 -1.120812 -0.739916
2  0.029083  0.903469
3 -0.002866 -0.602081
4 -1.611115  1.332059
          a         b
0  0.046373 -0.276524
1 -0.114272  0.742798
2 -0.015760  0.020105
3  1.060044 -0.017919
4 -0.700177  0.545352
          a         b
0  0.234707  0.618653
1 -0.171005  2.503247
2 -0.208414  1.312753
3 -0.289189  0.467684
4 -0.996158  1.126153
          a         b
0 -0.529649  0.313843
1 -1.240286 -1.578234
2 -0.315258 -1.383323
3  0.371977 -0.550653
4  0.829535 -0.824012
          a         b
0  1.150181 -0.461409
1  1.031819  1.084928
2  0.658456 -0.402131
3 -2.006848 -1.322177
4 -0.636417 -1.473042
          a         b
0  0.128979  2.667096
1  0.864373 -1.028063
2 -0.409506 -0.058065
3  0.058991 -0.538115
4  0.538569 -1.092727
          a         b
0 -1.307246 -0.527637
1  0.384329 -0.062907
2  1.777452  1.122222
3 -0.509885 -1.183373
4 -1.190291  0.627012
          a         b
0  0.063041  0.712834
1 -1.341412 -1.418346
2 -0.417831 -0.257181
3  0.270231  0.530594
4  0.090577  0.721481
          a         b
0 -1.445681 -1.312728
1 -0.772603  0.831397
2 -0.811250  0.714750
3  0.476847 -1.694481
4 -0.183526 -1.034651
          a         b
0 -1.115939 -1.558402
1 -0.734826 -0.719825
2  0.032964 -0.588830
3  0.914783  0.248612
4 -0.947320 -0.591056

          a         b
0 -0.238394 -1.927854
1  0.238104  0.071212
2  2.118696 -1.573744
3  0.795889  0.807701
4  1.156622  1.404514
          a         b
0  2.274623  1.109400
1 -0.316366  1.425718
2 -1.128967  1.358475
3 -1.947689  1.793016
4  0.040835  0.409758
          a         b
0  0.334740  0.374448
1  0.522290  0.983327
2 -0.330136  1.200450
3  0.561337 -0.309646
4 -0.290072 -0.239551
          a         b
0  0.086888 -0.653546
1  0.694054  0.594661
2 -0.996919 -0.392815
3 -1.191028  0.015927
4  0.533117  0.007327
          a         b
0 -1.078047  0.503152
1  0.213440  0.467373
2 -0.423595 -0.284433
3  1.377329  1.093381
4 -0.554423 -0.328730
          a         b
0  0.370433 -0.592257
1  0.861413 -0.475533
2 -0.825996  1.390390
3  0.209019  0.143612
4  0.405622  0.193818
          a         b
0 -1.359895  0.471376
1  1.890723  2.426653
2 -0.915259  0.749503
3 -0.847653 -0.442074
4 -0.176986 -0.282180
          a         b
0  1.062228  1.736981
1  1.467122 -0.453133
2  0.159779 -1.283962
3 -0.152789 -0.872412
4  1.085565 -1.422691
          a         b
0 -0.318917  0.482698
1  0.226780  0.152199
2  2.133858 -0.240315
3  0.085927  0.411502
4 -1.054703  0.401878
          a         b
0 -0.479547  0.558214
1 -1.233992 -0.148647
2 -1.435191  0.326085
3  1.115132 -0.734452
4  0.714933  1.650268
          a         b
0  0.043747  1.508747
1 -1.781132 -0.178894
2 -1.015506  0.157423
3  0.954778  1.027563
4 -0.437343  2.138400
          a         b
0  0.657461 -0.577648
1  1.349772 -0.873716
2 -0.763497  1.286792
3  0.246145  1.427042
4  0.002618 -0.554464
          a         b
0  0.558626  0.009102
1  0.565260 -0.735372
2  0.737643  2.531879
3  2.105117 -0.693789
4 -0.270562 -1.783725
          a         b
0 -0.272911 -0.053058
1  0.316703  0.316645
2  0.050297  0.383282
3  2.029445 -0.545393
4 -0.221067 -0.963963
          a         b
0 -0.338398 -0.829798
1 -0.471595 -0.290213
2 -0.558487 -0.050597
3 -0.388735  0.331334
4 -0.999423  1.093997
          a         b
0  0.097619  0.607537
1  0.982470  0.455525
2 -0.966751  1.228103
3 -1.450488 -0.593899
4  0.705675 -0.257049
          a         b
0 -0.091014  0.101999
1  0.135803 -0.340771
2 -0.647608  1.087802
3  1.460455 -0.489142
4 -0.628829  0.760960
          a         b
0 -0.259077 -0.512229
1 -1.023955  1.402787
2  0.141760  0.374368
3 -0.874092  1.391594
4 -1.121980  1.725129
          a         b
0 -0.633516  1.009167
1  0.981255  0.055461
2 -0.306289  0.226426
3 -1.214575 -0.892483
4  1.176107 -0.108978
          a         b
0 -0.881717  0.426359
1  0.861325 -0.087303
2  1.113229 -2.059054
3  0.858385 -1.455325
4 -0.091413  1.353317
          a         b
0 -0.559067 -1.849882
1 -0.336423 -0.589364
2  0.229273 -1.378576
3 -0.515052 -0.038371
4 -0.068105 -0.931320
          a         b
0  0.305730  1.065052
1  0.003011  1.353595
2  0.307825  0.821322
3  0.101977  0.163589
4  1.453104  0.407207
          a         b
0  0.137732  0.548544
1  0.952803  0.538199
2  1.051008 -0.234864
3  1.875420 -0.829589
4 -1.051718  0.504898
          a         b
0 -1.012544  1.323820
1 -0.771095  0.052494
2  1.072765 -0.934576
3  0.525208  1.352588
4  0.741084  1.242075
          a         b
0 -0.912365 -0.855802
1  0.711968 -0.726823
2 -0.066699  1.735189
3  0.200342 -1.594444
4  1.179284 -1.015134
          a         b
0  1.751479 -2.145677
1 -0.031295  0.448665
2 -0.729020  0.649572
3  2.500787 -0.907687
4 -1.657822  0.567351
          a         b
0 -0.574130  0.216085
1 -1.236538 -0.698133
2 -1.554758 -0.416670
3  0.080771 -1.132209
4 -0.508748 -0.440915
          a         b
0  0.126366 -1.157834
1 -0.140429  0.094298
2  2.247401  0.740204
3  0.513475 -0.663095
4  0.805369  1.154488
          a         b
0 -0.755222  0.051827
1  2.333409  0.904886
2 -0.310812  0.326622
3  0.428808  0.918307
4  0.790235 -0.133873
          a         b
0  0.425383 -0.196043
1 -0.496075 -1.036133
2 -1.961042  2.337098
3  0.244843  0.995893
4  0.600816  1.098929
          a         b
0  0.259791  0.206728
1 -1.381938 -0.746972
2  1.166311 -0.542896
3 -1.746659 -1.040076
4 -0.207539 -1.391294
          a         b
0  0.485336  0.966215
1 -0.607279  1.433947
2 -0.037953 -0.249621
3  0.107788  1.648176
4  0.899886  0.546150
          a         b
0 -0.173075  0.216387
1  0.608449  0.000442
2 -0.826616  1.265419
3  1.302053 -0.324410
4  1.300606 -1.373576
          a         b
0 -0.768032  0.397736
1 -0.993385 -0.191241
2 -0.656773 -1.333517
3 -0.912911  1.435264
4  0.563754 -0.713373
          a         b
0 -1.010856  0.650647
1  0.650971  0.747564
2 -0.624368  1.746508
3  0.619668  0.832793
4 -0.176850  1.563875
          a         b
0  0.557943 -1.640075
1  0.771491  0.194519
2  0.497196 -0.171776
3  0.095609  1.539497
4  0.493730  0.968467
          a         b
0  0.232810  0.870968
1  0.451795 -1.113022
2 -2.369072  0.202668
3  0.838132 -0.575620
4 -0.709832 -1.038192
          a         b
0 -1.696299 -1.172237
1  1.085270  1.552299
2  0.234523 -0.870488
3  0.227539  0.390924
4  1.005563 -2.267132
          a         b
0  1.172640 -0.372860
1 -0.762331  0.047233
2 -1.802699  1.810487
3 -0.805268  0.642221
4 -1.675720  0.360386
          a         b
0 -0.860831 -0.385287
1  1.054922  0.219514
2  0.400487 -0.017771
3  0.695025 -0.096493
4 -2.115668 -0.067165
          a         b
0 -1.456609 -0.903220
1  1.610539  1.676803
2 -1.317544 -1.616595
3 -0.129930 -0.336951
4  0.280913 -0.666710
          a         b
0  2.605932 -2.170377
1  1.050295 -0.724256
2  1.352799  0.270591
3  0.152830  0.218520
4  0.629000 -0.798451
          a         b
0 -0.996415 -1.954473
1 -0.581938 -0.550895
2 -0.058589  0.818929
3 -0.100953  0.178915
4  1.462810  0.634370
          a         b
0 -0.792845  1.520380
1 -0.307667 -0.307016
2 -1.106052  0.033442
3 -1.121709 -0.908993
4 -0.857975  2.520072
          a         b
0 -0.505590  1.128784
1 -0.042438  1.927991
2  1.884821 -0.451004
3  1.045406  1.848601
4 -0.466879 -1.559109
          a         b
0  0.003780  0.364936
1 -0.653852  1.718532
2  0.361839  0.392629
3 -0.839825  1.944834
4  0.252093 -0.664630
          a         b
0  1.218157 -0.149681
1  0.456181 -0.976160
2  0.469915  1.169895
3 -0.138397  0.597606
4 -0.440350 -0.008404
          a         b
0  0.599388  1.251822
1 -0.855225  0.381434
2 -0.680572  0.622432
3  0.612166  0.091374
4  0.637419  0.581592
          a         b
0  0.720665 -0.767139
1  1.142840 -0.641788
2  1.559644 -0.486610
3 -0.927274 -1.546287
4  0.088163  0.179561
          a         b
0  0.395099 -1.250358
1 -0.934834  1.094506
2 -1.354594  0.738109
3 -1.154959 -0.031033
4  0.069394  1.256035
          a         b
0  3.190638  0.639339
1  0.302668 -0.110779
2 -1.025215 -0.592895
3 -1.421410  0.277491
4 -0.285323  0.633966
          a         b
0  0.657856  0.471827
1  0.547313  0.035592
2 -0.545426 -0.538697
3  0.325605 -0.149496
4  0.333091 -0.831237
          a         b
0 -0.903072  0.112923
1 -0.204251 -0.242384
2 -0.667329  0.747703
3  0.065463 -0.794312
4 -0.547880  0.943717
          a         b
0 -0.293842 -0.467862
1  0.738425 -0.040097
2  0.634214 -1.457217
3  0.237594  0.621811
4 -0.566939  0.811301
          a         b
0  0.297304 -1.632086
1  2.237053 -1.010851
2  0.019711  1.611842
3  1.018877  0.569844
4 -0.556250  1.192950
          a         b
0  0.944790  0.084766
1 -1.833863 -0.321132
2 -0.481762 -0.199191
3 -1.202481 -2.187631
4  1.062390 -0.417754
          a         b
0  0.667982  0.502033
1 -1.204451 -0.848001
2  0.741016 -0.234910
3  0.603219  0.037442
4 -0.055672  0.676800
          a         b
0  1.745161  0.868997
1 -0.274130  1.632804
2 -0.497987  0.254210
3  0.351683 -0.193553
4  0.397167  0.207042
          a         b
0  0.699248 -0.895481
1  0.306820  2.234184
2 -0.727463 -0.428465
3  1.596653  0.640250
4 -1.282731  1.566374
          a         b
0 -1.088517  0.030845
1  0.346953 -1.620434
2 -0.587739  0.098314
3 -0.903628 -0.331737
4 -1.201023 -1.078367
          a         b
0 -1.236961 -0.129058
1  2.166995 -0.033436
2  0.833561  0.840208
3 -0.217377 -1.331467
4 -0.006651 -0.577784
          a         b
0  0.045066 -0.740390
1  0.248090  1.220628
2 -0.392644 -1.635124
3 -0.378079  2.179107
4 -0.690998 -0.360422
          a         b
0  0.686076  1.333098
1  0.617149  0.237912
2 -0.244335 -1.287214
3  1.596632  0.282997
4 -0.670694 -0.802039
          a         b
0  0.365162  0.457682
1  0.864310 -0.977674
2  0.179559  0.878933
3  0.138814  0.691177
4 -1.309176 -1.054513
          a         b
0  1.245855 -0.965396
1  1.992824  1.423406
2  1.132827 -0.217626
3 -1.784750  0.003045
4  0.524650  1.282291
          a         b
0 -1.096213 -0.974996
1 -1.588913  0.289275
2  0.371434  0.464947
3  0.039010  0.540305
4  0.611466  1.990956
          a         b
0  0.110657  0.277387
1  0.966348  0.383752
2 -0.658578  0.509734
3  0.274106 -0.593206
4 -0.298938  1.697576
          a         b
0 -1.087016  0.108698
1 -0.075905 -1.557115
2  0.925981  0.887715
3 -0.004625  0.336698
4  0.360941 -1.253413
          a         b
0  0.803146 -0.574585
1  0.464697 -1.060116
2 -0.284371  1.002026
3  0.106116  1.910057
4  1.066073 -0.944662
          a         b
0 -0.456878  1.499827
1 -0.206485 -0.807610
2  0.058153 -1.051511
3 -0.058064  0.747423
4 -0.674499  0.672669
          a         b
0 -0.420696  0.505215
1  0.520259  1.237617
2 -0.489375  1.941288
3  0.447398  1.228437
4  1.103611  1.018158
          a         b
0 -1.956025 -2.036276
1 -0.562205  0.164700
2  0.556739  1.231690
3  0.628370 -0.778360
4 -0.349644  0.698739
          a         b
0  1.522668  0.689974
1 -0.868000  0.184047
2  0.434718  1.396703
3 -0.186111 -0.561297
4 -1.496158  0.110701
          a         b
0  0.152720 -0.738071
1  1.138861  0.566989
2  0.268701  0.138706
3  1.097777 -0.295862
4  0.264337 -0.942195
          a         b
0 -0.320930 -1.812588
1 -1.046476 -0.806625
2  0.479328  0.266273
3 -2.187643  0.219299
4 -0.176626 -0.181191
          a         b
0 -0.651590  1.624089
1  0.884381  0.166916
2  0.558223 -0.255410
3 -3.057384 -0.110101
4 -0.966224 -1.161187
          a         b
0 -0.579147 -0.257027
1 -0.190594 -1.178304
2 -0.238949 -0.452487
3 -0.420627 -0.285246
4 -0.504722  0.147072
          a         b
0 -1.182473  2.573572
1 -0.013674 -0.543850
2  2.115843  1.567218
3 -0.060029 -0.055101
4 -2.057867 -1.619198

          a         b
0 -2.964428 -2.661788
1 -0.343322 -0.877270
2 -1.994800  1.649941
3 -0.869969  1.417481
4  1.095956  0.191973
          a         b
0  1.118635 -1.451945
1  1.362714 -0.140963
2 -0.059009  0.252994
3 -0.053765  0.563097
4  0.852445 -0.625789
          a         b
0  1.442572 -0.885462
1 -0.663158 -0.264402
2 -0.907376  0.700664
3  0.953110 -0.076022
4 -0.337481  1.211955
          a         b
0  0.599206 -0.649298
1 -1.374541  0.699003
2 -0.046401  0.009308
3  0.264162 -1.421541
4 -0.033865  0.923784
          a         b
0  0.971572 -0.113538
1  0.326799  0.712144
2 -0.478697 -0.143088
3  0.073294 -0.319059
4 -0.915524 -0.005671
          a         b
0 -0.326300  0.882017
1  0.955383  1.024823
2 -1.263296 -0.446280
3 -0.248130 -2.338515
4  0.607898 -1.003838
          a         b
0 -1.656731 -0.939389
1 -2.367576 -1.164409
2  1.618279 -1.434707
3 -1.904721  1.593277
4 -0.493317 -0.765920
          a         b
0 -0.405783 -1.660497
1  0.811967 -0.995525
2 -1.752364  0.095541
3  0.246368  1.081053
4 -0.494801 -2.260438
          a         b
0 -1.064576  0.946197
1 -0.065410  1.029525
2  1.848826  1.994037
3 -0.940727 -0.446639
4 -0.852588  1.222894
          a         b
0  0.049502 -0.414348
1  0.030785  0.791823
2  1.255925  1.132643
3  1.529124  0.093113
4  0.711305  0.039220
          a         b
0 -0.184343 -0.877527
1  1.378403  0.164661
2 -0.201740 -1.389527
3  1.784673  0.806521
4  1.863735 -0.475158
          a         b
0  0.490371  1.291479
1  0.256800  2.359899
2 -0.334007 -0.320567
3 -0.755797 -0.868795
4  0.887712  1.567225
          a         b
0 -2.234824 -0.267480
1  0.595010 -0.358250
2  0.932139  0.300601
3 -0.998842  0.729608
4 -1.928646  1.123135
          a         b
0 -0.375784  2.060023
1  0.011562  0.543037
2 -0.483785 -1.223828
3  0.570964  1.451761
4  1.319400  2.894181
          a         b
0 -0.733718  0.243914
1  1.985992  1.331122
2 -1.468579 -1.476456
3  0.647701  0.829097
4  0.798360 -0.305803
          a         b
0  0.098415 -0.346961
1 -1.535235 -0.478869
2 -0.445649 -1.231178
3 -0.279036  0.804051
4  0.291167 -0.542762
          a         b
0 -0.140631  0.658269
1 -0.139262 -0.544307
2 -1.076589 -0.339846
3  0.049561  0.879667
4  1.271279 -0.577982
          a         b
0  0.602566  1.504018
1  0.526512  0.250034
2  0.251445 -0.133970
3 -0.630152  1.648138
4 -0.856399  0.565250
          a         b
0  0.873382  0.252879
1  1.007419  2.276388
2 -0.403752  0.334304
3  1.175248  1.392675
4 -0.871346  1.345858
          a         b
0  0.027963  0.232699
1 -1.329449 -1.262486
2 -0.343899  0.076006
3  0.067095 -0.451251
4 -0.026478  0.523005
          a         b
0  0.849287 -1.697737
1 -0.706856 -0.533011
2  0.278195 -0.666345
3 -0.983509 -0.104495
4  0.080502  0.150826
          a         b
0  0.017464 -1.175194
1  1.850286 -1.340180
2 -1.985291 -1.669092
3 -0.396756  0.654337
4 -0.930228 -0.492258
          a         b
0 -0.585327 -0.809486
1  0.458238  1.316363
2  0.071196 -0.538517
3  0.067920 -0.142506
4 -0.645213 -0.560710
          a         b
0 -1.571660 -0.320427
1 -0.256880 -1.148193
2  0.540912 -1.853180
3 -0.630172  0.018593
4 -3.502662  0.506310
          a         b
0 -2.783508  0.136879
1 -1.149428 -1.560837
2  0.788852  1.129090
3 -0.005772  0.803799
4  0.192977  0.123758
          a         b
0 -1.178724  0.786083
1  0.854864 -0.411988
2 -0.069994 -1.437587
3  2.145948 -0.551948
4  0.192094 -0.127073
          a         b
0 -0.297335  0.149096
1 -0.319532  0.673644
2 -2.447324 -1.057509
3  0.250674  0.828668
4 -0.241800 -1.462753
          a         b
0 -1.376678 -0.376518
1  0.040215 -0.973468
2 -0.986464 -0.442222
3  0.428753  0.177938
4 -0.468565 -2.564319
          a         b
0 -0.702858  0.019524
1  0.920145  0.970964
2  0.279187  0.316650
3 -2.078221  2.313806
4  0.640081  0.378285
          a         b
0 -0.842225  0.070947
1  0.858363  0.502110
2  0.983373  2.462398
3 -0.327348  0.310635
4  1.142281 -2.667296
          a         b
0  0.998183 -0.360607
1  1.560235  1.195753
2 -2.389166 -0.496374
3 -1.345592 -0.018290
4 -1.044531  1.426733
          a         b
0  1.093149  0.311320
1  1.360692  0.053391
2 -0.729390 -1.462216
3 -0.686782  0.234086
4 -1.003864 -1.623019
          a         b
0 -0.048463  0.845221
1  0.770593  0.630149
2 -0.444842 -0.828272
3 -1.051628  0.121838
4 -1.120951 -0.860631
          a         b
0 -0.488335  3.815400
1  2.208779 -0.257891
2  0.668696  0.134104
3  0.187922  0.742054
4 -1.091210 -1.337267
          a         b
0  0.295016 -0.923000
1 -0.060831  1.621636
2 -1.669002 -1.147383
3  1.603188 -0.654666
4 -0.173427  0.387532
          a         b
0 -0.259098  1.433732
1 -0.919055 -1.218991
2 -0.680673 -1.929558
3 -1.168344 -1.178895
4  0.736572  0.377825
          a         b
0 -1.306506 -1.222348
1  0.610702  0.105115
2  0.024300 -0.455421
3 -0.795989 -0.652392
4  1.338722  0.036731
          a         b
0 -0.699844  1.707202
1  1.416847 -1.434187
2 -2.312218 -1.141150
3 -0.083265 -1.723107
4 -2.002949  0.434049
          a         b
0 -0.902124  0.561549
1  1.827076 -0.980771
2  1.862017  0.010650
3 -0.494522 -0.930649
4  0.419480  1.757588
          a         b
0  0.437337 -0.520427
1  0.866279  0.905030
2 -0.070224  0.199992
3  2.187599  1.010612
4 -0.591357  1.011419
          a         b
0  0.396340 -1.455551
1  0.764802  0.162964
2  1.074273  0.619505
3  0.228487 -0.380159
4  1.193694 -1.459967
          a         b
0  0.651480  0.169047
1  0.354417  1.450445
2 -1.849279 -0.281912
3  0.248006  0.113766
4  0.160777 -0.631946
          a         b
0  1.079629 -1.873994
1 -0.234586 -0.728850
2  0.579567 -1.511944
3  0.589464  0.223399
4  0.990537  0.422545
          a         b
0 -0.579322  0.006053
1 -1.494966  0.982631
2 -1.256451 -0.079812
3  0.317213 -0.829025
4 -0.702749 -0.787580
          a         b
0 -1.334910  0.436667
1  0.125759 -1.430165
2  0.901584  0.275471
3  0.996462 -1.103715
4 -0.763310 -1.647047
          a         b
0  0.889710 -1.152107
1  0.951022  1.335550
2  0.192293 -0.150459
3 -0.602769  0.779363
4  0.636209 -0.802021
          a         b
0 -0.560002  1.133482
1 -1.738314  1.081526
2  0.411338  0.135513
3  1.208203  0.239740
4  0.239103 -0.900792
          a         b
0 -0.837431  0.167376
1 -0.724868 -1.004169
2 -0.779510  0.009707
3  0.841876 -0.765659
4  0.544857 -0.223446
          a         b
0 -0.109152 -1.865043
1 -0.157257  0.565473
2 -0.086985 -0.293787
3 -1.117560  0.554308
4  0.710103  0.184564
          a         b
0 -0.142731  0.005243
1  0.801999 -1.146198
2  0.377382 -0.014620
3 -0.091221 -0.998088
4  0.544132  0.295854
          a         b
0  0.183014  0.897906
1  0.267131 -0.932364
2 -0.433101 -1.335545
3 -0.604205  0.582880
4 -1.497540  2.538341
          a         b
0  0.350165  0.249648
1 -0.777980 -0.761728
2  0.736481  1.506259
3 -0.548097  0.385702
4  1.191619  1.267936
          a         b
0  0.293141  0.880252
1  0.350113  1.428329
2 -1.065033 -0.194746
3 -0.305920  0.155363
4 -0.757144  1.972942
          a         b
0 -0.494473 -0.438470
1 -0.672288 -0.202425
2  1.187939 -0.068397
3  1.116702  1.354125
4 -1.234815  1.777788
          a         b
0 -0.701538 -0.536512
1  0.587235  1.554883
2  0.009324  0.843726
3  0.917512 -0.646597
4 -0.681504 -0.925253
          a         b
0 -0.204775  1.153061
1  1.377170 -0.835726
2  0.100461  1.415711
3  2.004513  1.561185
4 -0.112703 -2.264267
          a         b
0  0.939023 -0.413386
1 -0.956090 -0.660555
2  1.236081 -2.068637
3 -0.784429 -0.122471
4 -1.038936 -1.100554
          a         b
0  1.076898 -0.048338
1  0.531839  0.265627
2 -0.133433 -1.080221
3  1.382416  0.369522
4 -1.033670 -1.709072
          a         b
0 -0.289447 -0.189117
1  0.250745 -0.720916
2  0.722947 -0.858917
3 -1.188581 -0.224191
4  2.454433  2.130949
          a         b
0  0.999868 -0.173740
1  0.993392 -0.531083
2 -0.060333 -0.200857
3 -2.361345 -0.954265
4 -1.717912 -0.248548
          a         b
0 -0.441985 -0.599212
1  0.058929  0.739828
2  1.084330 -0.686179
3  1.759217  0.344638
4  0.999952 -0.575701
          a         b
0 -0.360404 -0.604338
1  0.454156 -0.609416
2 -1.725357 -0.023394
3 -1.305919 -1.926356
4  0.780729  0.464106
          a         b
0  1.079485 -2.992431
1  0.079159 -1.286037
2 -1.803121  0.205394
3 -0.841673 -0.822876
4 -0.576934  0.182551
          a         b
0  1.481251  0.117022
1  1.574740 -0.354212
2  0.445021 -0.720963
3 -0.257560  1.084042
4  0.164726 -0.035736
          a         b
0  2.309068  0.451496
1 -1.376943  0.175788
2  0.657600  1.771690
3  0.303128 -1.765061
4  0.377295 -0.179409
          a         b
0  0.507340 -0.022329
1 -0.235183 -0.406973
2 -1.602957 -0.531851
3 -1.101757 -0.361234
4  0.075099 -0.110947
          a         b
0  0.463090  0.861384
1  1.468048  0.363768
2  0.537902  0.245433
3  1.235597 -0.134902
4 -2.414299  0.529690
          a         b
0 -0.185724 -0.050652
1  1.047216 -0.123211
2  1.119885 -1.024620
3 -1.641872  0.838500
4  1.059471  1.002258
          a         b
0 -0.321915  0.482160
1 -1.582654 -0.273625
2  1.886455  1.039219
3 -0.669741  1.255134
4  0.360425  0.892467
          a         b
0 -0.844195  1.579327
1  1.265378  0.589340
2  0.333609  0.561754
3  1.467203 -0.302391
4 -0.259034 -1.088389
          a         b
0  0.408918 -0.443176
1 -0.927971 -0.051942
2  0.103011 -1.037103
3  0.267146 -0.446798
4 -1.273907 -1.594579
          a         b
0 -0.274787 -0.565023
1 -1.620877  0.090365
2  0.263865  0.968975
3  0.245234 -0.203548
4 -1.178968  1.890768

          a         b
0 -1.524307  1.327173
1  0.169374 -2.041699
2 -0.573246 -0.369040
3  0.143831  1.083735
4 -1.261728 -0.503625
          a         b
0 -0.360615  1.811736
1  2.113120  1.460118
2 -0.588975 -0.082086
3  0.764960  1.091364
4  1.367850 -0.831288
          a         b
0  0.288073 -0.937819
1 -0.230376  0.375491
2 -0.771495 -0.121138
3 -1.539199 -1.712032
4  0.334039  1.365188
          a         b
0 -1.561348  0.328903
1 -0.556415 -0.517311
2 -1.038218  0.784054
3  0.273466  0.508298
4  0.612120 -1.097985
          a         b
0 -1.207326 -2.126001
1 -0.366090 -0.893916
2 -0.379431  0.262247
3  0.847270 -1.275887
4 -1.289934  0.754168
          a         b
0  0.094560  0.111876
1  0.987123  1.069025
2 -0.386777 -0.183485
3  0.421702  1.543759
4 -1.951568 -1.464658
          a         b
0  0.119912  0.360857
1  0.228457  0.001767
2 -0.584822  0.993520
3 -0.530886  0.605472
4 -1.588134  0.493935
          a         b
0 -1.009946  1.942214
1  1.039854 -0.705216
2  0.837326  0.066521
3 -0.209792 -0.766470
4 -0.921324 -1.363459
          a         b
0 -1.095330  0.740745
1 -0.724386 -0.359705
2  1.022816 -0.453627
3  2.091916  0.688724
4  0.080401 -0.717539
          a         b
0 -0.929292 -1.175509
1  0.515571  0.179173
2  1.158532 -0.750044
3  2.588653 -1.168029
4  0.237881  0.777167
          a         b
0  0.025418 -0.064391
1 -0.525387  0.529011
2  1.123194  1.282467
3 -0.008581 -0.175470
4  1.609755  0.409551
          a         b
0 -0.789022  1.125968
1  0.903170  1.078530
2  0.798832  0.840370
3 -0.688878 -0.435560
4  1.146725  0.110484
          a         b
0  1.708526 -0.280769
1 -0.818946  0.600098
2  0.528083  3.242355
3  0.244045 -0.559804
4  0.964202  1.678179
          a         b
0 -0.091909 -1.324197
1 -0.924848  0.263540
2  0.201651  0.187888
3  0.527684 -0.822119
4 -0.619321  0.696723
          a         b
0 -0.693391  0.101771
1 -1.820496  0.647894
2 -1.616799  0.095787
3 -1.238751 -1.020808
4  0.371772 -0.642996
          a         b
0 -0.781007  0.261839
1 -1.099260  2.011299
2 -0.613109 -0.053712
3  0.783364 -0.287356
4 -0.128719 -1.428307
          a         b
0  0.226969 -0.705086
1  1.940453  1.054780
2 -0.461862  0.838019
3 -1.260312  1.650724
4  1.044028 -0.302529
          a         b
0 -0.015374  0.428955
1  0.530202 -0.324220
2  1.129087 -1.028524
3 -0.535153  0.216325
4 -1.374362  1.055425
          a         b
0 -1.266664 -0.858627
1  0.348477  0.368064
2  0.604089 -0.729156
3 -0.443391 -0.654713
4  0.031890  1.021965
          a         b
0  0.197143  0.001931
1 -0.592898  1.064628
2 -1.544977  2.172989
3 -1.246101  1.544560
4 -0.177784 -1.364629
          a         b
0  0.025391  1.028225
1 -1.614969 -1.011262
2 -2.295501  1.260031
3  0.731534 -0.322451
4  0.611396 -0.783696
          a         b
0  1.043460  0.308335
1 -1.266277 -1.110322
2  0.699982  1.310472
3  0.946798 -0.708046
4 -0.783810 -0.505709
          a         b
0  0.044499  0.440057
1 -0.333364  1.219872
2  0.942823 -2.672957
3  0.089317  0.736952
4 -1.888549  0.941176
          a         b
0 -2.428856  0.329886
1  2.241679 -0.783770
2 -0.533745  1.042606
3  0.797888 -0.359740
4  2.167707 -2.463674
          a         b
0 -2.130093 -0.774922
1  0.485934 -0.751685
2  0.272990  2.368744
3 -1.215527 -0.049628
4  0.025486  0.928176
          a         b
0  0.758192  0.418272
1  0.539859  0.476088
2 -0.025266  1.051280
3  1.219104  1.067904
4  0.400073 -0.355623
          a         b
0 -0.336650  0.452828
1  0.349138 -0.274761
2  0.036513  0.980024
3  0.750566 -1.359422
4  1.380424 -0.648827
          a         b
0 -0.333130 -0.294850
1  1.434878  0.039078
2 -1.276262  1.711045
3 -1.323858 -0.717370
4  1.117232 -0.236203
          a         b
0 -1.831674  0.667283
1 -1.565530  0.675052
2  0.284834  0.653342
3 -1.344612  0.355339
4 -1.156131 -0.114867
          a         b
0 -0.473109  0.064434
1 -0.286012 -0.924866
2  2.278515 -0.253333
3  1.112002 -0.039736
4 -1.033208  0.604414
          a         b
0  1.928811  1.124595
1 -0.818760  1.150773
2  0.588660 -0.108144
3  0.427796 -1.173117
4  2.498275  1.209784
          a         b
0 -0.078831 -1.651026
1  0.336528 -0.317060
2  1.568240 -0.533807
3 -0.285686  0.653486
4  1.033777  0.027052
          a         b
0  0.413382 -0.296385
1 -1.333065 -0.318016
2 -1.943002 -1.537113
3 -0.390389  0.218104
4  0.090240  1.292366
          a         b
0 -0.700732 -0.260062
1 -0.362175  0.101065
2 -1.563361  0.103629
3  0.834735 -0.577702
4  0.491913 -1.575297
          a         b
0  1.832317 -0.535249
1  0.815203 -0.074048
2  1.311754 -0.470953
3  0.046916 -3.107574
4  1.211772 -1.270184
          a         b
0 -0.406238  1.668647
1 -0.571268 -1.018728
2  1.735694  0.071161
3  0.636866  0.935488
4 -0.694554  0.282779
          a         b
0  0.399779  1.053643
1  0.891263  1.453681
2 -0.276573  0.928236
3  2.198614 -0.595543
4 -1.186317  0.089716
          a         b
0  0.798512 -1.027513
1 -2.021772  0.376735
2  0.190855  0.497292
3  0.101950  0.621606
4  1.888755 -0.014004
          a         b
0  0.188216  1.595506
1 -1.209921  0.395214
2 -0.817669  0.647104
3 -1.145414 -1.059754
4  0.165274  0.779661
          a         b
0  0.064417  1.596773
1  0.021371  1.083759
2  0.682202 -0.779931
3 -0.912367 -0.511632
4 -0.829742  1.174526
          a         b
0 -0.628921  1.015206
1  0.457248 -0.692997
2 -1.179721 -0.205673
3  0.418302  0.493323
4  2.193352 -0.734854
          a         b
0 -2.036695  1.615764
1  0.015117  0.037395
2 -0.465333  0.735329
3  2.292882  0.791263
4  0.217031 -0.427241
          a         b
0  1.030114 -0.186316
1  0.169064  0.218297
2  0.400868  0.123773
3 -0.977709 -0.428557
4 -0.032250  0.783864
          a         b
0  1.226298  0.590443
1 -1.919373  0.096555
2 -2.140743  0.733514
3 -0.533907 -1.013974
4 -1.392288 -1.692703
          a         b
0  1.689660  0.663123
1 -0.516272  1.426151
2  1.925194  1.190128
3  0.755994 -1.286598
4  1.037879 -0.475041
          a         b
0  0.427731 -0.206447
1  1.085406  1.623124
2 -1.010642 -0.822023
3  1.131680 -0.555643
4  0.887210  2.055592
          a         b
0 -0.138027  0.204907
1 -0.215170 -0.430171
2 -0.440467  0.562509
3 -0.699369 -0.777199
4 -0.334695  1.432934
          a         b
0  0.195788  0.434357
1  1.183994  0.268222
2 -0.655440 -1.808514
3 -0.421279 -1.019295
4  0.667466  0.588302
          a         b
0  0.375699  1.838012
1 -1.426177  0.443447
2  1.507737  0.896095
3 -1.239081  0.224303
4  0.672934  0.476924
          a         b
0 -1.206499  0.380679
1 -0.076878 -0.373618
2  0.155810 -0.113164
3 -0.498799 -0.152540
4 -0.727989  1.281935
          a         b
0  0.070582 -0.170430
1  0.430712  0.241344
2  1.933966  1.516796
3  0.258294  0.244335
4  0.322150  0.674704
          a         b
0 -0.045477 -1.024310
1  1.319791  0.965425
2  0.255941  1.503108
3 -0.223947 -1.069076
4  0.593534  2.386326
          a         b
0  1.637547 -1.196655
1 -0.397564 -2.252872
2  0.942188  1.197765
3  0.006806 -0.257686
4  0.607979  0.305686
          a         b
0  0.337644 -0.388041
1 -0.963505  0.484309
2 -0.446170  0.375100
3 -1.002062  0.335625
4 -0.437749 -0.712335
          a         b
0  0.092834  0.566502
1 -0.740753  0.240199
2 -1.136957 -0.281058
3  2.024914  1.764759
4  0.183707  0.672349
          a         b
0 -0.337937  1.550488
1  1.190397  0.813986
2 -0.017403 -1.069791
3 -0.028390 -0.728310
4 -2.186842 -0.302656
          a         b
0 -0.223878  1.325596
1 -0.104471  1.729849
2  0.780533  0.253879
3 -0.261528 -0.875674
4  1.041910  0.097777
          a         b
0 -0.354789  0.784845
1 -0.682999 -0.671437
2  1.259619  0.997918
3 -0.193874  0.085463
4 -1.607482 -0.207855
          a         b
0 -1.292275  0.221255
1 -0.565027 -0.026336
2  1.223692  2.204713
3 -0.941629 -1.332784
4  1.002531  1.525346
          a         b
0 -0.652981 -0.458839
1  0.016350  0.438905
2 -0.451327 -0.112896
3 -2.221875  0.065307
4 -0.163109 -0.104965
          a         b
0  0.855606 -0.849369
1 -0.044135  0.880308
2 -0.227417 -0.496967
3 -0.203083 -0.212026
4 -0.953696 -1.987450
          a         b
0  1.270170  0.272937
1 -0.023650 -0.458117
2 -1.332167 -1.167894
3  0.719443 -1.156378
4 -0.903666  1.016722
          a         b
0 -0.073997 -0.572135
1  0.149798  0.126602
2  1.646209 -0.092029
3 -0.223303 -0.666113
4 -0.344436 -0.104313
          a         b
0  0.369821 -0.088000
1  0.803801  1.293660
2  0.290121  0.360061
3 -0.905598  1.001344
4 -0.832772  1.596164
          a         b
0 -1.500268 -0.879579
1  0.761548 -0.784698
2 -0.539156 -0.202404
3  0.444299 -2.692195
4 -1.989032 -1.804440
          a         b
0  0.365969  2.062355
1 -0.728799 -2.439723
2  1.117381 -0.199518
3  1.005230 -0.266770
4  1.132403  0.203292
          a         b
0  1.230902 -1.915189
1  0.414345 -0.688813
2  0.674420  0.711281
3  0.541289  0.971599
4 -0.523652 -1.051359
          a         b
0  0.992759 -0.368258
1  1.031291 -0.984031
2 -1.271186  0.862323
3  1.842893 -2.863235
4  1.084580  1.883789
          a         b
0 -1.805553  1.239586
1 -0.272168  0.095758
2 -0.181133  1.060283
3  0.178279  0.975586
4  0.894239  0.344333

          a         b
0 -0.062673 -0.358715
1  1.062617 -0.438778
2  2.089136 -1.128767
3 -0.511197  0.753220
4  0.159157  0.835237
          a         b
0  1.771249 -0.728647
1 -0.041888 -0.120340
2 -0.417904 -1.230992
3  1.519437 -0.410548
4  0.636638  0.147151
          a         b
0 -0.376103 -2.638588
1  0.897127  1.621640
2  0.176909 -1.915179
3 -0.521467 -0.017294
4  0.837413 -0.314807
          a         b
0  0.745414  1.038949
1  0.995833  0.789450
2 -1.046796 -0.340813
3  2.394664  0.684650
4  1.328298 -0.640373
          a         b
0  0.058048 -0.018326
1 -0.358953  0.765070
2 -0.901535 -0.725437
3 -0.869599 -0.810869
4  0.575655 -0.323308
          a         b
0 -0.549773  1.192845
1  1.135111 -0.118926
2 -1.300814 -0.782329
3  1.069519  0.279474
4  0.113737  0.333084
          a         b
0  0.664126  2.243245
1 -0.730774  1.049269
2  1.220913  0.447522
3 -0.319823  0.485950
4 -0.407044  0.992051
          a         b
0 -0.936268 -0.535090
1 -0.681823  1.303949
2 -1.642055  0.715190
3  0.197863 -0.280461
4  0.150905  1.392041
          a         b
0  1.023551  0.541247
1 -0.494376  1.208757
2  0.937327  0.165659
3 -0.270283 -0.034340
4  0.160191  0.111783
          a         b
0 -0.935845  0.955744
1  0.091787 -0.343881
2 -0.731966 -0.694286
3 -0.728484 -0.957929
4  0.664936 -0.567204
          a         b
0 -0.734468  0.166947
1  0.828783 -0.591728
2  0.699425  0.775440
3  0.589886 -0.901741
4  1.932308  0.268519
          a         b
0 -0.968542  0.471735
1  0.035965  0.934990
2  0.315287  0.973265
3  0.419487 -1.284180
4 -0.057557 -0.895285
          a         b
0  0.934854  0.296874
1 -1.950628  0.467569
2 -1.014060 -0.142866
3  1.990016  0.811215
4  0.225903 -0.149266
          a         b
0 -0.271890  0.108452
1 -0.106416 -0.068441
2 -0.468395 -1.779495
3  1.580241 -0.261483
4  0.407013  0.810334
          a         b
0  0.659563  0.268772
1  0.061205  1.193376
2  1.043618 -1.262164
3 -1.121279 -0.020703
4  0.175826  1.359707
          a         b
0 -0.071876  0.948008
1  0.602879  1.293995
2  1.167111 -2.386134
3  1.880042  0.778257
4 -0.760855  0.610857
          a         b
0 -2.001215  0.508637
1  1.732885  1.024919
2  0.464658 -1.161148
3  1.267798 -1.023740
4 -0.196513 -0.027443
          a         b
0  0.842569  1.440245
1  1.211840  0.927591
2  0.016915  0.663313
3  0.410474  1.395690
4  0.952273 -1.992149
          a         b
0  0.368159  0.667173
1  1.266816  0.730456
2 -2.634637 -0.717343
3  0.692876 -1.010359
4  0.459740 -0.451046
          a         b
0  1.649616 -0.332013
1 -0.192778  0.669118
2  0.932913  0.859665
3 -0.194591  0.704489
4 -2.417029  0.449869
          a         b
0 -0.225781 -0.485138
1  0.574186  1.150533
2  0.544466  0.378989
3  3.032683  0.123104
4 -0.016061 -1.705592
          a         b
0  0.527479  0.271377
1 -0.261793  1.822848
2  0.060334 -0.321571
3  0.482509  0.279864
4  0.261041  0.914677
          a         b
0 -0.142690  1.020028
1 -0.453782  0.109860
2 -0.367895  0.020719
3  0.809322 -0.374855
4 -3.587598  1.040154
          a         b
0 -0.298933 -0.508977
1  0.864635 -0.473508
2 -1.548901  0.631717
3  0.956822 -2.170541
4  0.805753  0.656408
          a         b
0 -0.419545 -0.247177
1 -0.449897  1.370422
2 -0.965929 -0.774013
3 -1.378505  1.633596
4  0.719606 -0.167130
          a         b
0  1.020705 -0.495832
1 -0.035894  1.636201
2  0.654544 -0.693597
3  1.574612 -0.174379
4 -0.516630 -1.010501
          a         b
0 -1.035872  1.265867
1  1.212874  1.159679
2  0.207455 -0.256055
3  0.125582  0.131672
4 -0.796522 -0.482837
          a         b
0  0.274923  0.069335
1  0.727052 -1.220786
2 -0.440795 -1.975169
3 -0.543536 -1.602199
4 -0.132501 -0.482840
          a         b
0 -0.534352  0.280214
1  1.002085  0.852733
2  1.125946 -0.867422
3 -0.564613  1.199739
4 -1.567765 -0.468574
          a         b
0 -0.700079  0.596931
1  0.814630  0.228094
2 -0.724755 -2.180752
3  1.232133  0.194614
4  0.083576 -0.307401
          a         b
0  1.431988  0.494920
1  1.029540  0.158788
2  0.414783  1.143719
3 -1.810108  0.147088
4  1.810427  0.287162
          a         b
0 -0.354517  0.934255
1  1.872733 -0.254729
2 -0.145631  0.433495
3 -0.893869 -0.582069
4 -0.628778 -0.019860
          a         b
0 -0.467432  0.236906
1 -0.012980 -0.416594
2 -0.705999  0.123762
3  0.214418  1.480518
4  0.400938 -0.187615
          a         b
0 -0.043230 -0.934170
1  0.619834 -0.133593
2  0.671173 -0.201817
3 -0.698210 -1.953482
4 -0.113896 -0.930336
          a         b
0 -0.710389  0.235125
1 -0.143110  0.080091
2 -1.029274  0.533512
3  0.042491 -1.526143
4  1.149397  0.564603
          a         b
0 -0.522695  0.771033
1 -0.566292 -0.307640
2 -1.720793 -1.411685
3 -1.294325 -0.349568
4 -0.573363 -0.803341
          a         b
0  0.542286 -0.850378
1 -0.895674 -0.876003
2  0.726698  0.049865
3  0.915018 -0.167416
4  0.914529 -1.800225
          a         b
0 -0.887678 -0.280602
1  1.150439  0.143171
2  1.270838 -0.660902
3  0.527711  0.114330
4 -0.132172 -0.832161
          a         b
0  0.939444 -1.583035
1  0.519583 -0.794723
2 -1.060704 -0.197816
3 -0.892042 -1.270372
4 -0.456520 -2.432759
          a         b
0 -0.323799 -0.011028
1 -0.520229 -0.186586
2 -1.039249 -1.472580
3 -1.753215 -0.940386
4 -1.106085  0.289077
          a         b
0 -1.693887  1.374882
1  0.546377  0.275923
2  0.303628 -3.035772
3 -0.496177 -1.892401
4 -0.945206  0.175496
          a         b
0  1.371654  1.203010
1 -1.587971 -1.075207
2 -2.086039 -1.997762
3  0.132045 -0.007749
4  1.291469  0.087332
          a         b
0  1.129842 -1.066906
1  1.136536 -2.511075
2 -0.340505 -0.533438
3 -0.433171 -1.239103
4  1.090439  2.353679
          a         b
0 -0.162927  2.416747
1  0.305084  1.477310
2 -0.191777 -1.423357
3 -2.792892  0.474953
4 -0.005481 -3.152226
          a         b
0 -0.998585  0.884569
1  1.707306  1.742250
2  0.507087 -1.183012
3 -0.070503  0.747365
4  0.966857  0.518935
          a         b
0 -1.506865 -0.909656
1 -0.018077 -1.106312
2  0.917285 -0.730984
3  1.622112 -1.441147
4 -0.210381  1.264113
          a         b
0  0.507795 -0.483332
1 -0.272064  1.722481
2  0.580505  1.066264
3 -0.042582 -1.091744
4 -0.412784  0.417477
          a         b
0  0.284829  0.228161
1 -2.288355  0.932468
2 -0.699691  0.959376
3 -0.228747 -0.201632
4 -1.656138  0.231857
          a         b
0  0.110596  0.396903
1  0.356266  1.405652
2  1.112027  0.644332
3  1.428670 -0.473608
4 -0.075193  0.166396
          a         b
0  0.623940 -0.999157
1 -0.443692 -0.991961
2  1.429105 -0.347920
3 -1.490469 -0.575582
4 -1.431410  2.093627
          a         b
0 -0.891126 -1.828776
1  0.600033  0.590129
2  0.147613  0.467149
3 -1.811332 -0.817147
4  0.379764 -0.882775
          a         b
0 -0.250041  0.438452
1 -0.135269 -0.143316
2  0.611115 -1.387433
3  0.222628  2.423649
4  1.305920  0.089549
          a         b
0 -1.084451  1.458152
1 -1.363254  0.538979
2  1.001573  1.188789
3 -0.009688 -0.243538
4  0.244074  0.310951
          a         b
0 -0.036700  0.242588
1  0.450591  1.401554
2 -0.312325  0.109471
3  1.137872 -1.552662
4 -0.354259  0.580842
          a         b
0 -0.160507  0.954460
1  0.332521  1.883925
2  1.869642  0.390990
3  0.169886 -2.039521
4 -0.370736  0.508555
          a         b
0  1.917861  0.119533
1  0.734645 -0.404161
2  0.232670 -0.607571
3  0.128859  1.571643
4  0.089375  1.282208
          a         b
0  0.793654 -0.643844
1 -0.174981  0.261079
2  1.371609  2.317076
3  0.857569 -2.178938
4  1.076594  0.310571
          a         b
0  1.535963 -0.527244
1  0.347288 -0.811305
2  0.364209 -1.601363
3 -0.733087  0.226926
4  1.452940  0.183967
          a         b
0  0.205282 -0.245673
1 -1.559289  1.374235
2  1.884628  0.148427
3 -0.594511  0.163854
4 -1.483782 -0.202698
          a         b
0  0.667665 -0.390174
1 -0.451183  0.452634
2  0.445868 -1.175359
3 -1.411309 -0.374788
4  0.608262 -0.751674
          a         b
0  0.750579  0.187405
1 -2.780370  0.037595
2 -1.778098 -0.311532
3 -0.643973 -0.201843
4  0.546422  0.321316
          a         b
0 -0.529093  0.113918
1 -0.085070 -1.073966
2 -0.210831 -0.305691
3  1.136070 -0.210356
4 -1.574522 -1.095603
          a         b
0 -0.101286  1.941724
1 -0.042306  0.152384
2  0.933992 -0.256686
3 -0.342958 -1.300369
4  0.042856  1.730700
          a         b
0  0.686560  0.175948
1 -0.094606 -0.745978
2 -1.596322  1.941046
3  0.500224  0.539630
4 -1.734399  0.900084
          a         b
0 -0.271096 -0.565324
1  0.079968 -0.961577
2  2.096118 -0.079824
3  0.116557 -0.939898
4  0.503995  0.097384

          a         b
0 -0.459033 -0.726879
1  1.110900  2.341930
2  0.248776  0.050615
3  0.622635 -1.000950
4  2.628229 -2.109310
          a         b
0 -0.397424  1.556385
1 -0.207332 -1.128201
2 -1.608805 -1.146594
3 -0.379884 -1.826808
4 -0.187609  2.015476
          a         b
0 -0.381610  0.234098
1  0.951163 -0.295026
2 -1.558965 -1.001854
3  0.351773 -0.173284
4 -0.039707  0.217692
          a         b
0 -1.499839 -1.141720
1 -0.133333  0.311700
2 -0.550248 -0.067799
3  0.653619 -1.799574
4 -0.895816  0.494712
          a         b
0  0.946330 -2.350769
1  2.671917  0.447833
2 -0.120571  0.226022
3  0.593976  0.339782
4 -0.307783 -0.270315
          a         b
0 -0.533653 -1.783467
1  1.044939  1.426781
2 -0.588845  0.311631
3  0.065520 -1.049430
4  0.879228  0.448737
          a         b
0  0.702792 -0.945386
1 -0.162923 -0.060123
2  1.617770 -0.402414
3 -0.320960 -0.365224
4 -0.888734  0.536841
          a         b
0  0.498892  0.117639
1  0.941680  0.102196
2  0.447239 -0.390428
3  0.930788 -1.464754
4 -1.294385 -1.203187
          a         b
0  1.189043 -0.804970
1  0.253322  1.240820
2  1.122484  0.450152
3 -0.139846 -0.654892
4 -1.471362 -1.858548
          a         b
0 -0.970246 -0.321235
1 -1.180454  0.127964
2  1.518392  0.460213
3 -1.089347  1.159981
4 -0.816632 -0.274358
          a         b
0 -0.022811 -1.299798
1  0.941205 -0.138241
2  1.205605  0.465337
3  0.385484  1.579045
4 -0.184762 -1.424359
          a         b
0 -1.602241 -0.569992
1 -0.038899  0.306621
2  2.001328 -0.791957
3 -1.392278 -1.404931
4 -1.431918 -0.475625
          a         b
0 -0.286043 -0.270488
1 -0.059480  0.415486
2  0.424842 -0.301424
3 -0.596582 -0.658941
4 -1.256252  0.165238
          a         b
0  0.272451  0.139685
1  1.930550  2.186860
2 -0.311345  1.145684
3 -1.478887 -0.011115
4  1.142156 -0.821035
          a         b
0 -1.632341 -0.545394
1 -0.242610  0.494042
2  0.280315  0.871446
3 -1.130898 -0.340845
4 -0.537094  1.750787
          a         b
0 -0.661644  0.518215
1  0.261893  1.524593
2  0.132990 -1.372977
3  2.453975 -0.235924
4  0.534455 -0.443187
          a         b
0  1.097816 -0.075736
1 -1.246884 -1.030412
2  0.090762 -0.336353
3 -1.536142  0.498068
4 -1.331271 -0.702480
          a         b
0  1.482579  0.489387
1 -0.200930 -0.818660
2 -0.345690 -1.305593
3 -0.533975 -0.638683
4 -0.137444 -0.691606
          a         b
0  2.138225 -0.018906
1  0.086261  0.433641
2 -0.271677 -1.328148
3  0.700256  0.549949
4 -0.132464  0.150460
          a         b
0  0.859582 -1.052049
1  1.304449 -0.323494
2  1.263606 -0.432271
3 -1.037966 -0.044593
4  0.613198  0.685843
          a         b
0 -0.154738 -0.465668
1 -0.650557  1.135173
2 -0.455254 -0.675897
3 -0.589327  0.948046
4  1.466894 -1.014589
          a         b
0  0.717601 -0.157744
1  0.299007  1.144177
2  0.161265  0.669622
3  0.409361  0.214668
4 -0.209453 -0.911938
          a         b
0 -1.056734 -0.887004
1 -0.214500 -0.240855
2  0.331679  0.571184
3 -0.200136  0.146231
4 -0.021588 -0.713257
          a         b
0 -1.185267  0.841965
1 -1.726268 -0.364348
2 -0.790860 -0.077664
3 -1.320561  0.034236
4  0.236472  1.349716
          a         b
0  1.781193 -0.372135
1 -0.884072 -0.011838
2 -0.336646 -0.083989
3  2.016605 -0.677440
4 -0.441350 -0.207240
          a         b
0  0.430709 -0.795913
1 -1.589500  1.456030
2  0.297660 -1.177484
3 -2.209659 -0.656445
4 -0.619935 -1.142240
          a         b
0 -0.917809  0.619435
1  0.194396 -0.790397
2  0.823329 -0.755666
3  0.677021 -0.803203
4 -0.485962 -0.642702
          a         b
0  0.984002 -0.226622
1  0.030020 -2.077919
2 -0.038797 -0.964947
3  0.690029  0.851267
4 -0.124444  1.568865
          a         b
0  3.467696  0.540807
1 -0.378488 -1.075595
2  0.152583  0.581293
3 -0.442523 -0.455306
4  0.258735  0.383196
          a         b
0  0.240736 -1.391209
1 -1.072440 -0.010839
2 -0.028382 -0.799398
3 -0.586149  0.077875
4  1.328913  0.730067
          a         b
0 -0.225827 -0.033713
1  0.871439 -0.714591
2  1.746135  1.942366
3  0.650991 -0.281297
4  0.357095 -0.751584
          a         b
0 -0.976548  0.629045
1 -0.529193 -0.964834
2 -0.261107 -0.254302
3 -0.060690 -0.489205
4  0.941459 -0.423773
          a         b
0 -1.472062  0.657889
1  2.275456  0.362270
2  0.357528  0.172592
3  0.086702 -1.442863
4  0.330893  1.047018
          a         b
0 -0.125252  0.136017
1 -0.620963  1.286566
2 -1.797401  0.271660
3 -1.099281 -0.096714
4 -0.435726  0.142824
          a         b
0  2.147062 -1.150502
1 -0.356130 -0.566165
2 -1.202716 -1.277366
3 -0.213091  2.094263
4  0.482152 -1.351786
          a         b
0 -0.866262  0.070580
1  0.894914 -0.015332
2  0.277389  0.895020
3  0.389464  2.107142
4 -1.417887 -0.350175
          a         b
0 -1.362974 -0.540784
1 -0.656332 -0.309139
2  0.496059 -0.244751
3  1.262356  2.606815
4  1.220745 -1.954790
          a         b
0 -2.530125  0.591875
1  0.080351  0.980966
2  0.784000 -0.480188
3  0.971787 -0.144233
4 -0.840245 -1.582217
          a         b
0  0.065179  0.741026
1 -0.108164 -2.038873
2  0.617556  0.716818
3 -0.593425 -0.331728
4  0.282260 -1.037719
          a         b
0  0.526842  1.135392
1  0.366685 -0.367956
2 -0.822203  0.153048
3 -1.241725 -1.774668
4  1.053744 -0.098026
          a         b
0 -1.449162  0.130708
1  0.742565  0.367289
2 -0.084848  0.542194
3 -0.736536  1.126442
4  0.595280  0.843324
          a         b
0 -0.341750 -0.572844
1 -0.396225 -0.099641
2  0.712340  0.062883
3 -0.882949 -0.227479
4  0.225508 -0.984330
          a         b
0  0.528561 -0.325460
1  0.181088  0.245410
2 -1.558477  0.183698
3  1.008770  0.814599
4 -0.564661  1.063797
          a         b
0  0.337450 -0.427413
1  0.673749  0.118287
2 -1.481480  0.429482
3 -0.919555 -0.826757
4 -0.332154  0.465709
          a         b
0 -1.309862  0.124695
1  0.217007  0.168787
2  1.685873 -1.564760
3  0.717950 -0.032158
4 -0.886041  0.865134
          a         b
0  0.095377 -1.497393
1 -1.106824  0.389510
2 -0.065334  0.382676
3  1.577911 -0.148578
4 -0.634731 -1.353811
          a         b
0 -0.963541 -0.100904
1 -0.215694  2.082712
2  1.064325 -0.705043
3 -0.322957  0.745877
4  1.306300 -0.703012
          a         b
0  2.434965  1.309419
1  1.159106 -0.257105
2 -0.969652 -0.725105
3 -2.358040  0.853704
4 -0.818418 -0.020147
          a         b
0  0.092734 -0.192992
1 -0.852255  1.593250
2  0.090524 -0.817100
3 -0.741244  0.896381
4  0.015965 -0.300757
          a         b
0  0.037334 -0.598112
1  0.328755  0.220736
2 -0.478681 -1.679132
3  0.894607  0.502631
4  1.173617  0.317430
          a         b
0 -0.353608 -0.794138
1 -0.094195 -0.146268
2 -0.399781  1.277008
3 -1.066205 -0.171734
4  1.439392  1.597544
          a         b
0 -0.972456  0.541612
1 -0.189555  1.212242
2  1.375203 -0.956027
3 -1.384506 -0.555054
4 -0.337006 -0.549272
          a         b
0  0.301950 -1.409604
1  0.756339 -1.296826
2 -0.100073 -0.823457
3  0.027425  0.205962
4 -0.208729 -0.055115
          a         b
0  1.211513 -0.844579
1 -0.217112  0.532823
2 -0.605780 -0.517340
3  0.475947  0.968013
4  1.223777 -2.265226
          a         b
0  0.049959 -0.032461
1  0.058775 -0.912287
2  1.179723  0.075942
3 -1.754790 -0.233403
4  0.457332  0.633446
          a         b
0  0.569708  0.147362
1 -1.018647 -0.870368
2  0.024571  0.117310
3 -0.564745 -0.100856
4  0.785595 -2.234988
          a         b
0 -1.160987 -0.956302
1 -0.171934 -1.357240
2 -2.148930 -0.616556
3 -0.032514  0.847774
4  0.849414  0.529369
          a         b
0 -0.969357  0.996151
1  1.243415 -1.106061
2 -0.891939 -0.721416
3  1.090580  1.619661
4 -0.952359  2.350741
          a         b
0 -0.596945 -0.466909
1 -0.949666  0.070884
2 -1.229823  0.411321
3 -0.398072  0.577325
4 -1.486435 -0.009094
          a         b
0  0.679437 -0.920860
1  0.657771 -0.514305
2  0.783085 -0.292015
3  0.946525 -0.484225
4 -0.597257 -2.118166
          a         b
0  0.028504  0.104066
1  1.031416 -0.126617
2  0.233820  1.171622
3  0.821194 -2.203615
4  0.480924  1.318254
          a         b
0  0.131993 -0.352191
1 -0.649447  1.350197
2 -0.191226  0.535060
3  1.197056  1.203644
4  0.260703  0.583267
          a         b
0 -0.447842  1.247141
1  0.596757  0.729936
2 -0.881233  2.098853
3  0.209447 -0.201576
4  0.001752  1.479197
          a         b
0 -0.049694 -0.190792
1 -1.653375  1.113914
2 -1.011262  0.473713
3 -1.057949  0.743127
4  0.627189 -0.875481
          a         b
0  1.646187  2.682098
1 -0.937569  1.838297
2 -0.652476 -0.152235
3 -0.022576  0.636615
4 -1.166570 -0.984884
          a         b
0 -1.204614 -0.234088
1  1.471898  0.323667
2 -0.433335 -0.249836
3  0.447199  0.600156
4  2.353480  1.793603
          a         b
0  1.503033 -0.649568
1 -0.668276 -0.736941
2  0.346910 -0.341785
3  0.209885  0.446647
4  2.438345 -1.942434
          a         b
0  1.318803  1.939036
1 -0.844537 -0.014269
2  0.762146 -0.646170
3 -0.065762 -1.139069
4 -0.675612 -2.250006
          a         b
0 -0.508460  0.366357
1  0.807932  1.082991
2 -0.607165 -0.798621
3 -0.197804  0.911775
4  0.469329  1.973269
          a         b
0 -0.724413 -0.290251
1  1.888668 -1.417387
2 -2.500086  0.478519
3  1.124975  1.192385
4  0.640905 -0.236528
          a         b
0 -2.066312  1.680473
1 -0.709863 -1.877575
2 -1.803398  0.796670
3  1.721812  0.302626
4  0.668259  0.067421
          a         b
0 -0.809258 -1.330953
1  1.139329  0.729121
2  1.347130  0.416362
3 -0.059698  0.016655
4 -0.054433 -0.170635

          a         b
0 -0.328858 -0.918390
1  0.119475  0.413635
2  0.226283  0.909866
3 -0.470550  0.801333
4  0.296237 -0.109261
          a         b
0  0.231161  0.869321
1  0.964062 -0.389683
2  0.192999 -0.818419
3  0.706979 -0.254280
4  0.880322  0.439453
          a         b
0 -1.845600  2.395311
1  1.153731  1.774404
2  0.724773 -0.782003
3 -0.137758  0.273158
4  0.083560 -0.037209
          a         b
0 -0.661586  0.531222
1 -0.549465  0.620613
2  1.663871  0.792269
3 -0.461539 -0.659278
4  0.223165  0.238754
          a         b
0 -0.738944 -0.576257
1 -1.438684 -1.727821
2  0.553168  0.910083
3  0.513024 -0.560910
4  2.163974  0.833653
          a         b
0 -1.351597  1.611890
1 -1.091483  0.360177
2  0.047065  1.101196
3 -0.115212 -1.207420
4  1.459916 -1.330144
          a         b
0  0.025018 -1.241342
1 -0.512503  0.762151
2  0.516295  0.266349
3  0.661299 -2.728908
4 -0.897029 -0.185083
          a         b
0 -0.653171 -0.929173
1 -0.305593  0.271146
2 -0.205179  1.762116
3  0.870341 -0.166915
4  0.032876 -1.761892
          a         b
0 -0.384745  1.185862
1 -0.712988 -0.058542
2 -0.172524  1.201026
3  1.279604  0.216474
4  1.188525  0.033955
          a         b
0  0.406397 -0.839961
1 -0.500936  0.506875
2  1.595827 -0.424121
3  0.569640  0.936376
4 -0.024310  1.689496
          a         b
0  0.606586 -0.300385
1 -1.589946  0.066805
2  0.695148 -1.078259
3  0.697996  0.521076
4 -0.573327 -0.326662
          a         b
0 -1.066921  0.881813
1 -1.099829 -0.614066
2  0.195596  0.728925
3 -0.007077  0.294566
4  1.051035  0.639836
          a         b
0 -0.035251 -0.519284
1  0.207207  1.248371
2 -2.047156 -0.751518
3 -0.181099  1.515431
4 -0.302625  0.422857
          a         b
0  0.121984 -0.482816
1 -1.501114  0.270847
2  0.112719  0.466534
3 -1.053089 -0.920395
4 -0.932614 -0.822810
          a         b
0  0.691511 -1.498052
1  0.644591  0.581692
2  2.144837  0.706724
3 -0.027905  1.297937
4 -1.586346  0.561736
          a         b
0  0.813081 -1.001011
1 -0.248030 -1.032029
2 -0.223965 -0.269680
3 -0.721504 -0.718598
4  0.154307  0.850652
          a         b
0 -0.363633  1.477296
1 -0.688360 -1.116484
2  0.705053 -1.058387
3  1.807039  0.595171
4 -0.260157 -0.690060
          a         b
0  0.560863 -0.868805
1  1.374549  1.082983
2 -1.593981  2.633985
3  1.201237  0.063914
4 -1.011475 -0.070446
          a         b
0  0.511995 -0.908590
1  0.266130 -0.759084
2  0.686835  0.728261
3 -0.673926 -1.870876
4  0.040733 -0.432506
          a         b
0 -0.757752  1.042736
1  1.077259 -1.173289
2  1.162747 -1.661806
3 -0.859087 -0.094566
4  1.154976  0.879918
          a         b
0 -1.497678 -1.493080
1 -0.419908 -1.395790
2 -0.712083 -0.288422
3  0.296157  0.447815
4 -1.346546  2.255790
          a         b
0 -0.869829  0.274009
1  0.181524 -0.877734
2  1.010711 -0.278159
3  0.615041  1.210436
4 -0.138697  0.339881
          a         b
0 -1.223930  1.923263
1 -0.246433  1.369824
2 -0.224031 -0.043541
3 -2.049010  0.660890
4  0.075328  0.519270
          a         b
0 -0.499765  0.125690
1  0.762536  1.551018
2 -1.100156  0.476737
3  0.326505 -0.125569
4 -1.223389 -1.557766
          a         b
0  0.047430 -1.391552
1  0.716696 -1.541779
2  1.385404  2.235488
3 -0.586993  0.272077
4  0.789846 -1.564599
          a         b
0 -0.436807 -0.124254
1 -0.350279  0.012774
2 -1.510727  0.526591
3  0.875416 -0.597755
4  0.176168 -1.126231
          a         b
0 -0.392573  0.616922
1  0.003462 -1.055764
2  0.691838  1.133968
3  0.189934  0.959471
4  0.261966  0.267586
          a         b
0  0.129952  0.574609
1 -1.147238  0.019994
2  0.357385  0.625285
3  0.639130  0.822144
4  1.529827 -0.113141
          a         b
0 -0.350036 -0.818812
1 -0.707801 -1.443870
2  1.879320  1.229689
3 -1.162075  0.046511
4  0.265338 -1.297351
          a         b
0 -0.333659  0.756640
1 -0.330047  0.683629
2 -1.645164 -0.945733
3 -0.849252  0.367568
4  1.626775  1.224630
          a         b
0 -1.184420  1.415969
1  0.605199  0.340430
2  1.537022  0.475147
3 -0.730414 -0.909024
4 -0.184526  0.090352
          a         b
0  0.399038  1.334738
1  0.872815  0.142355
2 -1.023359 -0.452840
3 -1.203409  0.211256
4 -0.092626  0.950130
          a         b
0  1.312359 -3.382083
1  1.198430 -1.845294
2 -0.518618 -1.975998
3  0.154710 -0.408067
4 -0.093844 -0.603833
          a         b
0 -1.531827  0.865465
1  0.814251 -1.444270
2 -0.949669  0.278218
3  0.419430  0.525435
4 -0.670594  0.887450
          a         b
0 -0.781088  0.414598
1 -0.360702  0.339713
2  1.296959 -0.516758
3  1.372838  0.564352
4  0.350272 -0.528372
          a         b
0 -0.578176  0.860885
1  0.152138 -0.626999
2  3.225346  1.412831
3  0.094124  0.331492
4 -0.206827  1.454094
          a         b
0 -0.830977  0.943092
1 -1.352170 -3.278121
2  0.761299  0.519285
3 -1.380450  1.129326
4  1.124852  1.106557
          a         b
0  0.094303  0.192634
1 -1.237340  0.768816
2  2.007867  0.333402
3 -0.040017  1.124976
4  0.172536 -0.407620
          a         b
0 -0.454223 -0.695219
1  1.270840  0.812032
2  1.057789 -0.635566
3  0.166860 -0.996989
4 -0.542126  1.143690
          a         b
0  0.351102  1.292556
1 -1.503920  0.472896
2 -0.134758 -0.180923
3  0.075314 -0.893723
4 -1.191417 -0.440598
          a         b
0  1.280920 -0.613826
1  0.762107  0.658255
2 -0.936630  1.048119
3  2.066690  0.484966
4 -0.336461  2.029466
          a         b
0 -0.101957  1.553725
1  0.584405 -3.225739
2 -1.074701 -1.575234
3  0.205991 -0.604341
4 -1.196064  2.199659
          a         b
0 -2.768667  0.069754
1  1.034681  1.300554
2  0.344385  0.661059
3 -0.591044  0.134777
4 -0.666997  0.662551
          a         b
0  2.495948 -0.170266
1  0.770917  2.501939
2 -1.336521  1.873938
3  0.639900  2.005395
4 -1.282164  1.086582
          a         b
0  1.785454  1.488134
1 -2.124410  0.549691
2  0.113654 -0.484105
3 -1.603607  1.281600
4  1.434579 -1.208354
          a         b
0  1.508396  0.267796
1 -2.349654 -0.778883
2  2.044961  0.804597
3  1.782829  0.627779
4 -0.182711  0.102354
          a         b
0 -2.458041  0.672379
1  0.152409 -0.542516
2 -1.466148  2.497866
3  0.203662  0.276916
4  0.297486 -3.711092
          a         b
0  0.106123 -0.267347
1  1.739653 -0.052705
2  0.506877  1.433435
3  0.711311 -0.836434
4  0.849622  0.645237
          a         b
0  0.029170 -0.985944
1 -0.484317  0.288729
2  0.299084 -1.945422
3  0.061140  0.317181
4 -0.486211  0.112733
          a         b
0 -0.164158  0.305751
1  1.231896  0.340915
2 -0.358806 -0.709211
3  0.799666 -3.346333
4 -0.546490 -0.635970
          a         b
0 -0.390687  1.327780
1 -0.518353  0.314074
2 -1.244118  0.946263
3  0.842420  1.486873
4 -0.685869  0.951358
          a         b
0 -1.212214  1.984251
1 -1.459615  1.171052
2  0.267000 -0.428909
3  1.228769 -0.557881
4  0.331721 -1.963484
          a         b
0  0.378658  1.081186
1  1.378973  0.214853
2  0.261442 -0.141530
3  0.754815  1.165434
4 -0.802561 -0.728314
          a         b
0 -0.812723  0.693492
1  0.127034 -0.319493
2 -0.167293 -1.012408
3 -0.967632  0.830930
4  0.825099 -0.522351
          a         b
0 -0.041981 -0.774062
1 -0.550701 -0.249031
2  1.070740  0.801939
3 -0.309501 -0.858864
4 -0.985285 -1.142615
          a         b
0  0.036788  0.761580
1 -1.245098  0.857362
2  0.651093 -0.248832
3 -0.488847  0.685761
4 -0.195971  3.120557
          a         b
0  0.237430 -0.529407
1 -0.350173  1.041940
2  0.254581  0.834272
3  0.009944 -0.471369
4  1.525620  0.723803
          a         b
0  0.375131 -0.350651
1 -0.582045  1.076657
2  1.117358  0.014328
3 -0.185339 -0.562211
4 -1.649363  2.116816
          a         b
0  2.532864 -0.698702
1 -1.317680 -0.600630
2  1.658652  0.338932
3 -0.393506 -0.997211
4  0.265448  0.822592
          a         b
0  0.607526  0.961420
1  0.180992 -0.756971
2 -1.690666 -0.757280
3  0.446662 -0.437686
4 -0.112236 -0.566914
          a         b
0  0.145721 -0.203284
1 -0.169909  2.955185
2  0.126035 -1.343537
3  0.402529  0.129186
4  1.059913  0.019235
          a         b
0 -0.599834  1.410049
1  0.576977 -0.003698
2 -1.291975 -0.215177
3 -0.713673  0.425722
4 -0.560428 -0.084118
          a         b
0  1.266907  0.810365
1  0.259881 -2.106778
2 -0.240455 -0.136116
3  0.050033  0.367003
4 -1.387751  0.882795
          a         b
0  2.404990 -0.462979
1 -0.122400  1.390256
2 -2.096761  0.218683
3  0.815382 -0.692391
4 -0.509617  1.427336
          a         b
0 -0.015782  0.677331
1  0.388737 -0.299534
2  1.464640  0.628694
3 -1.210575 -1.104642
4 -0.747259 -0.737342
          a         b
0  0.775221 -0.120420
1 -0.138639  0.924402
2  0.262514  0.298381
3 -0.731211 -0.201616
4  0.769622 -3.572985
          a         b
0  0.406400 -0.103779
1  0.683682 -0.275552
2  1.095268  0.711684
3  0.875558 -0.548368
4  1.619554  1.570465
          a         b
0  0.699628 -1.656016
1  0.568485  0.020436
2 -1.673131  0.505731
3 -0.660058 -0.404153
4  1.062706  0.786084
          a         b
0 -0.587993  1.465706
1  0.130125 -1.304168
2 -0.377357 -1.018090
3  2.172781  0.931187
4 -0.549534  0.971316
          a         b
0  0.324707 -0.201526
1  0.266933 -1.176921
2 -0.312600 -1.962923
3 -0.679017  0.005653
4  1.264626  0.163606
          a         b
0  0.228027  0.721058
1 -0.480987  0.001634
2  0.793285  0.198592
3 -0.016871  0.158069
4 -1.079702 -1.197931
          a         b
0 -0.663531 -0.964757
1 -2.000960  0.757928
2  0.529087 -0.919261
3  0.741352 -0.644890
4  0.026458  1.025613
          a         b
0  0.541072  1.446419
1 -1.031784  1.662225
2  0.014454  0.776972
3  0.253378  0.046327
4 -1.156130 -0.251972
          a         b
0  1.021503  0.030816
1  2.897022 -0.954065
2  0.376031 -0.319754
3 -1.023450 -0.097048
4 -1.328423  0.284932
          a         b
0  0.936353  3.026421
1  0.678531  0.509006
2  0.258686 -1.852399
3 -0.226867 -0.614098
4  0.756733  0.135633
          a         b
0  1.177535  1.874200
1 -0.714630  1.908281
2  0.250051 -0.513289
3  0.326144  0.533073
4  1.336833  0.511526
          a         b
0  1.006935 -1.274729
1 -0.772355  0.136385
2  1.642244  0.939295
3  0.269512 -0.642940
4 -2.213657 -0.909698
          a         b
0  1.435728 -0.882931
1 -0.022184 -0.001357
2 -1.365480  1.227585
3  1.128050 -0.405077
4  1.261712 -1.408094
          a         b
0  1.723707  1.752684
1 -0.768269  0.376422
2 -0.896601 -0.136701
3  0.260549  0.389038
4 -1.095864  0.529067
          a         b
0  0.019051  0.228058
1 -2.965705 -0.757780
2 -2.087966 -1.777816
3  0.251954 -0.722696
4 -1.402204 -0.013669

          a         b
0  0.254963  2.018487
1 -0.295201  1.201357
2  0.390644 -0.381454
3  0.130540  1.199368
4  0.838247  0.497828
          a         b
0 -0.044618  1.056123
1  0.279141  0.114363
2  0.583956 -1.843023
3  0.875771  1.105393
4 -0.342532 -0.693977
          a         b
0 -0.357131 -1.699393
1 -0.164728  0.483161
2  2.352900 -1.244340
3  0.334273 -2.369507
4  0.135085 -0.530626
          a         b
0  1.247974 -0.409783
1  1.538279  0.417387
2 -2.031519 -0.052733
3 -0.272153 -0.891449
4  0.374568 -0.422111
          a         b
0 -0.841259 -0.522646
1  0.073709 -0.123070
2  0.138011  0.104719
3 -0.224319 -0.578386
4 -2.035487  0.602212
          a         b
0 -0.362290  0.418958
1 -2.696777  1.234922
2  0.526496  0.176031
3 -0.547520 -0.495614
4 -0.829242 -0.328146
          a         b
0 -0.851458  0.352755
1  0.984314  0.414780
2  0.255362  2.999756
3  0.386946 -0.256468
4  0.661599 -2.275108
          a         b
0 -0.115866 -1.787188
1  0.679308 -1.032605
2  1.543274  0.392375
3 -0.396629 -0.440147
4  0.589473  1.210192
          a         b
0 -1.811582 -0.534757
1  0.185933  0.058541
2 -1.575185 -1.205880
3 -0.204751  2.021744
4  0.365364 -0.150595
          a         b
0 -0.332137 -0.567162
1  1.518401  0.728621
2  0.847932  2.091188
3 -1.064181  0.096125
4  0.029653 -0.766155
          a         b
0 -0.494811  0.168058
1 -0.986733  2.274709
2  0.433410  1.312803
3 -0.807205  1.918628
4 -0.506302 -1.704007
          a         b
0  0.132899  1.804500
1  1.307006  0.770000
2  0.089678 -0.693247
3  0.354158  0.436187
4  1.112645 -1.198031
          a         b
0 -1.714723 -1.928532
1  0.564774 -0.268344
2  0.262049  0.349013
3  0.648778 -0.285829
4  0.914148 -0.014457
          a         b
0  1.660301  0.148104
1 -3.095064 -1.913086
2 -0.176672 -0.058121
3  1.585037  1.346596
4 -2.218973  0.943186
          a         b
0  0.302213  0.545018
1 -1.613699  0.332309
2 -1.653742  1.855927
3  0.712478  0.664847
4  1.151773  1.310887
          a         b
0  1.653067  0.915190
1  0.091585  1.149116
2  1.117632  3.431870
3  1.405867 -1.491247
4  0.730920  0.390324
          a         b
0 -0.219923  0.309282
1 -0.799076  0.698467
2 -0.419109  1.080601
3  0.241456  0.171151
4 -1.487932 -2.949018
          a         b
0  1.190022 -0.110688
1  0.730136 -1.514603
2  0.870950 -0.061652
3 -0.473255 -2.508615
4 -0.206488  0.029444
          a         b
0 -0.900770 -0.534088
1  0.461128 -0.010272
2 -0.671079  0.460731
3  0.144356  0.777201
4 -2.250593 -1.281565
          a         b
0  0.276201 -1.420678
1 -2.448362 -0.846453
2  0.459633  0.590568
3  2.031327  0.107602
4 -0.338160 -0.782819
          a         b
0 -1.079253  1.647789
1 -0.437855  0.746664
2  2.277638  0.899163
3  0.066639  1.334953
4 -1.340099 -0.409490
          a         b
0  0.884769  0.831376
1 -1.512261  0.042869
2  0.891214 -1.703346
3  0.050572  0.218077
4 -0.583550  0.405596
          a         b
0 -0.939857 -1.240465
1  0.410864 -0.046103
2  0.094321 -0.524809
3 -2.384347  0.458396
4 -0.938627 -0.124995
          a         b
0  0.216759  1.304622
1 -0.158762 -0.234558
2 -1.512353  1.047402
3 -0.330395 -0.140757
4 -0.330029  1.465493
          a         b
0  0.753990  0.103865
1  0.509413  0.420295
2  2.043589 -0.554904
3  1.406723 -1.584239
4  0.309313 -0.704462
          a         b
0 -2.146630  0.283331
1  0.127312  0.594199
2 -0.927784 -1.099911
3  1.236534 -0.478596
4 -0.269553  1.544148
          a         b
0 -0.781005  2.223499
1  0.765121  0.481905
2 -0.675740  0.226784
3  0.410519  0.127646
4 -0.943045 -0.560326
          a         b
0 -0.876709 -0.760712
1  0.898395  0.049839
2 -0.133009  0.375942
3 -0.940788 -1.672722
4  0.874938  1.870982
          a         b
0 -0.454888 -0.194237
1  0.255685 -1.757168
2  0.233403  0.628068
3  1.082707  0.466676
4 -0.420140 -1.544875
          a         b
0 -0.830611 -0.272506
1 -1.123487 -0.073171
2  0.670713  0.355191
3 -0.477212  0.132785
4 -0.858669 -1.175372
          a         b
0 -1.653505  0.457513
1  0.946752  0.718206
2  1.540306  3.133640
3 -0.151008 -0.676748
4  0.315280  0.221506
          a         b
0 -0.334065 -0.199758
1 -0.467316 -0.776110
2  1.527989  0.304856
3 -0.127625  1.330676
4 -0.657499  1.106787
          a         b
0 -0.349236 -0.857600
1 -0.244040  1.283775
2  0.063525  2.106495
3 -0.076208  0.114844
4  1.519995 -0.643271
          a         b
0 -0.106469  0.934774
1  1.328413  0.472890
2  0.921309 -0.783666
3  1.228932  0.750751
4  0.832010  1.460133
          a         b
0  0.900062  0.970579
1  0.775346  0.277457
2 -0.921571 -1.669848
3 -0.534864  0.373782
4 -0.451044 -0.900246
          a         b
0  1.459381 -1.034636
1  0.694857  0.569192
2 -0.961619  0.721441
3 -0.270312 -0.444059
4 -0.146959 -1.998716
          a         b
0  0.297856 -1.657359
1 -0.990473 -0.504374
2  0.844560  2.088813
3 -0.975096 -0.260262
4 -1.281064 -0.192163
          a         b
0 -0.784405  0.355384
1  0.890069 -0.272456
2  1.221929  0.500060
3 -0.813125 -0.084899
4 -0.497330  1.462809
          a         b
0  1.739961  0.428329
1  0.972834 -0.747976
2  0.764926  3.004097
3  0.082834  0.155675
4 -0.017608  0.032043
          a         b
0 -0.984101 -1.486555
1 -0.193783  1.658180
2  0.348923  0.435037
3 -0.088610 -0.846103
4 -0.258610 -0.780425
          a         b
0 -0.100152 -2.028794
1 -0.141479 -0.087143
2 -0.517960 -2.726092
3 -0.281060  1.047884
4 -0.384296 -0.664797
          a         b
0  0.925381 -1.192406
1  0.377051 -1.393597
2 -0.273371 -1.000675
3  1.036358  0.430891
4  0.307922 -1.091575
          a         b
0 -0.113793 -0.315711
1 -0.152819  2.185892
2 -0.783093  0.539121
3  0.931166 -0.687422
4 -0.015085 -0.975529
          a         b
0 -0.197311 -1.622501
1 -0.997437 -0.885152
2  0.965243  1.211929
3  0.610537  0.843187
4 -0.426314  0.244956
          a         b
0 -0.619066 -0.254096
1  0.374419 -1.058418
2  0.612967 -1.220660
3  0.036583  1.731844
4  0.299848  0.554532
          a         b
0  0.804875 -0.277834
1 -0.414484 -1.462101
2  0.084470 -0.799768
3  0.344628  0.465143
4 -0.363414  0.867349
          a         b
0 -1.604534 -0.729791
1 -1.295068  0.228654
2 -0.216423 -0.157457
3 -0.248177 -0.999658
4  1.279311  0.133445
          a         b
0 -0.786114  0.993679
1 -0.268221  1.360589
2  2.004899 -0.944582
3 -1.963874 -0.787874
4 -0.687791  0.348918
          a         b
0  0.364886  0.360016
1 -0.803544  2.115592
2 -0.955220 -0.527268
3 -2.146434 -1.424097
4 -0.465821 -0.211227
          a         b
0  2.869352  1.135809
1 -0.186836  0.087882
2  2.463629  0.315363
3 -0.726039  0.353578
4 -0.596160 -0.129439
          a         b
0 -0.666952 -0.139852
1  1.091481 -0.981897
2 -1.881907  0.283814
3  1.096112 -0.712300
4 -2.553849  0.828561
          a         b
0 -0.214493  0.379409
1  1.965991  0.116495
2  0.724145  0.813899
3  0.013073  0.342144
4  1.270987  0.848143
          a         b
0  0.076508 -0.142287
1  2.016305  2.250258
2 -0.735347  0.454793
3 -0.475889 -0.634492
4 -0.565737  0.080503
          a         b
0  1.348798 -0.288659
1 -0.570793  0.958832
2 -0.168624  0.621416
3  0.053301 -0.851545
4 -1.586106 -1.178614
          a         b
0 -0.107916 -0.130979
1  0.020396 -1.439726
2 -1.205080 -1.250980
3  0.663322 -0.552538
4 -0.272974  0.743931
          a         b
0  0.777263  2.123113
1 -0.210918 -0.966431
2  1.426333  1.251619
3 -0.836781 -0.534574
4  2.007796  0.312610
          a         b
0  0.267244 -2.157782
1 -0.437826 -0.474570
2  2.522087 -0.379746
3  0.709144  0.625053
4  1.568026 -2.280988
          a         b
0 -1.409483 -1.196764
1  1.712896 -0.377067
2  0.375368 -0.115400
3 -0.539849  0.484507
4  1.096060  1.173185
          a         b
0  0.687158  0.316098
1 -0.217463  1.778916
2  0.632270 -1.018266
3 -0.566508  0.260688
4 -0.163965  1.228455
          a         b
0  0.973730  0.068069
1  0.447048  0.101264
2 -0.120486  0.559464
3 -0.502602 -0.293114
4 -0.501904 -0.128471
          a         b
0 -0.191409 -0.191269
1 -0.977372  0.858978
2  1.253546  0.864544
3  1.385226 -0.674428
4 -1.038726  1.308748
          a         b
0  0.026749  0.428672
1  1.062007 -1.170301
2  0.252174 -0.031380
3 -0.266038  1.190532
4 -0.730957 -0.864283
          a         b
0  0.895053 -0.776402
1  0.549787 -0.511525
2 -1.850372 -0.703682
3 -0.265267  0.647217
4  1.513987 -1.270983
          a         b
0  1.050199  0.550599
1  0.843251  0.625857
2  2.405672 -0.436504
3 -0.686972 -0.233539
4  1.240159 -1.151166
          a         b
0 -0.960582 -1.266643
1  0.028310  0.060456
2  0.278975 -0.720290
3  2.034016  1.199997
4 -0.040592  1.075712
          a         b
0 -0.330761 -0.469696
1  0.212817  1.546764
2 -0.681956  0.314856
3  2.039938  0.079680
4  0.434928 -0.512433
          a         b
0  1.278767  0.756391
1  0.661227 -0.725346
2  1.789847 -0.191624
3 -1.766361  0.618338
4 -0.233809 -1.470200
          a         b
0 -0.237785 -1.285575
1 -0.044860  0.207815
2  1.374396 -0.980550
3  0.166273  0.540687
4 -0.186601  1.104489
          a         b
0  0.376994 -1.203157
1 -0.212049  0.083651
2  1.042999  0.740810
3  0.047025 -0.083530
4 -0.258774  0.974212
          a         b
0 -0.014137  0.724875
1  0.986696 -0.014019
2 -0.729174  1.222690
3 -0.099059  0.987586
4 -0.928752 -2.661432
          a         b
0  0.688220  0.591648
1  0.934378 -1.554894
2  0.616860 -0.997109
3 -1.246855 -0.541341
4  2.076787 -1.732836
          a         b
0  1.635492  0.633291
1  1.881224  1.986888
2 -1.231755  0.671946
3  0.948160  0.414282
4 -1.625824  1.024292
          a         b
0 -1.219751  0.211434
1 -0.925107  0.717605
2 -1.697147  0.261813
3  0.947512  0.714046
4 -0.574503  0.135709
          a         b
0 -0.081558 -0.799559
1 -2.113482 -0.327248
2  1.308907 -0.586081
3 -1.071728 -1.364354
4  0.857800 -0.595905
          a         b
0  0.190347 -1.103820
1  1.356604  2.222751
2 -1.025468 -0.030825
3  1.387580  0.066582
4  1.666425 -1.265035
          a         b
0  2.014515 -1.169740
1  0.673586 -1.962333
2 -1.170549  1.372322
3 -0.208848 -1.338015
4 -0.893636  1.742441
          a         b
0  0.616935  0.455583
1  0.207073  0.465094
2  0.357907  1.009181
3  0.107462  0.530708
4  1.131762  1.692810
          a         b
0  1.933819 -0.580285
1 -1.683484 -0.219121
2 -0.729716 -0.022389
3 -1.151888 -2.075591
4 -0.653281  0.813702

          a         b
0 -1.352006  0.342739
1  0.932609 -0.574845
2 -0.360029  1.181472
3 -0.029305 -0.895628
4  0.671662  1.293263
          a         b
0 -2.189474  1.478137
1 -0.994524  0.363518
2 -1.831209 -1.410377
3 -1.106950  0.397748
4 -1.418666  0.986858
          a         b
0  1.185667 -0.037975
1  0.555907 -0.446804
2  1.584342 -1.101566
3 -2.587292 -0.603209
4 -0.253477 -1.049895
          a         b
0 -0.279865  0.379294
1  0.784470  1.421418
2  2.501195 -0.030817
3 -0.876716  1.337682
4 -1.090841 -2.237478
          a         b
0  1.580902 -0.903983
1 -0.709161  0.246552
2  0.723067 -0.667809
3 -0.955806  0.394261
4  0.299383  2.408953
          a         b
0  1.916663  0.274874
1 -1.248609 -0.594795
2  0.119758 -0.389575
3 -0.853566 -1.511041
4 -1.153333 -0.322967
          a         b
0 -0.720326 -0.747606
1  0.572135 -1.272274
2 -0.915829 -0.427577
3  1.334758  0.148109
4  0.193522  0.158564
          a         b
0  1.050987 -1.430271
1  0.278460 -1.737611
2  0.701352 -0.227335
3  2.179374 -0.057717
4  1.375305 -0.647773
          a         b
0 -0.747207 -1.030596
1  0.732717  0.810481
2 -1.266262 -0.645795
3 -0.265028  0.283318
4 -0.520359  0.525809
          a         b
0 -1.247369  1.030994
1 -0.059981 -0.910698
2  0.900618  2.424055
3 -0.740682 -1.510633
4 -0.625249  0.667787
          a         b
0 -0.759217 -0.105239
1  1.808784  0.708046
2 -0.072151  0.943623
3 -0.549685 -0.519297
4 -0.582811 -0.772348
          a         b
0  0.178748 -0.317056
1  0.453689  0.645113
2  0.517588 -1.876154
3 -0.268408 -0.539640
4  0.800345  0.304676
          a         b
0 -0.716083 -0.640000
1 -0.287446  1.027815
2 -0.177045 -0.601619
3 -0.194050  0.483818
4 -1.066639 -0.256504
          a         b
0  1.088416  0.778803
1 -0.916051 -1.597802
2 -0.117844 -0.187382
3  0.544654  1.184025
4 -0.023217 -1.272333
          a         b
0  1.881941  0.029953
1  1.583242 -0.444925
2  0.038073 -0.029224
3 -0.319356  0.543841
4 -0.536113  0.716510
          a         b
0  0.731972  0.549316
1  0.082134 -0.561845
2  1.450043  0.757601
3  0.009024 -0.431614
4 -1.598084  1.361345
          a         b
0 -1.019316 -0.799592
1  1.335489 -0.819712
2  0.320542  0.298021
3  0.557755 -0.989891
4 -1.235147  0.771252
          a         b
0 -0.862121  0.269115
1  0.369678  0.235783
2  0.433318 -1.169425
3 -1.296129 -0.469656
4 -0.392003 -1.285666
          a         b
0  0.609409 -0.900155
1 -0.261440 -0.680572
2 -0.739076 -0.328469
3  0.120029 -1.025866
4  0.209821 -1.746648
          a         b
0  0.422726 -0.530308
1  0.318204  0.285210
2 -0.105768 -1.326940
3 -0.199810  1.345008
4 -0.821545 -0.269179
          a         b
0 -0.094061  0.196392
1 -1.299890  0.462991
2  0.699140 -0.736103
3 -3.156039 -1.495542
4  1.228628  0.801365
          a         b
0 -0.616619  0.650841
1  1.000590 -0.153647
2  0.562516  0.810345
3  0.278595  0.956049
4 -1.688389  0.176292
          a         b
0  0.362164 -0.629268
1 -0.286571 -0.599164
2 -0.779208  1.308300
3  0.102320 -0.464339
4 -2.200435  0.474715
          a         b
0  0.361660 -1.110816
1  2.668051  0.495741
2 -0.261065 -0.003789
3 -0.279028  0.801489
4  0.268552  0.104781
          a         b
0 -0.084786  1.365626
1  1.122899  0.989772
2 -1.986955 -0.751504
3  0.835196  0.426322
4  0.066333 -1.659011
          a         b
0 -0.783699 -1.807981
1  0.004545 -0.923166
2  1.089035 -1.228389
3  0.086854  0.549611
4 -0.458739  0.124967
          a         b
0 -0.409128 -2.112326
1 -1.454110  1.636357
2  0.906145  0.117948
3 -0.649332 -1.070644
4  0.431359 -1.736266
          a         b
0 -1.724957 -0.668340
1  0.390692  1.559580
2 -2.218648 -1.170443
3 -0.050178 -2.100938
4 -0.439396 -0.000303
          a         b
0  0.519493  0.135923
1  0.448529  0.957173
2  1.087684 -1.802173
3  0.325137 -0.064982
4  2.581299 -1.072731
          a         b
0  0.557277  0.082520
1 -0.022248  0.224659
2 -0.523847 -0.694549
3 -1.159621 -0.158608
4 -0.557314 -1.692633
          a         b
0 -0.516362  1.567062
1 -0.823128  1.567364
2 -0.562143 -0.849475
3 -0.976780 -0.359242
4 -0.465131 -0.332631
          a         b
0  1.053711 -1.248799
1 -0.656859  0.161716
2  1.016312  0.470785
3 -0.577579  1.033542
4 -1.222771  1.820612
          a         b
0  0.188499 -0.048286
1 -0.085368 -1.072484
2  0.151242  1.767519
3  0.358767  0.218653
4  0.814862 -0.747436
          a         b
0 -0.656307  0.570943
1  1.933959 -0.371952
2  1.550273  0.915081
3  2.324651  0.930846
4 -0.495477  0.705810
          a         b
0  0.379105 -1.713115
1  0.900586 -1.108213
2 -0.681058 -0.238109
3 -0.966422  0.681662
4  0.727734 -0.507336
          a         b
0 -0.501520 -0.381854
1  0.750724 -0.351517
2  0.423310 -0.551698
3 -0.280981 -0.289832
4 -1.802439  1.958426
          a         b
0 -1.709226 -0.597729
1  0.986741  1.252963
2  0.029229 -1.064194
3 -0.328633 -1.062394
4  0.904130  2.051676
          a         b
0  0.214378  0.448857
1 -1.696205  0.464687
2  0.000232  0.430243
3 -1.343710 -2.112611
4 -0.823394  0.516820
          a         b
0  0.683085 -1.751436
1  1.218620 -0.996975
2 -0.366646 -1.303153
3  0.864925  1.898673
4  0.853374  1.095449
          a         b
0  0.882646  0.405138
1 -0.233641 -0.384947
2 -0.576526 -0.028096
3 -1.026978  0.395752
4 -0.315496 -0.493245
          a         b
0  0.196254 -0.040972
1 -0.159605 -0.393074
2 -1.200544 -0.400247
3 -2.530704 -1.317203
4 -0.364964  0.834933
          a         b
0  1.784260 -0.681946
1 -1.130603  0.673140
2  0.446958  0.193206
3  0.474185 -1.481135
4 -0.138338  0.614971
          a         b
0  0.815675 -1.560283
1 -0.417288  0.142719
2  0.534546 -0.849917
3  1.762097 -1.662423
4  0.826392  0.280110
          a         b
0  0.824534 -0.599489
1  0.033732 -1.287110
2 -0.697763 -0.306346
3  1.126765 -0.967726
4  0.018855 -0.896564
          a         b
0  0.251553  0.748730
1  1.368160 -1.239952
2 -0.051221 -0.350795
3  0.052453 -1.090622
4 -0.158352  0.314635
          a         b
0 -0.007934 -0.647998
1 -0.044903  0.863368
2 -1.764203  0.625860
3 -0.399306 -0.843231
4  0.359161 -1.685094
          a         b
0  2.098746 -0.830333
1 -1.521712  0.470164
2 -0.874929  1.004449
3  1.620687 -0.605369
4  0.324861  1.341183
          a         b
0  1.727451 -0.228727
1 -1.487795 -0.800038
2  0.329157 -0.617117
3 -0.868538 -1.508145
4  0.599297 -0.782074
          a         b
0 -0.437373  1.292130
1  0.537160  0.095762
2 -0.098271 -0.766536
3  0.126376 -1.482822
4  0.031241  0.195083
          a         b
0 -1.691615 -1.826278
1  0.219632  0.551018
2 -0.815413  1.139959
3 -0.370921 -0.892868
4  1.007402  0.620729
          a         b
0  1.056521  1.345918
1  2.938725  1.913877
2  1.594164 -0.601497
3 -0.124667 -1.065609
4 -0.618392  0.434197
          a         b
0  0.268552 -0.173851
1  0.825501  0.259817
2 -0.490579 -0.508979
3  1.079357 -0.509896
4  0.611982  0.202020
          a         b
0  0.040940 -1.585072
1  0.338071  0.685199
2 -0.182705 -0.931904
3 -1.896739  2.647810
4 -0.363892 -0.879332
          a         b
0  0.052701  0.660890
1 -0.626362  0.044326
2  0.660713 -1.226411
3  1.412778  1.319096
4 -0.401501  1.262515
          a         b
0  2.812455  0.011011
1 -0.308041  0.304515
2 -0.932222  0.466554
3  0.637458  0.272869
4 -0.880954  1.869969
          a         b
0  0.284215 -1.293217
1  0.218825  0.260692
2  0.307282  1.000862
3  0.546154  1.741619
4 -0.108070 -0.100013
          a         b
0  1.862226 -0.091575
1 -1.601636 -0.328202
2  1.045635  0.114908
3 -1.156189 -0.510551
4  2.510449  0.942743
          a         b
0  0.238550  0.055208
1 -1.186729 -0.644711
2 -1.424434  0.195404
3 -1.127473 -1.318652
4  0.734112  0.648899
          a         b
0  1.264922 -1.546802
1 -0.967243  0.360418
2  1.214050 -2.043878
3  1.310519  0.528346
4  1.331752 -2.685580
          a         b
0 -1.634967  0.682185
1 -0.494828 -0.861787
2 -0.190137 -1.628414
3 -1.140164 -0.200592
4 -1.534097 -1.141860
          a         b
0  0.962114 -0.405098
1 -0.940089  2.238816
2 -0.466555 -1.410721
3  1.858520 -1.910571
4 -0.520907  0.108112
          a         b
0  0.487627  1.733353
1 -1.592809 -1.050215
2  0.912188 -0.694693
3 -1.156460  0.533003
4 -0.499162  0.509842
          a         b
0 -1.803336  0.291846
1 -0.618987 -1.394728
2  1.221833 -1.350209
3  1.723256  0.704114
4 -0.918758 -1.443525
          a         b
0  0.516691  0.118866
1  0.933505  0.159509
2 -0.842256  0.952541
3 -2.078442 -0.690161
4  1.244079 -0.031905
          a         b
0 -0.127264 -0.529247
1 -1.288101  1.864442
2  0.579703 -0.615814
3 -0.784078 -0.677152
4 -0.565463 -0.418141
          a         b
0  0.062551 -1.213155
1  0.085074  1.105896
2  0.894463 -1.196071
3 -1.225146  0.072381
4 -2.077184 -0.392906
          a         b
0  0.912209 -0.934945
1  1.119252  1.272669
2  0.471183 -0.581251
3 -1.074714 -0.515503
4 -0.420787 -0.367306
          a         b
0  0.263827 -1.011713
1  0.654316  1.689496
2  0.725724  1.505992
3  1.004345  0.101828
4  1.282068  2.449378
          a         b
0  1.669432  0.794230
1  0.330599 -0.239669
2 -0.384599  2.458061
3 -0.577900  0.898911
4  0.982579  0.809592
          a         b
0 -0.044403 -0.899886
1  1.093975  0.703362
2  0.456107  1.162690
3  0.499480  0.976855
4  0.083909 -0.454191
          a         b
0 -0.513238  1.934298
1 -1.651860 -1.097726
2  2.037180  1.066258
3  1.401855  0.137081
4 -0.623441  0.386405
          a         b
0  0.523668  0.441739
1  0.351934  0.477294
2  0.767619 -0.719639
3 -0.124864 -0.036829
4 -0.191857  0.616526
          a         b
0  0.547875 -0.318892
1 -0.709480 -0.252526
2  1.112900 -0.822373
3 -0.242828  0.685094
4 -1.643575 -1.478874
          a         b
0  0.741696  0.579915
1 -1.485334 -2.260147
2 -0.978000  0.751702
3  1.432720 -1.602062
4 -0.861144  1.084929
          a         b
0  0.003487 -0.607938
1  1.180313 -2.812607
2 -2.103870 -1.421763
3  0.344450  0.259911
4 -0.733127 -2.084075
          a         b
0  0.121940 -1.094287
1  2.434808 -0.668457
2  0.171960 -0.549398
3  1.072912 -0.467803
4  1.086516  0.046695
          a         b
0 -0.723016 -0.125595
1 -0.053941 -2.162283
2  1.095046  0.527301
3 -0.212216  0.235127
4 -2.809707  0.294683
          a         b
0 -0.864638 -2.273053
1  1.114662 -0.805689
2 -0.997002 -0.510830
3 -0.064023 -0.255531
4  2.421823  0.064278
          a         b
0  1.963381 -0.973363
1  1.670029 -0.417609
2  1.097569  0.449633
3  0.226313 -1.082131
4  0.716150  0.246712

          a         b
0 -0.344228  0.763946
1  0.425324 -2.788876
2 -0.417191 -0.559920
3 -1.424082 -0.940975
4  0.524150  2.281131
          a         b
0  0.420708 -0.042590
1 -1.789948  2.337290
2  0.220320  0.007938
3  0.296585  0.499450
4  0.053716  0.432481
          a         b
0  1.055160  0.485011
1  0.155483 -1.318926
2  0.030817  0.642279
3  0.572481  0.480675
4 -0.591382  0.402289
          a         b
0 -1.186588  0.833941
1 -0.444679 -1.557377
2 -1.691404  1.029242
3 -1.662964  1.628068
4 -1.820437  1.712511
          a         b
0  1.057286 -0.469989
1 -0.467296  0.213062
2  0.963794  0.059729
3 -0.383463 -3.069877
4 -1.125896  0.538409
          a         b
0 -1.858644  1.428157
1  0.363337 -0.639391
2  1.180692 -0.089261
3  1.299253 -2.600771
4 -2.267373  0.884347
          a         b
0  0.878357 -0.725383
1  1.948265 -0.870647
2 -1.830797  1.364103
3  1.004479 -1.020766
4 -1.003418 -0.638247
          a         b
0 -0.158459 -0.533754
1 -0.620932  0.151570
2  0.411165  0.853489
3  0.124817 -1.570271
4 -0.074316  0.702669
          a         b
0 -1.132224  1.095477
1  0.257900 -0.356522
2 -0.416532  0.421808
3  0.011350  0.953463
4  1.868632 -1.710075
          a         b
0 -0.781133 -0.238486
1  1.279445  1.044792
2 -0.318498  0.141359
3 -0.733582  0.569521
4  1.795272  0.247792
          a         b
0 -0.659545 -0.772289
1 -1.523224  1.286248
2 -0.239428 -1.585829
3 -0.474265  1.982914
4 -0.670368  0.882460
          a         b
0  0.385541 -0.200145
1  0.781364 -0.685839
2 -0.734234 -0.479542
3 -0.117072 -1.444511
4 -0.035756  0.412765
          a         b
0  1.828213 -0.457801
1 -0.735572 -0.282642
2 -0.119926  1.359411
3  1.810167 -0.432056
4  0.455746 -0.355078
          a         b
0 -1.112141 -1.250310
1  0.833969 -1.325486
2 -0.491631 -0.641435
3  0.408021  1.258963
4  1.005437 -1.109495
          a         b
0  0.065389  0.229701
1 -1.849754  1.917686
2 -0.464857  0.884655
3 -0.591065  1.371328
4 -0.354935 -0.483593
          a         b
0  0.213373  1.434049
1  1.093217 -0.211780
2 -1.244572  1.194644
3  0.222666  0.863056
4  0.337646 -1.214520
          a         b
0 -1.546141  0.072738
1  0.981173  2.022551
2  0.394667  0.387083
3  1.170797 -0.075969
4 -0.130653 -1.146893
          a         b
0 -0.339653 -0.781117
1 -0.269691 -0.285362
2  1.313398 -0.161887
3 -0.121115 -1.393314
4  0.032150 -0.641349
          a         b
0  0.178061 -1.532365
1  0.796382 -0.559134
2 -0.386616 -0.699126
3 -1.416813  0.252603
4 -1.189607 -2.710144
          a         b
0 -0.554951  1.272044
1 -0.437365  0.803801
2  1.445023 -0.061287
3  0.133518 -0.157388
4 -0.770631  1.333184
          a         b
0 -0.058110  0.025327
1 -0.189849  1.171831
2 -0.399604  0.674774
3  0.017684  1.001128
4  2.099993 -0.456586
          a         b
0 -0.256644  1.815926
1 -0.092273 -0.499060
2 -1.719383  1.263950
3 -0.506590 -0.327408
4  0.747199 -0.793976
          a         b
0  2.225237 -0.792708
1  0.341151 -1.384911
2  1.249174  1.189485
3 -0.026465 -0.409774
4  1.987314 -0.666558
          a         b
0 -0.905784  1.190109
1  0.768313  0.745761
2 -0.328858 -0.777104
3  0.805065 -0.362876
4 -0.129932 -1.199973
          a         b
0 -0.929048  0.870362
1  1.423466  0.199424
2  0.166052  0.845916
3  0.889659  0.004702
4 -0.843563 -0.006412
          a         b
0 -0.420160  1.020145
1  0.413520  0.316065
2  0.494452  0.586190
3 -0.236674  0.743846
4 -0.875762 -0.478217
          a         b
0  0.238890  0.291877
1 -0.123240 -0.357831
2 -0.397257 -0.880125
3  0.846559 -1.090050
4 -1.179078  0.865168
          a         b
0 -1.350112 -0.251093
1  0.368146 -0.170505
2  1.385235 -0.286309
3 -0.074857  0.031066
4 -1.205922 -0.268798
          a         b
0  0.628714  1.359807
1 -0.584142 -0.848794
2 -0.569586 -0.576692
3 -0.455931 -0.294413
4 -0.689582 -1.325611
          a         b
0  0.493522  0.081272
1 -1.888945 -0.511829
2 -0.201658  1.524197
3 -0.350890 -0.093792
4  0.458735  0.890414
          a         b
0 -0.892712 -0.694756
1  0.526228  0.641210
2 -0.867508 -0.421606
3 -0.550479 -0.211385
4  0.538060  0.896227
          a         b
0 -0.818347  0.626937
1 -0.190113 -1.789972
2 -0.448533 -0.204731
3  1.559835  1.253095
4  0.120552  0.881078
          a         b
0 -0.532066 -0.974460
1 -0.035320 -0.986012
2  0.771802  0.236318
3 -0.221032  0.688655
4  0.387300 -0.325531
          a         b
0  0.448417 -0.109680
1  0.525707 -0.845700
2  1.169032 -0.928839
3 -0.376576  2.093630
4  0.540245  1.875629
          a         b
0  0.874914  1.281396
1  0.586391  0.963712
2  0.310652 -0.627845
3  1.607947  0.058708
4  0.547669 -0.046147
          a         b
0 -0.295380 -0.061251
1  0.683451 -1.441413
2 -0.570864  1.246861
3  1.324801 -0.631174
4 -1.773566  2.142598
          a         b
0 -0.134344  1.638880
1  0.018077 -2.291173
2  0.829800 -1.079869
3 -0.634211  0.053682
4 -1.867070  0.852074
          a         b
0  0.276873  0.932557
1  1.061690 -0.776733
2  1.189748 -0.807048
3  1.064713 -2.099023
4  1.515339 -1.190551
          a         b
0  0.741325  0.102393
1 -0.252216  1.014037
2 -0.557726 -0.834784
3 -0.511344  1.408884
4 -0.139895  0.205014
          a         b
0  0.767792 -0.382048
1  2.090198  0.526367
2  0.855548 -0.687237
3 -1.778652  0.030672
4  1.400633 -1.104128
          a         b
0  1.180753  1.553795
1  0.306122  1.287259
2 -0.763050  0.209524
3 -0.840277  1.069798
4 -1.743408  0.326464
          a         b
0  1.883404 -1.207853
1  0.330165  0.800234
2 -1.867580 -0.728954
3  0.676883 -0.674377
4 -0.455978  0.930331
          a         b
0  1.985692  0.145378
1  1.130913  1.562672
2 -2.031338  0.531375
3  0.853560  1.213832
4  0.505964  1.127844
          a         b
0 -0.663079  1.138443
1 -1.934377  0.841506
2  1.301438  1.271712
3 -1.663924 -0.213541
4  0.119053  1.265748
          a         b
0  0.953861  0.636958
1  0.412712  1.066867
2  0.010007 -0.681157
3  0.394017 -0.166433
4  0.871911  2.394120
          a         b
0  0.991859 -1.019094
1 -0.062686 -1.561981
2  0.056729  1.876413
3  0.141333 -0.863511
4  1.284363 -0.755213
          a         b
0  1.375078 -0.730593
1  0.171142  0.181043
2  0.369329  0.202044
3  0.483301  0.202949
4  1.050203  2.008548
          a         b
0  0.713762 -0.682358
1  0.516243  1.653167
2  2.213088  1.027392
3  1.566077  1.830604
4 -1.240533 -0.181956
          a         b
0  0.392269  0.413747
1 -2.287755 -1.290840
2  0.649917 -1.722030
3  0.918670  0.389188
4 -0.693271  0.570374
          a         b
0  0.946570  1.357131
1  0.082335  1.374830
2 -0.868861  2.884470
3 -1.234921  0.353549
4  0.426312  0.069006
          a         b
0 -0.035412  0.302744
1  1.213363 -0.724976
2  0.429955 -0.660534
3  0.738237  1.398591
4  0.239409  0.800592
          a         b
0  1.932237  1.151504
1 -1.131677 -0.972003
2  0.905327 -1.155667
3 -0.032611  0.242743
4 -0.300921  1.042656
          a         b
0 -0.526875  1.241526
1  0.250318 -2.130192
2  0.701461 -2.450032
3  0.702498 -1.047248
4  2.092814  1.072094
          a         b
0  0.311237 -1.629780
1 -0.813436  0.539165
2 -1.761735  0.428184
3 -2.233346  0.177224
4 -0.855206 -1.321228
          a         b
0  0.738618 -0.497220
1 -0.053380  0.023818
2 -0.171046  1.647858
3 -0.822804 -0.109002
4 -0.224080  0.200286
          a         b
0 -2.096986 -0.694528
1  1.829705 -1.529586
2 -1.491697  0.045361
3 -0.006942 -1.216147
4  0.281530  0.506555
          a         b
0  1.565669 -0.539453
1 -1.936403 -1.014793
2  0.961664  0.296186
3 -1.286593 -0.936716
4 -0.115994  0.730284
          a         b
0  1.003632  0.367747
1 -0.144527  1.830553
2 -1.227924 -1.313588
3 -0.782548  0.021110
4  0.584603 -0.609174
          a         b
0  0.004239  0.677342
1  0.962992  0.677584
2  1.137736 -1.770805
3  0.189381  2.026965
4  0.174089  0.580673
          a         b
0  0.377897  1.666334
1  0.287603 -0.707107
2 -0.924179  1.574839
3  1.538559  1.166062
4  0.394381 -0.151875
          a         b
0  0.245676  0.407526
1 -0.457347  0.767431
2  0.206621  1.263259
3 -0.531317 -2.035605
4  0.308342  1.490467
          a         b
0 -0.527872  0.119563
1 -0.772211  0.188124
2 -1.574573 -0.188247
3 -0.445078 -0.151736
4  0.133179  0.732324
          a         b
0 -0.891357  0.711103
1 -0.099780 -0.394180
2  1.397797 -0.926454
3 -0.786296  0.365300
4  0.070999  0.908988
          a         b
0  0.360643  1.986838
1  0.695487  0.253393
2  0.372165  2.095609
3  0.372995 -0.194920
4  1.025773 -0.405185
          a         b
0  1.421369  0.724153
1  0.268061 -1.623478
2  1.886803  0.474391
3 -0.855029  1.294367
4  0.981221 -1.444704
          a         b
0  1.462202 -0.795714
1 -2.465819  2.353158
2 -0.512728 -0.447701
3  0.433533  1.255601
4  0.299466 -1.313794
          a         b
0 -0.492913 -1.870082
1  0.112930  0.114887
2  0.592434 -0.173472
3 -0.511040  1.346616
4  1.120965 -2.153566
          a         b
0 -0.178449  0.350607
1 -0.461853  0.109189
2 -0.284682  0.474917
3 -0.931652  0.673705
4  0.829955  0.962722
          a         b
0  1.154680 -0.662117
1 -1.855591  1.031940
2  0.919822 -0.268851
3  1.077096  0.630109
4  0.364299  0.205098
          a         b
0 -0.331426 -0.278698
1 -1.213185  1.129358
2  1.240270 -1.738382
3  1.551571 -0.570245
4 -0.731942 -0.911817
          a         b
0 -0.757191 -1.082237
1  0.504458 -2.372526
2 -0.741821 -0.570688
3 -0.132838  1.247258
4 -0.184453 -1.156092
          a         b
0 -0.172608 -1.766714
1 -0.560327 -0.331574
2  0.434398 -1.234196
3  1.256217 -1.776763
4 -0.571149  2.147249
          a         b
0  0.451889  0.329979
1 -0.837560 -0.197744
2  0.206067 -0.852038
3  0.390985  0.090250
4 -0.953585 -1.748099
          a         b
0  0.854410 -0.327590
1  1.421846 -0.080528
2 -0.818713  1.229776
3 -0.133072 -0.452897
4 -0.232611  1.072343
          a         b
0  0.731521 -0.383508
1 -0.215097  0.651923
2  1.145410  0.966622
3  0.563325 -1.133155
4  0.946639  2.284211
          a         b
0 -0.882333  1.587850
1 -0.143060  0.782448
2 -0.352547  0.069454
3 -1.555373 -1.090122
4 -1.520589 -0.236293
          a         b
0  1.494232  0.005532
1  0.823047 -0.189975
2  0.902880  0.340043
3 -0.291033 -0.901448
4 -0.233277  1.012928
          a         b
0  0.514414  1.189683
1  0.281816 -0.411225
2  0.738238  0.594116
3  0.589305 -0.854257
4  1.765011 -0.555621
          a         b
0  1.545419  0.278920
1 -2.258495 -1.242617
2  1.168262  0.653177
3  0.398510 -0.159433
4  0.577308 -0.562460
          a         b
0  0.671627  1.410891
1  0.774246 -0.458259
2  1.580492 -0.401477
3  0.568690 -1.402232
4  0.949751  0.029181

          a         b
0  0.814936 -0.730580
1  1.626903 -0.054507
2 -0.179230  0.641831
3  0.217587 -0.370889
4  0.171067  0.448634
          a         b
0  1.631436  0.854485
1  0.701708 -2.307315
2  0.188786 -1.613135
3  2.083963 -1.095734
4 -0.064235  0.007439
          a         b
0 -1.429625 -0.249584
1  1.868902 -1.225723
2  0.134424  0.965694
3 -0.205722 -1.539672
4  0.653328 -0.543323
          a         b
0 -0.125894  1.276892
1 -1.381397  0.367825
2 -0.389118  1.011270
3  0.990916 -0.160582
4 -0.003209  0.481063
          a         b
0  0.285091 -1.461734
1 -0.029830  0.921595
2  0.418360 -0.246793
3 -0.186746  0.480131
4 -1.094635 -1.909599
          a         b
0 -2.493879 -1.425936
1  1.053739 -2.033666
2 -0.216590  0.160672
3 -0.163980  0.140903
4 -2.045160 -1.183712
          a         b
0 -0.629771  1.289658
1  1.299033  0.721911
2 -1.288844  0.577124
3  1.604759  1.450360
4  0.338404  2.085080
          a         b
0  0.100924  1.267623
1  0.233177  0.723708
2  0.489215 -0.216512
3  0.713524 -0.306627
4  0.535522 -2.126238
          a         b
0 -1.503265  0.192576
1  0.410371 -1.039634
2  2.108829 -1.676317
3  0.555719  1.540314
4  0.765542 -0.336844
          a         b
0  0.839134 -0.369006
1  0.700768  0.783365
2 -0.201083  1.237151
3  1.093719 -1.552694
4 -0.538304  1.851496
          a         b
0 -0.233635 -0.503473
1  0.793392 -0.524029
2 -0.375836 -0.017096
3 -0.176890  0.443918
4  0.466550  0.853860
          a         b
0  0.583190 -0.258505
1  0.229071 -0.674412
2  0.054310 -0.438985
3  0.055989  0.471625
4 -0.314354 -0.281383
          a         b
0 -0.399038 -0.198383
1 -0.753375  0.351024
2 -0.932649  1.195346
3 -0.954535  0.750957
4 -1.091578 -0.731469
          a         b
0  0.740492 -2.068289
1 -0.451070 -0.029607
2 -1.832429  0.731284
3 -0.076714 -1.070564
4  0.371790 -0.831955
          a         b
0  1.434514  0.082569
1  0.325909  0.987321
2  0.989610 -0.210909
3  1.217452 -0.237954
4  1.180952  0.528572
          a         b
0 -0.554361 -0.563678
1  0.223231  0.188805
2 -0.804848  0.986198
3  0.658633  0.655564
4 -0.059429  1.144867
          a         b
0  0.571336 -0.905691
1 -0.873268 -0.883435
2 -1.246186 -0.517136
3  1.553689 -0.589248
4 -2.969078  1.491840
          a         b
0 -1.326938 -0.142508
1 -0.269972 -1.620974
2  1.635723  0.362754
3 -0.078002  0.615416
4  0.337750 -0.134880
          a         b
0  1.173156 -2.849144
1 -0.928877  1.129968
2  0.920887  0.363223
3 -2.149208 -1.786541
4 -0.852946 -2.054448
          a         b
0  0.303046 -0.703083
1  1.755048  2.044990
2  0.952056  1.683901
3 -0.390434 -0.250982
4 -0.708537 -0.974103
          a         b
0 -0.427135  0.641770
1  1.058163 -2.014870
2 -1.155278 -0.727960
3  0.035999  0.311081
4  1.133371  0.051562
          a         b
0 -0.621676 -1.111997
1  0.406703  0.106836
2 -0.101762 -0.542647
3 -0.036344 -0.145271
4  0.780336  0.243043
          a         b
0 -0.303271 -0.078257
1  0.083735 -0.396088
2  1.478644  0.896912
3  2.232983  0.159642
4 -0.069194  1.481830
          a         b
0  0.928574 -0.252656
1 -0.116108 -1.565399
2  0.664905  0.403158
3 -0.337230 -0.201713
4  0.197860 -1.029218
          a         b
0  0.576593 -0.835853
1 -0.426626  0.121474
2  0.808699  0.158548
3  0.518490 -1.628800
4 -0.558303  1.148256
          a         b
0  0.717755  1.367185
1  0.597786  0.663139
2 -0.255893  0.463619
3  0.505814 -0.497615
4  1.367021  0.902744
          a         b
0  0.694188  0.842251
1 -0.940502 -0.464789
2 -2.504120  0.137161
3 -1.597429 -0.176283
4  0.888924  0.154163
          a         b
0  0.087686  0.083025
1  0.263979  0.582532
2  0.011476 -1.491038
3  1.439755 -0.396292
4  0.534639  0.435834
          a         b
0 -0.430827 -0.196264
1  1.081716  1.266058
2 -1.106554  0.444680
3 -0.652670 -1.568682
4  0.156901  0.876124
          a         b
0 -1.631333 -1.090610
1 -1.021360 -0.394309
2  0.199389 -0.736975
3 -1.129250  0.918154
4  1.416268 -0.033203
          a         b
0  0.429335 -0.991854
1  0.906506  0.004299
2 -0.081644  0.944439
3 -0.962586 -1.122344
4  0.538812 -1.319520
          a         b
0 -0.915720  0.017412
1  1.494149  1.477695
2  1.003562  0.800095
3  1.028268  0.236012
4  0.520919  0.103107
          a         b
0  0.080195  0.092081
1 -0.710882  1.077247
2  0.220065 -0.496064
3  1.840237  0.821771
4  0.346519  0.304313
          a         b
0  0.381196 -0.461265
1  0.295241 -0.842325
2 -2.099377  1.471102
3  0.365531  0.188495
4  0.685296 -0.133501
          a         b
0 -0.391313 -1.020285
1 -0.924084 -0.379371
2 -1.257110  0.265861
3  0.502854 -0.132634
4  0.522521 -0.586930
          a         b
0  0.660703 -0.376520
1 -2.262014 -0.455518
2 -0.386535 -0.824993
3  0.988821 -0.184851
4  1.013920 -0.681215
          a         b
0  1.128208 -1.712281
1  0.487511 -0.371536
2  0.915966 -0.206978
3  0.820640 -0.114335
4  0.445305  1.868450
          a         b
0 -1.185471  1.224977
1 -1.110973  0.043954
2  1.512035  1.408397
3 -0.281322  0.055934
4 -0.393774 -0.275116
          a         b
0 -0.789225  0.586189
1 -1.390561 -2.006897
2  0.187862 -0.459653
3  2.474175 -0.098908
4  0.162748 -2.646696
          a         b
0  1.877541 -0.274649
1 -0.215183  0.443756
2  0.176251 -0.496838
3  1.209285  1.736697
4 -0.614961 -0.261041
          a         b
0  1.665696  1.105164
1  0.932698 -1.672608
2  1.110472  0.693396
3  0.903835 -1.030469
4 -0.878196 -0.728270
          a         b
0  0.266202 -1.883131
1 -0.242699 -0.872682
2 -1.065304  1.160142
3 -1.452726  1.872639
4 -2.477647 -1.715757
          a         b
0 -0.987197  1.335684
1  0.624383  0.568206
2  1.096472 -2.147450
3 -1.012280  0.016216
4 -0.171616 -0.692556
          a         b
0 -0.848446  0.660924
1  0.012184  0.857178
2  0.227574  0.034279
3  0.349017  0.866750
4  0.141511  0.389126
          a         b
0  0.627753 -1.930325
1 -0.134474 -0.835423
2 -0.504258 -0.705470
3  1.560971  0.576639
4  1.235379  0.038226
          a         b
0  0.813225  0.418031
1 -1.635664 -0.388894
2 -0.136084 -0.155828
3 -0.415800  0.395431
4 -0.518065  0.864269
          a         b
0 -1.814030 -1.215285
1  0.714674 -0.307127
2 -0.596054  0.171559
3 -2.011917  1.688154
4  1.458345 -1.176150
          a         b
0  1.871223  1.422300
1  0.070048  0.524712
2  0.390430 -0.619076
3  0.504983  0.641300
4  0.346875  2.106601
          a         b
0  1.571205 -0.856323
1 -0.389776 -1.270514
2  1.380771 -0.062046
3 -0.190219  0.429262
4  0.317296 -0.188758
          a         b
0  0.997221 -1.087622
1  0.306362  0.431111
2  0.375933  0.796294
3  1.275104 -0.952302
4 -1.488634  0.601123
          a         b
0  0.522336 -0.428155
1  1.676727 -1.251970
2 -1.550977  1.576404
3  0.306367 -0.343317
4 -0.230630  1.134517
          a         b
0  0.693907 -1.288593
1 -1.560670 -1.085015
2  0.122425 -0.505450
3 -0.204203  0.288898
4 -0.382581  0.713146
          a         b
0 -0.702754  0.486122
1  0.897815 -0.383784
2  0.255204 -1.328176
3 -1.407504  0.992109
4 -0.326374  0.870164
          a         b
0  1.697246  1.011974
1  0.950453  0.095517
2 -1.861190  0.271361
3 -1.258406  2.642349
4  0.594203  0.422687
          a         b
0  0.007488  0.198575
1 -0.596518  0.857682
2 -0.207764 -0.344576
3 -0.506198  0.305961
4 -0.804969 -0.290151
          a         b
0 -0.288554  0.715519
1 -1.205172  1.555175
2 -0.717990 -0.307628
3 -1.080483 -0.059720
4  1.117630 -0.135837
          a         b
0  1.000361  0.675101
1  0.968246  0.561329
2 -0.253602  1.644207
3 -1.647747 -0.800911
4 -0.417921  1.304320
          a         b
0 -0.705468  0.386809
1 -1.936221 -0.764159
2  1.704871 -1.464133
3  0.586133 -0.799395
4 -0.814913 -0.356255
          a         b
0  1.774056 -0.730702
1  0.121216 -0.463407
2 -0.934682  0.254241
3  1.354928  0.239531
4 -1.337670 -1.177549
          a         b
0 -1.054798  0.230156
1  0.463340 -0.047000
2 -0.102172  0.123985
3 -2.246493 -0.980699
4 -0.075370  0.608174
          a         b
0  0.850362  0.652030
1 -0.560814  1.360266
2 -0.213060 -1.067496
3  0.124029 -1.736706
4  0.424419  0.835111
          a         b
0  1.129417 -1.001789
1  0.902431 -1.051229
2 -1.513967 -0.255562
3 -0.201856 -0.595667
4 -1.069834 -1.370993
          a         b
0  1.753250 -0.113197
1 -0.738080 -1.979480
2 -2.182467 -0.205603
3  1.829443 -0.590262
4 -1.526314  0.228740
          a         b
0 -0.982268 -1.133294
1 -1.373917  1.695791
2  0.467233 -1.359063
3  1.473980  0.753023
4  0.728015 -1.142558
          a         b
0  1.602787 -0.046762
1  2.032668  0.431974
2  0.586758 -0.624152
3 -0.490733  0.886037
4 -0.517139  0.569693
          a         b
0 -0.427586  1.429170
1 -2.254393  1.408705
2  0.502971  0.947928
3  0.412508 -0.359735
4 -2.932456  0.997676
          a         b
0  0.589085 -1.586864
1 -0.818350  0.528593
2 -0.444261 -0.909098
3  0.517106 -0.480268
4  0.385931  0.121414
          a         b
0 -1.375801 -1.112658
1 -0.361698 -0.206275
2 -0.248190 -1.696850
3  2.003366  1.840631
4 -2.137079 -0.932362
          a         b
0  0.641171 -0.127252
1 -1.624855  0.335104
2 -0.304962  0.792774
3  0.526367 -0.562424
4  1.160981  3.249041
          a         b
0  0.070587 -0.421857
1 -1.485809  1.665063
2  0.475910  1.994030
3  0.911044 -0.085416
4 -0.487574 -0.431194
          a         b
0  0.711458  0.026365
1 -1.209514  0.597971
2  0.852454  0.450551
3 -0.143097  0.340004
4  0.149989  0.097458
          a         b
0 -0.173438  0.835510
1 -0.165137  0.934460
2  1.019153  0.067495
3  1.156264 -0.026857
4 -1.010435  1.008520
          a         b
0  0.122324 -1.592782
1  0.761074  0.443795
2 -0.103321  1.150998
3  0.431413 -0.598460
4  1.000379  0.213933
          a         b
0  0.002013  0.846043
1  0.954035  0.918819
2  2.366854  0.824911
3  0.513037  0.924091
4 -0.871761 -1.421729
          a         b
0 -0.532605 -0.341156
1  1.397573  0.054724
2  0.392658  0.283270
3 -0.822243  0.189789
4 -0.775013 -0.779292
          a         b
0 -1.216194 -0.259966
1 -0.123245  1.029048
2  1.135217  0.599320
3 -2.738605  1.919867
4  0.725736  0.979053
          a         b
0 -0.011142  1.024096
1 -0.913447  0.117076
2 -0.673806 -0.380204
3 -0.128235 -0.980089
4  0.913218 -0.666185
          a         b
0 -0.894051 -0.369986
1 -0.860605  1.384590
2  0.750777  0.807462
3  0.841109 -0.098965
4 -1.230325  0.267655
          a         b
0 -1.966294  0.416700
1  0.478671  0.680334
2 -1.231465  0.377432
3  0.037944  0.609295
4 -1.904081  0.360757
          a         b
0  0.953992  0.658964
1  0.778374 -0.631603
2  0.056555  0.337238
3 -2.137994  1.664401
4  0.830816  0.687954
          a         b
0  0.619324 -0.773634
1  0.670329  1.484494
2  0.809033  0.693343
3 -0.876792 -1.199015
4  0.042122  0.614161
          a         b
0 -0.304822 -0.598761
1 -0.668393  0.144802
2  1.383990 -0.507635
3 -0.938087  1.086404
4  0.088204 -0.362476

          a         b
0  1.316676 -0.560759
1  0.027972  0.757856
2  0.106004  1.315993
3  0.567011 -1.542428
4  0.638278 -0.532368
          a         b
0 -0.160543  0.396309
1  0.309747  1.046582
2 -0.650216 -0.963591
3 -0.234292  0.157953
4  0.210539  1.219613
          a         b
0  0.705608  0.139300
1  0.246639  0.170858
2 -0.319391  0.005169
3  0.298432 -0.446179
4  0.974830 -0.332862
          a         b
0 -0.584416 -0.230198
1  0.934414  1.620122
2 -0.398889  0.087637
3 -0.824392 -0.659195
4 -0.716299  0.216789
          a         b
0 -0.882650 -0.432555
1 -0.169649  0.440241
2  0.114391 -1.358243
3  1.638358  1.742970
4 -0.689438 -2.074703
          a         b
0 -0.108686 -1.391237
1 -0.062137  2.437948
2 -2.248334  0.934489
3  1.812822  0.965676
4  0.961722 -0.559854
          a         b
0 -0.176549  1.083904
1  0.351628  0.131678
2  1.060313  0.445477
3  0.337750  0.217224
4 -0.758057 -0.238264
          a         b
0  1.830183  0.290338
1 -0.323151 -1.640810
2 -2.034134  0.564377
3 -1.390424  1.510302
4  2.182865  0.568922
          a         b
0 -0.217091 -1.553465
1 -2.483489  1.448495
2  0.762350 -0.026283
3 -0.159736  1.625584
4 -0.523280  0.902634
          a         b
0 -0.217882  0.805599
1 -0.138000  0.529196
2  0.113059  0.637772
3 -1.143069 -0.549589
4  1.131300  1.995919
          a         b
0 -0.311928  1.339213
1 -0.750193  0.401398
2  1.043721  0.940922
3 -0.268118  0.118286
4 -0.679947  1.106829
          a         b
0 -0.970588 -0.884170
1 -0.330753 -1.730773
2  0.267245 -1.042240
3  0.389692 -1.530565
4 -0.360069 -0.289172
          a         b
0  0.398542  1.007679
1  2.617161 -0.067880
2  0.774043 -0.591755
3 -1.068158  1.367910
4  0.714253  0.697942
          a         b
0  0.946123 -0.802328
1 -1.462284  1.243142
2  0.556443 -0.907869
3  0.706499 -0.337384
4  1.166374  0.140619
          a         b
0  0.881666 -0.840178
1 -0.335828 -0.325311
2 -0.150004 -0.668033
3 -0.037011 -1.055041
4  1.924858  0.099504
          a         b
0 -1.904533 -0.332218
1 -0.020168 -0.285124
2  0.543670  1.476776
3 -0.415823 -1.150254
4 -2.165828  0.603206
          a         b
0  0.321327  1.419075
1 -0.547691 -0.743447
2  0.495651 -0.832838
3  0.788567  1.529092
4 -1.087124 -0.484196
          a         b
0 -1.092606 -0.262294
1  1.169851 -0.668882
2  0.826619  0.859498
3 -0.407355 -1.572596
4  0.793860  0.404887
          a         b
0  0.627607  1.033398
1 -0.076223  0.514688
2 -0.333015  1.489935
3  1.854381  0.669450
4  0.853169 -0.873971
          a         b
0  0.241099 -0.532678
1 -0.122377  0.149147
2 -0.678158  0.954337
3  0.208362  1.890488
4 -0.915908 -0.916415
          a         b
0 -1.251752  1.170131
1 -0.569748  1.170501
2 -1.561675  0.636805
3  0.061189  0.883258
4 -0.087481  0.821110
          a         b
0  0.493132 -1.017691
1  0.717478  0.815484
2 -0.204275 -0.221822
3  0.420332  0.836920
4  0.196101  0.651970
          a         b
0 -0.710937  0.145341
1 -1.175172 -0.470806
2 -0.210805 -0.272808
3  0.130690  0.544032
4 -0.031272 -0.532340
          a         b
0 -0.180063 -0.556339
1 -0.164741 -0.207406
2 -0.396359 -0.921369
3  0.597991 -0.345673
4 -0.035521 -0.952493
          a         b
0  0.884873  1.324160
1 -0.846407 -0.464605
2 -0.175436 -0.394477
3  1.399359 -0.169977
4  0.313945 -0.878836
          a         b
0  0.384221  0.740978
1  0.815400  1.448434
2 -1.112536  1.407850
3 -0.080327 -0.791860
4 -0.054529 -0.455655
          a         b
0 -1.333551 -0.917635
1  0.365213  0.653859
2  0.043243 -1.150151
3  1.835998  0.535461
4  1.105863  1.011133
          a         b
0  1.074511  0.498902
1  0.844771  0.857620
2  1.135254  1.486549
3  0.176336  1.194354
4  1.227869 -0.426541
          a         b
0  1.414042  0.651230
1  0.170595  1.077922
2 -0.777722  1.834420
3 -0.216995 -3.100583
4 -0.197377 -0.261985
          a         b
0 -0.476993 -0.747555
1  2.083506 -0.149337
2  2.346310 -0.107585
3  2.501461  0.381390
4  0.984426 -0.218789
          a         b
0 -0.580973 -0.364811
1 -0.457196 -0.763618
2  1.350958  0.756160
3 -0.481714 -1.103024
4  0.196382  0.148609
          a         b
0 -1.503257  1.130942
1 -0.553580 -0.026594
2  0.740353 -1.294862
3 -0.369041 -0.169569
4 -0.225254 -0.872145
          a         b
0 -0.814627 -0.825055
1  0.471413 -1.188914
2  2.265937  0.043838
3  0.331012  0.365938
4 -1.494307 -2.827438
          a         b
0  1.227745  1.257479
1  0.238889 -1.370435
2 -0.983478  0.041305
3  1.001750 -0.409409
4  0.676782  0.357062
          a         b
0  0.800752  1.418394
1  0.418812 -0.607523
2 -0.766880  2.116892
3 -1.173840 -0.760737
4 -0.619367  0.338645
          a         b
0 -0.009509 -0.254549
1  0.544668 -0.014520
2 -0.954893 -1.161031
3 -0.633201 -1.086118
4  0.459944  0.684930
          a         b
0  0.226597 -0.014239
1  1.911080 -2.167040
2  0.943378  0.289594
3 -0.418510 -0.532314
4 -1.762292  0.129474
          a         b
0 -0.978499  1.200091
1  0.520858  0.332711
2  0.411619 -0.337549
3  1.009728  0.695511
4 -1.215739 -0.132574
          a         b
0  0.033526  0.773953
1 -0.251141 -0.798323
2  0.275816 -0.514118
3 -0.774095 -1.197597
4 -0.522767  0.823952
          a         b
0  0.153522 -0.696776
1 -0.689545  0.179856
2  0.688506 -0.326330
3  0.279712 -1.367950
4  0.614874 -0.311062
          a         b
0  0.325183  0.682433
1 -1.001733 -1.245095
2 -1.065473  0.625732
3 -0.525356  0.392196
4 -0.119005 -0.835735
          a         b
0  0.537951  0.306603
1  0.042345 -1.247556
2 -0.897515  0.518270
3 -0.077820 -0.038939
4 -1.579112  0.097881
          a         b
0 -1.594917  0.468699
1  0.471792  0.363089
2  0.148374 -0.100753
3 -0.684511  1.727614
4 -2.291270  0.660155
          a         b
0  0.575702  0.845882
1 -0.244086  0.206095
2  0.489724 -0.200349
3  0.242862 -0.551189
4  0.387457 -0.749619
          a         b
0 -1.407704 -0.339396
1 -0.142764  0.697566
2  0.842131  0.063871
3 -0.987464  1.986717
4  0.047180  1.602464
          a         b
0 -1.466858  0.448521
1  0.140252  0.813224
2  2.269503 -0.434192
3 -1.326612  0.319935
4  2.159229 -1.238875
          a         b
0  0.397201 -0.321698
1 -0.301272  0.911451
2  2.309028 -1.783493
3 -1.192750 -0.376922
4 -0.700086  0.005696
          a         b
0  0.995083 -0.272659
1 -0.110356  1.276923
2  0.041351 -0.067356
3 -1.016693  1.110070
4  0.844078 -1.965977
          a         b
0  1.246534 -1.038148
1  0.342570 -1.529913
2  0.340480 -0.918086
3  0.609977 -1.514500
4 -0.517673  0.339949
          a         b
0 -0.407991 -0.701780
1 -1.041778  0.503383
2 -1.073280  0.195293
3 -0.709673 -0.046067
4 -1.587463  1.764064
          a         b
0 -0.125628 -2.172258
1 -0.694085 -0.149931
2  1.051402 -0.090406
3 -1.055525 -0.827369
4 -0.109291  0.703133
          a         b
0 -0.805957  0.095623
1 -0.235593  2.507867
2 -0.986776  0.061311
3  0.510621  0.575070
4  0.735160 -1.622493
          a         b
0  1.571514  1.631201
1 -0.209894  0.684950
2 -1.134305  0.007921
3 -0.046686 -0.136831
4 -0.337275 -0.564977
          a         b
0 -1.546324 -0.311500
1  0.861954 -3.267512
2  0.186289 -0.258069
3  0.051456  0.487796
4  0.345505  1.100275
          a         b
0  1.039790 -2.094691
1  1.935812  0.192494
2  0.524581 -2.097254
3 -0.142346 -0.167912
4 -0.363052  0.921865
          a         b
0  1.374508 -1.754935
1  1.807767  1.304214
2 -0.184840 -0.156010
3  2.534963  1.304390
4  0.541051  0.386762
          a         b
0  0.425861  0.162929
1  0.043372 -0.575350
2 -0.680836  1.405082
3 -0.174278 -0.375705
4  0.831971  0.899534
          a         b
0 -1.600499  2.448552
1 -1.772567 -0.656550
2 -0.093260 -0.354365
3 -0.468276 -0.474191
4  0.859252 -0.751626
          a         b
0 -0.087971 -0.704134
1 -2.632315  0.095527
2  0.722868 -1.263732
3  1.315701 -0.522845
4  1.830631  2.704191
          a         b
0  0.868534  0.450531
1 -1.518655  1.707449
2 -0.853627  0.127480
3  0.634374  0.735303
4 -0.455854  0.691917
          a         b
0  0.480879 -0.678315
1 -2.591190 -2.190773
2 -0.225400 -0.178895
3  0.229261  0.602111
4 -0.622291 -0.590267
          a         b
0 -0.964196 -1.798976
1  1.091809  0.466588
2 -1.044613  1.843255
3  0.407308  0.424934
4  0.116793  0.957871
          a         b
0  0.298563 -1.696934
1  0.372233  0.416894
2  1.502135  0.033120
3  1.952111  0.796995
4  0.761436 -2.081200
          a         b
0 -0.857885 -0.821942
1 -0.353131  0.955421
2  2.038558 -1.143536
3  0.306779  2.110170
4  0.728184  1.015354
          a         b
0  0.931881 -0.290975
1  0.994766  0.553974
2  0.587126 -0.613687
3  1.489005  1.278717
4  1.502383  0.031679
          a         b
0  0.471877  0.759315
1  0.494337  0.277500
2 -0.310927  0.203930
3  0.998053 -0.700227
4 -0.400264  1.048613
          a         b
0  0.391934 -0.701356
1 -0.931634 -0.581303
2  0.094719  0.435398
3  0.267624 -0.594702
4  0.079673 -1.168139
          a         b
0  0.451855 -0.383871
1 -1.856153  1.026703
2 -0.940339 -0.647167
3 -1.629039 -0.716433
4  0.958162  1.425152
          a         b
0  0.065913  0.112215
1 -0.965317 -0.874424
2 -1.065637  0.101488
3  0.353163 -1.714541
4  0.446942 -1.451894
          a         b
0  0.561368 -0.994113
1 -0.723243 -0.583911
2 -0.178104  1.787008
3 -2.002868 -0.232579
4  0.229528 -0.401609
          a         b
0 -0.241844  0.184917
1  0.196573 -0.028824
2 -0.927968  0.308076
3 -0.676846 -0.785920
4 -0.133571 -0.662647
          a         b
0 -2.163412  0.690730
1 -0.062697 -1.189124
2  0.942829 -1.987582
3 -1.151198  0.493660
4 -0.850523 -0.467155
          a         b
0  0.609741 -1.685126
1 -0.656785 -0.953084
2  0.610377 -0.083190
3  0.097232  0.070003
4 -0.600630 -1.051917

          a         b
0  3.386780 -0.673910
1 -0.647106  0.062915
2  0.200636 -1.475136
3 -0.876031  0.358663
4  0.075026 -0.717335
          a         b
0 -0.029797 -0.979140
1  0.281415 -0.550054
2 -0.504107 -0.251849
3  0.894654  1.160424
4 -1.458766  0.193827
          a         b
0  3.202277 -0.199291
1 -0.099476 -0.638716
2  0.977705  1.712019
3 -1.331977  0.757929
4  0.116952 -0.711531
          a         b
0  0.957642 -1.365453
1  0.056895  0.615697
2  1.752264 -0.159733
3  1.254448 -0.403431
4 -0.590541 -0.632472
          a         b
0 -0.004469  0.649101
1 -0.240809  0.723475
2 -0.450846  1.289671
3  0.566367  0.902683
4  0.964477  0.419100
          a         b
0 -0.539633  0.741205
1  0.360464 -0.940722
2 -1.272430 -0.017322
3 -0.270324 -0.844783
4 -2.350631  1.244456
          a         b
0 -1.073841  1.723074
1 -0.994803  0.869788
2  3.050026 -2.351011
3  1.109322  0.804351
4 -0.011623 -0.354430
          a         b
0 -1.768665  3.048137
1  0.993338 -2.887078
2 -0.966613  0.421220
3 -1.180521  0.869596
4  1.253517  0.031347
          a         b
0 -1.953680 -1.513269
1  0.810222 -0.329588
2  0.261786  0.517043
3  1.217798  1.607909
4 -0.512280 -0.446304
          a         b
0  1.068553 -0.398430
1  0.879690 -1.961687
2  1.453264 -0.995036
3 -0.146026 -0.414156
4 -0.981503 -0.254621
          a         b
0  1.536847 -0.111411
1 -0.840305 -1.314921
2 -0.497048 -0.510706
3 -1.205954  0.120659
4  0.488186  2.248780
          a         b
0  1.209317  0.823017
1 -0.838109  1.592663
2  0.478902  2.226308
3 -0.559813  1.053374
4 -1.450136  1.306699
          a         b
0 -0.553234  0.677251
1 -0.703382  0.970415
2  0.805473 -0.626809
3  1.574711  1.137845
4 -1.683264 -0.953395
          a         b
0  0.606943  0.754596
1  1.798274  0.287696
2  0.505881  1.336756
3  0.641248 -0.492145
4 -0.804173 -1.034112
          a         b
0 -0.652763  1.644415
1 -1.364998  0.846294
2 -0.134485 -2.075862
3 -0.262064 -0.074268
4 -0.723768  0.621947
          a         b
0  1.265686 -0.186789
1 -1.147712 -1.072727
2  0.414495 -2.293958
3  0.945164  0.336845
4  0.816151  0.052052
          a         b
0  0.269226  0.537685
1  0.582844  0.292807
2 -0.119473  0.458007
3 -1.476561 -0.551585
4  1.020401 -0.688604
          a         b
0  0.676583 -1.092749
1  0.659464  0.241406
2  0.053855  0.000394
3  1.655122  0.096806
4  0.021606  1.039427
          a         b
0  1.003428  1.782597
1 -1.684369 -0.522366
2  0.381507 -0.516782
3  0.123951 -0.244148
4  0.484859  0.517177
          a         b
0 -0.632717 -0.387092
1 -0.773997 -1.782630
2  0.014042 -0.643068
3  0.400158  1.196310
4  1.125452 -0.384795
          a         b
0  0.512436 -0.729348
1  1.149151  0.448021
2 -0.668789  0.248019
3  0.290372  0.662085
4 -1.378577 -1.009697
          a         b
0  0.388491  0.791969
1 -0.891500  1.203559
2  0.376047  0.575882
3 -0.318399  0.731226
4  1.887436  2.397652
          a         b
0 -0.285306 -0.555891
1 -0.385325  0.697464
2 -0.771403  0.109677
3  0.370723 -1.036329
4  1.417215  0.625031
          a         b
0 -1.854317  1.046257
1 -0.099306 -0.539169
2 -0.616588  0.922413
3  1.268727  0.024879
4 -1.011339 -0.206920
          a         b
0 -0.538878 -1.227720
1  0.794691  0.623001
2 -1.775440 -0.693322
3  2.207765 -1.719635
4 -1.520787 -0.983550
          a         b
0  1.121197 -0.635329
1  0.613056 -2.067556
2 -0.740230 -1.212144
3  0.277492 -0.446350
4 -0.499582 -0.753549
          a         b
0 -0.990924 -1.177393
1 -0.245471 -0.889556
2 -1.741524 -0.212272
3 -0.397018  0.995309
4  0.628243  0.082649
          a         b
0 -0.085092 -0.028323
1  1.357224  0.423807
2  0.330375 -1.246085
3  0.831415  0.046548
4 -0.753990 -0.725802
          a         b
0 -1.739905 -1.593261
1  0.691681  0.899093
2 -0.144859  0.488538
3 -0.101984  1.285977
4 -1.333903 -1.191720
          a         b
0 -0.819645  1.017880
1  0.077596  0.566331
2  0.130435  1.246315
3 -0.222449 -0.274499
4 -0.981126  1.184539
          a         b
0  0.720043  0.022374
1 -1.727160 -0.175325
2  1.582829 -0.202147
3  0.508532  0.872168
4  0.372391 -2.467428
          a         b
0 -0.652277  0.139722
1 -0.871305  0.979152
2 -1.644728  0.320936
3 -0.392674 -0.332224
4 -1.514542 -0.007932
          a         b
0  0.324487  0.327882
1  1.142885 -0.285006
2  0.051801 -1.410994
3 -0.878932  1.142408
4 -0.031482  1.307445
          a         b
0 -0.398784  0.538162
1  0.891993  0.776036
2  1.887989 -0.653256
3  0.432141 -0.669401
4  0.578344 -1.720604
          a         b
0  0.306419  0.837745
1  0.517750  1.735128
2 -1.432274  1.351730
3 -0.578408  0.766252
4 -1.044531  0.069491
          a         b
0  0.734914 -3.222470
1  0.832750  0.093521
2  1.754669  0.683128
3 -0.288711  1.087062
4 -0.369045  0.374267
          a         b
0 -0.027375 -0.804234
1 -0.503694  1.054305
2  0.758378 -0.450382
3 -0.184531  0.684116
4  1.962521  0.059088
          a         b
0 -0.264245 -0.137872
1 -1.067172  2.641214
2 -0.213085 -0.745228
3 -0.055073  0.648143
4  0.019100 -0.842740
          a         b
0  0.771394 -1.202495
1  1.431302 -0.460875
2  0.461042  1.006053
3  1.854549 -1.891301
4  0.014624 -0.414669
          a         b
0  0.201883 -0.664788
1  1.092260  2.297482
2  0.078100 -1.135466
3 -0.184585  0.094231
4 -0.230648 -2.127649
          a         b
0 -0.522221 -0.115907
1 -0.922155  0.187717
2 -0.585364 -1.769396
3  1.452444  1.889063
4  1.734180 -0.060356
          a         b
0 -2.206855 -0.818246
1 -1.451273 -1.569252
2 -0.732896 -0.854247
3  0.848059 -0.657796
4  0.543461  1.502479
          a         b
0  0.533843 -1.770015
1  0.645094 -0.085891
2  0.683395 -0.357855
3  0.459640 -0.777319
4  1.083154  0.575485
          a         b
0 -0.821323 -0.076923
1  1.010912 -1.326473
2  1.509502  0.146416
3 -0.060380 -1.612877
4 -0.284163 -1.378761
          a         b
0 -0.868504  0.233633
1  1.788409 -1.592443
2 -0.008216 -0.487314
3 -0.235417 -0.036624
4 -0.792335  0.871485
          a         b
0  0.820274  0.427034
1 -0.849397  1.358073
2  0.887805 -0.980180
3  0.006287  0.797806
4 -1.373129 -2.768818
          a         b
0  1.201681 -0.140516
1 -2.125450 -1.089873
2 -0.558427 -0.981067
3  0.197204 -0.803788
4 -0.812450 -1.486918
          a         b
0  0.056547  1.833369
1  0.180769 -1.818738
2  0.593865 -0.572328
3  0.394911  1.244476
4 -0.059644 -1.573044
          a         b
0  0.547798 -0.063610
1  0.078875  1.479236
2  1.619511  1.531178
3  1.383076 -0.844863
4  1.012023 -0.977981
          a         b
0  0.019937  1.674679
1 -1.812132  0.903849
2 -0.765455 -1.825110
3 -2.421048 -0.762053
4 -1.053982 -0.795025
          a         b
0 -0.447892  0.461200
1  0.356415  0.064802
2  1.165314  0.155361
3 -0.181007 -0.841270
4  0.986862  0.512162

### Engine connection examples
To connect with SQLAlchemy you use the create_engine() function to create an engine object from database URI. You only need to create the engine once per database you are connecting to.

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')

engine = create_engine('mysql+mysqldb://scott:tiger@localhost/foo')

engine = create_engine('oracle://scott:tiger@127.0.0.1:1521/sidname')

engine = create_engine('mssql+pyodbc://mydsn')

# sqlite://<nohostname>/<path>
# where <path> is relative:
engine = create_engine('sqlite:///foo.db')

# or absolute, starting with a slash:
engine = create_engine('sqlite:////absolute/path/to/foo.db')

### Stata format
Writing to stata format
The method to_stata() will write a DataFrame into a .dta file. The format version of this file is always 115 (Stata 12).

In [20]:
df = pd.DataFrame(np.random.randn(10, 2), columns=list('AB'))

df.to_stata('stata.dta')

Stata data files have limited data type support; only strings with 244 or fewer characters, int8, int16, int32, float32 and float64 can be stored in .dta files. Additionally, Stata reserves certain values to represent missing data. Exporting a non-missing value that is outside of the permitted range in Stata for a particular data type will retype the variable to the next larger size. For example, int8 values are restricted to lie between -127 and 100 in Stata, and so variables with values above 100 will trigger a conversion to int16. nan values in floating points data types are stored as the basic missing data type (. in Stata).

The Stata writer gracefully handles other data types including int64, bool, uint8, uint16, uint32 by casting to the smallest supported type that can represent the data. For example, data with a type of uint8 will be cast to int8 if all values are less than 100 (the upper bound for non-missing int8 data in Stata), or, if values are outside of this range, the variable is cast to int16.

### Reading from Stata format
The top-level function read_stata will read a dta file and return either a DataFrame or a StataReader that can be used to read the file incrementally.

In [21]:
pd.read_stata('stata.dta')

   index         A         B
0      0 -0.742819 -1.353105
1      1  0.627111 -0.954520
2      2  0.900578  0.319827
3      3 -0.789107 -0.763164
4      4 -0.295674 -1.133984
5      5 -0.368703 -0.320828
6      6  1.337596 -1.022260
7      7 -1.739595  0.699754
8      8  0.314570 -0.357425
9      9  0.820387  1.965107

Specifying a chunksize yields a StataReader instance that can be used to read chunksize lines from the file at a time. The StataReader object can be used as an iterator.

In [22]:
reader = pd.read_stata('stata.dta', chunksize=3)

for df in reader:
        print(df.shape)

(3, 3)
(3, 3)
(3, 3)
(1, 3)

For more fine-grained control, use iterator=True and specify chunksize with each call to read().

In [23]:
reader = pd.read_stata('stata.dta', iterator=True)

chunk1 = reader.read(5)

chunk1

   index         A         B
0      0 -0.742819 -1.353105
1      1  0.627111 -0.954520
2      2  0.900578  0.319827
3      3 -0.789107 -0.763164
4      4 -0.295674 -1.133984

In [24]:
chunk2 = reader.read(5)
chunk2

   index         A         B
5      5 -0.368703 -0.320828
6      6  1.337596 -1.022260
7      7 -1.739595  0.699754
8      8  0.314570 -0.357425
9      9  0.820387  1.965107